{% extends 'layout.html' %}

{% block content %}
<link href="../oasiscss/agent.css" rel="stylesheet" />

<div id="content" class="content">
	<!-- begin page-header -->
	<h1 class="page-header mt-3">{{__('agent_manager')}}</h1>
	<!-- end page-header -->
	<!-- begin row -->
	<div class="row">
		<!-- begin col-6 -->
		<div class="col-xl-12">
			<!-- begin panel -->
			<div class="panel panel-inverse" data-sortable-id="form-validation-1">
				<!-- begin panel-heading -->
				<div class="panel-heading">
				    {{__('agent_manager')}}
				</div>
				<!-- end panel-heading -->
				<!-- begin panel-body -->
				<div id="car-form-div" class="panel-body">
				<div class='d-flex col-xl-12'>    
                    <div class='border border-gray rounded py-2 px-2 col-xl-6'>
                        <div class="container">
                            <div class="row">
                                <div class="col-sm-12">
                                	<!-- Category -->
                                	<div class="single category">
                                		<h3 class="side-title">목록  </h3>
                                		<ul id='agentlist' class="list-unstyled">
                                		</ul>
                                   </div>
                                </div> 
                            </div>
                        </div>
                    </div>
                    
                    <div class='border border-gray rounded py-2 px-2 col-xl-6'>
                        <div class="row">
                            <div class="col-sm-12">
                            	<!-- Category -->
                            	<div class="single category">
                            	    <h3 class="mx-auto side-title">등록 </h3>
                            	    <form id="agent-form" action="" method="post" class="form-horizontal" data-parsley-validate="true" name="agent-form" onsubmit="agentJoin();">
                        	    		<div class='form-group row m-b-15'>
                                    		<label class='col-md-4 col-sm-4 col-form-label font-weight-bold' for='GI'>지점명 :</label>
                                    		<div class='col-md-8 col-sm-8'>
                                        			<input class="form-control" type="String" id="ANA" name="ANA" placeholder="지점 명" data-parsley-required="true" data-parsley-error-message="{{__('required_detail')}}" data-parsley-trim-value="true" />
                                    		</div>
                                		</div>
                                		<div class='form-group row m-b-15'>
                                    		<label class='col-md-4 col-sm-4 col-form-label font-weight-bold' for='GI'>지점코드 :</label>
                                    		<div class='col-md-8 col-sm-8'>
                                        			<input class="form-control" type="String" id="ANU" name="ANU" placeholder="지점 코드" data-parsley-required="true" data-parsley-error-message="{{__('required_detail')}}" data-parsley-trim-value="true" />
                                    		</div>
                                		</div>
                                		<button type="submit" class="btn btn-primary width-80">{{__('registration')}}</button>
                            		</form>
                               </div>
                               
                               <div class="single category">
                            	    <h3 class="mx-auto side-title"> 수정 / 삭제 </h3>
                            	    <form id="agent-form" action="" method="post" class="form-horizontal" data-parsley-validate="true" name="agent-form" onsubmit="agentEdit();">
                        	    		<div class='form-group row m-b-15'>
                                    		<label class='col-md-4 col-sm-4 col-form-label font-weight-bold' for='GI'>지점명 :</label>
                                    		<div class='col-md-8 col-sm-8'>
                                        			<input class="form-control" type="String" id="ANA" name="ANA" placeholder="지점 명" data-parsley-required="true" data-parsley-error-message="{{__('required_detail')}}" data-parsley-trim-value="true" />
                                    		</div>
                                		</div>
                                		<div class='form-group row m-b-15'>
                                    		<label class='col-md-4 col-sm-4 col-form-label font-weight-bold' for='GI'>지점코드 :</label>
                                    		<div class='col-md-8 col-sm-8'>
                                        			<input class="form-control" type="String" id="ANU" name="ANU" placeholder="지점 코드" data-parsley-required="true" data-parsley-error-message="{{__('required_detail')}}" data-parsley-trim-value="true" />
                                    		</div>
                                		</div>
                                		<button type="submit" class="btn btn-primary width-80">{{__('registration')}}</button>
                            		</form>
                               </div>
                            </div> 
                        </div>
                    </div>
				</div>                              
				    
				</div>
			</div>
			<!-- end panel -->
			
		</div>
	</div>
	<!-- end row -->
</div>

{% endblock %}

{% block script %}
<script language ="javascript" src="https://cdnjs.cloudflare.com/ajax/libs/moment.js/2.24.0/moment.min.js"></script>
<script>
	var agentObject = new Object({ CID : "{{company._id}}", ANAlist : [], ANUlist : []});
	
	$(document).ready(function() {
	    agentreroad(agentObject);
	    
	})
	
	function agentInit (Object) {
	}
	
	function agentreroad (Object) {
	    
	    Object.ANAlist.push("본사");
	    Object.ANAlist.push("부산점");
	    Object.ANAlist.push("제주점");
	    
	    Object.ANUlist.push("000");
	    Object.ANUlist.push("001");
	    Object.ANUlist.push("002");
	    
	    console.log(Object)
	    var insertTr = ""
	    
	    for (var i = 0; i < Object.ANAlist.length; i ++) {
	        insertTr += "<li><a href='javascript:agentedit(this);' data-type='show' class ='edit-btn'> "+ Object.ANAlist[i] +" <span class='pull-right'>"+ Object.ANUlist[i]+"</span></a></li>"
	    }
	    
	    $("#agentlist").append(insertTr);
	    
// 	    insertTr += ""
// 	    <li><a href="" title=""> 본사 <span class="pull-right">13</span></a></li>
// 		<li><a href="" title=""> 부산점 <span class="pull-right">13</span></a></li>
// 		<li><a href="" title=""> 제주점 <span class="pull-right">13</span></a></li>
// 		<li><a href="" title="">Ecommerce <span class="pull-right">13</span></a></li>
// 		<li><a href="" title="">Wordpress <span class="pull-right">13</span></a></li>
	}
	
	function agentedit(obj) {
		$('.li-edit').empty();
		$(obj).removeData().type;
		
		var type = $(obj).data().type;
		
		var insertTr = "";
		
		if(type == 'show') {
			
			$(obj).removeData().type;
			$(obj).data('type', 'hide');
			$('.li-edit').remove();
			
		}
		else {
			console.log($(this).parent())
			$(obj).removeData().type;
			$(obj).data('type', 'show');
			insertTr += "<li class='li-edit'><a href='javascript:agentedit(this);' data-type='show' class ='edit-btn'> 123123 <span class='pull-right'>123123</span></a></li>" 
			$(obj[a]).parent().parent().after(insertTr);
		}
		
	}
	
	function agentJoin () {
	   var formParsley  = $('#agent-form').parsley();
	   
		if(formParsley.isValid() == true) {
		    ajaxJoin('/ajax/agent_join',i18nconvert, { ANA : document.getElementsByName("ANA")[0].value, ANU : document.getElementsByName("ANU")[0].value, CID : Object.CID})
		}
		event.preventDefault();
	    
	}

</script>

<script src="../oasisjs/oasis_join.js"></script>
<script src="../assets/plugins/parsleyjs/dist/parsley.min.js"></script>
<script src="../assets/plugins/highlight.js/highlight.min.js"></script>
<script src="../assets/js/demo/render.highlight.js"></script>

<link rel="stylesheet" type="text/css" href="http://www.shieldui.com/shared/components/latest/css/light-bootstrap/all.min.css" />
<script type="text/javascript" src="http://www.shieldui.com/shared/components/latest/js/shieldui-all.min.js"></script>
<script type="text/javascript">
    jQuery(function ($) {
        $("#treeview").shieldTreeView();
    });
</script>
{% endblock %}