{% extends 'layout.html' %}

{% block css %}
<link href="../assets/plugins/datatables.net-bs4/css/dataTables.bootstrap4.min.css" rel="stylesheet" />
<link href="../assets/plugins/datatables.net-responsive-bs4/css/responsive.bootstrap4.min.css" rel="stylesheet" />
<link href="../assets/plugins/datatables.net-buttons-bs4/css/buttons.bootstrap4.min.css" rel="stylesheet" />
<link href="../assets/plugins/datatables.net-autofill-bs4/css/autoFill.bootstrap4.min.css" rel="stylesheet" />
<link href="../assets/plugins/datatables.net-colreorder-bs4/css/colReorder.bootstrap4.min.css" rel="stylesheet" />
<link href="../assets/plugins/datatables.net-keytable-bs4/css/keyTable.bootstrap4.min.css" rel="stylesheet" />
<link href="../assets/plugins/datatables.net-rowreorder-bs4/css/rowReorder.bootstrap4.min.css" rel="stylesheet" />
<link href="../assets/plugins/datatables.net-select-bs4/css/select.bootstrap4.min.css" rel="stylesheet" />
{% endblock %}

{% block content %}
<!-- begin #content -->
<div id="content" class="content">
	<!-- begin page-header -->
	<h1 class="page-header">{{__('car_list')}}</h1>
	<!-- end page-header -->
	<!-- begin row -->
	<div class="row">
		<!-- begin col-12 -->
		<div class="col-xl-12">
			<div class="panel panel-inverse">
				<!-- begin panel-heading -->
				<div class="panel-heading">
					<h4 class="panel-title">{{__('car')}}</h4>
				</div>
				<!-- end panel-heading -->
				<!-- begin panel-body -->
				<div class="panel-body">
					
					<div class="mt-2 mb-2 d-flex justify-content-end align-items-center">
						<div class="mr-auto">
							<select id = "selectpage" name="data-table-default_length" aria-controls="data-table-default" class="custom-select custom-select-sm form-control form-control-sm">
								<option class ="postnumber" value="10">10</option>
								<option class ="postnumber" value="25">25</option>
								<option class ="postnumber" value="50">50</option>
								<option class ="postnumber" value="100">100</option>
							</select>
						</div>
						
		   				<div>
							<div class ="d-flex w-100">
				            	<div>
				            		<div class="btn-group m-10 w-20">
											<a id="searchoption" href="javascript:;" class="btn btn-default">{{__('search')}}</a>
											<a href="#" data-toggle="dropdown" class="btn btn-default dropdown-toggle" aria-expanded="false"><b class="caret"></b></a>
											<div class="dropdown-menu dropdown-menu-right" style="">
												<a href="javascript:searchoption('CN');" class="dropdown-item">{{__('car_number')}}</a>
												<a href="javascript:searchoption('CPN');" class="dropdown-item">{{__('car_customer_phone')}}</a>
											
												<a href="javascript:searchoption('CA');" class="dropdown-item">{{__('create_date')}}</a>
											</div>
									</div> 
								</div>
								
								<div class="m-10 w-800">
						  				<input  id ="searchtext" type="text" class="w-100 form-control" placeholder ="" />
						  		</div>
					  		</div>
					  		
							<div id ="searchdatetext" class ="d-flex m-10">
									<input type="date" id = "searchdatetext1" class ="form-control" placeholder ="" />
									&nbsp;&nbsp;~&nbsp;&nbsp;
									<input type="date" id = "searchdatetext2" class ="form-control" placeholder ="" />
							</div>
						</div>
						
						<div>
						<button id ="searchbutton" class="ml-1 btn btn-primary text-white px-1" onclick="searchbutton()"><i class="mx-1 fas fa-lg fa-fw fa-search align-items-center"></i></button>
						</div>
						
						<a href='javascript:;' id ="gotolist" onclick=gotolist(pagingObject,condition,searcherror,'{{__('search')}}') class='d-none ml-1 btn btn-primary mr-1 px-2'>{{__('all')}}</a>
					</div>
					
					<div class="overflow-auto">
						<!--<form action="/car/car_select_delete" method="post">-->
						<form method="post">
							<table id="data-table-combine" class="table table-striped table-bordered table-hover table-td-valign-middle text-center">
								<thead>
									<tr>
										<th width="1%">
											<input type="checkbox" name="allck" class="neHeros" value="" onChange="allCheckedBox(this);"/>
										</th>
										<th width="2.5%"></th>
										<th width="33%" class="sort" name="CN">{{__('car_number')}}<i id = "CN" class="d-none  float-right mx-1 fas fa-lg fa-fw m-t-3 fa-angle-down"></i></th>
										<th width="33%" class="sort" name="CPN">{{__('car_customer_phone')}}<i id = "CPN" class="d-none  float-right mx-1 fas fa-lg fa-fw m-t-3 fa-angle-down"></i></th>
										<th width="30.5%" class="sort" name="CA">{{__('create_date')}}<i id = "CA" class="float-right mx-1 fas fa-lg fa-fw m-t-3 fa-angle-down"></i></th>
										<th width="1%"></th>
									</tr>
								</thead>
								<tbody id="memDiv">
								</tbody>
							</table>
							<div class="d-flex justify-content-between align-item-center">
								<input class="btn btn-primary" type='button' value="{{__('delete_selection')}}" onclick="delete_check();">
								<div id="pagebox" class="justify-content-around align-item-center"></div>
							</div>
						</form>
					</div>
				</div>
				<!-- end panel-body -->
			</div>
		</div>
		<!-- end col-10 -->
	</div>
	<!-- end row -->
</div>
<!-- end #content -->

<!-- Script -->
<script src="http://code.jquery.com/jquery-1.10.2.js"></script>
<script>
	var pagingObject = new Object({name : "Car",url : "/ajax/car_list", array : [], sort : "CA", page : 0, postNum : 10, pageNum : 5, startpage : 0, endpage : 0, search: "", searchtext : "", searchdate : ""});
	
	// i18n 용어 함수로 정리
	// 각 리스트 별 CN같은거 배열에 담기 (종류별로 리스트별로)
	
	// 검색기능
	$(document).ready(function() {
		
		pagereload(pagingObject, condition, searcherror); // 첫 화면 페이지 로드
		
		$('#selectpage').click(selectpagenum(pagingObject, condition, searcherror));
		
		$('#searchtext').keyup(function(key) {
				if(key.keyCode == 13) {
					if(pagingObject.search == "")
        			alert("{{__('choice_error')}}");
	        		else {
	        			if(($('#searchdatetext1').val() != "") && ($('#searchdatetext2').val() != "")) {
							console.log($('#searchdatetext1').val());
							console.log($('#searchdatetext2').val());
							
							pagingObject.searchtext = $(this).val();
							pagingObject.searchdate ="";
			        		pagingObject.searchdate += $('#searchdatetext1').val();
			        		pagingObject.searchdate += "~";
			        		pagingObject.searchdate += $('#searchdatetext2').val();
							pagereload(pagingObject, condition, searcherror);
							document.getElementById('gotolist').classList.remove('d-none');
		        		}
		        		else {
		        			pagingObject.searchtext = $(this).val();
							pagereload(pagingObject, condition, searcherror);
							document.getElementById('gotolist').classList.remove('d-none');
		        		}
	        		}
        		}
        		if($(this).val() == "") {
        			pagereload(pagingObject, condition, searcherror);
        		}
		});
		
		
		$('.sort').click(function() {
			
			$("#searchoption").empty();
	    	$("#searchoption").append("{{__('search')}}");
			
			pagingObject.search = "";
			pagingObject.searchtext = "";
			
			var paglist = pagingObject.array;
			
			var check_sort = $(this).attr('name');
			
			
			 if(document.getElementById(check_sort).classList.contains('d-none')) {
			 	
			 	document.getElementById(check_sort).classList.remove('fa-angle-up');
	    		document.getElementById(check_sort).classList.add('fa-angle-down');
			 	var check2 = check_sort;
			 }
			 else {
			 	if (document.getElementById(check_sort).classList.contains('fa-angle-down')) {
			 		
	    		 	document.getElementById(check_sort).classList.remove('fa-angle-down');
	    		 	document.getElementById(check_sort).classList.add('fa-angle-up');
			 		var check2 = check_sort + "2";
			 	}
			 	else {
			 		
			 		document.getElementById(check_sort).classList.remove('fa-angle-up');
	    		 	document.getElementById(check_sort).classList.add('fa-angle-down');
			 		var check2 = check_sort;
			 		
			 	}
			 }
			document.getElementById('CN').classList.add('d-none');
			document.getElementById('CPN').classList.add('d-none');
			document.getElementById('CA').classList.add('d-none');
			
			
			document.getElementById(check_sort).classList.remove('d-none');
			
			
			pagingObject.array = paglist;
			pagingObject.sort = check2;
			pagingObject.page = 0;
			pagereload(pagingObject, condition, searcherror);
			
		});
    });
    
    
    
    
    function searchoption(opt) {
    	pagingObject.search = opt;
    	$("#searchoption").empty();
    	var string = opt;
    	if (string == "CN") {
    	   string = "{{__('car_number')}}";
    	   document.getElementById('searchtext').classList.remove('d-none');
    	}
    	if (string == "CPN") {
    	   string = "{{__('car_customer_phone')}}";
    	   document.getElementById('searchtext').classList.remove('d-none');
    	}
    	if (string == "CA") {
    		document.getElementById('searchtext').classList.add('d-none');
    	   string = "{{__('create_date')}}";
    	   $("#searchtext").val('');
    	}
    	$("#searchtext").val('');
    	$("#searchdatetext1").val('');
    	$("#searchdatetext2").val('');
    	$("#searchoption").append(string);
    	$("#searchoption").show();
    }
    
    function searchbutton() {
    	if(pagingObject.search == "") {
		alert("{{__('choice_error')}}");
    	}
		else{
	    	if(($('#searchdatetext1').val() != "") && ($('#searchdatetext2').val() != "")) {
				
				pagingObject.searchtext = $('#searchtext').val();
				pagingObject.searchdate ="";
	    		pagingObject.searchdate += $('#searchdatetext1').val();
	    		pagingObject.searchdate += "~";
	    		pagingObject.searchdate += $('#searchdatetext2').val();
				pagereload(pagingObject, condition, searcherror);
				document.getElementById('gotolist').classList.remove('d-none');
			}
			else {
				pagingObject.searchtext = $('#searchtext').val();
				pagereload(pagingObject, condition, searcherror);
				document.getElementById('gotolist').classList.remove('d-none');
			}
		}
	}
	
		
    
    var condition = function (Object) {
    	var num =  Object.array.length; 	
        var	insertTr = ""; // 채워넣을 HTML 초기화
     	var indexcount = 1; // 인덱스번호 초기화
    	
    	
     	for (var i = ( Object.postNum *  Object.page) ; i < ( Object.postNum *  Object.page) +  Object.postNum ; i ++) { // 현재 페이지의 번호에 맞는 리스트 뽑아서 출력 (0 ~ 9, 10 ~ 19)
	        if( Object.array.length != 0) {
	     	   if( Object.array[i]) {
				  insertTr += "<tr>";
				  insertTr += " 	<td class='with-btn' nowrap>";
				  insertTr += "		<input id='ck' type='checkbox' name ='ck' class='neHeros' value="+  Object.array[i].CN +" onChange='eachCheckedBox(this);'/>";
				  insertTr += " 	</td>";
				  insertTr += "<td class='font-weight-bold'>"+(num - ( Object.page*10)) +" </td>";
				  insertTr += "<td>"+  Object.array[i].CN +"</td>";
				  
				  if(! Object.array[i].CPN){
				  	insertTr+="<td>"+"N/A"+"</td><td>";
				  }
				  else {
					insertTr += "<td>"+  Object.array[i].CPN+"</td><td>";
				  }
				  
			     if ( (moment( Object.array[i].CA).format('DD')) == moment().format('DD') )
			     {
			       insertTr +=  moment( Object.array[i].CA).format('HH:mm');
			     }
			     else {
			      insertTr += moment( Object.array[i].CA).format('YYYY-MM-DD');
			     }
			      insertTr += "</td><td class='with-btn' nowrap>"	
				  insertTr += "<a href='/car_edit/"+ Object.array[i].CN+"'   class='btn btn-sm btn-primary width-60 m-r-2 edit-btn'>{{__('modify')}}</a>";
				  insertTr += "<input type='button' value='{{__('delete')}}' onclick=delete_one(this) class='btn btn-sm btn-white width-60' name =' "+  Object.array[i].CN +"'></td> ";
				  insertTr += "</tr>";
				  num -= indexcount;
	     	   }
	        }
	     	  else {
	     	  	insertTr += "<tr>";
				insertTr += "	<td colspan='10'>No Data</td>";
				insertTr += "</tr>";

                break;
	     	  }
     	}
			  
		$("#memDiv").append(insertTr);
    }
    
    
    
	// 일반 삭제 기능
	function delete_one(obj) {
		
		var answer;
	    	answer = confirm("{{__('delete_confirm')}}");
		if(answer == true){
			$.ajax({
    		url: "/car/ajax/car_deleteone",
                    type: "POST",
                    dataType: 'json',
                    data: {
                    	select : $(obj).attr('name'),
                    }
	    	}).done(function (data) {  
	    		if(data.result == true) {
	    			alert("{{__('delete_success')}}");
	    			location.reload();
	    		}
	    		else {
	    			alert("{{__('choice_error')}}");
	    		}
	    		
	    	});
		}
		else {
			return false;
		}
	}

	// 선택항목 삭제 기능
	function delete_check(frm) {
		var check = $("input:checkbox[name='ck']").is(":checked");
		if(!check) {
			alert("{{__('choice_error')}}");
		}
		else {
			var select_obj = [];
	        $('input[name="ck"]:checked').each(function (index) {
	                select_obj[index] = $(this).val() ;
	        });
			var answer;
		    	answer = confirm("{{__('delete_confirm')}}");
			if(answer == true){
				$.ajax({
	    		url: "/car/ajax/car_delete",
	                    type: "POST",
	                    dataType: 'json',
	                    data: {
	                    	select : select_obj,
	                    }
		    	}).done(function (data) {  
		    		if(data.result == true) {
		    			alert("{{__('delete_success')}}");
		    			location.reload();
		    		}
		    		else {
		    			alert("{{__('choice_error')}}");
		    		}
		    		
		    	})
	    	
	    	
			}
			else {
				$("input:checkbox[name='allck']").prop("checked", false);
				$("input:checkbox[name='ck']").prop("checked", false);
				return false;
			}
		}
	}
	
	var searcherror = function () {
    	return alert("{{__('search_error')}}");
    }
	
	
</script>
{% endblock %}

{% block script %}
<script src="../assets/plugins/datatables.net/js/jquery.dataTables.min.js"></script>
<script src="../assets/plugins/datatables.net-bs4/js/dataTables.bootstrap4.min.js"></script>
<script src="../assets/plugins/datatables.net-responsive/js/dataTables.responsive.min.js"></script>
<script src="../assets/plugins/datatables.net-responsive-bs4/js/responsive.bootstrap4.min.js"></script>
<script src="../assets/plugins/datatables.net-colreorder/js/dataTables.colReorder.min.js"></script>
<script src="../assets/plugins/datatables.net-colreorder-bs4/js/colReorder.bootstrap4.min.js"></script>
<script src="../assets/plugins/datatables.net-keytable/js/dataTables.keyTable.min.js"></script>
<script src="../assets/plugins/datatables.net-keytable-bs4/js/keyTable.bootstrap4.min.js"></script>
<script src="../assets/plugins/datatables.net-rowreorder-bs4/js/rowReorder.bootstrap4.min.js"></script>
<script src="../assets/plugins/datatables.net-buttons/js/dataTables.buttons.min.js"></script>
<script src="../assets/plugins/datatables.net-buttons-bs4/js/buttons.bootstrap4.min.js"></script>
<script src="../assets/plugins/datatables.net-buttons/js/buttons.colVis.min.js"></script>
<script src="../assets/plugins/datatables.net-buttons/js/buttons.flash.min.js"></script>
<script src="../assets/plugins/datatables.net-buttons/js/buttons.html5.min.js"></script>
<script src="../assets/plugins/datatables.net-buttons/js/buttons.print.min.js"></script>
<script src="../assets/plugins/pdfmake/build/pdfmake.min.js"></script>
<script src="../assets/plugins/pdfmake/build/vfs_fonts.js"></script>

<!--<script src="../assets/js/demo/table-manage-combine.demo.js"></script>-->
{% endblock %}