{% extends 'layout.html' %}

{% block content %}
<div id="content" class="content">
	<!-- begin page-header -->
	<h1 class="page-header">차량 수정</h1>
	<!-- end page-header -->
	<!-- begin row -->
	<div class="row">
		<!-- begin col-6 -->
		<div class="col-xl-12">
			<!-- begin panel -->
			<div class="panel panel-inverse" data-sortable-id="table-basic-7">
				<!-- begin panel-heading -->
				<div class="panel-heading">
					<h4 class="panel-title">자동차</h4>
				</div>
				<!-- end panel-heading -->
				<!-- begin panel-body -->
				<div class="panel-body">
					<div class="table-responsive">
						<table class="table table-striped m-b-0">
							<thead>
								<tr>
									<th>차종</th>
									<th>차량 번호</th>
									<th>차대 번호</th>
									<th width="1%"></th>
								</tr>
							</thead>
							<tbody>
								<tr>
									<td>{{carone.CC}}</td>
									<td>{{carone.CN}}</td>
									<td>{{carone.SN}}</td>
									<td class="with-btn" nowrap>
										<a href="/car_list" class="btn btn-sm btn-primary width-80 m-r-2">목록으로</a>
									</td>
								</tr>
							</tbody>
						</table>
					</div>
				</div>			
				<!-- end panel-body -->
				
		     	<div class="panel-body">
					<form id="car-form" action="/car/car_edit/upreg/{{carone.CN}}" method="post" data-parsley-validate="true">
						<div class="form-group row m-b-15">
							<label class="col-md-4 col-sm-4 col-form-label" for="CC">차종 * :</label>
							<div class="col-md-8 col-sm-8">
								<select class="form-control text-secondary" id="CC" name = "CC" placeholder="차종" data-parsley-required="true" data-parsley-error-message="필수 입력사항입니다.">
									<option value="">차종을 선택하세요</option>
									<option value="1">경차</option>
									<option value="2">소형</option>
									<option value="3">중형</option>
									<option value="4">대형</option>
									<option value="5">SUV</option>
									<option value="6">승합</option>
									<option value="7">상용</option>
									<option value="8">전기</option>
									<option value="9">외제</option>
								</select>
							</div>
						</div>
						<div class="form-group row m-b-15">
							<label class="col-md-4 col-sm-4 col-form-label" for="CN">차량 번호 * :</label>
							<div class="col-md-8 col-sm-8">
								<input class="form-control" id="CN" type="text" name = "CN" placeholder="띄어쓰기 없이 차량번호를 입력하세요 (12가1234)" data-parsley-required="true" />
							</div>
						</div>
						<div class="form-group row m-b-15">
							<label class="col-md-4 col-sm-4 col-form-label" for="SN">차대 번호</label>
							<div class="col-md-8 col-sm-8">
								<input class="form-control" id="SN" type="text" name = "SN" placeholder="차대 번호를 입력하세요" />
							</div>
						</div>
						
						<div class="form-group row m-b-0">
							<label class="col-md-4 col-sm-4 col-form-label">&nbsp;</label>
							<div class="col-md-8 col-sm-8">
								<button type="submit" class="btn btn-primary width-80">수정</button>
								<button type="reset" class="btn btn-primary width-80">초기화</button>
							</div>
						</div>
					</form>
				</div>
				<!-- error script -->
				<script>
					window.onload = () => {
						if (new URL(location.href).searchParams.get('error')) {
							alert('이미 존재하는 MAC 입니다.');
						}
					};
				</script>
			</div>
			
			<!-- end panel -->
		</div>
		<!-- end col-6 -->
	</div>
	<!-- end row -->
</div>
{% endblock %}

{% block script %}
<script src="../assets/plugins/parsleyjs/dist/parsley.min.js"></script>
<script src="../assets/plugins/highlight.js/highlight.min.js"></script>
<script src="../assets/js/demo/render.highlight.js"></script>
{% endblock %}