{% extends 'layout.html' %}

{% block content %}
<div id="content" class="content">
	<!-- begin page-header -->
	<h1 class="page-header">{{__('car_register')}}</h1>
	<!-- end page-header -->
	<!-- begin row -->
	<div class="row">
		<!-- begin col-6 -->
		<div class="col-xl-12">
			<!-- begin panel -->
			<div class="panel panel-inverse" data-sortable-id="form-validation-1">
				<!-- begin panel-heading -->
				<div class="panel-heading">
					<h4 class="panel-title">{{__('car')}}</h4>
					<p class="m-0">{{__('attachments')}} : </p>
					<span class="text-green font-weight-bold d-flex align-items-center">
						<a id="excel_file" class="text-green" href="../assets/upload/차량 등록 양식.xlsx" download>
							<i class="far fa-lg fa-file-excel ml-2 mr-1"></i> {{__('car_excel_form')}}.xlsx
						</a>
					</span>
				</div>
				<!-- end panel-heading -->
				<!-- begin panel-body -->
				<div class="panel-body">
					<form id="car-form" action="/car/car_join" method="post" class="form-horizontal" data-parsley-validate="true" name="car-form">
						<!--<div class="form-group row m-b-15">-->
						<!--	<label class="col-md-4 col-sm-4 col-form-label" for="CC">차종 * :</label>-->
						<!--	<div class="col-md-8 col-sm-8">-->
						<!--		<input class="form-control" type="Number" id="CC" name="CC" placeholder="차종" data-parsley-required="true" data-parsley-error-message="{{__('required_detail')}}"/>-->
						<!--	</div>-->
						<!--</div>-->
						<div class="form-group row m-b-15">
							<label class="col-md-4 col-sm-4 col-form-label" for="CC">{{__('car_type')}} * :</label>
							<div class="col-md-8 col-sm-8">
								<select class="form-control text-secondary" id="CC" name = "CC" placeholder="차종" data-parsley-required="true" data-parsley-error-message="{{__('required_detail')}}">
									<option value="">{{__('car_type_select')}}</option>
									<option value="1">{{__('car_type1')}}</option>
									<option value="2">{{__('car_type2')}}</option>
									<option value="3">{{__('car_type3')}}</option>
									<option value="4">{{__('car_type4')}}</option>
									<option value="5">{{__('car_type5')}}</option>
									<option value="6">{{__('car_type6')}}</option>
									<option value="7">{{__('car_type7')}}</option>
									<option value="8">{{__('car_type8')}}</option>
									<option value="9">{{__('car_type9')}}</option>
								</select>
							</div>
						</div>
						<div class="form-group row m-b-15">
							<label class="col-md-4 col-sm-4 col-form-label" for="CN">{{__('car_number')}} * :</label>
							<div class="col-md-8 col-sm-8">
								<input class="form-control" type="String" id="CN" name="CN" placeholder="{{__('car_number_msg')}}" data-parsley-required="true" data-parsley-error-message="{{__('required_detail')}}" data-parsley-trim-value="true" />
							</div>
						</div>
						<div class="form-group row m-b-15">
							<label class="col-md-4 col-sm-4 col-form-label" for="SN">{{__('car_identification_number')}} :</label>
							<div class="col-md-8 col-sm-8">
								<input class="form-control" type="String" id="SN" name="SN" placeholder="{{__('car_identification_msg')}}"  />
							</div>
						</div>
						<div class="form-group row m-b-0">
							<label class="col-md-4 col-sm-4 col-form-label">&nbsp;</label>
							<div class="col-md-8 col-sm-8">
								<button type="submit" class="btn btn-primary width-80" onclick ="Timeupdate()">{{__('registration')}}</button>
								<button type="reset" class="btn btn-primary width-80">{{__('reset')}}</button>
							</div>
						</div>
						<!--현재 시간 변수-->
						<input type="hidden" class="form-control" name = "Ctime" id = "Ctime" />
					</form>
				</div>
				<!-- Excel 파일 업로드 -->
				<div class="panel-body bg-grey pb-0">
					<form id="car-xlsx-form" action="/car/car_join_xlsx" method="post" enctype="multipart/form-data" class="form-horizontal" name="car-xlsx-form">
					   <!--현재 시간 변수-->
						<div class="form-group row m-b-15">
							<label class="col-md-4 col-sm-4 col-form-label text-green" for="file"><b># {{__('excel_register')}}</b> :</label>
							<div class="col-md-8 col-sm-8">
								<input type="file" id="xlsx" name="xlsx" /><button type="submit" class="btn btn-primary width-80" onclick ="Timeupdate()">{{__('registration')}}</button>
							</div>
						</div>
						
						
					</form>
				</div>
				<!-- end panel-body -->
			</div>
			<!-- end panel -->
		</div>
	</div>
	<!-- end row -->
</div>

<!-- error script -->
<script>
	window.onload = () => {
		if (new URL(location.href).searchParams.get('length')) {
			alert("{{__('car_length_error')}}");
		}
		if (new URL(location.href).searchParams.get('type')) {
			alert("{{__('car_type_error')}}");
		}
		if (new URL(location.href).searchParams.get('exist')) {
			alert("{{__('car_exist_error')}}");
		}
		if (new URL(location.href).searchParams.get('nofile')) {
			alert("{{__('car_nofile_error')}}");
		}
		if (new URL(location.href).searchParams.get('excel')) {
			alert("{{__('car_excel_error')}}");
		}
		if (new URL(location.href).searchParams.get('excelSize')) {
			alert("{{__('car_excelsize_error')}}");
		}
		if (new URL(location.href).searchParams.get('excelLength')) {
			alert("{{__('car_excellength_error')}}");
		}
		if (new URL(location.href).searchParams.get('excelType')) {
			alert("{{__('car_exceltype_error')}}");
		}
		if (new URL(location.href).searchParams.get('inspect')) {
			alert("{{__('car_inspect_error')}}");
			window.open('/car_inspect', 'pop', "width=620, height=700, scrollbars=yes, resizable=yes");
		}
	};
</script>
{% endblock %}

{% block script %}
<script language ="javascript" src="https://cdnjs.cloudflare.com/ajax/libs/moment.js/2.24.0/moment.min.js"></script>
<script language="javascript">
// function Timeupdate() {
// 	const today = moment();
// 	document.getElementById("Ctime").value = today.format('YYYY-MM-DD hh:mm:ss');
// 	document.getElementById("ExcelTime").value = today.format('YYYY-MM-DD hh:mm:ss');
// 	console.log(document.getElementById("ExcelTime").value);
// 	const ExcelTime = document.getElementById("ExcelTime").value;
	
// 	$.ajax({
//             url: '/car/car_join_xlsx',
//               dataType: 'json',
//               type: 'POST',
//               data: { ExcelTime :document.getElementById("ExcelTime").value },
//               success: function(result) {
//                   if (result) {
//                      $('#post_output').html(result.result);
//                   }
//               }
//           })
	
// }

window.addEventListener('load', function() {
	var cookie = document.cookie;
	var startIndexOf = cookie.indexOf('lang=');
	var endIndexOf = cookie.indexOf(';',startIndexOf);
	if(endIndexOf == -1)endIndexOf = cookie.length; //맨끝일경우;가 없으므로 맨마지막자리를 가져온다.
	
	const sl = document.getElementById('select-lang');
	var lang = cookie.substring(startIndexOf+'lang='.length, endIndexOf);
	
	var excel_file = document.getElementById('excel_file');
	
	if(lang == 'ko') {
		excel_file.href="../assets/upload/차량 등록 양식.xlsx";
	}
	else if(lang == 'en') {
		excel_file.href="../assets/upload/Car Registration Form.xlsx";
	}
	else {
		excel_file.href="../assets/upload/차량 등록 양식.xlsx";
	}
});

</script>
<script src="../assets/plugins/parsleyjs/dist/parsley.min.js"></script>
<script src="../assets/plugins/highlight.js/highlight.min.js"></script>
<script src="../assets/js/demo/render.highlight.js"></script>
{% endblock %}