{% extends 'layout.html' %}

{% block content %}
<div id="content" class="content">
	<!-- begin page-header -->
	<h1 class="page-header mt-3">{{__('car_register')}}</h1>
	<!-- end page-header -->
	<!-- begin row -->
	<div class="row">
		<!-- begin col-6 -->
		<div class="col-xl-12">
			<!-- begin panel -->
			<div class="panel panel-inverse" data-sortable-id="form-validation-1">
				<!-- begin panel-heading -->
				<div class="panel-heading">
					<h4 class="panel-title">{{__('car')}}</h4>
					<p class="m-0">{{__('attachments')}} : </p>
					<span class="text-green font-weight-bold d-flex align-items-center">
						<a id="excel_file" class="text-green" href="../assets/upload/차량 등록 양식.xlsx" download>
							<i class="far fa-lg fa-file-excel ml-2 mr-1"></i> {{__('car_excel_form')}}.xlsx
						</a>
					</span>
				</div>
				<!-- end panel-heading -->
				<!-- begin panel-body -->
				<div id="car-form-div" class="panel-body">
					<form id="car-form" action="" method="post" class="form-horizontal" data-parsley-validate="true" name="car-form" onsubmit="carJoin();">
						<div class="form-group row m-b-15">
							<label class="col-md-4 col-sm-4 col-form-label" for="CN">{{__('car_number')}} <span class="text-danger">*</span> :</label>
							<div class="col-md-8 col-sm-8">
								<input class="form-control" type="String" id="CN" name="CN" placeholder="{{__('car_number_msg')}}" data-parsley-required="true" data-parsley-error-message="{{__('required_detail')}}" data-parsley-trim-value="true" />
							</div>
						</div>
						<div class="form-group row m-b-15">
							<label class="col-md-4 col-sm-4 col-form-label" for="CN">{{__('car_customer_phone')}} :</label>
							<div class="col-md-8 col-sm-8">
								<input class="form-control" type="String" id="CPN" name="CPN" placeholder="{{__('car_customer_phone')}}" data-parsley-type="digits" data-parsley-type-message="{{__('register_digits_error')}}" data-parsley-trim-value="true" />
							</div>
						</div>
						<div class="form-group row m-b-0">
							<label class="col-md-4 col-sm-4 col-form-label">&nbsp;</label>
							<div class="col-md-8 col-sm-8">
								<button type="submit" class="btn btn-primary width-80">{{__('registration')}}</button>
								<button type="reset" class="btn btn-primary width-80">{{__('reset')}}</button>
							</div>
						</div>
						<!--현재 시간 변수-->
						<input type="hidden" class="form-control" name = "Ctime" id = "Ctime" />
					</form>
				</div>
				<!-- Excel 파일 업로드 -->
				<div class="panel-body bg-grey pb-0">
					<form id="car-xlsx-form" action="/car_join_excel" method="post" enctype="multipart/form-data" class="form-horizontal" name="car-xlsx-form">
						<div class="form-group row m-b-15">
							<label class="col-md-4 col-sm-4 col-form-label text-green" for="file"><b># {{__('excel_register')}}</b> :</label>
							<div class="col-md-8 col-sm-8">
								<input type="file" id="xlsx" name="xlsx" /><button type="button" id="upload-btn" class="btn btn-primary width-80" onclick="excelNew();">{{__('registration')}}</button>
							</div>
						</div>
					</form>
				</div>
				<!-- end panel-body -->
				<!-- Excel 목록 확인 -->
				<div id="excel-table-div" class="panel-body overflow-auto position-relative d-none">
					<form id="car-form" action="/car/car_join" method="post" class="form-horizontal">
						<table id="excel-table" class="table table-bordered table-hover table-td-valign-middle text-center w-75 mx-auto">
							<thead class="thead-light">
								<tr>
									<th width="5%"></th>
									<th>{{__('car_number')}}</th>
									<th>{{__('car_customer_phone')}}</th>
								</tr>
							</thead>
							<tbody>
							</tbody>
						</table>
					</form>
					<div id="pagebox" class="d-flex justify-content-between align-item-center w-75 mx-auto d-none">
					</div>
				</div>
			</div>
			<!-- end panel -->
		</div>
	</div>
	<!-- end row -->
</div>

<!-- Begin Script -->
<script language ="javascript" src="https://cdnjs.cloudflare.com/ajax/libs/moment.js/2.24.0/moment.min.js"></script>
<script>
	var pagingObject = new Object({name : "CarExcel", url : "/car/car_json_excel", CID : "{{company._id}}", array : [], sort : "CA", page : 0, postNum : 50, pageNum : 5, startpage : 0, endpage : 0, search: "", searchtext : "", searchdate : "" });
	
	// 차량 등록 ajax
	function carJoin() {
		var formParsley  = $('#car-form').parsley();
		if(formParsley.isValid() == true) {
			ajaxJoin('/car/car_join', i18nconvert, { CN: document.getElementsByName("CN")[0].value, CPN: document.getElementsByName("CPN")[0].value });
		}
		event.preventDefault();
	}
	
	// 차량 excel 등록 ajax
	$(document).on('click', '.excelJoinBtn', function() {
		ajaxJoin('/car/car_join_excel', i18nconvert, { excelData: document.getElementsByName("excelData")[0].value });
	});
	
	// 폼 enter키 submit 막기
	document.addEventListener('keydown', function(event) {
		if (event.keyCode === 13) {
			event.preventDefault();
		}
	}, true);
	
</script>
<!--End Script-->
{% endblock %}

{% block script %}
<script src="../oasisjs/oasis_join.js"></script>
<script src="../assets/plugins/parsleyjs/dist/parsley.min.js"></script>
<script src="../assets/plugins/highlight.js/highlight.min.js"></script>
<script src="../assets/js/demo/render.highlight.js"></script>
{% endblock %}