{% extends 'layout.html' %}

{% block css %}
<link href="../assets/plugins/datatables.net-bs4/css/dataTables.bootstrap4.min.css" rel="stylesheet" />
<link href="../assets/plugins/datatables.net-responsive-bs4/css/responsive.bootstrap4.min.css" rel="stylesheet" />
<link href="../assets/plugins/datatables.net-buttons-bs4/css/buttons.bootstrap4.min.css" rel="stylesheet" />
<link href="../assets/plugins/datatables.net-autofill-bs4/css/autoFill.bootstrap4.min.css" rel="stylesheet" />
<link href="../assets/plugins/datatables.net-colreorder-bs4/css/colReorder.bootstrap4.min.css" rel="stylesheet" />
<link href="../assets/plugins/datatables.net-keytable-bs4/css/keyTable.bootstrap4.min.css" rel="stylesheet" />
<link href="../assets/plugins/datatables.net-rowreorder-bs4/css/rowReorder.bootstrap4.min.css" rel="stylesheet" />
<link href="../assets/plugins/datatables.net-select-bs4/css/select.bootstrap4.min.css" rel="stylesheet" />
{% endblock %}

{% block content %}
<!-- begin #content -->
<div id="content" class="content">
	<!-- begin page-header -->
	<h1 class="page-header">{{__('car_list')}}</h1>
	<!-- end page-header -->
	<!-- begin row -->
	<div class="row">
		<!-- begin col-12 -->
		<div class="col-xl-12">
			<div class="panel panel-inverse">
				<!-- begin panel-heading -->
				<div class="panel-heading">
					<h4 class="panel-title">{{__('car')}}</h4>
				</div>
				<!-- end panel-heading -->
				<!-- begin panel-body -->
				<div class="panel-body">
					
					<div class="mt-2 mb-2 d-flex justify-content-end align-items-center">
						<div class="mr-auto">
							<select id = "selectpage" name="data-table-default_length" aria-controls="data-table-default" class="custom-select custom-select-sm form-control form-control-sm">
								<option class ="postnumber" value="10">10</option>
								<option class ="postnumber" value="25">25</option>
								<option class ="postnumber" value="50">50</option>
								<option class ="postnumber" value="100">100</option>
							</select>
						</div>
						
		   				<div>
							<div class ="d-flex w-100">
				            	<div>
				            		<div class="btn-group m-10 w-20">
											<a id="searchoption" href="javascript:;" class="btn btn-default">{{__('search')}}</a>
											<a href="#" data-toggle="dropdown" class="btn btn-default dropdown-toggle" aria-expanded="false"><b class="caret"></b></a>
											<div class="dropdown-menu dropdown-menu-right" style="">
												<a href="javascript:searchoption('CN',pagingObject,i18nconvert,{CN : 'CN',CPN : 'CPN',CA : 'CA'});" class="dropdown-item">{{__('car_number')}}</a>
												<a href="javascript:searchoption('CPN',pagingObject,i18nconvert,{CN : 'CN',CPN : 'CPN',CA : 'CA'});" class="dropdown-item">{{__('car_customer_phone')}}</a>
											
												<a href="javascript:searchoption('CA',pagingObject,i18nconvert,{CN : 'CN',CPN : 'CPN',CA : 'CA'});" class="dropdown-item">{{__('create_date')}}</a>
											</div>
									</div> 
								</div>
								
								<div class="m-10 w-800">
						  				<input  id ="searchtext" type="text" class="w-100 form-control" placeholder ="" />
						  		</div>
					  		</div>
					  		
							<div id ="searchdatetext" class ="d-flex m-10">
									<input type="date" id = "searchdatetext1" class ="form-control" placeholder ="" />
									&nbsp;&nbsp;~&nbsp;&nbsp;
									<input type="date" id = "searchdatetext2" class ="form-control" placeholder ="" />
							</div>
						</div>
						
						<div>
						<button id ="searchbutton" class="ml-1 btn btn-primary text-white px-1" onclick="searchtext(pagingObject, condition, i18nconvert)"><i class="mx-1 fas fa-lg fa-fw fa-search align-items-center"></i></button>
						</div>
						
						<a href='javascript:;' id ="gotolist" onclick=gotolist(pagingObject,condition,i18nconvert,'{{__('search')}}') class='d-none ml-1 btn btn-primary mr-1 px-2'>{{__('all')}}</a>
					</div>
					
					<div class="overflow-auto">
						<!--<form action="/car/car_select_delete" method="post">-->
						<form method="post">
							<table id="data-table-combine" class="table table-striped table-bordered table-hover table-td-valign-middle text-center">
								<thead>
									<tr>
										<th width="1%">
											<input type="checkbox" name="allck" class="neHeros" value="" onChange="allCheckedBox(this);"/>
										</th>
										<th width="2.5%"></th>
										<th width="33%" class="sort" name="CN">{{__('car_number')}}<i id = "CN" class="d-none  float-right mx-1 fas fa-lg fa-fw m-t-3 fa-angle-down"></i></th>
										<th width="33%" class="sort" name="CPN">{{__('car_customer_phone')}}<i id = "CPN" class="d-none  float-right mx-1 fas fa-lg fa-fw m-t-3 fa-angle-down"></i></th>
										<th width="30.5%" class="sort" name="CA">{{__('create_date')}}<i id = "CA" class="float-right mx-1 fas fa-lg fa-fw m-t-3 fa-angle-down"></i></th>
										<th width="1%"></th>
									</tr>
								</thead>
								<tbody id="memDiv">
								</tbody>
							</table>
							<div class="d-flex justify-content-between align-item-center">
								<input class="btn btn-primary" type='button' value="{{__('delete_selection')}}" onclick="delete_check('/car/ajax/car_delete',i18nconvert);">
								<div id="pagebox" class="justify-content-around align-item-center"></div>
							</div>
						</form>
					</div>
				</div>
				<!-- end panel-body -->
			</div>
		</div>
		<!-- end col-10 -->
	</div>
	<!-- end row -->
</div>
<!-- end #content -->

<!-- Script -->
<script src="http://code.jquery.com/jquery-1.10.2.js"></script>
<script>
	var pagingObject = new Object({name : "Car",url : "/ajax/car_list", CID : "{{company._id}}", array : [], sort : "CA", page : 0, postNum : 10, pageNum : 5, startpage : 0, endpage : 0, search: "", searchtext : "", searchdate : ""});
	
	// i18n 용어 함수로 정리
	// 각 리스트 별 CN같은거 배열에 담기 (종류별로 리스트별로)
	
	// 검색기능
	$(document).ready(function() {
		pagereload(pagingObject, condition, i18nconvert); // 첫 화면 페이지 로드
		$('#selectpage').click(function() {
			selectpage(pagingObject,condition,i18nconvert,{
				option : $('#selectpage option:selected').val()
			})
		});
		
		
		$('#searchtext').keyup(function(key) {
			if(key.keyCode == 13) {
				searchtext(pagingObject,condition,i18nconvert)
			}
			if(pagingObject.searchtext == "") {
				pagereload(pagingObject, condition, i18nconvert);
			}
		});
		
		
		$('.sort').click(function() {
			$("#searchoption").empty();
			$("#searchoption").append("{{__('search')}}");
			
			sortpage(pagingObject,condition,i18nconvert,{
			
				name : $(this).attr('name')
			},
			{
				CN : "CN",
				CPN : "CPN",
				CA : "CA"
			});
			
		});
    });
    
	
		
    
	var condition = function (Object) {
		var num =  Object.array.length; 	
		var	insertTr = ""; // 채워넣을 HTML 초기화
		var indexcount = 1; // 인덱스번호 초기화
		
		
		for (var i = ( Object.postNum *  Object.page) ; i < ( Object.postNum *  Object.page) +  Object.postNum ; i ++) { // 현재 페이지의 번호에 맞는 리스트 뽑아서 출력 (0 ~ 9, 10 ~ 19)
			if( Object.array.length != 0) {
				if( Object.array[i]) {
					insertTr += "<tr>";
					insertTr += " 	<td class='with-btn' nowrap>";
					insertTr += "		<input id='ck' type='checkbox' name ='ck' class='neHeros' value="+  Object.array[i].CN +" onChange='eachCheckedBox(this);'/>";
					insertTr += " 	</td>";
					insertTr += "<td class='font-weight-bold'>"+(num - ( Object.page*10)) +" </td>";
					insertTr += "<td>"+  Object.array[i].CN +"</td>";
					
					if(! Object.array[i].CPN){
						insertTr+="<td>"+"N/A"+"</td><td>";
					}
					else {
						insertTr += "<td>"+  Object.array[i].CPN+"</td><td>";
					}
					
					if ( (moment( Object.array[i].CA).format('DD')) == moment().format('DD') )
					{
						insertTr +=  moment( Object.array[i].CA).format('HH:mm');
					}
					else {
						insertTr += moment( Object.array[i].CA).format('YYYY-MM-DD');
					}
					insertTr += "</td><td class='with-btn' nowrap>"	
					insertTr += "<a id = 'carid' href='javascript:;' onclick='editone(this);' data-type='show' name='"+ Object.array[i]._id +"'   class='btn btn-sm btn-primary width-60 m-r-2 edit-btn'>{{__('modify')}}</a>";
					insertTr += "<input type='button' value='{{__('delete')}}' onclick=delete_one(this,'/car/ajax/car_deleteone',i18nconvert) class='btn btn-sm btn-white width-60' name =' "+  Object.array[i].CN +"'></td> ";
					insertTr += "</tr>";
					num -= indexcount;
				}
			}
			else {
				insertTr += "<tr>";
				insertTr += "	<td colspan='10'>No Data</td>";
				insertTr += "</tr>";
			
			break;
			}
		}
		
		$("#memDiv").append(insertTr);
	}
	
	function editone(obj) {
		console.log(typeof(obj))
		var type = $(obj).data().type;
		$('.tr-edit').empty();
		$(obj).parents('tr').siblings().find('.edit-btn').text("{{__('modify')}}");
		$(obj).parents('tr').siblings().find('.edit-btn').removeData().type;
		$(obj).parents('tr').siblings().find('.edit-btn').data('type', 'show');
		if(type == "show") {
			var car_id = $(obj).attr('name');
			if (car_id) {
				$.ajax({
					type: 'POST',
					url: '/car/ajax/car_list_edit1',
					dataType: 'json',
					data: {
						car_id: car_id
					},
					success: function(result) {
						if(result.status == 'success') {
							var carone = result.carone[0];
							console.log(carone._id)
							var insertTr  = ""
							$(obj).text("{{__('modify')}}");
							$(obj).removeData().type;
							$(obj).data('type', 'hide');
							insertTr += "<tr class='tr-edit'>"
							insertTr += "<td colspan='6'>"
						    insertTr += 	"<div class='panel-body'>"
							insertTr +=	"	<form id='car-edit-form' action='' method='post' data-parsley-validate='true'>"
							insertTr +=	"		<div class='form-group row m-b-15'>"
							insertTr +=	"			<label class='col-md-4 col-sm-4 col-form-label' for='CN'>{{__('car_number')}} <span class='text-danger'>*</span> :</label>"
							insertTr +=	"			<div class='col-md-8 col-sm-8'>"
							insertTr +=	"				<input class='form-control' id='CN' type='text' name = 'CN' value='{{carone.CN}}' placeholder='{{__('car_number_msg')}}' data-parsley-required='true' />"
							insertTr +=	"			</div>"
							insertTr +=	"		</div>"
							insertTr +=	"		<div class='form-group row m-b-15'>"
							insertTr +=	"			<label class='col-md-4 col-sm-4 col-form-label' for='CN'>{{__('car_customer_phone')}} :</label>"
							insertTr +=	"			<div class='col-md-8 col-sm-8'>"
							insertTr +=	"				<input class='form-control' id='CPN' type='text' name = 'CPN' value='{{carone.CPN}}' placeholder='{{__('car_customer_phone')}}' data-parsley-type='digits' data-parsley-type-message='{{__('register_digits_error')}}'  />"
							insertTr +=	"				<input class='form-control' id='car_id' type='hidden' name = 'car_id' value='"+carone._id+"'/>"
							insertTr +=	"			</div>"
							insertTr +=	"		</div>"
							insertTr +=	"		<div class='form-group row m-b-0'>"
							insertTr +=	"			<label class='col-md-4 col-sm-4 col-form-label'>&nbsp;</label>"
							insertTr +=	"			<div class='col-md-8 col-sm-8'>"
							insertTr +=	"				<a href='javascript:;' onclick='carEdit(pagingObject,'"+obj+"');' class='btn btn-primary width-80'>{{__('modify')}}</a>"
							insertTr +=	"				<button type='reset' class='btn btn-primary width-80'>{{__('reset')}}</button>"
							insertTr +=	"			</div>"
							insertTr +=	"		</div>"
							insertTr +=	"	</form>"
							insertTr +=	"</div>"
							insertTr += "</td></tr>"
							$(obj).parents('tr').after(insertTr);
						}
						else {
							alert("{{__('modify_failed')}}");
						}
					 }
				});
			}
			else {
				alert("{{__('modify_failed')}}");
			}
		}
		else {
			$(obj).text("{{__('modify')}}");
			$(obj).removeData().type;
			$(obj).data('type', 'show');
			// alert($('.tr-edit').html());
			$('.tr-edit').remove();
			
		}
	}
	
	function carEdit(Object,obj) {
		
		console.log($('#car-edit-form [name="CN"]').val())
		console.log($('#car-edit-form [name="CPN"]').val())
		console.log($('#car-edit-form [name="car_id"]').val())
		
		console.log(Object)
		console.log(obj)
		// $.ajax({
		// 			type: 'POST',
		// 			url: '/car/ajax/car_list_edit2',
		// 			dataType: 'json',
		// 			data: {
		// 				CN : $('#car-edit-form [name="CN"]').val(),
		// 				CPN : $('#car-edit-form [name="CPN"]').val(),
		// 				CID : Object.CID,
		// 				car_id : car_id
		// 			},
		// 			success: function(result) {
		// 				if(result.status == 'success') {
		// 					console.log("@@@")
		// 					$(obj).text("{{__('modify')}}");
		// 					$(obj).removeData().type;
		// 					$(obj).data('type', 'show');
		// 					// alert($('.tr-edit').html());
		// 					$('.tr-edit').remove();
		// 				}
		// 				else {
		// 					alert("{{__('purchase_failed')}}");
		// 				}
		// 			 }
		// 		});

	}
	
	
	
</script>
{% endblock %}

{% block script %}
<script src="../assets/plugins/datatables.net/js/jquery.dataTables.min.js"></script>
<script src="../assets/plugins/datatables.net-bs4/js/dataTables.bootstrap4.min.js"></script>
<script src="../assets/plugins/datatables.net-responsive/js/dataTables.responsive.min.js"></script>
<script src="../assets/plugins/datatables.net-responsive-bs4/js/responsive.bootstrap4.min.js"></script>
<script src="../assets/plugins/datatables.net-colreorder/js/dataTables.colReorder.min.js"></script>
<script src="../assets/plugins/datatables.net-colreorder-bs4/js/colReorder.bootstrap4.min.js"></script>
<script src="../assets/plugins/datatables.net-keytable/js/dataTables.keyTable.min.js"></script>
<script src="../assets/plugins/datatables.net-keytable-bs4/js/keyTable.bootstrap4.min.js"></script>
<script src="../assets/plugins/datatables.net-rowreorder-bs4/js/rowReorder.bootstrap4.min.js"></script>
<script src="../assets/plugins/datatables.net-buttons/js/dataTables.buttons.min.js"></script>
<script src="../assets/plugins/datatables.net-buttons-bs4/js/buttons.bootstrap4.min.js"></script>
<script src="../assets/plugins/datatables.net-buttons/js/buttons.colVis.min.js"></script>
<script src="../assets/plugins/datatables.net-buttons/js/buttons.flash.min.js"></script>
<script src="../assets/plugins/datatables.net-buttons/js/buttons.html5.min.js"></script>
<script src="../assets/plugins/datatables.net-buttons/js/buttons.print.min.js"></script>
<script src="../assets/plugins/pdfmake/build/pdfmake.min.js"></script>
<script src="../assets/plugins/pdfmake/build/vfs_fonts.js"></script>

<!--<script src="../assets/js/demo/table-manage-combine.demo.js"></script>-->
{% endblock %}