<!DOCTYPE html>
<html lang="kor">
<head>
	<meta charset="utf-8" />
	<title>{{__('main_title')}}</title>
	<meta content="width=device-width, initial-scale=1.0, maximum-scale=1.0, user-scalable=no" name="viewport" />
	<meta content="" name="description" />
	<meta content="" name="author" />
	
	<!-- ================== BEGIN BASE CSS STYLE ================== -->
	<link href="https://fonts.googleapis.com/css?family=Open+Sans:300,400,600,700" rel="stylesheet" />
	<link href="../assets/css/default/app.min.css" rel="stylesheet" />
	<link href="../assets/plugins/flag-icon-css/css/flag-icon.min.css" rel="stylesheet" />
	<!-- ================== END BASE CSS STYLE ================== -->
	<link href="../assets/img/favicon.png" rel="icon">
</head>
<body>
    <div id="content" class="content">
    	<!-- begin row -->
    	<div class="row">
    		<!-- begin col-6 -->
    		<div class="col-xl-12">
    			<!-- begin panel -->
    			<div class="panel panel-inverse" data-sortable-id="form-validation-1">
    				<!-- begin panel-heading -->
    				<div class="panel-heading d-flex justify-content-between">
    					<h4 class="panel-title">중복된 차량목록 확인 (차량번호)</h4>
    				</div>
    				<!-- end panel-heading -->
    				<!-- begin panel-body -->
    				<div class="panel-body">
    				    <div class="overflow-auto">
    				        <div class="mt-1 mb-3 ml-3">
    				            <h5>다음 안내사항을 따라주세요.</h5>
    				            <ul class="list-unstyled mb-1">
    				                <li class="mb-1">1. 아래 목록에 나타난 차량번호가 맞는지 확인해주세요.</li>
        				                <ul class="list-unstyled ml-3 mb-1">
        				                    <li>1-1. <b class="text-realred">엑셀 파일 내</b>에서 차량번호를 <b class="text-realred">수정</b>한 뒤, <b class="text-realred">다시 업로드</b>하세요.</li>
        				                </ul>
    				                <li class="mb-1">2. 잘못된 차량번호가 없다면, 타사 차량번호와 겹친 경우입니다.</li>
        				                <ul class="list-unstyled ml-3 mb-1">
        				                    <li>2-1. 중복된 <b class="text-realred">차량번호</b>와 그에 해당하는 <b class="text-realred">차량등록증</b>을 <b class="text-realred">mk@mklc.co.kr</b>로 보내주세요.</li>
        				                </ul>
    				            </ul>
    				        </div>
        					<table id="data-table-combine" class="table table-bordered table-hover table-td-valign-middle text-center font-weight-bold">
                                <thead class="thead-light">
									<tr>
										<th>엑셀 내 중복된 차량 번호</th>
									</tr>
								</thead>
								<tbody>
								    {% if (session_car) %}
    								    {% for item in session_car %}
                                        <tr>
                                            <td>
                                                {{item[0]}}
                                            </td>
                                        </tr>
                                        {% endfor %}
                                    {% elseif (session_car_1) %}
                                        <tr>
                                            <td>
                                                {{session_car_1[0]}}
                                            </td>
                                        </tr>
                                    {% endif %}
								</tbody>
                            </table>
                            <div class="d-flex justify-content-between align-item-center">
                                <input class="btn btn-primary mx-auto" type="button" value="확인" onclick="winClose();">
							</div>
    				    </div>
    				</div>
    				<!-- end panel-body -->
    			</div>
    			<!-- end panel -->
    		</div>
    	</div>
    	<!-- end row -->
    </div>
    
    <script type="text/javascript" src="https://code.jquery.com/jquery-1.12.4.min.js" ></script>
    <script>
        
        // 창 닫기 기능
        function winClose() {
            sessionStorage.clear();
            window.opener.location.href='/car_list';
            window.close();
        }
        
    </script>
    
</body>

<script src="../assets/plugins/parsleyjs/dist/parsley.min.js"></script>
<script src="../assets/plugins/highlight.js/highlight.min.js"></script>
<script src="../assets/js/demo/render.highlight.js"></script>