{% extends 'layout.html' %}

{% block css %}
<link href="../assets/plugins/datatables.net-bs4/css/dataTables.bootstrap4.min.css" rel="stylesheet" />
<link href="../assets/plugins/datatables.net-responsive-bs4/css/responsive.bootstrap4.min.css" rel="stylesheet" />
<link href="../assets/plugins/datatables.net-buttons-bs4/css/buttons.bootstrap4.min.css" rel="stylesheet" />
<link href="../assets/plugins/datatables.net-autofill-bs4/css/autoFill.bootstrap4.min.css" rel="stylesheet" />
<link href="../assets/plugins/datatables.net-colreorder-bs4/css/colReorder.bootstrap4.min.css" rel="stylesheet" />
<link href="../assets/plugins/datatables.net-keytable-bs4/css/keyTable.bootstrap4.min.css" rel="stylesheet" />
<link href="../assets/plugins/datatables.net-rowreorder-bs4/css/rowReorder.bootstrap4.min.css" rel="stylesheet" />
<link href="../assets/plugins/datatables.net-select-bs4/css/select.bootstrap4.min.css" rel="stylesheet" />
<link href="../assets/plugins/switchery/switchery.min.css" rel="stylesheet" />
<link href="../assets/plugins/abpetkov-powerange/dist/powerange.min.css" rel="stylesheet" />
<link rel="stylesheet" href="https://uicdn.toast.com/tui.chart/latest/tui-chart.min.css">
<link href="../assets/css/map.css" rel="stylesheet" />
{% endblock %}

{% block content %}
<!-- begin #content -->
		<!-- begin #content -->
		<div id="content" class="content">
			<!-- begin page-header -->
			<h1 class="page-header mt-3">제품 통계</h1>
			<!-- end page-header -->
			
			<!-- begin row -->
			<div class="row">
				<!-- begin col-3 -->
				<div class="col-xl-3 col-md-6">
					<div class="widget widget-stats bg-blue">
						<div class="stats-icon"><i class="fa fa-users"></i></div>
						<div class="stats-info">
							<h4>총 구매 업체</h4>
							<p id="p1">{{AllCompany}}</p>	
						</div>
						<div class="stats-link">
							<a href="/device_list">자세히 <i class="fa fa-arrow-alt-circle-right"></i></a>
						</div>
					</div>
				</div>
				<!-- end col-3 -->
				<!-- begin col-3 -->
				<div class="col-xl-3 col-md-6">
					<div class="widget widget-stats bg-info">
						<div class="stats-icon"><i class="fas fa-lg fa-fw m-r-10 fa-microchip"></i></div>
						<div class="stats-info">
							<h4>총 판매 소독기</h4>
							<p id="p2">{{AllDevice}}</p>	
						</div>
						<div class="stats-link">
							<a href="/car_list">자세히 <i class="fa fa-arrow-alt-circle-right"></i></a>
						</div>
					</div>
				</div>
				<!-- end col-3 -->
				<!-- begin col-3 -->
				<div class="col-xl-3 col-md-6">
					<div class="widget widget-stats bg-orange">
						<div class="stats-icon"><i class="fas fa-lg fa-fw m-r-10 fa-car"></i></div>
						<div class="stats-info">
							<h4>총 등록 차량 수</h4>
							<p id="p3">{{AllCar}}</p>	
						</div>
						<div class="stats-link">
							<a href="/compa_list">자세히 <i class="fa fa-arrow-alt-circle-right"></i></a>
						</div>
					</div>
				</div>
				<!-- end col-3 -->
				<!-- begin col-3 -->
				<div class="col-xl-3 col-md-6">
					<div class="widget widget-stats bg-red">
						<div class="stats-icon"><i class="fas fa-lg fa-fw m-r-10 fa-history"></i></div>
						<div class="stats-info">
							<h4>총 판매 소모품 수</h4>
							<p id="p4">하드코딩</p>	
						</div>
						<div class="stats-link">
							<a href="/history_list">자세히 <i class="fa fa-arrow-alt-circle-right"></i></a>
						</div>
					</div>
				</div>
				<!-- end col-3 -->
			</div>
			<!-- end row -->
			<!-- begin row -->
			<div class="row">
				<!-- begin col-6 -->
				<div class="col-xl-6">
				    
				    <!-- begin panel -->
                	<div class="panel panel-inverse">
                		<!-- begin panel-heading -->
                		<div class="panel-heading">
                			<h4 class="panel-title">사용 업종 비율</h4>
                		</div>
                		<!-- end panel-heading -->
                		<!-- begin panel-body -->
                		<div class="panel-body">
                        	<div id="chartdiv" class="height-md"></div>
                		</div>
                		<!-- end panel-body -->
                	</div>
                	<!-- end panel -->
					

					<!-- end panel -->
				</div>
				<!-- end col-6 -->
				<!-- begin col-6 -->
				<div class="col-xl-6">
				    
				    <!-- begin panel -->
                	<div class="panel panel-inverse">
                		<!-- begin panel-heading -->
                		<div class="panel-heading">
                			<h4 class="panel-title">사용 업체 및 장비 분포율</h4>
                		</div>
                		<!-- end panel-heading -->
                		<!-- begin panel-body -->
                		<div class="panel-body">
                        	<div id="mapchart" class="height-md"></div>
                        	<!--<object type="image/svg+xml" data="../assets/southKoreaHigh.svg" class="object" width="1024" height="1024"></object>-->
                		</div>
                		<!-- end panel-body -->
                	</div>
                	<!-- end panel -->
					

					<!-- end panel -->
				</div>
				<!-- end col-6 -->
			</div>
			<!-- end row -->
			<!-- begin row -->
			<div class="row">
				<!-- begin col-12 -->
				<div class="col-xl-12">
				    <!-- begin panel -->
	            	<div class="panel panel-inverse">
	            		<!-- begin panel-heading -->
	            		<div class="panel-heading">
	            			<h4 class="panel-title">소모품 교체 현황</h4>
	            		</div>
	            		<!-- begin panel-body -->
                		<div class="panel-body">
                        	<div id="chartdiv2" class="height-sm"></div>
                		</div>
                		<!-- end panel-body -->
	            	</div>
	            	<!-- end panel -->
				</div>
				<!-- end col-12 -->
			</div>
			<!-- end row -->
			<!-- begin row -->
			<div class="row">
				<!-- begin col-6 -->
				<div class="col-xl-6">
				    <!-- begin panel -->
	            	<div class="panel panel-inverse">
	            		<!-- begin panel-heading -->
	            		<div class="panel-heading">
	            			<h4 class="panel-title">UV 램프 - 다음 달 예상 교체 물량</h4>
	            		</div>
	            		<!-- begin panel-body -->
                		<div class="panel-body">
                        	<div id="uv" class="height-sm"></div>
                		</div>
                		<!-- end panel-body -->
	            	</div>
	            	<!-- end panel -->
				</div>
				<!-- end col-6 -->
				<!-- begin col-6 -->
				<div class="col-xl-6">
				    <!-- begin panel -->
	            	<div class="panel panel-inverse">
	            		<!-- begin panel-heading -->
	            		<div class="panel-heading">
	            			<h4 class="panel-title">센서 - 다음 달 예상 교체 물량</h4>
	            		</div>
	            		<!-- begin panel-body -->
                		<div class="panel-body">
                        	<div id="sensor" class="height-sm"></div>
                		</div>
                		<!-- end panel-body -->
	            	</div>
	            	<!-- end panel -->
				</div>
				<!-- end col-6 -->
			</div>
			<!-- end row -->
		</div>
		<!-- end #content -->
		
<!-- end #content -->
<!-- error script -->
{% endblock %}


{% block script %}
<script src="https://cdn.amcharts.com/lib/4/core.js"></script>
<script src="https://cdn.amcharts.com/lib/4/charts.js"></script>
<script src="https://cdn.amcharts.com/lib/4/themes/animated.js"></script>
<script src="https://cdn.amcharts.com/lib/4/themes/kelly.js"></script>

<!-- Chart code -->
<script>
am4core.ready(function() {
	
	// Themes begin
	am4core.useTheme(am4themes_animated);
	// Themes end
	
	// Create chart instance
	var chart = am4core.create("chartdiv", am4charts.PieChart);
	
		chart.data = [{
		  "CK": "렌터카",
		  "count": {{companycount[0]}}
		}, {
		  "CK": "카센터",
		  "count": {{companycount[1]}}
		}, {
		  "CK": "출장정비",
		  "count": {{companycount[2]}}
		}, {
		  "CK": "출장세차",
		  "count": {{companycount[3]}}
		}, {
		  "CK": "택시운수업",
		  "count": {{companycount[4]}}
		}, {
		  "CK": "버스운수업",
		  "count": {{companycount[5]}}
		}, {
		  "CK": "타이어샵",
		  "count": {{companycount[6]}}
		}
		];
	
	// Chart logo remove
	chart.logo.disabled = true;
	
	// Add and configure Series
	var pieSeries = chart.series.push(new am4charts.PieSeries());
	pieSeries.dataFields.value = "count";
	pieSeries.dataFields.category = "CK";
	pieSeries.ticks.template.disabled = true;
	pieSeries.alignLabels = false;
	pieSeries.labels.template.text = "{value.percent.formatNumber('#.0')}%";
	pieSeries.labels.template.radius = am4core.percent(-40);
	pieSeries.labels.template.fill = am4core.color("white");
	pieSeries.labels.template.adapter.add("radius", function(radius, target) {
	  if (target.dataItem && (target.dataItem.values.value.percent < 10)) {
	    return 0;
	  }
	  return radius;
	});
	
	pieSeries.labels.template.adapter.add("fill", function(color, target) {
	  if (target.dataItem && (target.dataItem.values.value.percent < 10)) {
	    return am4core.color("#000");
	  }
	  return color;
	});
	pieSeries.slices.template.stroke = am4core.color("#fff");
	pieSeries.slices.template.strokeOpacity = 1;
	
	// This creates initial animation
	pieSeries.hiddenState.properties.opacity = 1;
	pieSeries.hiddenState.properties.endAngle = -90;
	pieSeries.hiddenState.properties.startAngle = -90;
	
	chart.legend = new am4charts.Legend();
	chart.hiddenState.properties.radius = am4core.percent(0);
	
	
}); // end am4core.ready()
</script>

<!-----------------------------------------------------------
--------------------------- 지도 ----------------------------
------------------------------------------------------------->

<script type='text/javascript' src='https://uicdn.toast.com/tui.code-snippet/v1.5.0/tui-code-snippet.min.js'></script>
<script type='text/javascript' src='https://uicdn.toast.com/tui.chart/latest/raphael.js'></script>
<script src="https://uicdn.toast.com/tui.chart/latest/tui-chart.min.js"></script>
<script src="../assets/js/koreamap.js"></script>

<script>
var container = document.getElementById('mapchart');
var data = {
    series: [
        {
            code: 'KR-SU',
            data: 105
        },
        {
            code: 'KR-BS',
            data: 147
        },
        {
            code: 'KR-DG',
            data: 141
        },
        {
            code: 'KR-IC',
            data: 121
        },
        {
            code: 'KR-GJ',
            data: 138
        },
        {
            code: 'KR-DJ',
            data: 130
        },
        {
            code: 'KR-US',
            data: 141
        },
        {
            code: 'KR-GG',
            data: 116
        },
        {
            code: 'KR-GW',
            data: 113
        },
        {
            code: 'KR-NC',
            data: 117
        },
        {
            code: 'KR-SC',
            data: 119
        },
        {
            code: 'KR-NJ',
            data: 128
        },
        {
            code: 'KR-SJ',
            data: 136
        },
        {
            code: 'KR-NG',
            data: 142
        },
        {
            code: 'KR-SG',
            data: 142
        },
        {
            code: 'KR-JJ',
            data: 155
        },
        {
            code: 'KR-SE',
            data: 118
        }
    ]
};
var options = {
	chart: {
        width: 400,
        height: 460
    },
    map: 'south-korea',
    legend: {
        align: 'right'
    },
    tooltip: {
        suffix: '개'
    },
};
var theme = {
    series: {
        startColor: '#ffefef',
        endColor: '#ac4142',
        overColor: '#75b5aa'
    }
};

tui.chart.mapChart(container, data, options);
</script>

<!-- Chart2 code -->
<script>
am4core.ready(function() {
	// Apply chart themes
	am4core.useTheme(am4themes_animated);
	am4core.useTheme(am4themes_kelly);
	
	// Create chart instance
	var chart = am4core.create("chartdiv2", am4charts.XYChart);
	
	// Remove chart logo
	chart.logo.disabled = true;
	
	// Add data
	chart.data = [{
	  "month": "1",
	  "uv": 501.9,
	  "sensor": 250000
	}, {
	  "month": "2",
	  "uv": 301.9,
	  "sensor": 222000
	}, {
	  "month": "3",
	  "uv": 201.1,
	  "sensor": 170000
	}, {
	  "month": "4",
	  "uv": 165.8,
	  "sensor": 122000
	}, {
	  "month": "5",
	  "uv": 139.9,
	  "sensor": 99000
	}, {
	  "month": "6",
	  "uv": 128.3,
	  "sensor": 85000
	}, {
	  "month": "7",
	  "uv": 99,
	  "sensor": 93000
	}, {
	  "month": "8",
	  "uv": 60,
	  "sensor": 50000
	}, {
	  "month": "9",
	  "uv": 50,
	  "sensor": 42000
	}, {
	  "month": "10",
	  "uv": 50,
	  "sensor": 42000
	}, {
	  "month": "11",
	  "uv": 50,
	  "sensor": 42000
	}, {
	  "month": "12",
	  "uv": 50,
	  "sensor": 42000
	}];
	
	// Create axes
	var categoryAxis = chart.xAxes.push(new am4charts.CategoryAxis());
	categoryAxis.dataFields.category = "month";
	categoryAxis.title.text = "Month";
	categoryAxis.renderer.minGridDistance = 0;
	
	// First value axis
	var valueAxis = chart.yAxes.push(new am4charts.ValueAxis());
	valueAxis.title.text = "UV 램프";
	
	// Second value axis
	var valueAxis2 = chart.yAxes.push(new am4charts.ValueAxis());
	valueAxis2.title.text = "센서";
	valueAxis2.renderer.opposite = true;
	
	// First series
	var series = chart.series.push(new am4charts.LineSeries());
	series.dataFields.valueY = "uv";
	series.dataFields.categoryX = "month";
	series.name = "UV 램프";
	series.strokeWidth = 3;
	series.tooltipText = "{name}: [bold]{valueY}[/]";
	
	// Second series
	var series2 = chart.series.push(new am4charts.LineSeries());
	series2.dataFields.valueY = "sensor";
	series2.dataFields.categoryX = "month";
	series2.name = "센서";
	series2.strokeWidth = 3;
	series2.tooltipText = "{name}: [bold]{valueY}[/]";
	series2.yAxis = valueAxis2;
	
	// Add bullet
	var circle = series.bullets.push(new am4charts.CircleBullet());
	
	var bullet = series2.bullets.push(new am4charts.Bullet());
	var square = bullet.createChild(am4core.Rectangle);
	square.width = 10;
	square.height = 10;
	square.horizontalCenter = "middle";
	square.verticalCenter = "middle";
	
	// Add legend
	chart.legend = new am4charts.Legend();
	
	// Add cursor
	chart.cursor = new am4charts.XYCursor();
});
</script>
						
<script src="../assets/plugins/datatables.net/js/jquery.dataTables.min.js"></script>
<script src="../assets/plugins/datatables.net-bs4/js/dataTables.bootstrap4.min.js"></script>
<script src="../assets/plugins/datatables.net-responsive/js/dataTables.responsive.min.js"></script>
<script src="../assets/plugins/datatables.net-responsive-bs4/js/responsive.bootstrap4.min.js"></script>
<script src="../assets/js/demo/dashboard.js"></script>
<script src="../assets/js/demo/table-manage-default.demo.js"></script>

{% endblock %}