{% extends 'layout.html' %}

{% block css %}
<link href="../assets/plugins/datatables.net-bs4/css/dataTables.bootstrap4.min.css" rel="stylesheet" />
<link href="../assets/plugins/datatables.net-responsive-bs4/css/responsive.bootstrap4.min.css" rel="stylesheet" />
<link href="../assets/plugins/datatables.net-buttons-bs4/css/buttons.bootstrap4.min.css" rel="stylesheet" />
<link href="../assets/plugins/datatables.net-autofill-bs4/css/autoFill.bootstrap4.min.css" rel="stylesheet" />
<link href="../assets/plugins/datatables.net-colreorder-bs4/css/colReorder.bootstrap4.min.css" rel="stylesheet" />
<link href="../assets/plugins/datatables.net-keytable-bs4/css/keyTable.bootstrap4.min.css" rel="stylesheet" />
<link href="../assets/plugins/datatables.net-rowreorder-bs4/css/rowReorder.bootstrap4.min.css" rel="stylesheet" />
<link href="../assets/plugins/datatables.net-select-bs4/css/select.bootstrap4.min.css" rel="stylesheet" />
<link href="../assets/plugins/switchery/switchery.min.css" rel="stylesheet" />
<link href="../assets/plugins/abpetkov-powerange/dist/powerange.min.css" rel="stylesheet" />
<link href="../assets/css/map.css" rel="stylesheet" />
{% endblock %}

{% block content %}
<!-- begin #content -->
		<!-- begin #content -->
		<div id="content" class="content">
			<!-- begin page-header -->
			<h1 class="page-header">제품 통계</h1>
			<!-- end page-header -->
			
			<!-- begin row -->
			<div class="row">
				<!-- begin col-3 -->
				<div class="col-xl-3 col-md-6">
					<div class="widget widget-stats bg-blue">
						<div class="stats-icon"><i class="fa fa-users"></i></div>
						<div class="stats-info">
							<h4>총 구매 업체</h4>
							<p id="p1">{{AllCompany}}</p>	
						</div>
						<div class="stats-link">
							<a href="/device_list">자세히 <i class="fa fa-arrow-alt-circle-right"></i></a>
						</div>
					</div>
				</div>
				<!-- end col-3 -->
				<!-- begin col-3 -->
				<div class="col-xl-3 col-md-6">
					<div class="widget widget-stats bg-info">
						<div class="stats-icon"><i class="fas fa-lg fa-fw m-r-10 fa-microchip"></i></div>
						<div class="stats-info">
							<h4>총 판매 소독기</h4>
							<p id="p2">{{AllDevice}}</p>	
						</div>
						<div class="stats-link">
							<a href="/car_list">자세히 <i class="fa fa-arrow-alt-circle-right"></i></a>
						</div>
					</div>
				</div>
				<!-- end col-3 -->
				<!-- begin col-3 -->
				<div class="col-xl-3 col-md-6">
					<div class="widget widget-stats bg-orange">
						<div class="stats-icon"><i class="fas fa-lg fa-fw m-r-10 fa-car"></i></div>
						<div class="stats-info">
							<h4>총 등록 차량 수</h4>
							<p id="p3">{{AllCar}}</p>	
						</div>
						<div class="stats-link">
							<a href="/compa_list">자세히 <i class="fa fa-arrow-alt-circle-right"></i></a>
						</div>
					</div>
				</div>
				<!-- end col-3 -->
				<!-- begin col-3 -->
				<div class="col-xl-3 col-md-6">
					<div class="widget widget-stats bg-red">
						<div class="stats-icon"><i class="fas fa-lg fa-fw m-r-10 fa-history"></i></div>
						<div class="stats-info">
							<h4>총 판매 소모품 수</h4>
							<p id="p4">하드코딩</p>	
						</div>
						<div class="stats-link">
							<a href="/history_list">자세히 <i class="fa fa-arrow-alt-circle-right"></i></a>
						</div>
					</div>
				</div>
				<!-- end col-3 -->
			</div>
			<!-- end row -->
			<!-- begin row -->
			<div class="row">
				<!-- begin col-6 -->
				<div class="col-xl-6">
				    
				    <!-- begin panel -->
                	<div class="panel panel-inverse">
                		<!-- begin panel-heading -->
                		<div class="panel-heading">
                			<h4 class="panel-title">사용 업종 비율</h4>
                		</div>
                		<!-- end panel-heading -->
                		<!-- begin panel-body -->
                		<div class="panel-body">
                        	<div id="chartdiv" class="height-md"></div>
                		</div>
                		<!-- end panel-body -->
                	</div>
                	<!-- end panel -->
					

					<!-- end panel -->
				</div>
				<!-- end col-6 -->
				<!-- begin col-6 -->
				<div class="col-xl-6">
				    
				    <!-- begin panel -->
                	<div class="panel panel-inverse">
                		<!-- begin panel-heading -->
                		<div class="panel-heading">
                			<h4 class="panel-title">사용 업체 및 장비 분포율</h4>
                		</div>
                		<!-- end panel-heading -->
                		<!-- begin panel-body -->
                		<div class="panel-body">
                        	<div id="map" class="height-md"></div>
                        	<div id="map2"></div>
                        	<!--<object type="image/svg+xml" data="../assets/southKoreaHigh.svg" class="object"></object>-->
                		</div>
                		<!-- end panel-body -->
                	</div>
                	<!-- end panel -->
					

					<!-- end panel -->
				</div>
				<!-- end col-6 -->
			</div>
			<!-- end row -->
			<!-- begin row -->
			<div class="row">
				<!-- begin col-8 -->
				<div class="col-xl-8">
				    <!-- begin panel -->
	            	<div class="panel panel-inverse">
	            		<!-- begin panel-heading -->
	            		<div class="panel-heading">
	            			<h4 class="panel-title">UV 램프 교체 현황</h4>
	            		</div>
	            		<!-- begin panel-body -->
                		<div class="panel-body">
                        	<div id="chartdiv2" class="height-sm"></div>
                		</div>
                		<!-- end panel-body -->
	            	</div>
	            	<!-- end panel -->
				</div>
				<!-- end col-8 -->
				<!-- begin col-4 -->
				<div class="col-xl-4">
				    <!-- begin panel -->
	            	<div class="panel panel-inverse">
	            		<!-- begin panel-heading -->
	            		<div class="panel-heading">
	            			<h4 class="panel-title">UV 램프 - 다음 달 예상 교체 물량</h4>
	            		</div>
	            		<!-- begin panel-body -->
                		<div class="panel-body">
                        	<div id="chartdiv2" class="height-sm"></div>
                		</div>
                		<!-- end panel-body -->
	            	</div>
	            	<!-- end panel -->
				</div>
				<!-- end col-4 -->
			</div>
			<!-- end row -->
			<!-- begin row -->
			<div class="row">
				<!-- begin col-8 -->
				<div class="col-xl-8">
				    <!-- begin panel -->
	            	<div class="panel panel-inverse">
	            		<!-- begin panel-heading -->
	            		<div class="panel-heading">
	            			<h4 class="panel-title">센서 교체 현황</h4>
	            		</div>
	            		<!-- begin panel-body -->
                		<div class="panel-body">
                        	<div id="chartdiv3" class="height-sm"></div>
                		</div>
                		<!-- end panel-body -->
	            	</div>
	            	<!-- end panel -->
				</div>
				<!-- end col-8 -->
				<!-- begin col-4 -->
				<div class="col-xl-4">
				    <!-- begin panel -->
	            	<div class="panel panel-inverse">
	            		<!-- begin panel-heading -->
	            		<div class="panel-heading">
	            			<h4 class="panel-title">센서 - 다음 달 예상 교체 물량</h4>
	            		</div>
	            		<!-- begin panel-body -->
                		<div class="panel-body">
                        	<div id="chartdiv2" class="height-sm"></div>
                		</div>
                		<!-- end panel-body -->
	            	</div>
	            	<!-- end panel -->
				</div>
				<!-- end col-4 -->
			</div>
			<!-- end row -->
		</div>
		<!-- end #content -->
		
<!-- end #content -->
	<!-- error script -->
		
	{% endblock %}


{% block script %}

<script src="/socket.io/socket.io.js"></script>
<script>

  const socket = io.connect('http://52.79.245.187:8008', {
    path: '/socket.io',
    transports: ['websocket'],
  })
  

  
  socket.on('newworker', function (data) {
  	var i,j = 0;
  	var socket_worker_array = [];
  	console.log(data);
    // console.log(data[0]._id);
	// console.log("{{company.CID}}");
	
	for(i = 0; i < data.length; i++) {
		if (data[i].CID == "{{company.CID}}") {
	// console.log(data[i]._id);
	// {{company.CID}} 는 지금 접속한 사람의 CID를 나타냄
		
			socket_worker_array.push(data[i].CID);
		}
	}
	document.getElementById('p3').innerHTML = socket_worker_array.length;
    socket.emit('reply', 'HTML 에서 node로 보내는 메세지(작업자 갱신)');
  });
  
  socket.on('newhistory', function (data) {
  	var i,j = 0;
  	var socket_worker_array = [];
  	console.log(data);
    // console.log(data[0]._id);
	// console.log("{{company.CID}}");
	
	for(i = 0; i < data.length; i++) {
		if (data[i].CID == "{{company.CID}}") {
	// console.log(data[i]._id);
	// {{company.CID}} 는 지금 접속한 사람의 CID를 나타냄
			socket_worker_array.push(data[i].CID);
		}
	}
	document.getElementById('p4').innerHTML = socket_worker_array.length;
    socket.emit('reply', 'HTML 에서 node로 보내는 메세지(히스토리 갱신)');
  });
  
</script>

<script src="https://cdn.amcharts.com/lib/4/core.js"></script>
<script src="https://cdn.amcharts.com/lib/4/charts.js"></script>
<script src="https://cdn.amcharts.com/lib/4/themes/animated.js"></script>

<!-- Chart code -->
<script>
	am4core.ready(function() {
	
	// Themes begin
	am4core.useTheme(am4themes_animated);
	// Themes end
	
	// Create chart instance
	var chart = am4core.create("chartdiv", am4charts.PieChart);
	
		chart.data = [{
		  "CK": "렌터카",
		  "count": {{companycount[0]}}
		}, {
		  "CK": "카센터",
		  "count": {{companycount[1]}}
		}, {
		  "CK": "출장정비",
		  "count": {{companycount[2]}}
		}, {
		  "CK": "출장세차",
		  "count": {{companycount[3]}}
		}, {
		  "CK": "택시운수업",
		  "count": {{companycount[4]}}
		}, {
		  "CK": "버스운수업",
		  "count": {{companycount[5]}}
		}, {
		  "CK": "타이어샵",
		  "count": {{companycount[6]}}
		}
		];
		// {% for company in companys %}
		// 	chart.data.push({
		// 		// CK: {{company.CK}},
		// 		count: {{company.MN}}
		// 	});
		// {% endfor %}
	
	
	// Chart logo remove
	chart.logo.disabled = true;
	
	// Add and configure Series
	var pieSeries = chart.series.push(new am4charts.PieSeries());
	pieSeries.dataFields.value = "count";
	pieSeries.dataFields.category = "CK";
	pieSeries.ticks.template.disabled = true;
	pieSeries.alignLabels = false;
	pieSeries.labels.template.text = "{value.percent.formatNumber('#.0')}%";
	pieSeries.labels.template.radius = am4core.percent(-40);
	pieSeries.labels.template.fill = am4core.color("white");
	pieSeries.labels.template.adapter.add("radius", function(radius, target) {
	  if (target.dataItem && (target.dataItem.values.value.percent < 10)) {
	    return 0;
	  }
	  return radius;
	});
	
	pieSeries.labels.template.adapter.add("fill", function(color, target) {
	  if (target.dataItem && (target.dataItem.values.value.percent < 10)) {
	    return am4core.color("#000");
	  }
	  return color;
	});
	pieSeries.slices.template.stroke = am4core.color("#fff");
	pieSeries.slices.template.strokeOpacity = 1;
	
	// This creates initial animation
	pieSeries.hiddenState.properties.opacity = 1;
	pieSeries.hiddenState.properties.endAngle = -90;
	pieSeries.hiddenState.properties.startAngle = -90;
	
	chart.legend = new am4charts.Legend();
	chart.hiddenState.properties.radius = am4core.percent(0);
	
	
	}); // end am4core.ready()
</script>

<!-----------------------------------------------------------
--------------------------- 지도 ----------------------------
------------------------------------------------------------->
<script src="https://d3js.org/d3.v3.min.js"></script>
<script src="https://d3js.org/topojson.v0.min.js"></script>

<script>
		/////////////////////////////////////////////////////////////
		
	// // SVG 영역 생성
	// var width = 500, height = 500;
	// var svg = d3.select("#map")
	// 	.append("svg")
	// 	.attr({"width":width, "height":height});
	
	// // 파일 읽기
	// d3.json("../assets/ne_10m_admin_1_states_provinces/korea-topo.json", function(err, map) {
	// 	// 그리기 위한 오브젝트 획득
	// 	var geo = map.objects["korea-geo"];
	// 	var map_o = topojson.object(map, geo);
	// 	// 축척 지정
	// 	var projection = d3.geo.mercator() // projection - 투영법, 메르카토르 투영법 사용
	// 		.center([127, 35.5])
	// 		.scale(3500)
	// 		.translate([width / 2, height / 2]);
	// 	// 패스 작성
	// 	var path = d3.geo.path()
	// 		.projection(projection);
		
	// 	// SVG에 추가
	// 	svg.append("path")
	// 		.datum(map_o)
	// 		.attr("d", path);
		
	// 	// 색 설정
	// 	svg.selectAll("path").attr("fill", "grey");
		
	// 	// 경계선
	// 	var mesh = topojson.mesh(map, geo, function(a, b) {
	// 		return a !== b;
	// 	});
		
	// 	svg.append("path")
	// 		.datum(mesh)
	// 		.attr("d", path)
	// 		.attr("class", "boundary");
	// 	// 지역 이름 표시
	// 	svg.selectAll(".place-label")
	// 		.data(map_o.geometries)
	// 		.enter()
	// 		.append("text")
	// 		.attr("class", function(d) {
	// 			return "place-label";
	// 		})
	// 		.attr("transform", function(d) {
	// 			console.log(d);
	// 			return "translate(" + path.centroid(d) + ")";
	// 		})
	// 		.text(function(d) {
	// 			var s = d.properties.name_local;
	// 			if (!s) return;
	// 			//if (s == "서울특별시") return s;
	// 			//else return;
	// 			return s;
	// 		});
	// });

</script>

<!-- Chart2 code -->
<script>
am4core.ready(function() {

// Themes begin
am4core.useTheme(am4themes_animated);
// Themes end

// Create chart instance
var chart = am4core.create("chartdiv2", am4charts.XYChart);

// Add data
	{% set month = 1 %}
	{% for company in companys %}
		chart.data.push({
			count: 1,
			month: {{month}}
		});
	{% set month = month + 1 %}
	{% endfor %}

  // Set input format for the dates
  chart.logo.disabled = true;
  chart.numberFormatter.numberFormat = "#";
  
  // Create axes
  var monthAxis = chart.xAxes.push(new am4charts.ValueAxis());
  var countAxis = chart.yAxes.push(new am4charts.ValueAxis());
  
  // Create series
  var series = chart.series.push(new am4charts.LineSeries());
  series.dataFields.valueY = "count";
  series.dataFields.valueX = "month";
  series.tooltipText = "{count}"
  series.strokeWidth = 2;
  series.minBulletDistance = 15;
  
  // Drop-shaped tooltips 이것은 마우스를 올렸을 때 말풍선이 나오는 것이여
  series.tooltip.background.cornerRadius = 20;
  series.tooltip.background.strokeOpacity = 0;
  series.tooltip.pointerOrientation = "vertical";
  series.tooltip.label.minWidth = 40;
  series.tooltip.label.minHeight = 40;
  series.tooltip.label.textAlign = "middle";
  series.tooltip.label.textValign = "middle";
  
  // Make bullets grow on hover 이것은 각 점들의 크기
  var bullet = series.bullets.push(new am4charts.CircleBullet());
  bullet.circle.strokeWidth = 2;
  bullet.circle.radius = 4;
  bullet.circle.fill = am4core.color("#fff");
  
  var bullethover = bullet.states.create("hover");
  bullethover.properties.scale = 1.3;
  
  // Make a panning cursor 이것은 마우스 올렸을 때 점선이여
  chart.cursor = new am4charts.XYCursor();
  chart.cursor.behavior = "panXY";
  chart.cursor.xAxis = monthAxis;
  chart.cursor.snapToSeries = series;
  
  monthAxis.start = 0;
  monthAxis.keepSelection = true;
  
  
  }); // end am4core.ready()
</script>

<!-- Chart3 code -->
<script>
am4core.ready(function() {

// Themes begin
am4core.useTheme(am4themes_animated);
// Themes end

// Create chart instance
var chart = am4core.create("chartdiv3", am4charts.XYChart);

// Add data
chart.data = [{
  "date": "2012-07-27",
  "value": 13
}, {
  "date": "2012-07-28",
  "value": 11
}];

  // Set input format for the dates
  chart.logo.disabled = true;
  chart.numberFormatter.numberFormat = "#";
  
  // Create axes
  var monthAxis = chart.xAxes.push(new am4charts.ValueAxis());
  var countAxis = chart.yAxes.push(new am4charts.ValueAxis());
  
  // Create series
  var series = chart.series.push(new am4charts.LineSeries());
  series.dataFields.valueY = "count";
  series.dataFields.valueX = "month";
  series.tooltipText = "{count}"
  series.strokeWidth = 2;
  series.minBulletDistance = 15;
  
  // Drop-shaped tooltips 이것은 마우스를 올렸을 때 말풍선이 나오는 것이여
  series.tooltip.background.cornerRadius = 20;
  series.tooltip.background.strokeOpacity = 0;
  series.tooltip.pointerOrientation = "vertical";
  series.tooltip.label.minWidth = 40;
  series.tooltip.label.minHeight = 40;
  series.tooltip.label.textAlign = "middle";
  series.tooltip.label.textValign = "middle";
  
  // Make bullets grow on hover 이것은 각 점들의 크기
  var bullet = series.bullets.push(new am4charts.CircleBullet());
  bullet.circle.strokeWidth = 2;
  bullet.circle.radius = 4;
  bullet.circle.fill = am4core.color("#fff");
  
  var bullethover = bullet.states.create("hover");
  bullethover.properties.scale = 1.3;
  
  // Make a panning cursor 이것은 마우스 올렸을 때 점선이여
  chart.cursor = new am4charts.XYCursor();
  chart.cursor.behavior = "panXY";
  chart.cursor.xAxis = monthAxis;
  chart.cursor.snapToSeries = series;
  
  monthAxis.start = 0;
  monthAxis.keepSelection = true;
  
  
  }); // end am4core.ready()
</script>
						
<script src="../assets/plugins/datatables.net/js/jquery.dataTables.min.js"></script>
<script src="../assets/plugins/datatables.net-bs4/js/dataTables.bootstrap4.min.js"></script>
<script src="../assets/plugins/datatables.net-responsive/js/dataTables.responsive.min.js"></script>
<script src="../assets/plugins/datatables.net-responsive-bs4/js/responsive.bootstrap4.min.js"></script>
<script src="../assets/js/demo/dashboard.js"></script>
<script src="../assets/js/demo/table-manage-default.demo.js"></script>

{% endblock %}