{% extends 'layout.html' %}

{% block css %}
<link href="../assets/plugins/datatables.net-bs4/css/dataTables.bootstrap4.min.css" rel="stylesheet" />
<link href="../assets/plugins/datatables.net-responsive-bs4/css/responsive.bootstrap4.min.css" rel="stylesheet" />
<link href="../assets/plugins/datatables.net-buttons-bs4/css/buttons.bootstrap4.min.css" rel="stylesheet" />
<link href="../assets/plugins/datatables.net-autofill-bs4/css/autoFill.bootstrap4.min.css" rel="stylesheet" />
<link href="../assets/plugins/datatables.net-colreorder-bs4/css/colReorder.bootstrap4.min.css" rel="stylesheet" />
<link href="../assets/plugins/datatables.net-keytable-bs4/css/keyTable.bootstrap4.min.css" rel="stylesheet" />
<link href="../assets/plugins/datatables.net-rowreorder-bs4/css/rowReorder.bootstrap4.min.css" rel="stylesheet" />
<link href="../assets/plugins/datatables.net-select-bs4/css/select.bootstrap4.min.css" rel="stylesheet" />
<link href="../assets/plugins/switchery/switchery.min.css" rel="stylesheet" />
<link href="../assets/plugins/abpetkov-powerange/dist/powerange.min.css" rel="stylesheet" />


<!-- Styles -->
<style>
  #chartdiv {
    width: 100%;
    height: 500px;
  }
  
</style>
{% endblock %}

{% block content %}
<!-- begin #content -->
		<!-- begin #content -->
		<div id="content" class="content">
			<!-- begin page-header -->
			<h1 class="page-header">제품 통계</h1>
			<!-- end page-header -->
			
			<!-- begin row -->
			<div class="row">
				<!-- begin col-3 -->
				<div class="col-xl-3 col-md-6">
					<div class="widget widget-stats bg-blue">
						<div class="stats-icon"><i class="fa fa-users"></i></div>
						<div class="stats-info">
							<h4>총 구매 업체</h4>
							<p id="p1">{{AllCompany}}</p>	
						</div>
						<div class="stats-link">
							<a href="/device_list">자세히 <i class="fa fa-arrow-alt-circle-right"></i></a>
						</div>
					</div>
				</div>
				<!-- end col-3 -->
				<!-- begin col-3 -->
				<div class="col-xl-3 col-md-6">
					<div class="widget widget-stats bg-info">
						<div class="stats-icon"><i class="fas fa-lg fa-fw m-r-10 fa-microchip"></i></div>
						<div class="stats-info">
							<h4>총 판매 소독기</h4>
							<p id="p2">{{AllDevice}}</p>	
						</div>
						<div class="stats-link">
							<a href="/car_list">자세히 <i class="fa fa-arrow-alt-circle-right"></i></a>
						</div>
					</div>
				</div>
				<!-- end col-3 -->
				<!-- begin col-3 -->
				<div class="col-xl-3 col-md-6">
					<div class="widget widget-stats bg-orange">
						<div class="stats-icon"><i class="fas fa-lg fa-fw m-r-10 fa-car"></i></div>
						<div class="stats-info">
							<h4>총 등록 차량 수</h4>
							<p id="p3">{{AllCar}}</p>	
						</div>
						<div class="stats-link">
							<a href="/compa_list">자세히 <i class="fa fa-arrow-alt-circle-right"></i></a>
						</div>
					</div>
				</div>
				<!-- end col-3 -->
				<!-- begin col-3 -->
				<div class="col-xl-3 col-md-6">
					<div class="widget widget-stats bg-red">
						<div class="stats-icon"><i class="fas fa-lg fa-fw m-r-10 fa-history"></i></div>
						<div class="stats-info">
							<h4>총 판매 소모품 수</h4>
							<p id="p4">하드코딩</p>	
						</div>
						<div class="stats-link">
							<a href="/history_list">자세히 <i class="fa fa-arrow-alt-circle-right"></i></a>
						</div>
					</div>
				</div>
				<!-- end col-3 -->
			</div>
			<!-- end row -->
			<!-- begin row -->
			<div class="row">
				<!-- begin col-6 -->
				<div class="col-xl-6">
				    
				    <!-- begin panel -->
                	<div class="panel panel-inverse">
                		<!-- begin panel-heading -->
                		<div class="panel-heading">
                			<h4 class="panel-title">사용 업종 비율</h4>
                		</div>
                		<!-- end panel-heading -->
                		<!-- begin panel-body -->
                		<div class="panel-body">
                        	<div id="chartdiv" class="height-sm"></div>
                		</div>
                		<!-- end panel-body -->
                	</div>
                	<!-- end panel -->
					

					<!-- end panel -->
				</div>
				<!-- end col-6 -->
				<!-- begin col-6 -->
				<div class="col-xl-6">
				    
				    <!-- begin panel -->
                	<div class="panel panel-inverse">
                		<!-- begin panel-heading -->
                		<div class="panel-heading">
                			<h4 class="panel-title">사용 업체 및 장비 분포율</h4>
                		</div>
                		<!-- end panel-heading -->
                		<!-- begin panel-body -->
                		<div class="panel-body">
                        	<div id="chartdiv" class="height-sm"></div>
                		</div>
                		<!-- end panel-body -->
                	</div>
                	<!-- end panel -->
					

					<!-- end panel -->
				</div>
				<!-- end col-6 -->
			</div>
			<!-- end row -->
		</div>
		<!-- end #content -->
		
<!-- end #content -->
	<!-- error script -->
		
	{% endblock %}


{% block script %}

<script src="/socket.io/socket.io.js"></script>
<script>

  const socket = io.connect('http://52.79.245.187:8008', {
    path: '/socket.io',
    transports: ['websocket'],
  })
  

  
  socket.on('newworker', function (data) {
  	var i,j = 0;
  	var socket_worker_array = [];
  	console.log(data);
    // console.log(data[0]._id);
	// console.log("{{company.CID}}");
	
	for(i = 0; i < data.length; i++) {
		if (data[i].CID == "{{company.CID}}") {
	// console.log(data[i]._id);
	// {{company.CID}} 는 지금 접속한 사람의 CID를 나타냄
		
			socket_worker_array.push(data[i].CID);
		}
	}
	document.getElementById('p3').innerHTML = socket_worker_array.length;
    socket.emit('reply', 'HTML 에서 node로 보내는 메세지(작업자 갱신)');
  });
  
  socket.on('newhistory', function (data) {
  	var i,j = 0;
  	var socket_worker_array = [];
  	console.log(data);
    // console.log(data[0]._id);
	// console.log("{{company.CID}}");
	
	for(i = 0; i < data.length; i++) {
		if (data[i].CID == "{{company.CID}}") {
	// console.log(data[i]._id);
	// {{company.CID}} 는 지금 접속한 사람의 CID를 나타냄
			socket_worker_array.push(data[i].CID);
		}
	}
	document.getElementById('p4').innerHTML = socket_worker_array.length;
    socket.emit('reply', 'HTML 에서 node로 보내는 메세지(히스토리 갱신)');
  });
  
</script>

<script src="https://cdn.amcharts.com/lib/4/core.js"></script>
<script src="https://cdn.amcharts.com/lib/4/charts.js"></script>
<script src="https://cdn.amcharts.com/lib/4/themes/animated.js"></script>

<!-- Chart code -->
<script>
am4core.ready(function() {

// Themes begin
am4core.useTheme(am4themes_animated);
// Themes end

// Create chart instance
var chart = am4core.create("chartdiv", am4charts.PieChart);

	{% for company in companys %}
		chart.data.push({
			CK: {{company.CK}},
			count: {{company.MN}}
		});
	{% endfor %}


// Chart logo remove
chart.logo.disabled = true;

// Add and configure Series
var pieSeries = chart.series.push(new am4charts.PieSeries());
pieSeries.dataFields.value = "count";
pieSeries.dataFields.category = "CK";
pieSeries.slices.template.stroke = am4core.color("#fff");
pieSeries.slices.template.strokeOpacity = 1;

// This creates initial animation
pieSeries.hiddenState.properties.opacity = 1;
pieSeries.hiddenState.properties.endAngle = -90;
pieSeries.hiddenState.properties.startAngle = -90;

chart.hiddenState.properties.radius = am4core.percent(0);


}); // end am4core.ready()
</script>
						
<script src="../assets/plugins/datatables.net/js/jquery.dataTables.min.js"></script>
<script src="../assets/plugins/datatables.net-bs4/js/dataTables.bootstrap4.min.js"></script>
<script src="../assets/plugins/datatables.net-responsive/js/dataTables.responsive.min.js"></script>
<script src="../assets/plugins/datatables.net-responsive-bs4/js/responsive.bootstrap4.min.js"></script>
<script src="../assets/js/demo/dashboard.js"></script>
<script src="../assets/js/demo/table-manage-default.demo.js"></script>

{% endblock %}