<!DOCTYPE html>
<html lang="ko">
<head>
	<meta charset="utf-8" />
	<title>MK Admin | Login Page</title>
	<meta content="width=device-width, initial-scale=1.0, maximum-scale=1.0, user-scalable=no" name="viewport" />
	<meta content="" name="description" />
	<meta content="" name="author" />
	
	<!-- ================== BEGIN BASE CSS STYLE ================== -->
	<link href="https://fonts.googleapis.com/css?family=Open+Sans:300,400,600,700" rel="stylesheet" />
	<link href="../assets/css/default/app.min.css" rel="stylesheet" />
	<!-- ================== END BASE CSS STYLE ================== -->
	
	<link href="../assets/img/favicon.png" rel="icon">
</head>
<body class="pace-top">
	<!-- begin #page-loader -->
	<div id="page-loader" class="fade show">
		<span class="spinner"></span>
	</div>
	<!-- end #page-loader -->
	
	<!-- begin #page-container -->
	<div id="page-container" class="fade">
		<!-- begin login -->
		<div class="login login-v1">
			<!-- begin login-container -->
			<div class="login-container">
				<!-- begin login-header -->
				<div class="login-header">
					<div class="brand">
						<span class="logo"></span> <b>E-mail</b> Certify
					</div>
					<div class="icon">
						<i class="fa fa-lock"></i>
					</div>
				</div>
				<!-- end login-header -->
				<!-- begin login-body -->
				<div class="login-body">
					<!-- begin login-content -->
					<div class="login-content">
						<form action="/email/email_send" method="post" class="margin-bottom-0" >
						    <div style="display:flex;" class="row m-b-15" >
    							<div class="col-md-6 mb-2 " name = "email_send_complete">

    						        <input id="EA" name = "EA" type="text" class="form-control form-control-lg inverse-mode" placeholder="이메일 주소" required
    							    {% if reademailaddress %} value ={{reademailaddress}} readonly {% endif %}/>
    						        
    							</div>
    							
    							<div class="col-md-6">
    							    {% if authNum %}
    							    <span class="btn btn-secondary btn-block btn-lg" >전송 완료</span>
    								{% else %}
    								<button type="submit"  class="btn btn-success btn-block btn-lg"  name = "email_click" >보내기</button>
    								{% endif %} 
    							</div>
    						</div>
    					</form>
    					
    					<form action="/email/email_cert" method="post" class="margin-bottom-0">
							<div style="display:flex;" class="row m-b-15">
    							<div class="col-md-12" style=" padding-bottom : 20px;">
    								<input id="Enum" name = 'Enum' type="password" class="form-control form-control-lg inverse-mode" placeholder="인증 문자 6자리 입력" required />
    							{% if authNum %}<input id='authNum' type="hidden" name = "authNum" value = "{{authNum}}">{% endif %}
    								<input type="hidden" name = "reademailaddress" value = "{{reademailaddress}}">
    							</div>
    							
    							<div class="col-md-12 mb-2">
    								<button type="submit" class="btn btn-success btn-block btn-lg">확인</button> 
    							</div>
									{% if ErrMsg %}
    								<span class="text-danger">{{ErrMsg}}</span>
    								{% endif %}    							
    						</div>
						</form>
						
					</div>
					<span class="text-danger mt-0 mb-2"><div id='demo'></div></span>
					<!-- end login-content -->
				</div>
				<!-- end login-body -->
			</div>
			<!-- end login-container -->
		</div>
		<!-- end login -->
		
		
		<!-- end theme-panel -->
		
		<!-- begin scroll to top btn -->
		<a href="javascript:;" class="btn btn-icon btn-circle btn-success btn-scroll-to-top fade" data-click="scroll-top"><i class="fa fa-angle-up"></i></a>
		<!-- end scroll to top btn -->
	</div>
	<!-- end page container -->
	
	<!-- ================== BEGIN BASE JS ================== -->
	<script src="../assets/js/app.min.js"></script>
	<script src="../assets/js/theme/default.min.js"></script>
	<!-- ================== END BASE JS ================== -->
	 <script>
	 
     </script>
     <script>
        var authNum = document.getElementById("authNum").value;    
	    var TimeSet = 180
	    var sec = "";
	        if(authNum) {
	                var x = setInterval(function(){
	                    sec = (TimeSet)%60
	                    document.getElementById('demo').innerHTML ="남은 시간은 "+ parseInt(TimeSet/60) + "분" + sec + "초입니다.";
	                    TimeSet--;
	                    
	                    if(TimeSet <0){
	                        clearInterval(x);
	                        alert('시간이 초과되었습니다.');
	                        window.open("/email", "_self");
	                    }
	                    
	                },1000)                
	            }
                   
            
            
        window.onload = () => {
            
            
            
            //인증번호 인증이 성공했을 때
            if (new URL(location.href).searchParams.get('success2')) {
                alert('인증이 완료되었습니다.');
                opener.parent.location.replace('./register');
                window.close();
            }
            if (new URL(location.href).searchParams.get('false')) {
                 alert('인증번호가 틀립니다. 다시 시도해 주세요');
            }
          
        	
        }
      </script>
</body>
</html>