<!DOCTYPE html>
<html lang="ko">
<head>
	<meta charset="utf-8" />
	<title>MK Admin | PassWordFind Page</title>
	<meta content="width=device-width, initial-scale=1.0, maximum-scale=1.0, user-scalable=no" name="viewport" />
	<meta content="" name="description" />
	<meta content="" name="author" />
	
	<!-- ================== BEGIN BASE CSS STYLE ================== -->
	<link href="https://fonts.googleapis.com/css?family=Open+Sans:300,400,600,700" rel="stylesheet" />
	<link href="../assets/css/default/app.min.css" rel="stylesheet" />
	<!-- ================== END BASE CSS STYLE ================== -->
	
	<link href="../assets/img/favicon.png" rel="icon">
	
	<style>
		.custombtn {
			width: 30% !important;
		}
	</style>
</head>

<body class="pace-top">
	<!-- begin #page-loader -->
	<div id="page-loader" class="fade show">
		<span class="spinner"></span>
	</div>
	<!-- end #page-loader -->
	
	<!-- begin #page-container -->
	<div id="page-container" class="fade">
		<!-- begin login -->
		<div class="login login-v1">
			<!-- begin login-container -->
			<div class="login-container">
				<!-- begin login-header -->
				<div class="login-header">
					<div class="brand">
						<span class="logo bg-blue"></span> <b>{{__('email')}}</b> {{__('auth')}}
					</div>
					<div class="icon">
						<i class="fa fa-lock"></i>
					</div>
				</div>
				<!-- end login-header -->
				<!-- begin login-body -->
				<div class="login-body">
					<!-- begin login-content -->
					<div class="login-content">
					    <form action="/find/findpw" method="post" class="margin-bottom-0" data-parsley-validate="true">
    					    <!--사업자등록번호-->
    						<label class="control-label">사업자 등록 번호 <span class="text-danger"> *</span></label>
    						<div class="form-group m-b-20" >
    							<div class="d-flex justify-content-between align-items-center mb-2">
    								<input id="CNU" name="CNU" type="text" class="form-control form-control-lg inverse-mode w-70 mr-2" placeholder="사업자등록번호" data-parsley-error-message="필수 입력사항입니다." data-parsley-errors-container="#err-msg1" required/>
    							    <input type="button" class="btn btn-primary btn-block btn-lg w-25" value="확인" onclick="checkCNU();">
    						    </div>
    						    <div id="err-msg1"></div>
    						</div>
    					    <!--이메일 인증-->
    					    <div id="emailbox" class="d-none">
        						<label class="control-label">이메일 인증<span class="text-danger"> *</span> </label>
        						<div class="form-group m-b-20">
        					        <input id="EA" name="EA" type="email" class="form-control form-control-lg inverse-mode" value ="{{email}}" placeholder="이메일" data-parsley-error-message=null required >
        					        <input id="CEA" name="CEA" type="text" class="form-control form-control-lg inverse-model mt-3 d-none" placeholder="인증번호" data-parsley-error-message="필수 입력사항입니다." data-parsley-errors-container="#err-msg2" required >
        						    <div class="d-flex justify-content-between align-items-center mt-2">
        					    		<div id="err-msg2" class="text-realred"></div>
        						    	<input type="button" id="sendBtn" class="btn btn-primary btn-block btn-lg ml-auto custombtn" value="인증번호 전송" onclick="emailSend()">
        						    	<input type="button" id="cerBtn" class="btn btn-primary btn-block btn-lg mt-0 ml-auto custombtn d-none" value="인증번호 확인" onclick="emailCer()">
        						    	<input type="hidden" id="hideCK" name="hideCK" value="">
        						    </div>
        						</div>
        					</div>
        					<div class="login-buttons mt-4">
    							<button type="submit" id="findBtn" class="btn btn-primary btn-block btn-lg d-none">비밀번호 찾기</button>
    						</div>
        				</form>
					</div>
					<!-- end login-content -->
				</div>
				<!-- end login-body -->
			</div>
			<!-- end login-container -->
		</div>
		<!-- end login -->
		
		
		<!-- end theme-panel -->
		
		<!-- begin scroll to top btn -->
		<a href="javascript:;" class="btn btn-icon btn-circle btn-primary btn-scroll-to-top fade" data-click="scroll-top"><i class="fa fa-angle-up"></i></a>
		<!-- end scroll to top btn -->
	</div>
	<!-- end page container -->
	
	<script>
	// 사업자 번호 확인 기능
	function checkCNU() {
	    var CNU = document.getElementsByName('CNU')[0].value;
	    var validateCNU = $('#CNU').parsley();
	    
	    if(validateCNU.isValid() == true) {
            $.ajax({
                type: 'POST',
                url: '/find/checkCNU',
                dataType: 'json',
                data: {
                    CNU: CNU
                },
                success: function(result) {
                    // if (result.status == 'null') {
                    //     alert('사업자번호를 입력해주세요.');
                    // }
                    if (result.status == 'fail') {
                        alert('가입되지 않은 사업자번호입니다.');
                    }
                    else if (result.status == 'success') {
                        document.getElementById('emailbox').classList.remove('d-none');
                        document.getElementsByName('CNU')[0].readOnly = true;
                    }
                }
            });
	    }
        else {
            return alert('사업자 번호를 입력해주세요.');
        }
	}
	
	// 타이머 기능
	var timer;
	var sec = '';
	
	function stopWatch(TimeSet) {
		timer = setInterval(function(){
			sec = (TimeSet)%60;
			document.getElementById('err-msg2').innerHTML ="인증번호 유효시간은 "+ parseInt(TimeSet/60) + "분" + sec + "초입니다." + "<br><a href='javascript:emailSend();' id='resend' class='text-white'><u>인증번호 재전송</u></a>";
			TimeSet--;
			
			if(TimeSet < 0){
				clearTimeout(timer);
				alert('이메일 인증시간이 초과되었습니다.');
				document.getElementsByName('EA')[0].value = null;
				document.getElementsByName('CEA')[0].value = null;
				document.getElementsByName('EA')[0].readOnly = false;
				document.getElementsByName('CEA')[0].readOnly = false;
				document.getElementsByName('hideCK')[0].value = null;
				document.getElementById('CEA').classList.add('d-none');
				document.getElementById('cerBtn').classList.add('d-none');
				document.getElementById('sendBtn').classList.remove('d-none');
				document.getElementById('err-msg2').innerHTML = "인증번호를 다시 받으세요";
			}
	    }, 1000);
	}
	
	// 이메일 전송 기능
	function emailSend() {
	    var CNU = document.getElementsByName('CNU')[0].value;
		var EA = document.getElementsByName('EA')[0].value;
		var validateEA = $('#EA').parsley();
		
		if(validateEA.isValid() == true) {
    		$.ajax({
    			type: 'POST',
    			url: '/find/send',
    			dataType: 'json',
    			data: {
    			    CNU: CNU,
    				EA: EA
    			},
    			success: function(result) {
    				if (result.status == 'wrong') {
    					alert('이메일이 가입된 정보와 다릅니다.');
    				}
    				else if (result.status == 'send') {
    					alert('인증번호가 전송되었습니다.');
    					document.getElementsByName('EA')[0].readOnly = true;
    					document.getElementById('CEA').classList.remove('d-none');
    					document.getElementById('cerBtn').classList.remove('d-none');
    					document.getElementById('sendBtn').classList.add('d-none');
    					
    				clearTimeout(timer);
    				stopWatch(300);
    				}
    			}
    		});
		}
		else {
		    return alert('이메일 형식에 맞게 입력해주세요.');
		}
	}
	
	// 이메일 인증 기능
	function emailCer() {
	    var CNU = document.getElementsByName('CNU')[0].value;
	    var EA = document.getElementsByName('EA')[0].value;
		var CEA = document.getElementsByName('CEA')[0].value;
		var validateCEA = $('#CEA').parsley();
		
		if(validateCEA.isValid() == true) {
			$.ajax({
				type: 'POST',
				url: '/find/cert',
				dataType: 'json',
				data: {
				    CNU: CNU,
				    EA: EA,
					CEA: CEA
				},
				success: function(result) {
					if (result.status == 'success') {
						alert('인증되었습니다.');
						clearTimeout(timer);
						document.getElementsByName('CEA')[0].readOnly = true;
						document.getElementById('err-msg2').innerHTML = '인증되었습니다.';
						document.getElementsByName('hideCK')[0].value = 'true';
						document.getElementById('findBtn').classList.remove('d-none');
					}
					else if (result.status == 'fail') {
						alert('인증번호가 다릅니다.');
						document.getElementsByName('CEA')[0].value = null;
						document.getElementsByName('hideCK')[0].value = null;
					}
				}
			});
		}
		else {
			alert('인증번호를 입력해주세요.');
		}
	}
	</script>
	
	<!-- ================== BEGIN BASE JS ================== -->
	<script src="../assets/js/app.min.js"></script>
	<script src="../assets/js/theme/default.min.js"></script>
	<script src="../assets/plugins/parsleyjs/dist/parsley.min.js"></script>
	<!-- ================== END BASE JS ================== -->
</body>
</html>