<!DOCTYPE html>
<html lang="ko">
<head>
	<meta charset="utf-8" />
	<title>{{__('find_title')}}</title>
	<meta content="width=device-width, initial-scale=1.0, maximum-scale=1.0, user-scalable=no" name="viewport" />
	<meta content="" name="description" />
	<meta content="" name="author" />
	
	<!-- ================== BEGIN BASE CSS STYLE ================== -->
	<link href="https://fonts.googleapis.com/css?family=Open+Sans:300,400,600,700" rel="stylesheet" />
	<link href="../assets/css/default/app.min.css" rel="stylesheet" />
	<!-- ================== END BASE CSS STYLE ================== -->
	<link href="../oasiscss/oasis.css" rel="stylesheet" />
	
	<link href="../assets/img/favicon.png" rel="icon">
</head>

<body class="pace-top">
	<!-- begin #page-loader -->
	<div id="page-loader" class="fade show">
		<span class="spinner"></span>
	</div>
	<!-- end #page-loader -->
	
	<!-- begin #page-container -->
	<div id="page-container" class="fade">
		<!-- begin login -->
		<div class="login login-v1">
			<!-- begin login-container -->
			<div class="login-container">
				<!-- begin login-header -->
				<div class="login-header">
					<div class="brand">
						<span class="logo bg-blue"></span> <b>{{__('findpw')}}</b>
					</div>
					<div class="icon">
						<i class="fa fa-lock"></i>
					</div>
				</div>
				<!-- end login-header -->
				<!-- begin login-body -->
				<div class="login-body">
					<!-- begin login-content -->
					<div class="login-content">
					    <form action="" method="post" class="margin-bottom-0" data-parsley-validate="true" onsubmit="tempPw('CNU','ANA','EA')">
    					    <!--사업자등록번호-->
    						<label class="control-label">{{__('business_number')}}</label>
    						<div class="form-group m-b-20" >
    							<div class="d-flex justify-content-between align-items-center mb-2">
    								<input id="CNU" name="CNU" type="text" class="form-control form-control-lg inverse-mode w-70 mr-2" placeholder="{{__('business_number')}}" data-parsley-error-message="{{__('required_detail')}}" data-parsley-errors-container="#err-msg1" required/>
    							    <input type="button" class="btn btn-primary btn-block btn-lg w-25 cnu-btn" value="{{__('confirm')}}" onclick="checkCNU('CNU');">
    						    </div>
    						    <div id="err-msg1"></div>
    						</div>
    						<!--지점 종류-->
    						<div class="agent-box d-none">
        						<div id="selectBranch" class="form-group m-b-20" >
        							<div class="d-flex justify-content-between align-items-center mb-2">
	    								<select id="ANA" name="ANA" class="form-control form-control-lg inverse-mode text-gray-700 w-70 mr-2 select-agent" data-parsley-error-message="{{__('required_detail')}}" required>
	    								</select>
	    								<input type="button" class="btn btn-primary btn-block btn-lg w-25 agent-btn" value="{{__('confirm')}}" onclick="checkAgent('CNU','ANA');">
        							</div>
        						</div>
        					</div>
    					    <!--이메일 인증-->
    					    <div id="emailbox" class="d-none">
        						<label class="control-label">{{__('email')}} {{__('auth')}}</label>
        						<p id="exEmail" class="text-danger"></p>
        						<div class="form-group m-b-20">
        					        <input id="EA" name="EA" type="email" class="form-control form-control-lg inverse-mode" value ="{{email}}" placeholder="{{__('email')}}" data-parsley-error-message=null required >
        					        <input id="CEA" name="CEA" type="text" class="form-control form-control-lg inverse-model mt-3 d-none" placeholder="{{__('authnum')}}" data-parsley-error-message="{{__('required_detail')}}" data-parsley-errors-container="#err-msg2" required >
        						    <div class="d-flex justify-content-between align-items-center mt-2">
        					    		<div id="err-msg2" class="text-realred"></div>
        						    	<input type="button" id="sendBtn" class="btn btn-primary btn-block btn-lg ml-auto custombtn" value="{{__('send')}}" onclick="emailSend('CNU','ANA','EA')">
        						    	<input type="button" id="cerBtn" class="btn btn-primary btn-block btn-lg mt-0 ml-auto custombtn d-none" value="{{__('confirm')}}" onclick="emailCer('CNU','ANA','EA','CEA')">
        						    	<input type="hidden" id="hideCK" name="hideCK" value="">
        						    </div>
        						</div>
        					</div>
        					<div class="login-buttons mt-4">
    							<button type="submit" id="findBtn" class="btn btn-primary btn-block btn-lg d-none">{{__('findpw')}}</button>
    						</div>
    						<div class="login-buttons">
								<li class="form-control-lg inverse-mode"><a href="/login" >{{__('login')}}</a>   /  <a href="/register" > {{__('signup')}}</a></li>
							</div>
        				</form>
					</div>
					<!-- end login-content -->
				</div>
				<!-- end login-body -->
			</div>
			<!-- end login-container -->
		</div>
		<!-- end login -->
		
		
		<!-- end theme-panel -->
		
		<!-- begin scroll to top btn -->
		<a href="javascript:;" class="btn btn-icon btn-circle btn-primary btn-scroll-to-top fade" data-click="scroll-top"><i class="fa fa-angle-up"></i></a>
		<!-- end scroll to top btn -->
	</div>
	<!-- end page container -->
	
	<!--Begin Script-->
	<script>
		// 본사, 지점 확인
		function checkCNU(companyNumber) {
		    var CNU = document.getElementsByName(companyNumber)[0].value;
		    var validateCNU = $('#'+companyNumber).parsley();
		    
		    if(validateCNU.isValid() == true) {
		    	agentAjax(CNU);
		    }
		    else {
		        return alert("{{__('find_enter')}}");
		    }
		}
		
		// 사업자 번호+지점 확인 기능
		function checkAgent(companyNumber, agentNumber) {
			var CNU = document.getElementsByName(companyNumber)[0].value + document.getElementById(agentNumber).value.split("/")[0];
			
			var validateCNU = $('#'+companyNumber).parsley();
			var validateANA = $('#'+agentNumber).parsley();
			
			if(validateCNU.isValid() == true && validateANA.isValid() == true) {
		    	checkAjax(CNU);
		    }
		    else {
		        return alert("{{__('find_enter2')}}");
		    }
		}
		
		// 이메일 전송 기능
		function emailSend(companyNumber, agentNumber, email) {
		    var CNU = document.getElementsByName(companyNumber)[0].value + document.getElementById(agentNumber).value.split("/")[0];
			var EA = document.getElementsByName(email)[0].value;
			console.log(CNU);
			var validateEA = $('#'+email).parsley();
			
			if(validateEA.isValid() == true) {
				emailSendAjax(CNU,EA);
			}
			else {
			    return alert("{{__('register_email_valid_msg')}}");
			}
		}
		
		// 이메일 인증 기능
		function emailCer(companyNumber, agentNumber, email, cerNum) {
		    var CNU = document.getElementsByName(companyNumber)[0].value + document.getElementById(agentNumber).value.split("/")[0];
		    var EA = document.getElementsByName(email)[0].value;
			var CEA = document.getElementsByName(cerNum)[0].value;
			var validateCEA = $('#'+cerNum).parsley();
			
			if(validateCEA.isValid() == true) {
				emailCerAjax(CNU,EA,CEA);
			}
			else {
				alert("{{__('register_auth_enter')}}");
			}
		}
		
		// i18n 외부 js 사용 정리
		var i18nconvert = function (string) {
	    	if(string == "find_no_register" ) {
	    		return "{{__('find_no_register')}}";
	    	}
	    	else if(string == "register_auth_time" ) {
	    		return "{{__('register_auth_time')}}";
	    	}
	    	else if(string == "register_auth_minute" ) {
	    		return "{{__('register_auth_minute')}}";
	    	}
	    	else if(string == "register_auth_second" ) {
	    		return "{{__('register_auth_second')}}";
	    	}
	    	else if(string == "register_auth_resend" ) {
	    		return "{{__('register_auth_resend')}}";
	    	}
	    	else if(string == "register_auth_timeout" ) {
	    		return "{{__('register_auth_timeout')}}";
	    	}
	    	else if(string == "register_reauth_msg" ) {
	    		return "{{__('register_reauth_msg')}}";
	    	}
	    	else if(string == "find_email_error" ) {
	    		return "{{__('find_email_error')}}";
	    	}
	    	else if(string == "register_auth_com_msg" ) {
	    		return "{{__('register_auth_com_msg')}}";
	    	}
	    	else if(string == "register_auth_success" ) {
	    		return "{{__('register_auth_success')}}";
	    	}
	    	else if(string == "register_auth_fail" ) {
	    		return "{{__('register_auth_fail')}}";
	    	}
	    	else if(string == "register_email_send_fail" ) {
	    		return "{{__('register_email_send_fail')}}";
	    	}
	    	else if(string == "find_pw_fail" ) {
	    		return "{{__('find_pw_fail')}}";
	    	}
	    	else if(string == "login_findpw" ) {
	    		return "{{__('login_findpw')}}";
	    	}
	    	else if(string == "login_again" ) {
	    		return "{{__('login_again')}}";
	    	}
	    	else if(string == "login_findpw2" ) {
	    		return "{{__('login_findpw2')}}";
	    	}
	    	else if(string == "register_branch_agent_guide") {
	    		return "{{__('register_branch_agent_guide')}}";
	    	}
		}
	</script>
	<!--End Script-->
	
	<!-- ================== BEGIN BASE JS ================== -->
	<script src="../assets/js/app.min.js"></script>
	<script src="../assets/js/theme/default.min.js"></script>
	<script src="../assets/plugins/parsleyjs/dist/parsley.min.js"></script>
	<!-- ================== END BASE JS ================== -->
	<script src="../oasisjs/oasis_find.js"></script>
	<script src="../oasisjs/oasis_keyup.js"></script>
</body>
</html>