{% extends 'layout.html' %}

{% block css %}
<link href="../assets/plugins/datatables.net-bs4/css/dataTables.bootstrap4.min.css" rel="stylesheet" />
<link href="../assets/plugins/datatables.net-responsive-bs4/css/responsive.bootstrap4.min.css" rel="stylesheet" />
<link href="../assets/plugins/datatables.net-buttons-bs4/css/buttons.bootstrap4.min.css" rel="stylesheet" />
<link href="../assets/plugins/datatables.net-autofill-bs4/css/autoFill.bootstrap4.min.css" rel="stylesheet" />
<link href="../assets/plugins/datatables.net-colreorder-bs4/css/colReorder.bootstrap4.min.css" rel="stylesheet" />
<link href="../assets/plugins/datatables.net-keytable-bs4/css/keyTable.bootstrap4.min.css" rel="stylesheet" />
<link href="../assets/plugins/datatables.net-rowreorder-bs4/css/rowReorder.bootstrap4.min.css" rel="stylesheet" />
<link href="../assets/plugins/datatables.net-select-bs4/css/select.bootstrap4.min.css" rel="stylesheet" />

<!-- Styles -->
<style>
  #chartdiv {
    width: 100%;
    height: 500px;
  }
  
  </style>
{% endblock %}

{% block content %}
<!-- begin #content -->
<div id="content" class="content">
	<!-- begin page-header -->
	<h1 class="page-header">소독 정보</h1>
	<!-- end page-header -->
	<!-- begin panel -->
	<div class="panel panel-inverse">
		<!-- begin panel-heading -->
		<div class="panel-heading">
			<h4 class="panel-title">그래프</h4>
		</div>
		<!-- end panel-heading -->
		<!-- begin panel-body -->
  		<div class="panel-body">
  		  {% if history_array %}
  			<div id="chartdiv" class="height-sm"></div>
  			{% else %}
  			
  			{% endif %}
  			  
		 </div>
		<!-- end panel-body -->
	  	<!-- begin panel-body -->
		<div class="panel-body">
			<!-- begin table-responsive -->
			<div class="table-responsive">
				<table class="table m-b-0 text-center">
					<thead>
						<tr class="bg-grey">
							<th width="15%">업체명</th>
							<th width="20%">차량번호</th>
							<th width="20%">장비모델</th>
							<th width="20%">작업자</th>
							<th width="25%">소독일시</th>
						</tr>
					</thead>
					<tbody>
						<tr class="bg-light">
							<td>{{companyone.CNA}}</td>
							<td>{{carone.CN}}</td>
							<td>{{deviceone.MD}}</td>
							<td>{{workerone.WN}}</td>
							<td>{{moment(historyone.ET).format('YYYY-MM-DD hh:mm:ss')}}</td>
						</tr>
					</tbody>
				</table>
			</div>
			<!-- end table-responsive -->
		</div>
		<!-- end panel-body -->
	  <!-- begin panel-body -->
		<div class="panel-body">
			<!-- begin table-responsive -->
			<div class="table-responsive">
				<table class="table m-b-0 text-center">
					<thead>
						<tr class="bg-grey">
							<th width="15%">소독시간</th>
							<th width="20%">최고농도</th>
							<th width="20%">최종농도</th>
							<th width="20%">소독결과</th>
							<th width="25%">등록일시</th>
						</tr>
					</thead>
					<tbody>
						<tr class="bg-light">
			              <td>{{historyone.PD.length+"s"}}</td>
			              <td>{{historyone.MP}}</td>
			              <td>{{historyone.FP}}</td>
			              <td>{{historyone.RC}}</td>
			              <td>{{moment(historyone.CA).format('YYYY-MM-DD hh:mm:ss')}}</td>
						</tr>
					</tbody>
				</table>
			</div>
			<!-- end table-responsive -->
		</div>
		<!-- end panel-body -->
	</div>
	<!-- end panel -->
</div>
<!-- end #content -->
{% endblock %}

{% block script %}
 <!-- Resources -->
  <script src="https://cdn.amcharts.com/lib/4/core.js"></script>
  <script src="https://cdn.amcharts.com/lib/4/charts.js"></script>
  <script src="https://cdn.amcharts.com/lib/4/themes/animated.js"></script>
  
  <!-- Chart code -->
<script>
  am4core.ready(function() {
  
  // Themes begin
  am4core.useTheme(am4themes_animated);
  // Themes end
  
  // Create chart instance
  var chart = am4core.create("chartdiv", am4charts.XYChart);
  
  //이것은 차트에 mongodb 연동하는 부분
    {% set ss = 1 %}

	  {% for item in history_array %}
	  
	  chart.data.push({
        ss: {{ss}},
        ppm: {{item}}
      });
            
    {% set ss = ss + 1 %}
		  
	  {% endfor %}
  
  // Set input format for the dates
  chart.logo.disabled = true;
  chart.numberFormatter.numberFormat = "#";
  
  // Create axes
  var ssAxis = chart.xAxes.push(new am4charts.ValueAxis());
  var ppmAxis = chart.yAxes.push(new am4charts.ValueAxis());
  
  // Create series
  var series = chart.series.push(new am4charts.LineSeries());
  series.dataFields.valueY = "ppm";
  series.dataFields.valueX = "ss";
  series.tooltipText = "{ppm}"
  series.strokeWidth = 2;
  series.minBulletDistance = 15;
  
  // Drop-shaped tooltips 이것은 마우스를 올렸을 때 말풍선이 나오는 것이여
  series.tooltip.background.cornerRadius = 20;
  series.tooltip.background.strokeOpacity = 0;
  series.tooltip.pointerOrientation = "vertical";
  series.tooltip.label.minWidth = 40;
  series.tooltip.label.minHeight = 40;
  series.tooltip.label.textAlign = "middle";
  series.tooltip.label.textValign = "middle";
  
  // Make bullets grow on hover 이것은 각 점들의 크기
  var bullet = series.bullets.push(new am4charts.CircleBullet());
  bullet.circle.strokeWidth = 2;
  bullet.circle.radius = 4;
  bullet.circle.fill = am4core.color("#fff");
  
  var bullethover = bullet.states.create("hover");
  bullethover.properties.scale = 1.3;
  
  // Make a panning cursor 이것은 마우스 올렸을 때 점선이여
  chart.cursor = new am4charts.XYCursor();
  chart.cursor.behavior = "panXY";
  chart.cursor.xAxis = ssAxis;
  chart.cursor.snapToSeries = series;
  
  ssAxis.start = 0;
  ssAxis.keepSelection = true;
  
  
  }); // end am4core.ready()
</script>

<script src="../assets/plugins/datatables.net/js/jquery.dataTables.min.js"></script>
<script src="../assets/plugins/datatables.net-bs4/js/dataTables.bootstrap4.min.js"></script>
<script src="../assets/plugins/datatables.net-responsive/js/dataTables.responsive.min.js"></script>
<script src="../assets/plugins/datatables.net-responsive-bs4/js/responsive.bootstrap4.min.js"></script>
<script src="../assets/js/demo/table-manage-default.demo.js"></script>
{% endblock %}