{% extends 'layout.html' %}

{% block css %}
<link href="../assets/plugins/datatables.net-bs4/css/dataTables.bootstrap4.min.css" rel="stylesheet" />
<link href="../assets/plugins/datatables.net-responsive-bs4/css/responsive.bootstrap4.min.css" rel="stylesheet" />
<link href="../assets/plugins/datatables.net-buttons-bs4/css/buttons.bootstrap4.min.css" rel="stylesheet" />
<link href="../assets/plugins/datatables.net-autofill-bs4/css/autoFill.bootstrap4.min.css" rel="stylesheet" />
<link href="../assets/plugins/datatables.net-colreorder-bs4/css/colReorder.bootstrap4.min.css" rel="stylesheet" />
<link href="../assets/plugins/datatables.net-keytable-bs4/css/keyTable.bootstrap4.min.css" rel="stylesheet" />
<link href="../assets/plugins/datatables.net-rowreorder-bs4/css/rowReorder.bootstrap4.min.css" rel="stylesheet" />
<link href="../assets/plugins/datatables.net-select-bs4/css/select.bootstrap4.min.css" rel="stylesheet" />
{% endblock %}

{% block content %}
<!-- begin #content -->
<div id="content" class="content">
	<!-- begin page-header -->
	<h1 class="page-header">{{__('history')}}</h1>
	<!-- end page-header -->
	<!-- begin panel -->
	<div class="panel panel-inverse">
		<!-- begin panel-heading -->
		<div class="panel-heading">
			<h4 class="panel-title">{{__('history_record')}}</h4>
		</div>
		<!-- end panel-heading -->
		<!-- begin panel-body -->
		<div class="panel-body">
			<center>
	            <div class="btn-group m-b-5 mx-3">
	               <a href="/history_list" class="btn btn-primary text-white px-4">{{__('all')}}</a>
	            </div>
	            <div class="btn-group m-b-5 mx-3">
	               <a href="javascript:;" class="btn btn-primary text-white px-5">{{__('car')}}</a>
	               <a href="#" data-toggle="dropdown" class="btn btn-primary dropdown-toggle text-white"><b class="caret"></b></a>
	               <div class="dropdown-menu dropdown-menu-right">
	                  {% for car in cars %}
	                  <a href="/history_list/?CN={{car.CN}}" class="dropdown-item">{{car.CN}}</a>
	                  <!--/history_CN_select/{{car.CN}}-->
	                  {% endfor %}
	               </div>
	            </div>
	            <div class="btn-group m-b-5 mx-3">
	               <a href="javascript:;" class="btn btn-primary text-white px-5">{{__('device')}}</a>
	               <a href="#" data-toggle="dropdown" class="btn btn-primary dropdown-toggle text-white"><b class="caret"></b></a>
	               <div class="dropdown-menu dropdown-menu-right">
	                  {% for device in devices %}
	                  <a href="/history_list/?MD={{device.MD}}" class="dropdown-item">{{device.MD}}</a>
	                  <!--/history_MD_select/{{device.MD}}-->
	                  {% endfor %}
	               </div>
	            </div>
			</center>
         
 	       <div class="mt-2 mb-2 d-flex justify-content-end align-items-center">
	        	<div class="mr-2">{{__('search')}} : </div>
				<div><input type="text" id="CNkeyword" class="form-control" placeholder ="{{__('car_number')}}" /></div>
				<div><button class="ml-2 btn btn-primary text-white px-1" onclick="searchbutton()"><i class="mx-1 fas fa-lg fa-fw fa-search align-items-center"></i></button></div>
			</div>

			<div class="overflow-auto">
				<form action="/history/history_select_delete" method="post">
					<table id="data-table-combine" class="table table-striped table-bordered table-td-valign-middle text-center">
						<thead>
							<tr>
								<th width="1%">
									<input type="checkbox" class="neHeros" value="" onChange="allCheckedBox(this);"/>
								</th>
								<th width="2.5%"></th>
								<th class="text-nowrap">{{__('car_number')}}</th>
								<th class="text-nowrap">{{__('device_model')}}</th>
							    <th class="text-nowrap">{{__('history_date')}}</th>
								<th class="text-nowrap">{{__('register_date')}}</th>
								<th class="text-nowrap">{{__('history_time')}}</th>
								<th class="text-nowrap">{{__('history_result')}}</th>
								<th class="text-nowrap">{{__('worker')}}</th>
								<th width="1%"></th>
							</tr>
						</thead>
						<tbody>
							{% if (totalNum == 0) %}
							<tr>
								<td colspan="10">No Data</td>
							</tr>
							{% else %}
							    
							    {% set count = 0 %}
							    
								{% for history in historylist %}
									<tr onClick="location.href='/history_chart/{{history._id}}'" class="odd gradeX">
				  						<td onclick='event.cancelBubble=true;' class="with-btn" nowrap>
				 							<input id="ck" type="checkbox" name = "_id" class="neHeros" value={{history._id}} onChange="eachCheckedBox(this);"/>
				  						</td>
				  						<td class="font-weight-bold">{{totalNum - count - (currentPage*10)}} </td>
				  						{% set totalNum = totalNum - 1 %}
										<td>
										     	{% if history.CNM %}
												  <a href="/history_list/?CN={{history.CNM}}" class="dropdown-item">{{history.CNM}}</a>
												{% else %}
												  	N/A
												{% endif %}
										</td>
										
										<td>
												{% if history.DNM %}
												  	{{history.DNM}}
												{% else %}
												  	N/A
												{% endif %}
										</td>
										
										<td>
											<script>
											Timefunction("{{history.ET}}");
											</script>
										</td>
										<td>
											<script>
											Timefunction("{{history.CA}}");
											</script>
										</td>
										{% if (history.PD.length//60)==0  %}
										<td>{{history.PD.length%60+"s"}}</td>
										{% else %}
										<td>{{history.PD.length//60+"m "+history.PD.length%60+"s"}}</td>
										{% endif %}
										
										{% if history.RC == 1 %}
										<td>{{__('success')}}</td>
										{% else %}
										<td>{{__('failed')}}</td>
										{% endif %}
										<td>
									    	{% if history.WNM %}
											  	{{history.WNM}}
											{% else %}
											  	N/A
											{% endif %}
										</td>
				  						<td>
				  							<a href="javascript:delete_one('{{history._id}}')" class="btn btn-sm btn-white width-60">{{__('delete')}}</a>
				  						</td>
									</tr>
								{% endfor %}
								
								
							{% endif %}
						</tbody>
					</table>
					<div class="d-flex justify-content-between align-item-center">
						<input class="btn btn-primary" type='button' value="{{__('delete_selection')}}" onclick="return delete_check(this.form);">
						
						<div class="d-flex justify-content-around align-item-center">
							<a href="javascript:pageDoubleBtn('left')" class="btn btn-primary mr-1 px-2"><i class="fas fa-angle-double-left"></i></a>
							<a href="javascript:pageBtn('left')" class="btn btn-primary mr-1 px-2"><i class="fas fa-angle-left"></i></a>
							{% if (totalNum==0) %}
							{% else %}
								{% for i in range(startPage, endPage) %}
								<a href="/history_list/?CN={{carone.CN}}&MD={{deviceone.MD}}&page={{i}}" class="btn btn-white mr-1 px-2 text-primary" style="{% if(currentPage==i} %} background-color: #00acac; color: white !important; {% endif %} ">{{i+1}}</a>
								{% endfor %}
							{% endif %}
							<a href="javascript:pageBtn('right')" class="btn btn-primary mr-1 px-2"><i class="fas fa-angle-right"></i></a>
							<a href="javascript:pageDoubleBtn('right')" class="btn btn-primary mr-1 px-2"><i class="fas fa-angle-double-right"></i></a>
						</div>
					</div>
				</form>
			</div>
		</div>
		<!-- end panel-body -->
	</div>
	<!-- end panel -->
</div>
<!-- end #content -->

<!--Script-->
    <script src="http://code.jquery.com/jquery-1.10.2.js"></script>
	<script>
		// 검색 기능
		$(document).ready(function() {
	        $("#keyword").keyup(function() {
	            var k = $(this).val();
	            $("#data-table-combine > tbody > tr").hide();
	            var temp = $("#data-table-combine > tbody > tr > td:contains('" + k + "')");
	
	            $(temp).parent().show();
	        })
	    })
	    
		function searchbutton() {
			const keyword = document.getElementById('CNkeyword').value;
			location = '/history_list/?CN=' + keyword;
		}
		
		// 페이지 기능
		function pageBtn(dir) {
			if(dir == 'left') {
				location = '/history_list/?CN={{carone.CN}}&MD={{deviceone.MD}}&page={{currentPage-1}}';
			}
			if(dir == 'right') {
				location = '/history_list/?CN={{carone.CN}}&MD={{deviceone.MD}}&page={{currentPage+1}}';
			}
		}
		
		function pageDoubleBtn(dir) {
			if(dir == 'left') {
				location = '/history_list/?CN={{carone.CN}}&MD={{deviceone.MD}}&page={{startPage-1}}';
			}
			if(dir == 'right') {
				location = '/history_list/?CN={{carone.CN}}&MD={{deviceone.MD}}&page={{endPage}}';
			}
		}
		
		// 일반 삭제 기능
		function delete_one(_id) {
			var answer;
			var idc = _id;
			//페이지를 이동하기 전에 confirm()을 사용해 다시 한번 확인한다.
			//확인을 선택하면 answer에  true, 취소를 선택하면 false 값이 들어간다.
			answer = confirm("{{__('delete_confirm')}}");
			//확인을 선택한 경우 자바스크립트를 호출할 때 같이 넘어온 url이라는 변수에 들어있는 주소로 페이지 이동
			if(answer == true){
				location = '/history/history_delete/' + idc;
			}
			else {
				location = '/history_list';
			}
		}
		
		// 선택항목 삭제 기능
		function delete_check(frm) {
			var answer;
			answer = confirm("{{__('delete_confirm')}}");
			if(answer == true){
				frm.action='/history/history_select_delete/'; frm.submit(); return true;
			}
			else {
				location = '/history_list';
			}
		}

		// 전체 선택 기능
		function allCheckedBox(obj) {
		   	// @brief 선택한 체크박스의 클래스 명칭을 가져온다.
		   	const termClass = obj.getAttribute("class");
		   	// @brief 선택한 클래스명과 같은 클래스의 갯수
		   	console.log(document.getElementsByClassName(termClass).length);
		   	Array.prototype.forEach.call(document.getElementsByClassName(termClass), function(element, index, array) {
		        // @brief 엘리먼트의 값 출력
		        console.log(element.value);
		        // @brief 선택한 클래스의 첫번째 checkbox의 상태가 체크가 되있는 경우
		        if(document.getElementsByClassName(termClass)[0].checked == true) {
		            // @brief 같은 클래스명을 가진 모든 checkbox의 상태를 선택 완료 처리 한다.
		            element.checked = true;
		        }
		        // @brief 선택한 클래스의 첫번째 checkbox의 상태가 체크가 해제된 경우
		        else {
		            // @brief 같은 클래스명을 가진 모든 checkbox의 상태를 선택 해제 처리 한다.
		            element.checked = false;
		        }
		   	});
	    }
    
    	// 항목 선택 기능
		function eachCheckedBox(obj) {
	      // @brief 선택한 체크박스의 상태가 선택해제인 경우
	      if(obj.checked == false) {
	            // @brief 선택한 체크박스의 클래스 명칭을 가져온다.
	            const termClass = obj.getAttribute("class");
	            // @brief 첫번째 checkbox의 상태가 체크가 되어있는경우
	            if(document.getElementsByClassName(termClass)[0].checked == true) {
	                // @brief 첫번째 checkbox의 상태를 체크해제한다.
	                document.getElementsByClassName(termClass)[0].checked = false;
	            }
	        }
	    }
	    
	    // 에러 링크 기능
		window.onload = () => {
			if (new URL(location.href).searchParams.get('null')) {
				alert("{{__('choice_error')}}");
			}
		}
 </script>


{% endblock %}

{% block script %}
<script src="../assets/plugins/datatables.net/js/jquery.dataTables.min.js"></script>
<script src="../assets/plugins/datatables.net-bs4/js/dataTables.bootstrap4.min.js"></script>
<script src="../assets/plugins/datatables.net-responsive/js/dataTables.responsive.min.js"></script>
<script src="../assets/plugins/datatables.net-responsive-bs4/js/responsive.bootstrap4.min.js"></script>
<!--<script src="../assets/js/demo/table-manage-default.demo.js"></script>-->
{% endblock %}