{% extends 'layout.html' %}

{% block css %}
<link href="../assets/plugins/datatables.net-bs4/css/dataTables.bootstrap4.min.css" rel="stylesheet" />
<link href="../assets/plugins/datatables.net-responsive-bs4/css/responsive.bootstrap4.min.css" rel="stylesheet" />
<link href="../assets/plugins/datatables.net-buttons-bs4/css/buttons.bootstrap4.min.css" rel="stylesheet" />
<link href="../assets/plugins/datatables.net-autofill-bs4/css/autoFill.bootstrap4.min.css" rel="stylesheet" />
<link href="../assets/plugins/datatables.net-colreorder-bs4/css/colReorder.bootstrap4.min.css" rel="stylesheet" />
<link href="../assets/plugins/datatables.net-keytable-bs4/css/keyTable.bootstrap4.min.css" rel="stylesheet" />
<link href="../assets/plugins/datatables.net-rowreorder-bs4/css/rowReorder.bootstrap4.min.css" rel="stylesheet" />
<link href="../assets/plugins/datatables.net-select-bs4/css/select.bootstrap4.min.css" rel="stylesheet" />
<link href="../assets/plugins/switchery/switchery.min.css" rel="stylesheet" />
<link href="../assets/plugins/abpetkov-powerange/dist/powerange.min.css" rel="stylesheet" />


<!-- Styles -->
<style>
  #chartdiv {
    width: 100%;
    height: 500px;
  }
  
  </style>
{% endblock %}

{% block content %}
<!-- begin #content -->
		<!-- begin #content -->
		<div id="content" class="content">
			<!-- begin page-header -->
			<h1 class="page-header">대쉬보드</h1>
			<!-- end page-header -->
			
			<!-- begin row -->
			<div class="row">
				
				<!-- begin col-3 -->
				<div class="col-xl-4 col-md-6">
					<div class="widget widget-stats bg-red">
						<div class="stats-icon"><i class="fas fa-lg fa-fw m-r-10 fa-history"></i></div>
						<div class="stats-info">
							<h4>총 소독이력 수</h4>
							<p id="p4">{{AllHistory}}</p>	
						</div>
						<div class="stats-link">
							<a href="/history_list">자세히 <i class="fa fa-arrow-alt-circle-right"></i></a>
						</div>
					</div>
				</div>
				<!-- end col-3 -->
				<!-- begin col-3 -->
				<div class="col-xl-4 col-md-6">
					<div class="widget widget-stats bg-blue">
						<div class="stats-icon"><i class="fas fa-lg fa-fw m-r-10 fa-microchip"></i></div>
						<div class="stats-info">
							<h4>총 등록된 소독기</h4>
							<p id="p1">{{AllDevice}}</p>	
						</div>
						<div class="stats-link">
							<a href="/device_list">자세히 <i class="fa fa-arrow-alt-circle-right"></i></a>
						</div>
					</div>
				</div>
				<!-- end col-3 -->
				<!-- begin col-3 -->
				<div class="col-xl-4 col-md-6">
					<div class="widget widget-stats bg-info">
						<div class="stats-icon"><i class="fas fa-lg fa-fw m-r-10 fa-car"></i></div>
						<div class="stats-info">
							<h4>총 등록된 자동차</h4>
							<p id="p2">{{AllCar}}</p>	
						</div>
						<div class="stats-link">
							<a href="/car_list">자세히 <i class="fa fa-arrow-alt-circle-right"></i></a>
						</div>
					</div>
				</div>
				<!-- end col-3 -->

			</div>
			<!-- end row -->
			<!-- begin row -->
			<div class="row">
				
				<!-- begin col-12 -->
				<div class="col-xl-12">
				    <!-- begin panel -->
                	<div class="panel panel-inverse">
                		<!-- begin panel-heading -->
                		<div class="panel-heading">
                			<h4 class="panel-title">최근 소독횟수(일, 월)</h4>
                		</div>
                		<!-- end panel-heading -->
                		
                		<!-- begin panel-body -->
                		<div class="panel-body">
                				<h3>최근 공정데이터가 없습니다.</h3>
                		</div>
                		<!-- end panel-body -->
                	</div>
                	<!-- end panel -->
				</div>
				<!-- end col-12 -->
				
				<!-- begin col-12 -->
				<div class="col-xl-12">
				    <!-- begin panel -->
                	<div class="panel panel-inverse">
                		<!-- begin panel-heading -->
                		<div class="panel-heading">
                			<h4 class="panel-title">시간대 평균 소독수</h4>
                		</div>
                		<!-- end panel-heading -->
                		
                		<!-- begin panel-body -->
                		<div class="panel-body">
                				<h3>최근 공정데이터가 없습니다.</h3>
                		</div>
                		<!-- end panel-body -->
                	</div>
                	<!-- end panel -->
				</div>
				<!-- end col-12 -->
				
				<!-- begin col-12 -->
				<div class="col-xl-12">
				    <!-- begin panel -->
                	<div class="panel panel-inverse">
                		<!-- begin panel-heading -->
                		<div class="panel-heading">
                			<h4 class="panel-title">요일별 평균 소독수</h4>
                		</div>
                		<!-- end panel-heading -->
                		
                		<!-- begin panel-body -->
                		<div class="panel-body">
                				<h3>최근 공정데이터가 없습니다.</h3>
                		</div>
                		<!-- end panel-body -->
                	</div>
                	<!-- end panel -->
				</div>
				<!-- end col-12 -->
				
				<!-- begin col-12 -->
				<div class="col-xl-12">
				    <!-- begin panel -->
                	<div class="panel panel-inverse">
                		<!-- begin panel-heading -->
                		<div class="panel-heading">
                			<h4 class="panel-title">Car class 별 평균 소독시간</h4>
                		</div>
                		<!-- end panel-heading -->
                		
                		<!-- begin panel-body -->
                		<div class="panel-body">
                				<h3>최근 공정데이터가 없습니다.</h3>
                		</div>
                		<!-- end panel-body -->
                	</div>
                	<!-- end panel -->
				</div>
				<!-- end col-12 -->
				
				<!-- begin col-12 -->
				<div class="col-xl-12">
				    <!-- begin panel -->
                	<div class="panel panel-inverse">
                		<!-- begin panel-heading -->
                		<div class="panel-heading">
                			<h4 class="panel-title">전체 소독 결과 평균</h4>
                		</div>
                		<!-- end panel-heading -->
                		
                		<!-- begin panel-body -->
                		<div class="panel-body">
                				<h3>최근 공정데이터가 없습니다.</h3>
                		</div>
                		<!-- end panel-body -->
                	</div>
                	<!-- end panel -->
				</div>
				<!-- end col-12 -->
				
				
			</div>
			<!-- end row -->
		</div>
		<!-- end #content -->
		
<!-- end #content -->
	<!-- error script -->
		
	{% endblock %}


{% block script %}

<script src="/socket.io/socket.io.js"></script>
<script>

  const socket = io.connect('http://52.79.245.187:8008', {
    path: '/socket.io',
    transports: ['websocket'],
  })
  

  
  socket.on('newworker', function (data) {
  	var i,j = 0;
  	var socket_worker_array = [];
  	console.log(data);
    // console.log(data[0]._id);
	// console.log("{{company.CID}}");
	
	for(i = 0; i < data.length; i++) {
		if (data[i].CID == "{{company.CID}}") {
	// console.log(data[i]._id);
	// {{company.CID}} 는 지금 접속한 사람의 CID를 나타냄
		
			socket_worker_array.push(data[i].CID);
		}
	}
	document.getElementById('p3').innerHTML = socket_worker_array.length;
    socket.emit('reply', 'HTML 에서 node로 보내는 메세지(작업자 갱신)');
  });
  
  socket.on('newhistory', function (data) {
  	var i,j = 0;
  	var socket_worker_array = [];
  	console.log(data);
    // console.log(data[0]._id);
	// console.log("{{company.CID}}");
	
	for(i = 0; i < data.length; i++) {
		if (data[i].CID == "{{company.CID}}") {
	// console.log(data[i]._id);
	// {{company.CID}} 는 지금 접속한 사람의 CID를 나타냄
			socket_worker_array.push(data[i].CID);
		}
	}
	document.getElementById('p4').innerHTML = socket_worker_array.length;
    socket.emit('reply', 'HTML 에서 node로 보내는 메세지(히스토리 갱신)');
  });
  
</script>

<script src="https://cdn.amcharts.com/lib/4/core.js"></script>
<script src="https://cdn.amcharts.com/lib/4/charts.js"></script>
<script src="https://cdn.amcharts.com/lib/4/themes/animated.js"></script>

<script>

am4core.ready(function() {

// Themes begin
am4core.useTheme(am4themes_animated);
// Themes end

// Create chart instance
var chart = am4core.create("chartdiv", am4charts.XYChart);
//var BarchartFirst = am4core.create("first week", am4charts.XYChart);
//이것은 차트에 mongodb 연동하는 부분
    {% set ss = 1 %}

		  {% for item in recent_history %}
		  
    		  chart.data.push({
                ss: {{ss}},
                ppm: {{item}}
              });
            
            {% set ss = ss + 1 %}
		  
		  {% endfor %}

// Set input format for the dates
chart.logo.disabled = true;
chart.numberFormatter.numberFormat = "#";
// Create axes
var ssAxis = chart.xAxes.push(new am4charts.ValueAxis());
var ppmAxis = chart.yAxes.push(new am4charts.ValueAxis());

// Create series
var series = chart.series.push(new am4charts.LineSeries());
series.dataFields.valueY = "ppm";
series.dataFields.valueX = "ss";
series.tooltipText = "{ppm}"
series.strokeWidth = 2;
series.minBulletDistance = 15;

// Drop-shaped tooltips 이것은 마우스를 올렸을 때 말풍선이 나오는 것이여
series.tooltip.background.cornerRadius = 20;
series.tooltip.background.strokeOpacity = 0;
series.tooltip.pointerOrientation = "vertical";
series.tooltip.label.minWidth = 40;
series.tooltip.label.minHeight = 40;
series.tooltip.label.textAlign = "middle";
series.tooltip.label.textValign = "middle";

// Make bullets grow on hover 이것은 각 점들의 크기
var bullet = series.bullets.push(new am4charts.CircleBullet());
bullet.circle.strokeWidth = 2;
bullet.circle.radius = 4;
bullet.circle.fill = am4core.color("#fff");

var bullethover = bullet.states.create("hover");
bullethover.properties.scale = 1.3;

// Make a panning cursor 이것은 마우스 올렸을 때 점선이여
chart.cursor = new am4charts.XYCursor();
chart.cursor.behavior = "panXY";
chart.cursor.xAxis = ssAxis;
chart.cursor.snapToSeries = series;

ssAxis.start = 0;
ssAxis.keepSelection = true;


});// end am4core.ready()





/**
 * ---------------------------------------
 * This demo was created using amCharts 4.
 *
 * For more information visit:
 * https://www.amcharts.com/
 *
 * Documentation is available at:
 * https://www.amcharts.com/docs/v4/
 * ---------------------------------------
 */

var data = {
  "week1": [{
   "category": "1일 전",
    "value": {{history_count[0]}},
    "color" : "#5AD2FF"
  }, {
    "category":"2일 전",
    "value": {{history_count[1]}},
    "color" : "#50C8FF"
  }, {
    "category":"3일 전",
    "value": {{history_count[2]}},
    "color" : "#46BEFF"
  },
  {
    "category":"4일 전",
    "value": {{history_count[3]}},
    "color" : "#3CB4FF"
  },{
    "category":"5일 전",
    "value": {{history_count[4]}},
    "color" : "#32AAFF"
  },{
    "category":"6일 전",
    "value": {{history_count[5]}},
    "color" : "#28A0FF"
  },{
   "category": "7일 전",
    "value": {{history_count[6]}},
    "color" : "#1E96FF"
  }],
}


// Create chart instance
var chart = am4core.create("first week", am4charts.XYChart);

// Add data
chart.data = data.week1;
chart.logo.disabled = true;
var categoryAxis = chart.xAxes.push(new am4charts.CategoryAxis());
categoryAxis.dataFields.category = "category";
categoryAxis.renderer.grid.template.location = 0;

var valueAxis = chart.yAxes.push(new am4charts.ValueAxis());

// Create series
var series = chart.series.push(new am4charts.ColumnSeries());
series.dataFields.valueY = "value";
series.dataFields.categoryX = "category";
series.columns.template.propertyFields.fill = "color";
series.columns.template.propertyFields.stroke = "color";
series.tooltip.background.cornerRadius = 20;
series.tooltip.background.strokeOpacity = 0;
series.tooltip.pointerOrientation = "vertical";
series.tooltip.label.minWidth = 40;
series.tooltip.label.minHeight = 40;
series.tooltip.label.textAlign = "middle";
series.tooltip.label.textValign = "middle";

categoryAxis.renderer.minGridDistance = 30;
 // end am4core.ready()
</script>
						
<script src="../assets/plugins/datatables.net/js/jquery.dataTables.min.js"></script>
<script src="../assets/plugins/datatables.net-bs4/js/dataTables.bootstrap4.min.js"></script>
<script src="../assets/plugins/datatables.net-responsive/js/dataTables.responsive.min.js"></script>
<script src="../assets/plugins/datatables.net-responsive-bs4/js/responsive.bootstrap4.min.js"></script>
<script src="../assets/plugins/datatables.net-colreorder/js/dataTables.colReorder.min.js"></script>
<script src="../assets/plugins/datatables.net-colreorder-bs4/js/colReorder.bootstrap4.min.js"></script>
<script src="../assets/plugins/datatables.net-keytable/js/dataTables.keyTable.min.js"></script>
<script src="../assets/plugins/datatables.net-keytable-bs4/js/keyTable.bootstrap4.min.js"></script>
<script src="../assets/plugins/datatables.net-rowreorder/js/dataTables.rowReorder.min.js"></script>
<script src="../assets/plugins/datatables.net-rowreorder-bs4/js/rowReorder.bootstrap4.min.js"></script>
<script src="../assets/plugins/datatables.net-buttons/js/dataTables.buttons.min.js"></script>
<script src="../assets/plugins/datatables.net-buttons-bs4/js/buttons.bootstrap4.min.js"></script>
<script src="../assets/plugins/datatables.net-buttons/js/buttons.colVis.min.js"></script>
<script src="../assets/plugins/datatables.net-buttons/js/buttons.flash.min.js"></script>
<script src="../assets/plugins/datatables.net-buttons/js/buttons.html5.min.js"></script>
<script src="../assets/plugins/datatables.net-buttons/js/buttons.print.min.js"></script>
<script src="../assets/plugins/pdfmake/build/pdfmake.min.js"></script>
<script src="../assets/plugins/pdfmake/build/vfs_fonts.js"></script>
<script src="../assets/plugins/jszip/dist/jszip.min.js"></script>
<script src="../assets/js/demo/table-manage-combine.demo.js"></script>
<script src="../assets/plugins/switchery/switchery.min.js"></script>
<script src="../assets/plugins/abpetkov-powerange/dist/powerange.min.js"></script>
<script src="../assets/js/demo/form-slider-switcher.demo.js"></script>
<script src="../assets/plugins/flot/source/jquery.canvaswrapper.js"></script>
<script src="../assets/plugins/flot/source/jquery.colorhelpers.js"></script>
<script src="../assets/plugins/flot/source/jquery.flot.js"></script>
<script src="../assets/plugins/flot/source/jquery.flot.saturated.js"></script>
<script src="../assets/plugins/flot/source/jquery.flot.browser.js"></script>
<script src="../assets/plugins/flot/source/jquery.flot.drawSeries.js"></script>
<script src="../assets/plugins/flot/source/jquery.flot.uiConstants.js"></script>
<script src="../assets/plugins/flot/source/jquery.flot.time.js"></script>
<script src="../assets/plugins/flot/source/jquery.flot.resize.js"></script>
<script src="../assets/plugins/flot/source/jquery.flot.pie.js"></script>
<script src="../assets/plugins/flot/source/jquery.flot.crosshair.js"></script>
<script src="../assets/plugins/flot/source/jquery.flot.categories.js"></script>
<script src="../assets/plugins/flot/source/jquery.flot.navigate.js"></script>
<script src="../assets/plugins/flot/source/jquery.flot.touchNavigate.js"></script>
<script src="../assets/plugins/flot/source/jquery.flot.hover.js"></script>
<script src="../assets/plugins/flot/source/jquery.flot.touch.js"></script>
<script src="../assets/plugins/flot/source/jquery.flot.selection.js"></script>
<script src="../assets/plugins/flot/source/jquery.flot.symbol.js"></script>
<script src="../assets/plugins/flot/source/jquery.flot.legend.js"></script>
<script src="../assets/plugins/jquery-sparkline/jquery.sparkline.min.js"></script>
<script src="../assets/plugins/jvectormap-next/jquery-jvectormap.min.js"></script>
<script src="../assets/plugins/jvectormap-next/jquery-jvectormap-world-mill.js"></script>
<script src="../assets/plugins/bootstrap-datepicker/dist/js/bootstrap-datepicker.js"></script>
<script src="../assets/js/demo/dashboard.js"></script>
<script src="../assets/plugins/datatables.net-responsive/js/dataTables.responsive.min.js"></script>
<script src="../assets/plugins/datatables.net-responsive-bs4/js/responsive.bootstrap4.min.js"></script>
<script src="../assets/js/demo/table-manage-default.demo.js"></script>

{% endblock %}