<!DOCTYPE html>
<html lang="en">
<head>
	<meta charset="utf-8" />
	<title>{{__('index_title')}}</title>
	<meta content="width=device-width, initial-scale=1.0, maximum-scale=1.0, user-scalable=no" name="viewport" />
	<meta content="" name="description" />
	<meta content="" name="author" />
	
	<!-- ================== BEGIN BASE CSS STYLE ================== -->
	<link href="https://fonts.googleapis.com/css?family=Open+Sans:300,400,600,700" rel="stylesheet" />
	<link href="../assets/css/one-page-parallax/app.min.css" rel="stylesheet" />
	<link href="../assets/css/one-page-parallax/theme/blue.min.css" rel="stylesheet" />
	<link href="../assets/plugins/flag-icon-css/css/flag-icon.min.css" rel="stylesheet" />
	<!-- ================== END BASE CSS STYLE ================== -->
	
	<!--<link href="../assets/css/fullpage/fullpage.css" rel="stylesheet" />-->
	<link href="../assets/css/index_custom.css" rel="stylesheet" />
	<link href="../assets/img/favicon.png" rel="icon">
</head>
<body data-spy="scroll" data-target="#header" data-offset="51">
	<!-- begin #page-container -->
	<div id="page-container" class="fade">
		<!-- begin #header -->
		<div id="header" class="header navbar navbar-transparent navbar-fixed-top navbar-expand-lg">
			<!-- begin container -->
			<div class="container">
				<!-- begin navbar-brand -->
				<a href="/" class="navbar-brand">
					<img src="../assets/img/oasis.png" alt="OASIS">
				</a>
				<!-- end navbar-brand -->
				<!-- begin navbar-toggle -->
				<button type="button" class="navbar-toggle collapsed" data-toggle="collapse" data-target="#header-navbar">
					<span class="icon-bar"></span>
					<span class="icon-bar"></span>
					<span class="icon-bar"></span>
				</button>
				<!-- end navbar-header -->
				<!-- begin navbar-collapse -->
				<div class="collapse navbar-collapse" id="header-navbar">
					<ul class="nav navbar-nav navbar-right">
						<li class="nav-item"><a class="nav-link active" href="#home" data-click="scroll-to-target">OASIS</a></li>
						<li class="nav-item"><a class="nav-link" href="#about" data-click="scroll-to-target">{{__('index_about')}}</a></li>
						<li class="nav-item"><a class="nav-link" href="#web" data-click="scroll-to-target">{{__('web')}}</a></li>
						<li class="nav-item"><a class="nav-link" href="#app" data-click="scroll-to-target">{{__('app')}}</a></li>
						<li class="nav-item"><a class="nav-link" href="#qr" data-click="scroll-to-target">{{__('qr')}}</a></li>
						<li class="nav-item"><a class="nav-link" href="#how" data-click="scroll-to-target">{{__('index_how')}}</a></li>
						<li class="nav-item"><a class="nav-link" href="#ozone" data-click="scroll-to-target">{{__('ozone')}}</a></li>
						<li class="dropdown nav-item">
							<a href="#" class="dropdown-toggle nav-link" data-toggle="dropdown" id="select-lang"></a>
							<div class="dropdown-menu dropdown-menu-right">
								<a href="/ko_index" class="dropdown-item text-white" onclick="changeLang('kr')"><span class="flag-icon flag-icon-kr mr-2 px-1" title="kr" id="kr"></span>{{__('lang_kr')}}</a>
								<a href="/en_index" class="dropdown-item text-white" onclick="changeLang('en')"><span class="flag-icon flag-icon-us mr-2 px-1" title="us" id="us"></span>{{__('lang_en')}}</a>
							</div>
						</li>
					</ul>
				</div>
				<!-- end navbar-collapse -->
			</div>
			<!-- end container -->
		</div>
		<!-- end #header -->
		
		<div id="fullpage">
			<!-- begin #home -->
			<div id="home" class="content has-bg home">
				<!-- begin content-bg -->
				<div class="content-bg" style="background-image: url(../assets/img/main2.png);" 
					data-paroller="true" 
					data-paroller-factor="0.5"
					data-paroller-factor-xs="0.25">
				</div>
				<!-- end content-bg -->
				<!-- begin container -->
				<div class="container home-content">
					<h1>Welcome to <b class="text-primary">OASIS</b></h1>
					<h3>
						<b class="text-primary">O</b>zone
						<b class="text-primary">A</b>ir
						<b class="text-primary">S</b>terilization
						<b class="text-primary">I</b>ntelligence
						<b class="text-primary">S</b>ystem
					</h3>
					<p>
						{{__('index_text')}}
					</p>
					<a href="/login" class="btn btn-theme btn-primary">&nbsp;&nbsp;{{__('login')}}&nbsp;&nbsp;</a> <a href="/register" class="btn btn-theme btn-outline-white">{{__('signup')}}</a><br />
					<br />
					by <a href="http://mklc.co.kr/kor/main/" target="_blank"><b>MK</b></a>
				</div>
				<!-- end container -->
			</div>
			<!-- end #home -->
			
			<!-- begin #about -->
			<div id="about" class="content" data-scrollview="true">
				<!-- begin container -->
				<div class="container" data-animation="true" data-animation-type="fadeInDown">
					<!-- begin row -->
					<div class="row justify-content-md-center align-items-md-center">
						<!-- begin col-5 -->
						<div class="col-lg-5">
							<h1 class="mb-4 index-h1">OASIS</h1>
							<h2 class="mb-5 index-h2">소독의 새로운 패러다임</h2>
							<div class="d-flex justify-content-between align-items-center">
								<div class="service service-block mr-auto mb-0">
									<div class="iconbox mb-3" data-animation="true" data-animation-type="bounceIn"><i class="fas fa-coins"></i></div>
									<div class="info">
										<p class="index-p-bold mb-2">경제성</p>
										<p class="small font-weight-bold mb-0">자동화된 시스템<br>으로 비용 절감</p>
									</div>
								</div>
								<div class="service service-block mr-auto mb-0">
									<div class="iconbox mb-3" data-animation="true" data-animation-type="bounceIn"><i class="fas fa-pump-medical"></i></div>
									<div class="info">
										<p class="index-p-bold mb-2">살균력</p>
										<p class="small font-weight-bold mb-0">오존을 통한<br>99% 살균</p>
									</div>
								</div>
								<div class="service service-block mr-auto mb-0">
									<div class="iconbox mb-3" data-animation="true" data-animation-type="bounceIn"><i class="fa fa-heart"></i></div>
									<div class="info">
										<p class="index-p-bold mb-2">신뢰성</p>
										<p class="small font-weight-bold mb-0">QR코드를 통한<br>소독 이력 확인</p>
									</div>
								</div>
							</div>
						</div>
						<!-- end col-5 -->
						<!-- begin col-5 -->
						<div class="col-lg-5">
							<div class="index-img d-flex flex-column justify-content-center mx-auto">
								<img src="../assets/img/quote1.png" class="img-responsive quote-img quote-left mr-auto mb-3">
								<img src="../assets/img/quote2.png" class="img-responsive quote-img quote-right ml-auto mb-3">
								<img src="../assets/img/quote3.png" class="img-responsive quote-img quote-left mr-auto">
							</div>
						</div>
						<!-- end col-5 -->
					</div>
					<!-- end row -->
				</div>
				<!-- end container -->
			</div>
			<!-- end #about -->
			
			<!-- begin #web -->
			<div id="web" class="content index-bg" data-scrollview="true">
				<!-- begin container -->
				<div class="container">
					<!-- begin row -->
					<div class="row justify-content-md-center align-items-md-center">
						<!-- begin col-5 -->
						<div class="col-lg-5">
							<h1 class="mb-4 index-h1">Web</h1>
							<h2 class="mb-5 index-h2">편리한 작업관리 시스템</h2>
							<h5 class="index-h3">Web Management System을 제공하여<br>소독기, 차량, 작업자, 소독이력 등 통합 관리</h5>
						</div>
						<!-- end col-5 -->
						<!-- begin col-5 -->
						<div class="col-lg-5">
							<img src="../assets/img/oasis_web.png" class="img-responsive index-img mx-auto">
						</div>
						<!-- end col-5 -->
					</div>
					<!-- end row -->
				</div>
				<!-- end container -->
			</div>
			<!-- end #web -->
			
			<!-- begin #app -->
			<div id="app" class="content" data-scrollview="true">
				<!-- begin container -->
				<div class="container">
					<!-- begin row -->
					<div class="row justify-content-md-center align-items-md-center">
						<!-- begin col-5 -->
						<div class="col-lg-5">
							<h1 class="mb-4 index-h1">App</h1>
							<h2 class="mb-5 index-h2">안전하고 편리한 소독</h2>
							<h5 class="mb-5 index-h3">전용 Mobile App을 제공하여<br>원격제어를 통한 자동화된 소독 솔루션</h5>
							<a href="https://play.google.com/store/apps/details?id=com.mk.oasis_app" target="_blank" class="link_store">
					          <img src="../assets/appabout/google_play.png" alt="HTML tutorial" style="border:0;">
					        </a>
						</div>
						<!-- end col-5 -->
						<!-- begin col-5 -->
						<div class="col-lg-5">
							<img src="../assets/img/oasis_app.png" class="img-responsive index-img mx-auto">
						</div>
						<!-- end col-5 -->
					</div>
					<!-- end row -->
				</div>
				<!-- end container -->
			</div>
			<!-- end #app -->
			
			<!-- begin #qr -->
			<div id="qr" class="content index-bg" data-scrollview="true">
				<!-- begin container -->
				<div class="container">
					<!-- begin row -->
					<div class="row justify-content-md-center align-items-md-center">
						<!-- begin col-5 -->
						<div class="col-lg-5">
							<h1 class="mb-4 index-h1">QR Code</h1>
							<h2 class="mb-5 index-h2">보이는 소독 플랫폼</h2>
							<h5 class="mb-5 index-h3">QR코드를 통해 App 설치 없이<br>누구나 쉽고 빠르게 투명하게 소독 정보 확인</h5>
						</div>
						<!-- end col-5 -->
						<!-- begin col-5 -->
						<div class="col-lg-5">
							<img src="../assets/img/oasis_qr.png" class="img-responsive index-img mx-auto">
						</div>
						<!-- end col-5 -->
					</div>
					<!-- end row -->
				</div>
				<!-- end container -->
			</div>
			<!-- end #qr -->
			
			<!-- begin #how -->
			<div id="how" class="content" data-scrollview="true">
				<!-- begin container -->
				<div class="container">
					<h2 class="content-title index-h1">How To?</h2>
					<!-- begin row -->
					<div class="row">
						<!-- begin col-12 -->
						<div class="col-lg-12">
							<img src="../assets/img/oasis_flow.png" class="img-responsive flow-img mx-auto">
						</div>
						<!-- end col-12 -->
					</div>
					<!-- end row -->
				</div>
				<!-- end container -->
			</div>
			<!-- end #how -->
			
			<!-- begin #ozone -->
			<div id="ozone" class="content index-bg" data-scrollview="true">
				<!-- begin container -->
				<div class="container">
					<h2 class="content-title index-h1">Ozone</h2>
					<!-- begin row -->
					<div class="row">
						<!-- begin col-4 -->
						<div class="col-lg-4 col-md-6">
							<div class="service">
								<div class="icon" data-animation="true" data-animation-type="bounceIn"><i class="fa fa-cog"></i></div>
								<div class="info">
									<h4 class="title">살균력</h4>
									<p class="desc">단백질 구성물(세균류)에 가장 빠르게 반응(살균)하며 99%의 살균 가능, 광범위한 살균에 효과적.</p>
								</div>
							</div>
						</div>
						<!-- end col-4 -->
						<!-- begin col-4 -->
						<div class="col-lg-4 col-md-6">
							<div class="service">
								<div class="icon" data-animation="true" data-animation-type="bounceIn"><i class="fa fa-paint-brush"></i></div>
								<div class="info">
									<h4 class="title">탈취력</h4>
									<p class="desc">공기 중의 악취성분을 변화, 파괴시켜 단시간에 악취를 제거함.</p>
								</div>
							</div>
						</div>
						<!-- end col-4 -->
						<!-- begin col-4 -->
						<div class="col-lg-4 col-md-6">
							<div class="service">
								<div class="icon" data-animation="true" data-animation-type="bounceIn"><i class="fa fa-file"></i></div>
								<div class="info">
									<h4 class="title">안전성</h4>
									<p class="desc">오존은 산소와 닿으면 빠르게 산소로 환원되어 어떤 잔여물도 남기지 않음.</p>
								</div>
							</div>
						</div>
						<!-- end col-4 -->
					</div>
					<!-- end row -->
				</div>
				<!-- end container -->
			</div>
			<!-- end #ozone -->
		</div>
		
		<!-- begin #footer -->
		<div id="footer" class="footer">
				<p>
					MK Co.,Ltd.</br>
					&copy; COPYRIGHT 2018 MK CO.,LTD.. ALL RIGHTS RESERVED.
				</p>
				<p>
					<span class="mr-3">주식회사 엠케이</span>
					<span class="mr-3">경기도 용인시 기흥구 동백중앙로 191, 8층 엘818호</span>
					<span class="mr-3">Tel 1644-3486</span>
					<span class="mr-3">Fax +82-42-368-0224</span>
					<span class="mr-3">사업자 등록번호 338-88-00960</span>
					<span class="mr-3">대표자 변무영</span>
				</p>
			</div>
		</div>
		<!-- end #footer -->
	</div>
	<!-- end #page-container -->
	
	<!--<script src="../assets/js/fullpage/fullpage.js"></script>-->
	<script src="//cdnjs.cloudflare.com/ajax/libs/jquery/3.2.1/jquery.min.js"></script>

	<script>
		window.addEventListener('load', function() {
			// 언어 변경시 국기 변환 기능
			var cookie = document.cookie;
			var startIndexOf = cookie.indexOf('lang=');
			var endIndexOf = cookie.indexOf(';',startIndexOf);
			if(endIndexOf == -1)endIndexOf = cookie.length; //맨끝일경우;가 없으므로 맨마지막자리를 가져온다.
			
			const sl = document.getElementById('select-lang');
			var lang = cookie.substring(startIndexOf+'lang='.length, endIndexOf);
			console.log("쿠키"+cookie);
			console.log("언어"+lang);
			if(lang == 'ko') {
				sl.innerHTML = "한국어";
			}
			else if(lang == 'en') {
				sl.innerHTML = "ENGLISH";
			}
			else {
				sl.innerHTML = "한국어";
			}
		});
		
		// new fullpage('#fullpage', {
		// 	//options here
		// 	autoScrolling:true,
		// 	scrollHorizontally: true
		// });
	</script>
	
	<!-- ================== BEGIN BASE JS ================== -->
	<script src="../assets/js/one-page-parallax/app.min.js"></script>
	<!-- ================== END BASE JS ================== -->
</body>
</html>
