<!DOCTYPE html>
<html lang="kor">
<head>
	<meta charset="utf-8" />
	<title>OASIS | Admin Page</title>
	<meta content="width=device-width, initial-scale=1.0, maximum-scale=1.0, user-scalable=no" name="viewport" />
	<meta content="" name="description" />
	<meta content="" name="author" />
	
	<!-- ================== BEGIN BASE CSS STYLE ================== -->
	<link href="https://fonts.googleapis.com/css?family=Open+Sans:300,400,600,700" rel="stylesheet" />
	<link href="../assets/css/default/app.min.css" rel="stylesheet" />
	<!-- ================== END BASE CSS STYLE ================== -->
	
	{% block css %}
	{% endblock %}
	
	<link href="../assets/img/favicon.png" rel="icon">
</head>
<body>
	<script src="https://cdnjs.cloudflare.com/ajax/libs/moment.js/2.29.1/moment.min.js"></script>
	<!--오아시스 제이쿼리 자바스크립트-->
	<script src="../assets/oasisjquery.js"></script>
	
	<!-- begin #page-loader -->
	<div id="page-loader" class="fade show">
		<span class="spinner"></span>
	</div>
	<!-- end #page-loader -->
	
	<!-- begin #page-container -->
	<div id="page-container" class="page-container fade page-sidebar-fixed page-header-fixed">
		<!-- begin #header -->
		<div id="header" class="header navbar-default">
			<!-- begin navbar-header -->
			<div class="navbar-header">
				<a href="/main" class="navbar-brand ml-3"><img src="../assets/img/oasis.png"></a>
				<button type="button" class="navbar-toggle" data-click="sidebar-toggled">
					<span class="icon-bar"></span>
					<span class="icon-bar"></span>
					<span class="icon-bar"></span>
				</button>
			</div>
			<!-- end navbar-header --><!-- begin header-nav -->
			<ul class="navbar-nav navbar-right">
				<li class="dropdown navbar-user">
					<a href="#" class="dropdown-toggle" data-toggle="dropdown">
						<i class="fas fa-lg fa-fw fa-user-circle"></i>
						<span class="d-none d-md-inline font-weight-bold">{{company.CNA}}</span>
						<small class="font-weight-bold">(보유 포인트 : <span id="pointbox" class="text-primary">{{companyone.SPO}} p</span>)</small>
						<b class="caret"></b>
					</a>
					<div class="dropdown-menu dropdown-menu-right">
						<a href="/profile" class="dropdown-item">프로필 수정</a>
						<div class="dropdown-divider"></div>
						<a href="/pay_point" class="dropdown-item">포인트 충전</a>
						<a href="javascript:logout()" class="dropdown-item">로그아웃</a>
						<a href="javascript:withdrawal()" class="dropdown-item">회원탈퇴</a>
					</div>
				</li>
			</ul>
			<!-- end header-nav -->
		</div>
		<!-- end #header -->
		
		<!-- begin #sidebar -->
		<div id="sidebar" class="sidebar">
			<!-- begin sidebar scrollbar -->
			<div id="active-menu" data-scrollbar="true" data-height="100%">
				<ul class="nav"><li class="nav-header">Navigation</li>
					{% if(company.AH == true) %}
					<li class="has-sub">
						<a href="javascript:;">
							<b class="caret"></b>
							<i class="fas fa-lg fa-fw m-r-10 fa-building"></i>
							<span> 사업자 </span> 
						</a>
						<ul class="sub-menu">
							<li><a href="/company_list">사업자 목록</a></li>
						</ul>
					</li>
					<li class="has-sub">
						<a href="javascript:;">
							<b class="caret"></b>
							<i class="fas fa-lg fa-fw m-r-10 fa-chart-bar"></i>
							<span> 통계 </span> 
						</a>
						<ul class="sub-menu">
							<li><a href="/device_static">제품 통계</a></li>
							<li><a href="/history_static">소독 통계</a></li>
							</ul>
							</li>
					<li class="has-sub">
							<a href="javascript:;">
								<b class="caret"></b>
								<i class="fab fa-lg fa-fw m-r-10 fa-python"></i>
								<span>Python/R</span> 
							</a>
						<ul class="sub-menu">	
							<li><a href="/ozone_spread"  target="_blank">3D Scatter Plot <br> (OZone Spreading)</a></li>

						</ul>
					</li>					
					{% else %}
					{% endif %}
					<li class="has-sub">
						<a href="javascript:;">
							<b class="caret"></b>
							<i class="fas fa-lg fa-fw m-r-10 fa-microchip"></i>
							<span> 소독기 </span> 
						</a>
						<ul class="sub-menu">
							<li><a href="/device_join">장치 등록</a></li>
							<li><a href="/device_list">장치 목록</a></li>
						</ul>
					</li>
					<li class="has-sub">
						<a href="javascript:;">
							<b class="caret"></b>
							<i class="fas fa-lg fa-fw m-r-10 fa-car"></i>
							<span> 자동차 </span> 
						</a>
						<ul class="sub-menu">
							<li><a href="/car_join">차량 등록</a></li>
							<li><a href="/car_list">차량 목록</a></li>
						</ul>
					</li>
					<li class="has-sub">
						<a href="javascript:;">
							<b class="caret"></b>
							<i class="fas fa-lg fa-fw m-r-10 fa-user"></i>
							<span> 작업자 
								
								{% if (aclist.length >= 1) %}
								<span class="label label-theme">NEW</span>
								{% else %}
								{% endif %}
							</span>
						</a>
						<ul class="sub-menu">
							<li><a href="/worker_list">작업자 목록 
							{% if aclist.length >=1 %}
							<span class="label label-theme">{{ aclist.length }}</span>
							{% else %}
							{% endif %}
							</a></li>
						</ul>
					</li>
					<li class="has-sub">
						<a href="javascript:;">
							<b class="caret"></b>
							<i class="fas fa-lg fa-fw m-r-10 fa-history"></i>
							<span> 소독 이력 </span> 
						</a>
						<ul class="sub-menu">
							<li><a href="/history_list">소독 이력</a></li>
						</ul>
					</li>
					{% if(company.AH == true) %}
					<li class="has-sub">
						<a href="javascript:;">
							<b class="caret"></b>
							<i class="fas fa-lg fa-fw m-r-10 fa-wrench"></i>
							<span> A/S </span> 
						</a>
						<ul class="sub-menu">
							<li><a href="/repair">A/S 처리</a></li>
						</ul>
					</li>				
					{% else %}
					{% endif %}
					<li class="has-sub">
						<a href="javascript:;">
							<b class="caret"></b>
							<i class="fas fa-lg fa-shopping-cart m-r-10 fa-qrcode"></i>
							<span> 결제 </span> 
						</a>
						<ul class="sub-menu">
							<li><a href="/pay_point">포인트 구매</a></li>
							<li><a href="/pay_list">결제 목록</a></li>
						</ul>
					</li>
					<li class="has-sub">
						<a href="javascript:;">
							<b class="caret"></b>
							<i class="fas fa-lg fa-fw m-r-10 fa-qrcode"></i>
							<span> QR 코드 </span> 
						</a>
						<ul class="sub-menu">
							<li><a href="/mobile_con">QR 접속</a></li>
						</ul>
					</li>
				
					
					<!-- begin sidebar minify button -->
					<li><a href="javascript:;" class="sidebar-minify-btn" data-click="sidebar-minify"><i class="fa fa-angle-double-left"></i></a></li>
					<!-- end sidebar minify button -->
				</ul>
				<!-- end sidebar nav -->
			</div>
			<!-- end sidebar scrollbar -->
		</div>
		<div class="sidebar-bg"></div>
		<!-- end #sidebar -->
		
		<!-- begin #content -->
		{% block content %}
		{% endblock %}
		<!-- end #content -->
		
		<!-- begin scroll to top btn -->
		<a href="javascript:;" class="btn btn-icon btn-circle btn-success btn-scroll-to-top fade" data-click="scroll-top"><i class="fa fa-angle-up"></i></a>
		<!-- end scroll to top btn -->
	</div>
	<!-- end page container -->

<script src="/socket.io/socket.io.js"></script>
<script>
	// 메뉴 active 기능
	window.onload = () => {
		// $('#active-menu').find('a[href="' + document.location.pathname + '"]').parents('li').addClass('active');
		var path = document.location.pathname.toString();
		var cut =  path.split('/');
		console.log("패스"+path+" 컷"+cut);
		if (cut[1] == 'car_edit') {
			cut[1] = 'car_list';
		}
		if (cut[1] == 'device_edit') {
			cut[1] = 'device_list';
		}
		if (cut[1] == 'history_chart') {
			cut[1] = 'history_list';
		}
		if (cut[1] == 'pay_confirm') {
			cut[1] = 'pay_sms';
		}
		$('#active-menu').find('a[href="' + '/' + cut[1] + '"]').parents('li').addClass('active');
	};
	
	// 회원탈퇴 기능
	function withdrawal() {
		var answer;
		//페이지를 이동하기 전에 confirm()을 사용해 다시 한번 확인한다.
		//확인을 선택하면 answer에  true, 취소를 선택하면 false 값이 들어간다.
		answer = confirm("회원탈퇴를 하시겠습니까?");
		//확인을 선택한 경우 자바스크립트를 호출할 때 같이 넘어온 url이라는 변수에 들어있는 주소로 페이지 이동
		if(answer == true){
			location = '/auth/withdrawal';
		}
		else {
			location = '/main';
		}
	}
	
	// 로그아웃 기능
	function logout() {
		var answer;
		//페이지를 이동하기 전에 confirm()을 사용해 다시 한번 확인한다.
		//확인을 선택하면 answer에  true, 취소를 선택하면 false 값이 들어간다.
		answer = confirm("로그아웃을 하시겠습니까?");
		//확인을 선택한 경우 자바스크립트를 호출할 때 같이 넘어온 url이라는 변수에 들어있는 주소로 페이지 이동
		if(answer == true){
			location = '/auth/logout';
		}
		else {
			location = '/main';
		}
	}
</script>

<!-- ================== BEGIN BASE JS ================== -->
<script src="../assets/js/app.min.js"></script>
<script src="../assets/js/theme/default.min.js"></script>
<!-- ================== END BASE JS ================== -->
{% block script %}
{% endblock %}
	
</body>
</html>