<!DOCTYPE html>
<html lang="kor">
<head>
	<meta charset="utf-8" />
	<title>{{__('main_title')}}</title>
	<meta content="width=device-width, initial-scale=1.0, maximum-scale=1.0, user-scalable=no" name="viewport" />
	<meta content="" name="description" />
	<meta content="" name="author" />
	
	<!-- ================== BEGIN BASE CSS STYLE ================== -->
	<link href="https://fonts.googleapis.com/css?family=Open+Sans:300,400,600,700" rel="stylesheet" />
	<link href="../assets/css/default/app.min.css" rel="stylesheet" />
	<link href="../assets/plugins/flag-icon-css/css/flag-icon.min.css" rel="stylesheet" />
	<link href="../oasiscss/oasis.css" rel="stylesheet" />
	<!-- ================== END BASE CSS STYLE ================== -->
	
	{% block css %}
	{% endblock %}
	
	<link href="../assets/img/favicon.png" rel="icon">
</head>
<body>
	<script src="https://cdnjs.cloudflare.com/ajax/libs/moment.js/2.29.1/moment.min.js"></script>
	<!--오아시스 제이쿼리 자바스크립트-->
	<script src="../oasisjs/oasisjquery.js"></script>
	<script src="../oasisjs/oasis_list_collection.js"></script>
	<script src="../oasisjs/oasis_list_edit_delete.js"></script>
	<script src="../oasisjs/oasis_list_search_sort.js"></script>
	<script src="../oasisjs/oasis_list_pagenation.js"></script>
	<script src="../oasisjs/oasis_list_excel.js"></script>
	
	<!-- begin #page-loader -->
	<div id="page-loader" class="fade show">
		<span class="spinner"></span>
	</div>
	<!-- end #page-loader -->
	
	<!-- begin #page-container -->
	<div id="page-container" class="page-container fade page-sidebar-fixed page-header-fixed">
		<!-- begin #header -->
		<div id="header" class="header navbar-default">
			<!-- begin navbar-header -->
			<div class="navbar-header">
				<a href="/main" class="navbar-brand ml-3"><img src="../assets/img/oasis.png"></a>
				<button type="button" class="navbar-toggle" data-click="sidebar-toggled">
					<span class="icon-bar"></span>
					<span class="icon-bar"></span>
					<span class="icon-bar"></span>
				</button>
			</div>
			<div class="navbar-nav navbar-right">
				{% if noticethree %}
				<div class="d-flex justify-content-center align-items-center font-weight-bold">
					<p class="width-80 mb-0 height-20">공지사항 &nbsp;:&nbsp;</p>
					<div class="notice overflow-hidden height-20">
						<ul class="rolling position-relative mb-0">
							{% for notice in noticethree %}
							<li class="height-20 mb-0">
								<a href="#" onclick="noticepop(this)" name="{{notice._id}}">{{notice.TI}}</a>
							</li>
							{% endfor %}
						</ul>
					</div>
				</div>
				{% else %}
				{% endif %}
			</div>
			<!-- end navbar-header -->
			<!-- begin header-nav -->
			<ul class="navbar-nav navbar-right">
				<li class="dropdown navbar-user">
					<a href="#" class="dropdown-toggle" data-toggle="dropdown">
						<span class="d-md-inline font-weight-bold">{{company.CNA}}</span>
						<span class="font-weight-bold">({{__('main_point')}} : <span id="pointbox" class="text-primary">{{company.SPO}} p</span>)</span>
						<b class="caret"></b>
					</a>
					<div class="dropdown-menu dropdown-menu-right">
						<a href="/profile" class="dropdown-item">{{__('layout_modify')}}</a>
						<a href="/setting" class="dropdown-item">{{__('layout_setting')}}</a>
						<div class="dropdown-divider"></div>
						<a href="/shop" class="dropdown-item">{{__('layout_payment_point_purchase')}}</a>
						<a href="javascript:logout(i18nconvert)" class="dropdown-item">{{__('layout_signout')}}</a>
						<a href="javascript:withdrawal(i18nconvert)" class="dropdown-item">{{__('layout_withdrawal')}}</a>
					</div>
				</li>
				<li class="dropdown navbar-user d-flex justify-content-around align-items-center">
					<a href="#" class="dropdown-toggle" data-toggle="dropdown">
						<img class="flag select-flag" src="https://lipis.github.io/flag-icon-css/flags/4x3/kr.svg" alt="Select Language Flag">
					</a>
					<div class="dropdown-menu dropdown-menu-right">
						<a href="/ko" class="dropdown-item d-flex justify-content-start align-items-center"><img class="flag" src="https://lipis.github.io/flag-icon-css/flags/4x3/kr.svg" alt="South Korea Flag">{{__('lang_kr')}}</a>
						<a href="/en" class="dropdown-item d-flex justify-content-start align-items-center"><img class="flag" src="https://lipis.github.io/flag-icon-css/flags/4x3/us.svg" alt="United States of America Flag">{{__('lang_en')}}</a>
					</div>
				</li>
			</ul>
			<!-- end header-nav -->
		</div>
		<!-- end #header -->
		
		<!-- begin #sidebar -->
		<div id="sidebar" class="sidebar">
			<!-- begin sidebar scrollbar -->
			<div id="active-menu" data-scrollbar="true" data-height="100%">
				<ul class="nav">
				<li><a href="javascript:;" class="sidebar-minify-btn" data-click="sidebar-minify"><i class="fa fa-angle-double-left"></i></a></li>
					<li class="has-sub">
						<a href="/notice_list">
							<b class="caret"></b>
							<i class="fas fa-lg fa-fw m-r-10 fa-volume-up"></i>
							<span> {{__('notice_list')}} </span> 
						</a>
					</li>
					<!--사업자만-->
					{% if(company.AH == true) %}
					<li class="has-sub">
						<a href="javascript:;">
							<b class="caret"></b>
							<i class="fas fa-lg fa-fw m-r-10 fa-building"></i>
							<span> {{__('company')}} </span> 
						</a>
						<ul class="sub-menu">
							<li><a href="/company_list">{{__('company_list')}}</a></li>
						</ul>
					</li>
					<li class="has-sub">
						<a href="javascript:;">
							<b class="caret"></b>
							<i class="fas fa-lg fa-fw m-r-10 fa-chart-bar"></i>
							<span> {{__('statistics')}} </span> 
						</a>
						<ul class="sub-menu">
							<li><a href="/device_static">{{__('statistics_device')}}</a></li>
							<li><a href="/history_static">{{__('statistics_history')}}</a></li>
							</ul>
							</li>
					<li class="has-sub">
						<a href="javascript:;">
							<b class="caret"></b>
							<i class="fas fa-lg fa-fw m-r-10 fa-chart-bar"></i>
							<span> {{__('statistics')}} 테스트 </span> 
						</a>
						<ul class="sub-menu">
							<li><a href="/device_static2">{{__('statistics_device')}}</a></li>
							<li><a href="/history_static2">{{__('statistics_history')}}</a></li>
							</ul>
							</li>
					<li class="has-sub">
							<a href="javascript:;">
								<b class="caret"></b>
								<i class="fab fa-lg fa-fw m-r-10 fa-python"></i>
								<span>Python/R</span> 
							</a>
						<ul class="sub-menu">	
							<li><a href="/ozone_spread"  target="_blank">3D Scatter Plot <br> (OZone Spreading)</a></li>

						</ul>
					</li>					
					{% else %}
					{% endif %}
					<!--//-->
					<li class="has-sub">
						<a href="javascript:;">
							<b class="caret"></b>
							<i class="fas fa-lg fa-fw m-r-10 fa-microchip"></i>
							<span> {{__('device')}} </span> 
						</a>
						<ul class="sub-menu">
							<li><a href="/device_join">{{__('layout_device_register')}}</a></li>
							<li><a href="/device_list">{{__('layout_device_list')}}</a></li>
						</ul>
					</li>
					<li class="has-sub">
						<a href="javascript:;">
							<b class="caret"></b>
							<i class="fas fa-lg fa-fw m-r-10 fa-car"></i>
							<span> {{__('car')}} </span> 
						</a>
						<ul class="sub-menu">
							<li><a href="/car_join">{{__('layout_car_register')}}</a></li>
							<li><a href="/car_list">{{__('layout_car_list')}}</a></li>
						</ul>
					</li>
					<li class="has-sub">
						<a href="javascript:;">
							<b class="caret"></b>
							<i class="fas fa-lg fa-fw m-r-10 fa-user"></i>
							<span> {{__('worker')}}
								
								{% if (aclist.length >= 1) %}
								<span class="label label-theme">NEW</span>
								{% else %}
								{% endif %}
							</span>
						</a>
						<ul class="sub-menu">
							<li><a href="/worker_list">{{__('layout_worker_list')}}
							{% if aclist.length >=1 %}
							<span class="label label-theme">{{ aclist.length }}</span>
							{% else %}
							{% endif %}
							</a></li>
						</ul>
					</li>
					<li class="has-sub">
						<a href="javascript:;">
							<b class="caret"></b>
							<i class="fas fa-lg fa-fw m-r-10 fa-history"></i>
							<span> {{__('history')}} </span> 
						</a>
						<ul class="sub-menu">
							<li><a href="/history_list">{{__('layout_history_list')}}</a></li>
						</ul>
					</li>
					<li class="has-sub">
						<a href="javascript:;">
							<b class="caret"></b>
							<i class="fas fa-lg fa-shopping-cart m-r-10 fa-qrcode"></i>
							<span> {{__('layout_purchase')}} </span> 
						</a>
						<ul class="sub-menu">
							<li><a href="/shop">{{__('layout_goods_purchase')}}</a></li>
							{% if(company.AH == true) or (company.CK == "MK 대리점") %}
							<li><a href="/shop">{{__('layout_goods_join')}}</a></li>
							{% else %}
							{% endif %}
							<li><a href="/pay_list">{{__('layout_purchase_list')}}</a></li>
							<li><a href="/point_list">{{__('layout_payment_point_usage')}}</a></li>
							<li><a href="/alarmtalk_list">{{__('layout_payment_alarmtalk')}}</a></li>
						</ul>
					</li>
					<li class="has-sub">
						<a href="javascript:;">
							<b class="caret"></b>
							<i class="fas fa-lg fa-fw m-r-10 fa-qrcode"></i>
							<span> {{__('qrcode')}} </span> 
						</a>
						<ul class="sub-menu">
							<li><a href="/publish_manage">{{__('layout_qrcode_man')}}</a></li>
							<li><a href="/inflow?cat=1">{{__('layout_qrcode_con')}}</a></li>
						</ul>
					</li>
				
					
					<!-- begin sidebar minify button -->
					
					<!-- end sidebar minify button -->
				</ul>
				<!-- end sidebar nav -->
			</div>
			<!-- end sidebar scrollbar -->
		</div>
		<div class="sidebar-bg"></div>
		<!-- end #sidebar -->
		
		<!-- begin #content -->
		{% block content %}
		{% endblock %}
		<!-- end #content -->
		
		<!-- begin scroll to top btn -->
		<a href="javascript:;" class="btn btn-icon btn-circle btn-success btn-scroll-to-top fade" data-click="scroll-top"><i class="fa fa-angle-up"></i></a>
		<!-- end scroll to top btn -->
	</div>
	<!-- end page container -->

	<!--Begin Script-->
	<script src="http://code.jquery.com/jquery-1.10.2.js"></script>
	<script src="/socket.io/socket.io.js"></script>
	<script>
	    var searcherror = function () {
	    	return alert("{{__('search_error')}}");
	    }
	    var choiceerror = function () {
	    	return alert("{{__('choice_error')}}");
	    }
	    var i18nconvert = function (string) {
	    	if(string == "CN" ) {
	    		return "{{__('car_number')}}";
	    	} 
	    	else if(string == "CPN" ) {
	    		return "{{__('car_customer_phone')}}";
	    	}
	    	else if(string == "MD" ) {
	    		return "{{__('device_model')}}";
	    	} 
	    	else if(string == "VER" ) {
	    		return "{{__('device_version')}}";
	    	} 
	    	else if(string == "MAC" ) {
	    		return "{{__('device_mac')}}";
	    	} 
	    	else if(string == "NN" ) {
	    		return "{{__('device_nick')}}";
	    	} 
	    	else if(string == "UN" ) {
	    		return "{{__('device_use_number')}}";
	    	}
	    	else if(string == "WN" ) {
	    		return "{{__('name')}}";
	    	}
	    	else if(string == "PN" ) {
	    		return "{{__('mobile_number')}}";
	    	}
	    	else if(string == "EM" ) {
	    		return "{{__('email')}}";
	    	}
	    	else if(string == "WNM" ) {
	    		return "{{__('worker')}}";
	    	}
	    	else if(string == "DNM" ) {
	    		return "{{__('device_model')}}";
	    	}
	    	else if(string == "CNM" ) {
	    		return "{{__('car_number')}}";
	    	}
	    	else if(string == "MID" ) {
	    		return "{{__('payment_ordernumber')}}";
	    	}
	    	else if(string == "payCA" ) {
	    		return "{{__('payment_date')}}";
	    	}
	    	else if(string == "GN" ) {
	    		return "{{__('payment_name')}}";
	    	}
	    	else if(string == "payNum" ) {
	    		return "{{__('payment_number')}}";
	    	}
	    	else if(string == "AM" ) {
	    		return "{{__('payment_amount')}}";
	    	}
	    	else if(string == "pointPN" ) {
	    		return "{{__('payment_name')}}";
	    	}
	    	else if(string == "PO" ) {
	    		return "{{__('payment_point')}}";
	    	}
	    	else if(string == "pointCA" ) {
	    		return "{{__('payment_Dateofuse')}}";
	    	}
	    	else if(string == "payWNM" ) {
	    		return "{{__('payment_sender')}}";
	    	}
	    	else if(string == "TI" ) {
	    		return "{{__('notice_contents')}}";
	    	}
	    	else if(string == "RE" ) {
	    		return "{{__('payment_result')}}";
	    	}
	    	else if(string == "ET" ) {
	    		return "{{__('history_date')}}";
	    	}
	    	else if(string == "CA" ) {
	    		return "{{__('create_date')}}";
	    	}
	    	else if(string == "choiceerror" ) {
	    		return "{{__('choice_error')}}";
	    	}
	    	else if(string == "search_option_error") {
	    		return "{{__('search_option_error')}}"
	    	}
	    	else if(string == "searcherror" ) {
	    		return "{{__('search_error')}}";
	    	}
	    	else if(string == "deleteconfirm" ) {
	    		return "{{__('delete_confirm')}}";
	    	} 
	    	else if(string == "deletesuccess" ) {
	    		return "{{__('delete_success')}}";
	    	} else if(string == "modify" ) {
	    		return "{{__('modify')}}";
	    	} 
	    	else if(string == "delete" ) {
	    		return "{{__('delete')}}";
	    	} 
	    	else if(string == "reset" ) {
	    		return "{{__('reset')}}";
	    	} 
	    	else if(string == "car_length_error" ) {
	    		return "{{__('car_length_error')}}";
	    	}
	    	else if(string == "car_type_error" ) {
	    		return "{{__('car_type_error')}}";
	    	}
	    	else if(string == "car_exist_error" ) {
	    		return "{{__('car_exist_error')}}";
	    	}
	    	else if(string == "modify_failed" ) {
	    		return "{{__('modify_failed')}}";
	    	}
	    	else if(string == "car_modify_success" ) {
	    		return "{{__('car_modify_success')}}";
	    	}
	    	else if(string == "modify_failed" ) {
	    		return "{{__('modify_failed')}}";
	    	}
	    	else if(string == "device_modify_success" ) {
	    		return "{{__('device_modify_success')}}";
	    	}
	    	else if(string == "device_edit_version_enter" ) {
	    		return "{{__('device_edit_version_enter')}}";
	    	}
	    	else if(string == "device_edit_nick_enter" ) {
	    		return "{{__('device_edit_nick_enter')}}";
	    	}
	    	else if(string == "search" ) {
	    		return "{{__('search')}}";
	    	}
	    	else if(string == "approval" ) {
	    		return "{{__('approval')}}";
	    	}
	    	else if(string == "owner_auth" ) {
	    		return "{{__('owner_auth')}}";
	    	}
	    	else if(string == "main_indetail" ) {
	    		return "{{__('main_indetail')}}";
	    	}
	    	else if(string == "payment_receit" ) {
	    		return "{{__('payment_receit')}}";
	    	}
	    	else if(string == "purchase_failed" ) {
	    		return "{{__('purchase_failed')}}";
	    	}
	    	else if(string == "PD" ) {
	    		return "{{__('history_time')}}";
	    	}
	    	else if(string == "device_register_success" ) {
	    		return "{{__('device_register_success')}}";
	    	}
	    	else if(string == "device_duplicated" ) {
	    		return "{{__('device_duplicated')}}";
	    	}
	    	else if(string == "device_mac_wrong" ) {
	    		return "{{__('device_mac_wrong')}}";
	    	}
	    	else if(string == "car_register_success" ) {
	    		return "{{__('car_register_success')}}";
	    	}
	    	else if(string == "car_excelsize_error" ) {
	    		return "{{__('car_excelsize_error')}}";
	    	}
	    	else if(string == "car_nofile_error" ) {
	    		return "{{__('car_nofile_error')}}";
	    	}
	    	else if(string == "car_excel_error" ) {
	    		return "{{__('car_excel_error')}}";
	    	}
	    	else if(string == "car_excel_fail" ) {
	    		return "{{__('car_excel_fail')}}";
	    	}
	    	else if(string == "car_exceltype_error" ) {
	    		return "{{__('car_exceltype_error')}}";
	    	}
	    	else if(string == "car_excellength_error" ) {
	    		return "{{__('car_excellength_error')}}";
	    	}
	    	else if(string == "registration") {
	    		return "{{__('registration')}}"
	    	}
	    	else if(string == "layout_withdrawal_confirm") {
	    		return "{{__('layout_withdrawal_confirm')}}"
	    	}
	    	else if(string == "layout_signout_confirm") {
	    		return "{{__('layout_signout_confirm')}}"
	    	}
	    	else if(string == "notice_contents") {
	    		return "{{__('notice_contents')}}"
	    	}
	    	else if(string == "notice_date") {
	    		return "{{__('notice_date')}}"
	    	}
	    	else if(string == "notice_register") {
	    		return "{{__('notice_register')}}"
	    	}
	    	else if(string == "setting_point_success") {
	    		return "{{__('setting_point_success')}}"
	    	}
	    	else if(string == "setting_point_fail") {
	    		return "{{__('setting_point_fail')}}"
	    	}
	    	else if(string == "login_error") {
	    		return "{{__('login_error')}}"
	    	}
	    	else if(string == "profile_success") {
	    		return "{{__('profile_success')}}"
	    	}
	    	else if(string == "profile_ex_email") {
	    		return "{{__('profile_ex_email')}}"
	    	}
	    	else if(string == "profile_pw_error") {
	    		return "{{__('profile_pw_error')}}"
	    	}
	    	else if(string == "profile_fail") {
	    		return "{{__('profile_fail')}}"
	    	}
	    	else if(string == "find_email_error") {
	    		return "{{__('find_email_error')}}"
	    	}
	    	else if(string == "profile_pw_success") {
	    		return "{{__('profile_pw_success')}}"
	    	}
	    	else if(string == "login_again") {
	    		return "{{__('login_again')}}";
	    	}
	    	else if(string == "register_digits_error") {
	    		return "{{__('register_digits_error')}}";
	    	}
	    	else if(string == "" ) {
	    		return "{{__('')}}";
	    	}
	    	else if(string == "" ) {
	    		return "{{__('')}}";
	    	}
	    	else if(string == "" ) {
	    		return "{{__('')}}";
	    	}
	    	else if(string == "" ) {
	    		return "{{__('')}}";
	    	}
	    	else {
	    		return string;
	    	}
	    };
	</script>
	
	<!-- ================== BEGIN BASE JS ================== -->
	<script src="../assets/js/app.min.js"></script>
	<script src="../assets/js/theme/default.min.js"></script>
	<!-- ================== END BASE JS ================== -->
	<script src="../oasisjs/oasis_notice.js"></script>
	<script src="../oasisjs/oasis_active_menu.js"></script>
	<script src="../oasisjs/oasis_flag.js"></script>
	<script src="../oasisjs/oasis_auth.js"></script>
	<script src="../oasisjs/oasis_worker_auth.js"></script>
	<!--End Script-->
{% block script %}
{% endblock %}
	
</body>
</html>