<!DOCTYPE html>
<html lang="ko">
<head>
	<meta charset="utf-8" />
	<title>MK Admin | Login Page</title>
	<meta content="width=device-width, initial-scale=1.0, maximum-scale=1.0, user-scalable=no" name="viewport" />
	<meta content="" name="description" />
	<meta content="" name="author" />
	
	<!-- ================== BEGIN BASE CSS STYLE ================== -->
	<link href="https://fonts.googleapis.com/css?family=Open+Sans:300,400,600,700" rel="stylesheet" />
	<link href="../assets/css/default/app.min.css" rel="stylesheet" />
	<!-- ================== END BASE CSS STYLE ================== -->
	
	<link href="../assets/img/favicon.png" rel="icon">
</head>
<body class="pace-top">
	<!-- begin #page-loader -->
	<div id="page-loader" class="fade show">
		<span class="spinner"></span>
	</div>
	<!-- end #page-loader -->
	
	<!-- begin #page-container -->
	<div id="page-container" class="fade">
		<!-- begin login -->
		<div class="login login-v1">
			<!-- begin login-container -->
			<div class="login-container">
				<!-- begin login-header -->
				<div class="login-header">
					<div class="brand">
						<span class="logo"></span> <b>MK</b> Admin
						<small>MK  O'Zone Sterilizer for Car</small>
					</div>
					<div class="icon">
						<i class="fa fa-lock"></i>
					</div>
				</div>
				<!-- end login-header -->
				<!-- begin login-body -->
				<div class="login-body">
					<!-- begin login-content -->
					<div class="login-content">
						<form action="auth/login" method="post" class="margin-bottom-0">
							<div class="form-group m-b-20">
								<input id="CNU" name = "CNU" type="text" class="form-control form-control-lg inverse-mode" placeholder="사업자 등록번호" required />
							</div>
							<div class="form-group m-b-20">
								<input id="PW" name = 'PW' type="password" class="form-control form-control-lg inverse-mode" placeholder="비밀번호" required />
							</div>
							<div class="checkbox checkbox-css m-b-20">
								<input type="checkbox" id="remember_checkbox" /> 
								<label for="remember_checkbox">
								Remember Me
								</label>
							</div>
							<div class="login-buttons">
								<button type="submit" class="btn btn-success btn-block btn-lg">Sign me in</button> 
								<li class="form-control-lg inverse-mode"><a href="register" >회원가입</a>   /  <a href="find" > 비밀번호 찾기</a></li>

		
							</div>
						</form>
		
					</div>
					<!-- end login-content -->
				</div>
				<!-- end login-body -->
			</div>
			<!-- end login-container -->
		</div>
		<!-- end login -->
		
		
		<!-- end theme-panel -->
		
		<!-- begin scroll to top btn -->
		<a href="javascript:;" class="btn btn-icon btn-circle btn-success btn-scroll-to-top fade" data-click="scroll-top"><i class="fa fa-angle-up"></i></a>
		<!-- end scroll to top btn -->
	</div>
	<!-- end page container -->
	
	<!-- ================== BEGIN BASE JS ================== -->
	<script src="../assets/js/app.min.js"></script>
	<script src="../assets/js/theme/default.min.js"></script>
	<!-- ================== END BASE JS ================== -->
	 <script>
    window.onload = () => {
      if (new URL(location.href).searchParams.get('fail')) {
        alert('아이디 혹은 비밀번호를 확인해주세요.');
      }
      if (new URL(location.href).searchParams.get('again')) {
        alert('다시 로그인 해주세요.');
      }

    	
    }
      
      </script>
</body>
</html>