<!DOCTYPE html>
<html lang="ko">
<head>
	<meta charset="utf-8" />
	<title>{{__('login_title')}}</title>
	<meta content="width=device-width, initial-scale=1.0, maximum-scale=1.0, user-scalable=no" name="viewport" />
	<meta content="" name="description" />
	<meta content="" name="author" />
	
	<!-- ================== BEGIN BASE CSS STYLE ================== -->
	<link href="https://fonts.googleapis.com/css?family=Open+Sans:300,400,600,700" rel="stylesheet" />
	<link href="../assets/css/default/app.min.css" rel="stylesheet" />
	<!-- ================== END BASE CSS STYLE ================== -->
	
	<link href="../assets/img/favicon.png" rel="icon">
</head>
<body class="pace-top">
	<!-- begin #page-loader -->
	<div id="page-loader" class="fade show">
		<span class="spinner"></span>
	</div>
	<!-- end #page-loader -->
	
	<!-- begin #page-container -->
	<div id="page-container" class="fade">
		<!-- begin login -->
		<div class="login login-v1">
			<!-- begin login-container -->
			<div class="login-container">
				<!-- begin login-header -->
				<div class="login-header">
					<div class="brand">
						<span class="logo bg-blue"></span> <b class="text-blue">OASIS</b>
						<small>
							<b class="text-blue">O</b>zone
							<b class="text-blue">A</b>ir
							<b class="text-blue">S</b>terilization
							<b class="text-blue">I</b>ntelligence
							<b class="text-blue">S</b>ystem
						</small>
					</div>
					<div class="icon">
						<i class="fa fa-lock"></i>
					</div>
				</div>
				<!-- end login-header -->
				<!-- begin login-body -->
				<div class="login-body">
					<!-- begin login-content -->
					<div class="login-content">
						<form action="" method="post" id="login-form" class="margin-bottom-0" onsubmit="login('login-form','CNU','PW');">
							<div class="form-group m-b-20">
								<input id="CNU" name = "CNU" type="text" class="form-control form-control-lg inverse-mode" placeholder="{{__('business_number')}}" required />
							</div>
							<div class="form-group m-b-20">
								<input id="PW" name = 'PW' type="password" class="form-control form-control-lg inverse-mode" placeholder="{{__('pw')}}" required />
							</div>
							<div class="login-buttons">
								<button type="submit" class="btn btn-primary btn-block btn-lg">{{__('login')}}</button> 
								<li class="form-control-lg inverse-mode"><a href="/register" >{{__('signup')}}</a>   /  <a href="/find" > {{__('findpw')}}</a></li>
							</div>
						</form>
		
					</div>
					<!-- end login-content -->
				</div>
				<!-- end login-body -->
			</div>
			<!-- end login-container -->
		</div>
		<!-- end login -->
		
		
		<!-- end theme-panel -->
		
		<!-- begin scroll to top btn -->
		<a href="javascript:;" class="btn btn-icon btn-circle btn-success btn-scroll-to-top fade" data-click="scroll-top"><i class="fa fa-angle-up"></i></a>
		<!-- end scroll to top btn -->
	</div>
	<!-- end page container -->
	
	<!--Begin Script-->
	<script>
		function login(form, companyNumber, password) {
			var CNU = document.getElementsByName(companyNumber)[0].value;
			var PW = document.getElementsByName(password)[0].value;
		    var validateCNU = $('#'+form).parsley();
		    
		    if(validateCNU.isValid() == true) {
		    	loginAjax(CNU,PW);
		    }
		    event.preventDefault();
		}
	</script>
	
	<!-- ================== BEGIN BASE JS ================== -->
	<script src="../assets/js/app.min.js"></script>
	<script src="../assets/js/theme/default.min.js"></script>
	<!-- ================== END BASE JS ================== -->
	<script src="../assets/plugins/parsleyjs/dist/parsley.min.js"></script>
	<script src="../oasisjs/oasis_auth.js"></script>
	<!--End Script-->
</body>
</html>