{% extends 'layout.html' %}

{% block css %}
<link href="../assets/plugins/datatables.net-bs4/css/dataTables.bootstrap4.min.css" rel="stylesheet" />
<link href="../assets/plugins/datatables.net-responsive-bs4/css/responsive.bootstrap4.min.css" rel="stylesheet" />
<link href="../assets/plugins/datatables.net-buttons-bs4/css/buttons.bootstrap4.min.css" rel="stylesheet" />
<link href="../assets/plugins/datatables.net-autofill-bs4/css/autoFill.bootstrap4.min.css" rel="stylesheet" />
<link href="../assets/plugins/datatables.net-colreorder-bs4/css/colReorder.bootstrap4.min.css" rel="stylesheet" />
<link href="../assets/plugins/datatables.net-keytable-bs4/css/keyTable.bootstrap4.min.css" rel="stylesheet" />
<link href="../assets/plugins/datatables.net-rowreorder-bs4/css/rowReorder.bootstrap4.min.css" rel="stylesheet" />
<link href="../assets/plugins/datatables.net-select-bs4/css/select.bootstrap4.min.css" rel="stylesheet" />
<link href="../assets/plugins/switchery/switchery.min.css" rel="stylesheet" />
<link href="../assets/plugins/abpetkov-powerange/dist/powerange.min.css" rel="stylesheet" />


<!-- Styles -->
<style>
  #chartdiv {
    width: 100%;
    height: 500px;
  }
  
  </style>
{% endblock %}

{% block content %}
<!-- begin #content -->
		<!-- begin #content -->
		<div id="content" class="content">
			<!-- begin page-header -->
			<h1 class="page-header">대쉬보드</h1>
			<!-- end page-header -->
			
			<!-- begin row -->
			<div class="row">
				<!-- begin col-3 -->
				<div class="col-xl-3 col-md-6">
					<div class="widget widget-stats bg-blue">
						<div class="stats-icon"><i class="fas fa-lg fa-fw m-r-10 fa-microchip"></i></div>
						<div class="stats-info">
							<h4>소독기</h4>
							<p id="p1">{{devices.length}}</p>	
						</div>
						<div class="stats-link">
							<a href="/device_list">자세히 <i class="fa fa-arrow-alt-circle-right"></i></a>
						</div>
					</div>
				</div>
				<!-- end col-3 -->
				<!-- begin col-3 -->
				<div class="col-xl-3 col-md-6">
					<div class="widget widget-stats bg-info">
						<div class="stats-icon"><i class="fas fa-lg fa-fw m-r-10 fa-car"></i></div>
						<div class="stats-info">
							<h4>자동차</h4>
							<p id="p2">{{cars.length}}</p>	
						</div>
						<div class="stats-link">
							<a href="/car_list">자세히 <i class="fa fa-arrow-alt-circle-right"></i></a>
						</div>
					</div>
				</div>
				<!-- end col-3 -->
				<!-- begin col-3 -->
				<div class="col-xl-3 col-md-6">
					<div class="widget widget-stats bg-orange">
						<div class="stats-icon"><i class="fa fa-users"></i></div>
						<div class="stats-info">
							<h4>작업자</h4>
							<p id="p3">{{workers.length}}</p>	
						</div>
						<div class="stats-link">
							<a href="/worker_list">자세히 <i class="fa fa-arrow-alt-circle-right"></i></a>
						</div>
					</div>
				</div>
				<!-- end col-3 -->
				<!-- begin col-3 -->
				<div class="col-xl-3 col-md-6">
					<div class="widget widget-stats bg-red">
						<div class="stats-icon"><i class="fas fa-lg fa-fw m-r-10 fa-history"></i></div>
						<div class="stats-info">
							<h4>소독이력</h4>
							<p id="p4">{{historys.length}}</p>	
						</div>
						<div class="stats-link">
							<a href="/history_list">자세히 <i class="fa fa-arrow-alt-circle-right"></i></a>
						</div>
					</div>
				</div>
				<!-- end col-3 -->
			</div>
			<!-- end row -->
			<!-- begin row -->
			<div class="row">
				<!-- begin col-8 -->
				<div class="col-xl-8">
				    
				    <!-- begin panel -->
                	<div class="panel panel-inverse">
                		<!-- begin panel-heading -->
                		<div class="panel-heading">
                			<h4 class="panel-title">최근 소독이력</h4>
                		</div>
                		<!-- end panel-heading -->
                		<!-- begin panel-body -->
                		<div class="panel-body">
                		    {% if recent_history %}
                        		    <table class="table table-striped table-bordered table-td-valign-middle">
                        				<thead>
                        					<tr>
                        						<th class="text-nowrap">차량번호</th>
                        					    <th class="text-nowrap">소독일시</th>
                        						<th class="text-nowrap">등록일시</th>
                        						<th class="text-nowrap">소독결과</th>
                        					</tr>
                        				</thead>
                        				<tbody>
                        					<tr>
                        						<td>
                        							{% for car in cars %}
                        								{% if (car._id == history_array.VID) %}
                        									{{car.CN}}
                        								{% endif %}
                        							{% endfor %}
                        						</td>
                        						<td id="ET"></td>
                        						<td id="CA"></td>
                        						{% if recent_history.RC == 1 %}
													<td>성공</td>
												{% else %}
													<td>실패</td>
												{% endif %}
                        					</tr>
                        				</tbody>
                        			</table>
                        			
                                	<div id="chartdiv"></div>
                			{% else %}
                				<h3>최근 공정데이터가 없습니다.</h3>
  			                {% endif %}
                		</div>
                		<!-- end panel-body -->
                	</div>
                	<!-- end panel -->
					

					<!-- end panel -->
				</div>
				<!-- end col-8 -->
				<!-- begin col-4 -->
				<div class="col-xl-4">
					<!-- begin panel -->
					<!-- 막대그래프 만들곳 시작점 -->
					<div class="panel panel-inverse" data-sortable-id="index-6">
						<div class="panel-heading">
							<h4 class="panel-title">최근 일주일간 소독 횟수</h4>
						</div>
						<div class="table-responsive">
							<table class="table table-valign-middle table-panel mb-0">
								<thead>

								</thead>
								<tbody>
									<tr>
										<div id="first week" style ="height : 300px"></div>
									</tr>

								</tbody>
							</table>
						</div>
					</div>
					<!-- 막대그래프 끝 -->
					<!-- end panel -->
				</div>
				<!-- end col-4 -->
			</div>
			<!-- end row -->
		</div>
		<!-- end #content -->
		
	<!-- end #content -->
	
	
		
	{% endblock %}


{% block script %}

<!--Script-->
<script src="/socket.io/socket.io.js"></script>
<script>
	// 시간 표현 기능
	var et = document.getElementById('ET');
	var ca = document.getElementById('CA');
	
	et.innerHTML = moment('{{history_array.ET}}').format('YYYY-MM-DD HH:MM');
	ca.innerHTML = moment('{{history_array.CA}}').format('YYYY-MM-DD HH:MM');

	// 웹소캣 기능
	const socket = io.connect('{{HOME}}', {
		path: '/socket.io',
		transports: ['websocket'],
	});
	
	socket.on('newDevice', function (data) {
		var socket_new_device = [];
		for(i = 0; i < data.length; i++) {
			if(data[i].CID == '{{company._id}}') {
				socket_new_device.push(data[i]);
			}
		}
		console.log(socket_new_device.length);
		document.getElementById('socket_device').innerHTML = socket_new_device.length;
		socket.emit('reply', '소독기 갱신');
	});
	
	socket.on('newCar', function (data) {
		var socket_new_car = [];
		for(i = 0; i < data.length; i++) {
			if(data[i].CID == '{{company._id}}') {
				socket_new_car.push(data[i]);
			}
		}
		console.log(socket_new_car.length);
		document.getElementById('socket_car').innerHTML = socket_new_car.length;
		socket.emit('reply', '자동차 갱신');
	});
	
	socket.on('newWorker', function (data) {
		var socket_new_worker = [];
		for(i = 0; i < data.length; i++) {
			if(data[i].CID == '{{company._id}}') {
				socket_new_worker.push(data[i]);
			}
		}
		console.log(socket_new_worker.length);
		document.getElementById('socket_worker').innerHTML = socket_new_worker.length;
		socket.emit('reply', '작업자 갱신');
	});
	
	socket.on('newHistory', function (data) {
		var socket_new_history = [];
		for(i = 0; i < data.length; i++) {
			if(data[i].CID == '{{company._id}}') {
				socket_new_history.push(data[i]);
			}
		}
		console.log(socket_new_history.length);
		document.getElementById('socket_history').innerHTML = socket_new_history.length;
		socket.emit('reply', '소독이력 갱신');
	});
</script>

<script src="https://cdn.amcharts.com/lib/4/core.js"></script>
<script src="https://cdn.amcharts.com/lib/4/charts.js"></script>
<script src="https://cdn.amcharts.com/lib/4/themes/animated.js"></script>

<script>
am4core.ready(function() {

	// Themes begin
	am4core.useTheme(am4themes_animated);
	// Themes end
	
	// Create chart instance
	var chart = am4core.create("chartdiv", am4charts.XYChart);
	//var BarchartFirst = am4core.create("first week", am4charts.XYChart);
	//이것은 차트에 mongodb 연동하는 부분
	    {% set ss = 1 %}
	
			  {% for item in recent_history %}
			  
	    		  chart.data.push({
	                ss: {{ss}},
	                ppm: {{item}}
	              });
	            
	            {% set ss = ss + 1 %}
			  
			  {% endfor %}
	
	// Set input format for the dates
	chart.logo.disabled = true;
	chart.numberFormatter.numberFormat = "#";
	// Create axes
	var ssAxis = chart.xAxes.push(new am4charts.ValueAxis());
	var ppmAxis = chart.yAxes.push(new am4charts.ValueAxis());
	
	// Create series
	var series = chart.series.push(new am4charts.LineSeries());
	ssAxis.title.text = "시간(s)";
	ppmAxis.title.text = "오존(ppm)";
	series.dataFields.valueY = "ppm";
	series.dataFields.valueX = "ss";
	series.tooltipText = "{ppm}"
	series.strokeWidth = 2;
	series.minBulletDistance = 15;
	
	// Range Color
	var range1 = ppmAxis.createSeriesRange(series);
	range1.value = 0;
	range1.endValue = 0.5;
	range1.contents.stroke = am4core.color("green");
	var range2 = ppmAxis.createSeriesRange(series);
	range2.value = 0.501;
	range2.endValue = 1;
	range2.contents.stroke = am4core.color("orange");
	var range3 = ppmAxis.createSeriesRange(series);
	range3.value = 1.001;
	range3.endValue = 5;
	range3.contents.stroke = am4core.color("red");
	
	// Drop-shaped tooltips 이것은 마우스를 올렸을 때 말풍선이 나오는 것이여
	series.tooltip.background.cornerRadius = 20;
	series.tooltip.background.strokeOpacity = 0;
	series.tooltip.pointerOrientation = "vertical";
	series.tooltip.label.minWidth = 40;
	series.tooltip.label.minHeight = 40;
	series.tooltip.label.textAlign = "middle";
	series.tooltip.label.textValign = "middle";
	
	// Make bullets grow on hover 이것은 각 점들의 크기
	var bullet = series.bullets.push(new am4charts.CircleBullet());
	bullet.circle.strokeWidth = 2;
	bullet.circle.radius = 4;
	bullet.circle.fill = am4core.color("#fff");
	
	var bullethover = bullet.states.create("hover");
	bullethover.properties.scale = 1.3;
	
	// Make a panning cursor 이것은 마우스 올렸을 때 점선이여
	chart.cursor = new am4charts.XYCursor();
	chart.cursor.behavior = "panXY";
	chart.cursor.xAxis = ssAxis;
	chart.cursor.snapToSeries = series;
	
	ssAxis.start = 0;
	ssAxis.keepSelection = true;
	
});// end am4core.ready()


	
	
	
	/**
	 * ---------------------------------------
	 * This demo was created using amCharts 4.
	 *
	 * For more information visit:
	 * https://www.amcharts.com/
	 *
	 * Documentation is available at:
	 * https://www.amcharts.com/docs/v4/
	 * ---------------------------------------
	 */
	
	var data = {
	  "week1": [{
	   "category": "1일 전",
	    "value": {{history_count[0]}},
	    "color" : "#5AD2FF"
	  }, {
	    "category":"2일 전",
	    "value": {{history_count[1]}},
	    "color" : "#50C8FF"
	  }, {
	    "category":"3일 전",
	    "value": {{history_count[2]}},
	    "color" : "#46BEFF"
	  },
	  {
	    "category":"4일 전",
	    "value": {{history_count[3]}},
	    "color" : "#3CB4FF"
	  },{
	    "category":"5일 전",
	    "value": {{history_count[4]}},
	    "color" : "#32AAFF"
	  },{
	    "category":"6일 전",
	    "value": {{history_count[5]}},
	    "color" : "#28A0FF"
	  },{
	   "category": "7일 전",
	    "value": {{history_count[6]}},
	    "color" : "#1E96FF"
	  }],
	}
	
	
	// Create chart instance
	var chart = am4core.create("first week", am4charts.XYChart);
	
	// Add data
	chart.data = data.week1;
	chart.logo.disabled = true;
	var categoryAxis = chart.xAxes.push(new am4charts.CategoryAxis());
	categoryAxis.dataFields.category = "category";
	categoryAxis.renderer.grid.template.location = 0;
	
	var valueAxis = chart.yAxes.push(new am4charts.ValueAxis());
	valueAxis.title.text = "횟수(개)";
	
	// Create series
	var series = chart.series.push(new am4charts.ColumnSeries());
	series.dataFields.valueY = "value";
	series.dataFields.categoryX = "category";
	series.columns.template.propertyFields.fill = "color";
	series.columns.template.propertyFields.stroke = "color";
	series.tooltip.background.cornerRadius = 20;
	series.tooltip.background.strokeOpacity = 0;
	series.tooltip.pointerOrientation = "vertical";
	series.tooltip.label.minWidth = 40;
	series.tooltip.label.minHeight = 40;
	series.tooltip.label.textAlign = "middle";
	series.tooltip.label.textValign = "middle";
	
	categoryAxis.renderer.minGridDistance = 30;
	// end am4core.ready()
</script>
						
<script src="../assets/plugins/datatables.net/js/jquery.dataTables.min.js"></script>
<script src="../assets/plugins/datatables.net-bs4/js/dataTables.bootstrap4.min.js"></script>
<script src="../assets/plugins/datatables.net-responsive/js/dataTables.responsive.min.js"></script>
<script src="../assets/plugins/datatables.net-responsive-bs4/js/responsive.bootstrap4.min.js"></script>
<script src="../assets/js/demo/dashboard.js"></script>
<script src="../assets/js/demo/table-manage-default.demo.js"></script>

{% endblock %}