{% extends 'layout.html' %}

{% block css %}
<link href="../assets/plugins/datatables.net-bs4/css/dataTables.bootstrap4.min.css" rel="stylesheet" />
<link href="../assets/plugins/datatables.net-responsive-bs4/css/responsive.bootstrap4.min.css" rel="stylesheet" />
<link href="../assets/plugins/datatables.net-buttons-bs4/css/buttons.bootstrap4.min.css" rel="stylesheet" />
<link href="../assets/plugins/datatables.net-autofill-bs4/css/autoFill.bootstrap4.min.css" rel="stylesheet" />
<link href="../assets/plugins/datatables.net-colreorder-bs4/css/colReorder.bootstrap4.min.css" rel="stylesheet" />
<link href="../assets/plugins/datatables.net-keytable-bs4/css/keyTable.bootstrap4.min.css" rel="stylesheet" />
<link href="../assets/plugins/datatables.net-rowreorder-bs4/css/rowReorder.bootstrap4.min.css" rel="stylesheet" />
<link href="../assets/plugins/datatables.net-select-bs4/css/select.bootstrap4.min.css" rel="stylesheet" />
<link href="../assets/plugins/switchery/switchery.min.css" rel="stylesheet" />
<link href="../assets/plugins/abpetkov-powerange/dist/powerange.min.css" rel="stylesheet" />


<!-- Styles -->
<style>
  #chartdiv {
    width: 100%;
    height: 500px;
  }
  
  </style>
{% endblock %}

{% block content %}
<!-- begin #content -->
		<!-- begin #content -->
		<div id="content" class="content">
			<!-- begin page-header -->
			<h1 class="page-header">대쉬보드</h1>
			<!-- end page-header -->
			
			<!-- begin row -->
			<div class="row">
				<!-- begin col-3 -->
				<div class="col-xl-3 col-md-6">
					<div class="widget widget-stats bg-blue">
						<div class="stats-icon"><i class="fas fa-lg fa-fw m-r-10 fa-microchip"></i></div>
						<div class="stats-info">
							<h4>소독기</h4>
							<p>{{devices.length}}</p>	
						</div>
						<div class="stats-link">
							<a href="/device_list">자세히 <i class="fa fa-arrow-alt-circle-right"></i></a>
						</div>
					</div>
				</div>
				<!-- end col-3 -->
				<!-- begin col-3 -->
				<div class="col-xl-3 col-md-6">
					<div class="widget widget-stats bg-info">
						<div class="stats-icon"><i class="fas fa-lg fa-fw m-r-10 fa-car"></i></div>
						<div class="stats-info">
							<h4>자동차</h4>
							<p>{{cars.length}}</p>	
						</div>
						<div class="stats-link">
							<a href="/car_list">자세히 <i class="fa fa-arrow-alt-circle-right"></i></a>
						</div>
					</div>
				</div>
				<!-- end col-3 -->
				<!-- begin col-3 -->
				<div class="col-xl-3 col-md-6">
					<div class="widget widget-stats bg-orange">
						<div class="stats-icon"><i class="fa fa-users"></i></div>
						<div class="stats-info">
							<h4>작업자</h4>
							<p>{{workers.length}}</p>	
						</div>
						<div class="stats-link">
							<a href="/worker_list">자세히 <i class="fa fa-arrow-alt-circle-right"></i></a>
						</div>
					</div>
				</div>
				<!-- end col-3 -->
				<!-- begin col-3 -->
				<div class="col-xl-3 col-md-6">
					<div class="widget widget-stats bg-red">
						<div class="stats-icon"><i class="fas fa-lg fa-fw m-r-10 fa-history"></i></div>
						<div class="stats-info">
							<h4>소독이력</h4>
							<p>{{historys.length}}</p>	
						</div>
						<div class="stats-link">
							<a href="/history_list">자세히 <i class="fa fa-arrow-alt-circle-right"></i></a>
						</div>
					</div>
				</div>
				<!-- end col-3 -->
			</div>
			<!-- end row -->
			<!-- begin row -->
			<div class="row">
				<!-- begin col-8 -->
				<div class="col-xl-8">
				    
				    <!-- begin panel -->
                	<div class="panel panel-inverse">
                		<!-- begin panel-heading -->
                		<div class="panel-heading">
                			<h4 class="panel-title">최근 소독이력</h4>
                		</div>
                		<!-- end panel-heading -->
                		<!-- begin panel-body -->
                		<div class="panel-body">
                		    {% if recent_history %}
                        		    <table class="table table-striped table-bordered table-td-valign-middle">
                        				<thead>
                        					<tr>
                        						<th class="text-nowrap">차량번호</th>
                        					    <th class="text-nowrap">소독일시</th>
                        						<th class="text-nowrap">등록일시</th>
                        						<th class="text-nowrap">소독시간</th>
                        						<th class="text-nowrap">소독결과</th>
                        					</tr>
                        				</thead>
                        				<tbody>
                        					<tr>
                        						<td>
                        							{% for car in cars %}
                        								{% if (car._id == history_array.VID) %}
                        									{{car.CN}}
                        								{% endif %}
                        							{% endfor %}
                        						</td>
                        						<td>{{moment(history_array.ET).format('YYYY-MM-DD hh:mm:ss')}}</td>
                        						<td>{{moment(history_array.CA).format('YYYY-MM-DD hh:mm:ss')}}</td>
                        						<td>{{moment(history_array.ET).diff(moment(history_array.ST), 'minutes')+" 분"}}</td>
                        						<td>{{history_array.RC}}</td>
                        					</tr>
                        				</tbody>
                        			</table>
                        			
                                	<div id="chartdiv"></div>
                			{% else %}
                				<h3>최근 공정데이터가 없습니다.</h3>
  			                {% endif %}
                		</div>
                		<!-- end panel-body -->
                	</div>
                	<!-- end panel -->
					

					<!-- end panel -->
				</div>
				<!-- end col-8 -->
				<!-- begin col-4 -->
				<div class="col-xl-4">
					<!-- begin panel -->
					<!-- 막대그래프 만들곳 시작점 -->
					<div class="panel panel-inverse" data-sortable-id="index-6">
						<div class="panel-heading">
							<h4 class="panel-title">한달 간 소독 횟수</h4>
						</div>
						<div class="table-responsive">
							<table class="table table-valign-middle table-panel mb-0">
								<thead>
									<tr>	
										<th>Source</th>
										<th>Total</th>
										<th>Trend</th>
									</tr>
								</thead>
								<tbody>
									<tr>
										<td><label class="label label-danger">Unique Visitor</label></td>
										<td>13,203 <span class="text-success"><i class="fa fa-arrow-up"></i></span></td>
										<td><div style ="height : 30px" id="first week"></div></td>
									</tr>
									<tr>
										<td><label class="label label-warning">First Weeks</label></td>
										<td>28.2%</td>
										<td><div id="sparkline-bounce-rate"></div></td>
									</tr>
									<tr>
										<td><label class="label label-success">Second Weeks</label></td>
										<td>1,230,030</td>
										<td><div id="sparkline-total-page-views"></div></td>
									</tr>
									<tr>
										<td><label class="label label-primary">Third Weeks</label></td>
										<td>00:03:45</td>
										<td><div id="sparkline-avg-time-on-site"></div></td>
									</tr>
									<tr>
										<td><label class="label label-default">Forth Weeks</label></td>
										<td>123</td>
										<td><div id="sparkline-new-visits"></div></td>
									</tr>
									<tr>
										<td><label class="label label-inverse">Return Visitors</label></td>
										<td>73.4%</td>
										<td><div id="sparkline-return-visitors"></div></td>
									</tr>
								</tbody>
							</table>
						</div>
					</div>
					<!-- 막대그래프 끝 -->
					<!-- end panel -->
					
				
				</div>
				<!-- end col-4 -->
			</div>
			<!-- end row -->
		</div>
		<!-- end #content -->
		
<!-- end #content -->
	<!-- error script -->
		
	{% endblock %}


{% block script %}

<script src="https://cdn.amcharts.com/lib/4/core.js"></script>
<script src="https://cdn.amcharts.com/lib/4/charts.js"></script>
<script src="https://cdn.amcharts.com/lib/4/themes/animated.js"></script>

<script>

am4core.ready(function() {

// Themes begin
am4core.useTheme(am4themes_animated);
// Themes end

// Create chart instance
var chart = am4core.create("chartdiv", am4charts.XYChart);
//var BarchartFirst = am4core.create("first week", am4charts.XYChart);
//이것은 차트에 mongodb 연동하는 부분
    {% set ss = 1 %}

		  {% for item in recent_history %}
		  
    		  chart.data.push({
                ss: {{ss}},
                ppm: {{item}}
              });
            
            {% set ss = ss + 1 %}
		  
		  {% endfor %}

// Set input format for the dates
chart.logo.disabled = true;
chart.numberFormatter.numberFormat = "#";
// Create axes
var ssAxis = chart.xAxes.push(new am4charts.ValueAxis());
var ppmAxis = chart.yAxes.push(new am4charts.ValueAxis());

// Create series
var series = chart.series.push(new am4charts.LineSeries());
series.dataFields.valueY = "ppm";
series.dataFields.valueX = "ss";
series.tooltipText = "{ppm}"
series.strokeWidth = 2;
series.minBulletDistance = 15;

// Drop-shaped tooltips 이것은 마우스를 올렸을 때 말풍선이 나오는 것이여
series.tooltip.background.cornerRadius = 20;
series.tooltip.background.strokeOpacity = 0;
series.tooltip.pointerOrientation = "vertical";
series.tooltip.label.minWidth = 40;
series.tooltip.label.minHeight = 40;
series.tooltip.label.textAlign = "middle";
series.tooltip.label.textValign = "middle";

// Make bullets grow on hover 이것은 각 점들의 크기
var bullet = series.bullets.push(new am4charts.CircleBullet());
bullet.circle.strokeWidth = 2;
bullet.circle.radius = 4;
bullet.circle.fill = am4core.color("#fff");

var bullethover = bullet.states.create("hover");
bullethover.properties.scale = 1.3;

// Make a panning cursor 이것은 마우스 올렸을 때 점선이여
chart.cursor = new am4charts.XYCursor();
chart.cursor.behavior = "panXY";
chart.cursor.xAxis = ssAxis;
chart.cursor.snapToSeries = series;

ssAxis.start = 0;
ssAxis.keepSelection = true;


});// end am4core.ready()






bar_func = function(div_name) {

// Themes begin
am4core.useTheme(am4themes_animated);
// Themes end

  // Create chart instance
  var container = am4core.create(div_name, am4core.Container);
  	container.logo.disabled =true
  container.fixedWidthGrid = false;
  container.width = am4core.percent(100);
  container.height = am4core.percent(100);

  // Color set
  var colors = new am4core.ColorSet();

  function createColumn(title, data, color) {

    var chart = container.createChild(am4charts.XYChart);
    chart.width = am4core.percent(100);
    chart.height = am4core.percent(100);

    chart.data = data;

    chart.titles.template.fontSize = 10;
    chart.titles.template.textAlign = "left";
    chart.titles.template.isMeasured = false;
    chart.titles.create().text = title;

    chart.padding(0, 0, 0, 0);

    var dateAxis = chart.xAxes.push(new am4charts.DateAxis());
    dateAxis.renderer.grid.template.disabled = true;
    dateAxis.renderer.labels.template.disabled = true;
    dateAxis.cursorTooltipEnabled = false;

    var valueAxis = chart.yAxes.push(new am4charts.ValueAxis());
    valueAxis.min = 0;
    valueAxis.renderer.grid.template.disabled = true;
    valueAxis.renderer.baseGrid.disabled = true;
    valueAxis.renderer.labels.template.disabled = true;
    valueAxis.cursorTooltipEnabled = false;

    chart.cursor = new am4charts.XYCursor();
    chart.cursor.lineY.disabled = true;

    var series = chart.series.push(new am4charts.ColumnSeries());
    series.tooltipText = "{date}: [bold]{value}";
    series.dataFields.dateX = "date";
    series.dataFields.valueY = "value";
    series.strokeWidth = 0;
    series.fillOpacity = 1;
    series.columns.template.propertyFields.fillOpacity = "opacity";
    series.columns.template.fill = color;

    return chart;
  }



  createColumn("",data, colors.getIndex(week));



}


data = [
    { "date": new Date(2018, 0, 1, 8, 0, 0), "value": 22 }, 
    { "date": new Date(2018, 0, 1, 9, 0, 0), "value": 25 }, 
    { "date": new Date(2018, 0, 1, 10, 0, 0), "value": 40 }, 
    { "date": new Date(2018, 0, 1, 11, 0, 0), "value": 35 }, 
    { "date": new Date(2018, 0, 1, 12, 0, 0), "value": 29 }, 
    { "date": new Date(2018, 0, 1, 13, 0, 0), "value": 1 }, 
    { "date": new Date(2018, 0, 1, 14, 0, 0), "value": 15 }, 
    { "date": new Date(2018, 0, 1, 15, 0, 0), "value": 29 }, 
    { "date": new Date(2018, 0, 1, 16, 0, 0), "value": 33 }
  ];
week = 1*5;
am4core.ready(bar_func('first week',data,week));


 // end am4core.ready()
</script>

<script src="../assets/plugins/datatables.net/js/jquery.dataTables.min.js"></script>
<script src="../assets/plugins/datatables.net-bs4/js/dataTables.bootstrap4.min.js"></script>
<script src="../assets/plugins/datatables.net-responsive/js/dataTables.responsive.min.js"></script>
<script src="../assets/plugins/datatables.net-responsive-bs4/js/responsive.bootstrap4.min.js"></script>
<script src="../assets/plugins/datatables.net-colreorder/js/dataTables.colReorder.min.js"></script>
<script src="../assets/plugins/datatables.net-colreorder-bs4/js/colReorder.bootstrap4.min.js"></script>
<script src="../assets/plugins/datatables.net-keytable/js/dataTables.keyTable.min.js"></script>
<script src="../assets/plugins/datatables.net-keytable-bs4/js/keyTable.bootstrap4.min.js"></script>
<script src="../assets/plugins/datatables.net-rowreorder/js/dataTables.rowReorder.min.js"></script>
<script src="../assets/plugins/datatables.net-rowreorder-bs4/js/rowReorder.bootstrap4.min.js"></script>
<script src="../assets/plugins/datatables.net-buttons/js/dataTables.buttons.min.js"></script>
<script src="../assets/plugins/datatables.net-buttons-bs4/js/buttons.bootstrap4.min.js"></script>
<script src="../assets/plugins/datatables.net-buttons/js/buttons.colVis.min.js"></script>
<script src="../assets/plugins/datatables.net-buttons/js/buttons.flash.min.js"></script>
<script src="../assets/plugins/datatables.net-buttons/js/buttons.html5.min.js"></script>
<script src="../assets/plugins/datatables.net-buttons/js/buttons.print.min.js"></script>
<script src="../assets/plugins/pdfmake/build/pdfmake.min.js"></script>
<script src="../assets/plugins/pdfmake/build/vfs_fonts.js"></script>
<script src="../assets/plugins/jszip/dist/jszip.min.js"></script>
<script src="../assets/js/demo/table-manage-combine.demo.js"></script>
<script src="../assets/plugins/switchery/switchery.min.js"></script>
<script src="../assets/plugins/abpetkov-powerange/dist/powerange.min.js"></script>
<script src="../assets/js/demo/form-slider-switcher.demo.js"></script>
<script src="../assets/plugins/flot/source/jquery.canvaswrapper.js"></script>
<script src="../assets/plugins/flot/source/jquery.colorhelpers.js"></script>
<script src="../assets/plugins/flot/source/jquery.flot.js"></script>
<script src="../assets/plugins/flot/source/jquery.flot.saturated.js"></script>
<script src="../assets/plugins/flot/source/jquery.flot.browser.js"></script>
<script src="../assets/plugins/flot/source/jquery.flot.drawSeries.js"></script>
<script src="../assets/plugins/flot/source/jquery.flot.uiConstants.js"></script>
<script src="../assets/plugins/flot/source/jquery.flot.time.js"></script>
<script src="../assets/plugins/flot/source/jquery.flot.resize.js"></script>
<script src="../assets/plugins/flot/source/jquery.flot.pie.js"></script>
<script src="../assets/plugins/flot/source/jquery.flot.crosshair.js"></script>
<script src="../assets/plugins/flot/source/jquery.flot.categories.js"></script>
<script src="../assets/plugins/flot/source/jquery.flot.navigate.js"></script>
<script src="../assets/plugins/flot/source/jquery.flot.touchNavigate.js"></script>
<script src="../assets/plugins/flot/source/jquery.flot.hover.js"></script>
<script src="../assets/plugins/flot/source/jquery.flot.touch.js"></script>
<script src="../assets/plugins/flot/source/jquery.flot.selection.js"></script>
<script src="../assets/plugins/flot/source/jquery.flot.symbol.js"></script>
<script src="../assets/plugins/flot/source/jquery.flot.legend.js"></script>
<script src="../assets/plugins/jquery-sparkline/jquery.sparkline.min.js"></script>
<script src="../assets/plugins/jvectormap-next/jquery-jvectormap.min.js"></script>
<script src="../assets/plugins/jvectormap-next/jquery-jvectormap-world-mill.js"></script>
<script src="../assets/plugins/bootstrap-datepicker/dist/js/bootstrap-datepicker.js"></script>
<script src="../assets/js/demo/dashboard.js"></script>
<script src="../assets/plugins/datatables.net-responsive/js/dataTables.responsive.min.js"></script>
<script src="../assets/plugins/datatables.net-responsive-bs4/js/responsive.bootstrap4.min.js"></script>
<script src="../assets/js/demo/table-manage-default.demo.js"></script>

{% endblock %}