<!DOCTYPE html>
<html lang="ko">
<head>
  <meta charset="UTF-8">
  <meta http-equiv="X-UA-Compatible" content="IE=edge">
  <meta name="viewport" content="width=device-width, initial-scale=1.0">
  <title>{{__('manual_title')}}</title>
  <link href="https://fonts.googleapis.com/css?family=Open+Sans:300,400,600,700" rel="stylesheet" />
	<link href="../assets/css/default/app.min.css" rel="stylesheet" />
	<link href="../oasiscss/oasis.css" rel="stylesheet" />
  <link href="../assets/img/favicon.png" rel="icon">
</head>

<body>
<script src="https://cdnjs.cloudflare.com/ajax/libs/moment.js/2.29.1/moment.min.js"></script>

<div class="wrap">
  <header class="wrap-header">
    <!-- 메뉴 구조 변경 될 수 있음 -->
    <nav class="navbar">
      <div class="navbar-brand">
        <a href="/" class="navbar-item">
          <img src="../assets/qrcode/assets/images/brand-logo.svg" alt="보이는 소독 플랫폼 오아시스" width="100"  class="tit-service">
        </a>
      </div>
      <div>
        <ul class="nav nav-pills">
  				<li class="nav-item">
  					<a href="#nav-pills-tab-1" data-toggle="tab" class="nav-link active">
  						<span class="d-sm-none">작동 메뉴얼</span>
  						<span class="d-sm-block d-none">작동 메뉴얼</span>
  					</a>
  				</li>
  				<li class="nav-item">
  					<a href="#nav-pills-tab-2" data-toggle="tab" class="nav-link">
  						<span class="d-sm-none">웹 메뉴얼</span>
  						<span class="d-sm-block d-none">웹 메뉴얼</span>
  					</a>
  				</li>
  				<li class="nav-item">
  					<a href="#nav-pills-tab-3" data-toggle="tab" class="nav-link">
  						<span class="d-sm-none">어플 메뉴얼</span>
  						<span class="d-sm-block d-none">어플 메뉴얼</span>
  					</a>
  				</li>
  			</ul>
  		</div>
    </nav>
  </header>
  
  <container>
    <!-- begin tab-content -->
		<div class="tab-content p-15 rounded bg-white mb-4">
			<!-- begin tab-pane -->
			<div class="tab-pane fade active show" id="nav-pills-tab-1">
				<h3 class="m-t-10">작동 메뉴얼</h3>
				<div><img src="../assets/img/manual/설치매뉴얼-1.png" class="img-responsive"></div>
				<hr>
				<div><img src="../assets/img/manual/설치매뉴얼-2.png" class="img-responsive"></div>
			</div>
			<!-- end tab-pane -->
			<!-- begin tab-pane -->
			<div class="tab-pane fade" id="nav-pills-tab-2">
				<h3 class="m-t-10">웹 메뉴얼</h3>
				<div><img src="../assets/img/manual/OASIS_메뉴얼-03.png" class="img-responsive"></div>
				<hr>
				<div><img src="../assets/img/manual/OASIS_메뉴얼-04.png" class="img-responsive"></div>
				<hr>
				<div><img src="../assets/img/manual/OASIS_메뉴얼-05.png" class="img-responsive"></div>
				<hr>
				<div><img src="../assets/img/manual/OASIS_메뉴얼-06.png" class="img-responsive"></div>
				<hr>
				<div><img src="../assets/img/manual/OASIS_메뉴얼-07.png" class="img-responsive"></div>
				<hr>
				<div><img src="../assets/img/manual/OASIS_메뉴얼-08.png" class="img-responsive"></div>
				<hr>
				<div><img src="../assets/img/manual/OASIS_메뉴얼-09.png" class="img-responsive"></div>
				<hr>
				<div><img src="../assets/img/manual/OASIS_메뉴얼-10.png" class="img-responsive"></div>
				<hr>
				<div><img src="../assets/img/manual/OASIS_메뉴얼-11.png" class="img-responsive"></div>
				<hr>
				<div><img src="../assets/img/manual/OASIS_메뉴얼-12.png" class="img-responsive"></div>
				<hr>
				<div><img src="../assets/img/manual/OASIS_메뉴얼-13.png" class="img-responsive"></div>
				<hr>
				<div><img src="../assets/img/manual/OASIS_메뉴얼-14.png" class="img-responsive"></div>
				<hr>
				<div><img src="../assets/img/manual/OASIS_메뉴얼-15.png" class="img-responsive"></div>
				<hr>
				<div><img src="../assets/img/manual/OASIS_메뉴얼-16.png" class="img-responsive"></div>
				<hr>
				<div><img src="../assets/img/manual/OASIS_메뉴얼-17.png" class="img-responsive"></div>
				<hr>
				<div><img src="../assets/img/manual/OASIS_메뉴얼-18.png" class="img-responsive"></div>
				<hr>
				<div><img src="../assets/img/manual/OASIS_메뉴얼-19.png" class="img-responsive"></div>
				<hr>
				<div><img src="../assets/img/manual/OASIS_메뉴얼-20.png" class="img-responsive"></div>
				<hr>
				<div><img src="../assets/img/manual/OASIS_메뉴얼-21.png" class="img-responsive"></div>
				<hr>
				<div><img src="../assets/img/manual/OASIS_메뉴얼-22.png" class="img-responsive"></div>
				<hr>
			</div>
			<!-- end tab-pane -->
			<!-- begin tab-pane -->
			<div class="tab-pane fade" id="nav-pills-tab-3">
				<h3 class="m-t-10">어플 메뉴얼</h3>
				<div><img src="../assets/img/manual/OASIS_메뉴얼-23.png" class="img-responsive"></div>
				<hr>
				<div><img src="../assets/img/manual/OASIS_메뉴얼-24.png" class="img-responsive"></div>
				<hr>
				<div><img src="../assets/img/manual/OASIS_메뉴얼-25.png" class="img-responsive"></div>
				<hr>
				<div><img src="../assets/img/manual/OASIS_메뉴얼-26.png" class="img-responsive"></div>
				<hr>
				<div><img src="../assets/img/manual/OASIS_메뉴얼-27.png" class="img-responsive"></div>
				<hr>
				<div><img src="../assets/img/manual/OASIS_메뉴얼-28.png" class="img-responsive"></div>
				<hr>
				<div><img src="../assets/img/manual/OASIS_메뉴얼-29.png" class="img-responsive"></div>
				<hr>
				<div><img src="../assets/img/manual/OASIS_메뉴얼-30.png" class="img-responsive"></div>
				<hr>
				<div><img src="../assets/img/manual/OASIS_메뉴얼-31.png" class="img-responsive"></div>
				<hr>
				<div><img src="../assets/img/manual/OASIS_메뉴얼-32.png" class="img-responsive"></div>
				<hr>
			</div>
			<!-- end tab-pane -->
		</div>
  </container>
      
</div>
<script src="../assets/js/app.min.js"></script>
<script src="../assets/js/theme/default.min.js"></script>
<script src="http://code.jquery.com/jquery-1.10.2.js"></script>
</body>
</html>