<!DOCTYPE html>
<html lang="ko">
<head>
  <meta charset="UTF-8">
  <meta http-equiv="X-UA-Compatible" content="IE=edge">
  <meta name="viewport" content="width=device-width, initial-scale=1.0">
  <meta property="og:title" content="OASIS | 안전이 보이니 마음이 놓인다">
  <meta property="og:description" content="즐거운 드라이브를 위해 정기적으로 실시된 방역관리를 확인해보세요.">
  <meta property="og:image" content="../assets/img/oasis.png">
  <title>OASIS 보이는 소독 시스템</title>
  <link rel="stylesheet" href="../assets/qrcode/css/main.css" class="css">
  <!--임의로 추가한 커스텀css파일-->
  <link rel="stylesheet" href="../assets/qrcode/css/custom.css" class="css">
  <!---->
  <link href="../assets/img/favicon.png" rel="icon">
  <script src="https://kit.fontawesome.com/71839e8cce.js" crossorigin="anonymous"></script>
  
  <style>
      ul {
          line-height: 2;
      }
      .area-body {
          border: 2px solid lightgray;
          background: #ededed;
          border-radius: 20px;
          padding: 30px;
      }
          .area-body img {
              border-radius: 10px;
          }
  </style>
</head>
<body>
  <script src="https://cdnjs.cloudflare.com/ajax/libs/moment.js/2.29.1/moment.min.js"></script>
  
  <div class="wrap">
    <header class="wrap-header">
      <!-- 메뉴 구조 변경 될 수 있음 -->
      <nav class="navbar is-transparent">
        <div class="navbar-brand">
          <a href="/" class="navbar-item">
            <img src="../assets/qrcode/assets/images/brand-logo.svg" alt="보이는 소독 플랫폼 오아시스" width="100"  class="tit-service">
          </a>
        </div>
      </nav>
    </header>
    
    <h2 class="screen-out">서비스 본문</h2>
    <main class="wrap-main">
      <h3 class="screen-out">소독리포트 요약</h3>
      <section class="section intro py-2">
        <div class="container">
          <p class="title is-2"><strong>OASIS</strong></p>
          <p class="subtitle is-2">소독기 사용자 메뉴얼</p>
      </section>
      
      <section class="section service">
        <div class="container">
          <div class="area-header">
            <h4 class="title is-2">
              - 회원가입
            </h4>
          </div>
          <div class="area-body">
              <img src="../assets/img/manual_signup1.png" alt="signup_manual">
              <ul class="mt-8">
                <li>① 구글 플레이스토어 <span class="has-text-link has-text-weight-bold">[오아시스 관리자]</span> 검색 후 설치 진행</li>
                <li>② 개인 구글 계정으로 회원가입 진행</li>
                <li>③ 사업자 정보에 상호 입력 후 가입 승인 요청 진행</li>
              </ul>
              <img src="../assets/img/manual_signup2.png" class="mt-8" alt="signup_manual2">
              <ul class="mt-8">
                <li>④ 관리자 WEB서버(www.cleanoasis.net) 접속 후 작업자 승인 요청 처리 진행</li>
                <li>⑤ <span class="has-text-link has-text-weight-bold">[사업자 권한]</span> 부여 시 관리자 어플 내 <span class="has-text-link has-text-weight-bold">[모든 기능]</span> 사용가능</li>
                <li>⑥ <span class="has-text-link has-text-weight-bold">[승인]</span> 시 <span class="has-text-link has-text-weight-bold">[차량소독, 소독이력, 마이페이지]</span>에 한정된 기능 사용가능</li>
              </ul>
          </div>
        </div>
      </section>
      <section class="section report">
        <div class="container">
          <div class="area-header">
            <h4 class="title is-2">
              - 차량소독
            </h4>
          </div>
          <div class="area-body">
              <img src="../assets/img/manual_sterillization.png" alt="sterillization_manual">
              <ul class="mt-8">
                  <li>① 차량 소독메뉴 클릭 시 연결 가능한 소독기 자동으로 확인 가능 <span class="has-text-link has-text-weight-bold">(B/T 연결 필수)</span></li>
                  <li>② 장비 선택 시 ③으로 이동</li>
                  <li>③ 차량번호 입력 <span class="has-text-danger has-text-weight-bold">(99가9999 입력)</span></li>
                  <li>④ 희망 작업 코스 선택
                      <ul class="ml-8">
                          <li>- 쾌속모드 : 차량 내 존재하는 필수 바이러스 제거</li>
                          <li>- 일반모드 : 차량 내 존재하는 바이러스/균 제거</li>
                          <li>- 탈취모드 : 차량 내 담배, 땀 냄새 등 악취 제거</li>
                      </ul>
                  </li>
                  <li>⑤ 연락처 입력 시 작업 종료 후 자동으로 고객에게 소독리포트 전송 (필요 시)</li>
              </ul>
          </div>
        </div>
      </section>
      <section class="section mt-10 mb-8 has-text-centered">
        <a href="/" class="button re-enter is-medium">홈페이지 바로가기</a>
      </section>

    </main>
    <footer class="footer py-3">
        <p><span><i class="fas fa-map-marker-alt"></i></span> Daejeon, KOREA</p>
        <p><span><i class="fas fa-envelope mt-2"></i></span> mk@mklc.co.kr</p>
    </footer>
  </div>
  <script type="text/javascript" src="../assets/qrcode/js/accordion.js"></script>
  <script src="http://code.jquery.com/jquery-1.10.2.js"></script>
</body>
</html>