{% extends 'layout.html' %}

{% block css %}
<link href="../assets/plugins/datatables.net-bs4/css/dataTables.bootstrap4.min.css" rel="stylesheet" />
<link href="../assets/plugins/datatables.net-responsive-bs4/css/responsive.bootstrap4.min.css" rel="stylesheet" />
<link href="../assets/plugins/datatables.net-buttons-bs4/css/buttons.bootstrap4.min.css" rel="stylesheet" />
<link href="../assets/plugins/datatables.net-autofill-bs4/css/autoFill.bootstrap4.min.css" rel="stylesheet" />
<link href="../assets/plugins/datatables.net-colreorder-bs4/css/colReorder.bootstrap4.min.css" rel="stylesheet" />
<link href="../assets/plugins/datatables.net-keytable-bs4/css/keyTable.bootstrap4.min.css" rel="stylesheet" />
<link href="../assets/plugins/datatables.net-rowreorder-bs4/css/rowReorder.bootstrap4.min.css" rel="stylesheet" />
<link href="../assets/plugins/datatables.net-select-bs4/css/select.bootstrap4.min.css" rel="stylesheet" />

<link rel="stylesheet" href="../assets/css/summernote/summernote-lite.css">
{% endblock %}

{% block content %}
<!-- begin #content -->
<div id="content" class="content">
   <!-- begin page-header -->
   <h1 class="page-header">{{__('notice_list')}}</h1>
   <!-- end page-header -->
   <!-- begin row -->
   <div class="row">
        <div class="col-xl-10 ui-sortable">
					 <!--begin panel -->
					<div class="panel panel-inverse m-b-0">
						<div class="panel-heading ui-sortable-handle">
							<h4 class="panel-title">Summernote</h4>
							<div class="panel-heading-btn">
								<a href="javascript:;" class="btn btn-xs btn-icon btn-circle btn-default" data-click="panel-expand"><i class="fa fa-expand"></i></a>
								<a href="javascript:;" class="btn btn-xs btn-icon btn-circle btn-success" data-click="panel-reload"><i class="fa fa-redo"></i></a>
								<a href="javascript:;" class="btn btn-xs btn-icon btn-circle btn-warning" data-click="panel-collapse"><i class="fa fa-minus"></i></a>
								<a href="javascript:;" class="btn btn-xs btn-icon btn-circle btn-danger" data-click="panel-remove"><i class="fa fa-times"></i></a>
							</div>
						</div>
						<div class="panel-body p-0">
							<div class="d-flex justify-content-around align-items-center m-20" >
            	  			<p class="p-title">제목 </p><input id ="titletext" type="text" class="form-control" placeholder ="" />
            	  			</div>
						</div>
						<div class="panel-body p-0">
							<form method="post">
                              <textarea id="summernote" name="editordata"></textarea>
                            </form>
						</div>
					</div>
					
					<center>
  							<a href="javascript:;" onclick="noticewrite()" class="mt-40 btn btn-sm btn-white width-100" >글 쓰기</a>
  					</center>
					<!-- end panel -->
		</div>
   </div>
   <!-- end row -->
</div>
<!-- end #content -->

<!-- Script -->
<script src="http://code.jquery.com/jquery-1.10.2.js"></script>
<script
    src="https://code.jquery.com/jquery-3.3.1.min.js"
    integrity="sha256-FgpCb/KJQlLNfOu91ta32o/NMZxltwRo8QtmkMRdAu8="
    crossorigin="anonymous"></script>
    
    <script>
        $(document).ready(function() {
        	//여기 아래 부분
        	$('.summernote').summernote({
        		  toolbar: [
        			    // [groupName, [list of button]]
        			    ['fontname', ['fontname']],
        			    ['fontsize', ['fontsize']],
        			    ['style', ['bold', 'italic', 'underline','strikethrough', 'clear']],
        			    ['color', ['forecolor','color']],
        			    ['table', ['table']],
        			    ['para', ['ul', 'ol', 'paragraph']],
        			    ['height', ['height']],
        			    ['insert',['picture','link','video']],
        			    ['view', ['fullscreen', 'help']]
        			  ],
        			fontNames: ['Arial', 'Arial Black', 'Comic Sans MS', 'Courier New','맑은 고딕','궁서','굴림체','굴림','돋움체','바탕체'],
        			fontSizes: ['8','9','10','11','12','14','16','18','20','22','24','28','30','36','50','72']
        	  });
        
            // 서머노트에 text 쓰기
            $('#summernote').summernote('insertText', "text");
            
            
            // 서머노트 쓰기 비활성화
            $('#summernote').summernote('disable');
            
            // 서머노트 쓰기 활성화
            $('#summernote').summernote('enable');
            
            
            // 서머노트 리셋
            $('#summernote').summernote('reset');
            
            
            // 마지막으로 한 행동 취소 ( 뒤로가기 )
            $('#summernote').summernote('undo');
            // 앞으로가기
            $('#summernote').summernote('redo');
        
        });
        
        function noticewrite() {
            
            var title = $('#titletext').val();
            var text = $('.note-editable').html();
            
             $.ajax({
	    		url: "/ajax/notice_write",
	                    type: "POST",
	                    async: false,
	                    dataType: 'json',
	                    data: {
	                       title : title,
	                       text : text
	                    }
	        }).done(function (data) { 
	            console.log(data)
	            if(data.result == true) {
	                alert("공지사항 등록 성공했습니다.");
					location = '/notice_list';
	            }
	            
	        })
        }
        
        
    </script>
    
    
    
{% endblock %}


{% block script %}

<script src="../assets/js/summernote/summernote-lite.js"></script>
<script src="../assets/js/summernote/lang/summernote-ko-KR.js"></script>

<script src="../assets/plugins/datatables.net-buttons/js/dataTables.buttons.min.js"></script>
<script src="../assets/plugins/datatables.net-buttons-bs4/js/buttons.bootstrap4.min.js"></script>
<script src="../assets/plugins/datatables.net/js/jquery.dataTables.min.js"></script>
<script src="../assets/plugins/datatables.net-bs4/js/dataTables.bootstrap4.min.js"></script>
<script src="../assets/plugins/datatables.net-responsive/js/dataTables.responsive.min.js"></script>
<script src="../assets/plugins/datatables.net-responsive-bs4/js/responsive.bootstrap4.min.js"></script>
<script src="../assets/plugins/datatables.net-colreorder/js/dataTables.colReorder.min.js"></script>
<script src="../assets/plugins/datatables.net-colreorder-bs4/js/colReorder.bootstrap4.min.js"></script>
<script src="../assets/plugins/datatables.net-keytable/js/dataTables.keyTable.min.js"></script>
<script src="../assets/plugins/datatables.net-keytable-bs4/js/keyTable.bootstrap4.min.js"></script>
<script src="../assets/plugins/datatables.net-rowreorder-bs4/js/rowReorder.bootstrap4.min.js"></script>
<script src="../assets/plugins/datatables.net-buttons/js/dataTables.buttons.min.js"></script>
<script src="../assets/plugins/datatables.net-buttons-bs4/js/buttons.bootstrap4.min.js"></script>
<script src="../assets/plugins/datatables.net-buttons/js/buttons.colVis.min.js"></script>
<script src="../assets/plugins/datatables.net-buttons/js/buttons.flash.min.js"></script>
<script src="../assets/plugins/datatables.net-buttons/js/buttons.html5.min.js"></script>
<script src="../assets/plugins/datatables.net-buttons/js/buttons.print.min.js"></script>
<script src="../assets/plugins/pdfmake/build/pdfmake.min.js"></script>
<script src="../assets/plugins/pdfmake/build/vfs_fonts.js"></script>
<script src="../assets/plugins/jszip/dist/jszip.min.js"></script>
<!--<script src="../assets/js/demo/table-manage-combine.demo.js"></script>-->
{% endblock %}