{% extends 'layout.html' %}

{% block css %}
<link href="../assets/css/custom.css" rel="stylesheet" />
{% endblock %}

{% block content %}
<div id="content" class="content">
	<!-- begin page-header -->
	<h1 class="page-header">결제</h1>
	<!-- end page-header -->
	<!-- begin row -->
	<div class="row">
		<!-- begin col-6 -->
		<div class="col-xl-12">
			<!-- begin panel -->
			<div class="panel panel-inverse" data-sortable-id="form-validation-1">
				<!-- begin panel-heading -->
				<div class="panel-heading">
					<h4 class="panel-title">SMS 서비스 신청</h4>
					<p class="m-0"></p>
				</div>
				<!-- end panel-heading -->
				<!-- begin panel-body -->
				<div class="panel-body">
    		        <form method="post" data-parsley-validate="true">
    		            <div class="d-flex justify-content-center align-items-center flex-wrap">
    		                {% for goods in service %}
    			            <div class="radio-tile">
    			                <input type="radio" class="radio-btn" name="sms" value="{{goods.PR}}" />
    				            <div class="radio-text">
    				                <i class="fas fa-4x fa-sms mb-2 icolor"></i>
    				                <p class="mb-2 font-weight-bold">+ {{goods.PO}} point</p>
    				                <div class="d-flex justify-content-center align-items-center">
    				                    <h1 class="mb-0 mr-1">{{goods.PR}}</h1>
        				                <h4 class="mb-0 mt-1">원</h4>
    				                </div>
    				            </div>
    			            </div>
    			            {% endfor %}
    			        </div>
    			        <div class="col-md-4 mx-auto my-4 py-2 bg-gray-200 rounded border">
    			            <table class="table table-borderless table-last table-td-valign-middle mb-0">
    			                <tr>
    			                    <th width=65% class="text-left">선택 상품</th>
    			                    <td width=35% id="check_name" class="text-right h5 mb-0"></td>
    			                </tr>
    			                <tr>
    			                    <th class="text-left">획득 예정 포인트</th>
    			                    <td id="check_point" class="text-right h5 mb-0"></td>
    			                </tr>
    			                <tr>
    			                    <th class="text-left">상품 금액</th>
    			                    <td id="check_amount" class="text-right h5 mb-0"></td>
    			                </tr>
    			            </table>
    			        </div>
    				    <div class="d-flex justify-content-center align-items-center">
    				        <a href="javascript:payments('sms')" class="btn btn-primary text-white px-4"><i class="fas fa-credit-card mr-2"></i>결제</a>
                        </div>
    		        </form>
                </div>
				<!-- end panel-body -->
			</div>
			<!-- end panel -->
			
			<div class="text-center">
            <h5 class="mb-1">소독공정 완료 후 업체 고객들에게 SMS 알림을 주는 서비스입니다.</h5>
            </div>
            <div class="text-center">
                <p class="font-weight-bold mb-0">&#8251;환불 규정 및 민원 처리&#8251;</p>
                <ul class="list-unstyled">
                    <li>- 본 서비스는 당일 환불이 불가능합니다.</li>
                    <li>- 결제 후 3개월 이내에 환불이 가능합니다.</li>
                    <li>- 이용내역이 존재할 경우 환불이 불가능합니다.</li>
                    <li>- 환불 요청 및 민원 처리나 자세한 문의사항은 mk@mklc.co.kr로 메일부탁드립니다.</li>
                </ul>
            </div>
		</div>
	</div>
	<!-- end row -->
</div>

<script type="text/javascript" src="https://code.jquery.com/jquery-1.12.4.min.js" ></script>
<script type="text/javascript" src="https://cdn.iamport.kr/js/iamport.payment-1.1.5.js"></script>

<script>
    // 체크 시 텍스트 반영 기능
    function check(value) {
        const ckn = document.getElementById("check_name");
        const cka = document.getElementById("check_amount");
        const ckp = document.getElementById("check_point");
        var goods_name;
        var goods_amount;
        var goods_point;
        
        if(value == 10000) {
            goods_name = "문자전송 포인트";
            goods_amount = 10000;
            goods_point = 10000;
        }
        
        ckn.innerHTML = goods_name;
        cka.innerHTML = "<span class='text-realred h2 mb-0'>"+goods_amount+"</span>"+" 원";
        ckp.innerHTML = goods_point+" p";
    }
    // $(".radio-btn").on("click", function() {
    //     var goods_amount = $('input[name=sms]').val();
    //     $.ajax({
    //         url: "/ajax/check",
    //         type: "POST",
    //         dataType: "JSON",
    //         data: { "pr" : goods_amount },
    //         success: function(result) {
    //             if(result) {
    //                 console.log(result);
    //                 $("#check_name").text('안녕');
    //             }
    //         }
    //     })
    // });
    
    // 결제 기능
    function payments(objName) {
        var goods = document.getElementsByName(objName);
        var checktest;
        var goods_name;
        var goods_amount;
        
        for (var i=0; i<goods.length; i++) {
            if (goods[i].checked == true) {
                if(goods[i].value == 10000) {
                  goods_name = "문자전송 포인트";
                  goods_amount = 10000;
                  checktest = true;
                }
            }
        }
        
        if(!checktest) {
            return alert("항목을 선택해주세요.");
        }
        
        var IMP = window.IMP;
        IMP.init('{{imp_code}}');
        
        IMP.request_pay({
            pg : 'inicis', // version 1.1.0부터 지원.
            pay_method : 'card',
            merchant_uid : 'merchant_' + new Date().getTime(),
            name : goods_name,
            amount : goods_amount,
            buyer_name : '{{company.CNA}}',
            buyer_email : '{{company.EA}}',
            buyer_tel : '{{company.PN}}',
            buyer_addr : '{{company.ADR}}',
            m_redirect_url : '{{HOME}}/payments/complete/mobile'
        }, function(rsp) {
            if (rsp.success) {
                $.ajax({
                    url: "/payments/complete",
                    type: "POST",
                    dataType: 'json',
                    data: {
                        imp_uid: rsp.imp_uid,
                        merchant_uid: rsp.merchant_uid
                    }
                }).done(function (data) {
                    switch(data.status) {
                        // case "vbankIssued":
                        //     var msg = "가상계좌가 생성되었습니다.";
                        //     msg += '\n가상계좌명' + rsp.vbank_name;
                        //     msg += '\n가상계좌번호' + rsp.vbank_num;
                        //     msg += '\n생성일' + rsp.vbank_date;
                        //     break;
                        case "success":
                            var msg = "결제가 완료되었습니다.";
                            alert(msg);
                            window.location.href = '/pay_confirm?imp_uid='+rsp.imp_uid;
                            break;
                        case "cancelled":
                            var msg = "결제가 취소되었습니다.";
                            break;
                        case "failed":
                            var msg = "결제에 실패하였습니다.";
                            break;
                        case "forgery":
                            var msg = "위조된 결제시도입니다.";
                            break;
                    }
                    return alert(msg);
                });
            } else {
                return alert("결제에 실패하였습니다. " +  rsp.error_msg);
            }
        });
    }
</script>
{% endblock %}

{% block script %}
<script src="../assets/plugins/parsleyjs/dist/parsley.min.js"></script>
<script src="../assets/plugins/highlight.js/highlight.min.js"></script>
<script src="../assets/js/demo/render.highlight.js"></script>
{% endblock %}