{% extends 'layout.html' %}

{% block css %}
<link href="../assets/css/custom.css" rel="stylesheet" />
{% endblock %}

{% block content %}
<div id="content" class="content">
	<!-- begin page-header -->
	<h1 class="page-header">결제</h1>
	<!-- end page-header -->
	<!-- begin row -->
	<div class="row">
		<!-- begin col-6 -->
		<div class="col-xl-12">
			<!-- begin panel -->
			<div class="panel panel-inverse" data-sortable-id="form-validation-1">
				<!-- begin panel-heading -->
				<div class="panel-heading">
					<h4 class="panel-title">SMS 서비스 신청</h4>
					<p class="m-0"></p>
				</div>
				<!-- end panel-heading -->
				<!-- begin panel-body -->
				<div class="panel-body">
				        <form method="post" data-parsley-validate="true">
				            <div class="d-flex justify-content-center align-items-center flex-wrap">
    				            <div class="radio-tile">
    				                <input type="radio" class="radio-btn" name="sms" value="100" onclick="check(this.value)" />
        				            <div class="radio-text">
        				                <i class="fas fa-4x fa-sms mb-2 icolor"></i>
        				                <p class="mb-2 font-weight-bold">+ 5 point</p>
        				                <div class="d-flex justify-content-center align-items-center">
        				                    <h1 class="mb-0 mr-1">100</h1>
            				                <h4 class="mb-0 mt-1">원</h4>
        				                </div>
        				            </div>
    				            </div>
    				            <div class="radio-tile">
    				                <input type="radio" class="radio-btn" name="sms" value="500" onclick="check(this.value)" />
        				            <div class="radio-text">
        				                <i class="fas fa-4x fa-sms mb-2 icolor"></i>
        				                <p class="mb-2 font-weight-bold">+ 10 point</p>
        				                <div class="d-flex justify-content-center align-items-center">
        				                    <h1 class="mb-0 mr-1">500</h1>
            				                <h4 class="mb-0 mt-1">원</h4>
        				                </div>
        				            </div>
    				            </div>
    				            <div class="radio-tile">
    				                <input type="radio" class="radio-btn" name="sms" value="1000" onclick="check(this.value)" />
        				            <div class="radio-text">
        				                <i class="fas fa-4x fa-sms mb-2 icolor"></i>
        				                <p class="mb-2 font-weight-bold">+ 50 point</p>
        				                <div class="d-flex justify-content-center align-items-center">
        				                    <h1 class="mb-0 mr-1">1,000</h1>
            				                <h4 class="mb-0 mt-1">원</h4>
        				                </div>
        				            </div>
    				            </div>
    				        </div>
    				        <div class="col-md-3 mx-auto my-4 py-2 bg-gray-200 rounded border">
    				            <table class="table table-borderless table-last table-td-valign-middle mb-0">
    				                <tr>
    				                    <th width=65% class="text-left">선택 상품</th>
    				                    <td width=35% id="check_name" class="text-right h5 mb-0"></td>
    				                </tr>
    				                <tr>
    				                    <th class="text-left">획득 예정 포인트</th>
    				                    <td id="check_point" class="text-right h5 mb-0"></td>
    				                </tr>
    				                <tr>
    				                    <th class="text-left">상품 금액</th>
    				                    <td id="check_amount" class="text-right h5 mb-0"></td>
    				                </tr>
    				            </table>
    				        </div>
        				    <div class="d-flex justify-content-center align-items-center">
        				        <a href="javascript:payments('sms')" class="btn btn-primary text-white px-4"><i class="fas fa-credit-card mr-2"></i>결제</a>
                            </div>
				        </form>
                </div>
				<!-- end panel-body -->
			</div>
			<!-- end panel -->
		</div>
	</div>
	<!-- end row -->
</div>

<script type="text/javascript" src="https://code.jquery.com/jquery-1.12.4.min.js" ></script>
<script type="text/javascript" src="https://cdn.iamport.kr/js/iamport.payment-1.1.5.js"></script>

<script>

    // 체크 시 텍스트 반영 기능
    function check(value) {
        const ckn = document.getElementById("check_name");
        const cka = document.getElementById("check_amount");
        const ckp = document.getElementById("check_point");
        var goods_name;
        var goods_amount;
        var goods_ml;
        
        if(value == 100) {
            goods_name = "a";
            goods_amount = 100;
            goods_ml = 5;
        }
        else if(value == 500) {
            goods_name = "b";
            goods_amount = 500;
            goods_ml = 10;
        }
        else if(value == 1000) {
            goods_name = "c";
            goods_amount = 1000;
            goods_ml = 50;
        }
        
        ckn.innerHTML = goods_name;
        cka.innerHTML = "<span class='text-realred h2 mb-0'>"+goods_amount+"</span>"+" 원";
        ckp.innerHTML = goods_ml+" p";
    }

    // 결제 기능
    function payments(objName) {
        var goods = document.all(objName);
        var checktest;
        var goods_name;
        var goods_amount;
        
        for (var i=0; i<goods.length; i++) {
            if (goods[i].checked == true) {
                if(goods[i].value == 100) {
                  goods_name = "a";
                  goods_amount = 100;
                  checktest = true;
                  
                }
                else if(goods[i].value == 500) {
                  goods_name = "b";
                  goods_amount = 500;
                  checktest = true;
                }
                else if(goods[i].value == 1000) {
                  goods_name = "c";
                  goods_amount = 1000;
                  checktest = true;
                }
            }
        }
        
        if(!checktest) {
            return alert("항목을 선택해주세요.");
        }
        
        var IMP = window.IMP;
        IMP.init('{{imp_code}}');
        
        IMP.request_pay({
            pg : 'inicis', // version 1.1.0부터 지원.
            pay_method : 'card',
            merchant_uid : 'merchant_' + new Date().getTime(),
            name : goods_name,
            amount : goods_amount,
            buyer_name : '{{companyone.CNA}}',
            buyer_email : '{{companyone.EA}}',
            buyer_tel : '{{companyone.PN}}',
            buyer_addr : '{{companyone.ADR}}',
            m_redirect_url : '/payments/complete/mobile'
        }, function(rsp) {
            if (rsp.success) {
                $.ajax({
                    url: "/payments/complete",
                    type: "POST",
                    dataType: 'json',
                    data: {
                        imp_uid: rsp.imp_uid,
                        merchant_uid: rsp.merchant_uid
                    }
                }).done(function (data) {
                    switch(data.status) {
                        // case "vbankIssued":
                        //     var msg = "가상계좌가 생성되었습니다.";
                        //     msg += '\n가상계좌명' + rsp.vbank_name;
                        //     msg += '\n가상계좌번호' + rsp.vbank_num;
                        //     msg += '\n생성일' + rsp.vbank_date;
                        //     break;
                        case "success":
                            var msg = "결제가 완료되었습니다.";
                            alert(msg);
                            window.open("/receipt?imp_uid="+rsp.imp_uid,"pop","width=570,height=420, scrollbars=yes, resizable=yes");
                            window.location.href = '/pay_list';
                            break;
                        case "cancelled":
                            var msg = "결제가 취소되었습니다.";E
                            break;
                        case "failed":
                            var msg = "결제에 실패하였습니다.";
                            break;
                        case "forgery":
                            var msg = "위조된 결제시도입니다.";
                            break;
                    }
                    return alert(msg);
                });
            } else {
                return alert("결제에 실패하였습니다. " +  rsp.error_msg);
            }
        });
    }
</script>
{% endblock %}

{% block script %}
<script src="../assets/plugins/parsleyjs/dist/parsley.min.js"></script>
<script src="../assets/plugins/highlight.js/highlight.min.js"></script>
<script src="../assets/js/demo/render.highlight.js"></script>
{% endblock %}