{% extends 'layout.html' %}

{% block css %}
<link href="../assets/plugins/datatables.net-bs4/css/dataTables.bootstrap4.min.css" rel="stylesheet" />
<link href="../assets/plugins/datatables.net-responsive-bs4/css/responsive.bootstrap4.min.css" rel="stylesheet" />
<link href="../assets/plugins/datatables.net-buttons-bs4/css/buttons.bootstrap4.min.css" rel="stylesheet" />
<link href="../assets/plugins/datatables.net-autofill-bs4/css/autoFill.bootstrap4.min.css" rel="stylesheet" />
<link href="../assets/plugins/datatables.net-colreorder-bs4/css/colReorder.bootstrap4.min.css" rel="stylesheet" />
<link href="../assets/plugins/datatables.net-keytable-bs4/css/keyTable.bootstrap4.min.css" rel="stylesheet" />
<link href="../assets/plugins/datatables.net-rowreorder-bs4/css/rowReorder.bootstrap4.min.css" rel="stylesheet" />
<link href="../assets/plugins/datatables.net-select-bs4/css/select.bootstrap4.min.css" rel="stylesheet" />
{% endblock %}

{% block content %}
<!-- begin #content -->
<div id="content" class="content">
   <!-- begin page-header -->
   <h1 class="page-header">{{__('layout_payment_list')}}</h1>
   <!-- end page-header -->
   <!-- begin row -->
   <div class="row">
      <!-- begin col-12 -->
      <div class="col-xl-12">
         <div class="panel panel-inverse">
            <!-- begin panel-heading -->
            <div class="panel-heading">
               <h4 class="panel-title">{{__('layout_payment_list')}}</h4>
            </div>
            <!-- end panel-heading -->
            <!-- begin panel-body -->
            <div class="panel-body" >
   			<div class="mt-2 mb-2 d-flex justify-content-end align-items-center">
						<div class="mr-auto">
							<select id = "selectpage" name="data-table-default_length" aria-controls="data-table-default" class="custom-select custom-select-sm form-control form-control-sm">
								<option class ="postnumber" value="10">10</option>
								<option class ="postnumber" value="25">25</option>
								<option class ="postnumber" value="50">50</option>
								<option class ="postnumber" value="100">100</option>
							</select>
						</div>
						
		   				<div>
							<div class ="d-flex w-100">
				            	<div>
				            		<div class="btn-group m-10 w-20">
											<a id="searchoption" href="javascript:;" class="btn btn-default">{{__('search')}}</a>
											<a href="#" data-toggle="dropdown" class="btn btn-default dropdown-toggle" aria-expanded="false"><b class="caret"></b></a>
											<div class="dropdown-menu dropdown-menu-right" style="">
												<a href="javascript:searchoption('MID',pagingObject,i18nconvert,{MID : 'MID',PCA : 'PCA',GN : 'GN',AM : 'AM'});" class="dropdown-item">{{__('payment_ordernumber')}}</a>
												<a href="javascript:searchoption('payCA',pagingObject,i18nconvert,{MID : 'MID',payCA : 'payCA',GN : 'GN',AM : 'AM'});" class="dropdown-item">{{__('payment_date')}}</a>
												<a href="javascript:searchoption('GN',pagingObject,i18nconvert,{MID : 'MID',PCA : 'PCA',GN : 'GN',AM : 'AM'});" class="dropdown-item">{{__('payment_name')}}</a>
												<a href="javascript:searchoption('AM',pagingObject,i18nconvert,{MID : 'MID',PCA : 'PCA',GN : 'GN',AM : 'AM'});" class="dropdown-item">{{__('payment_amount')}}</a>
											</div>
									</div> 
								</div>
								
								<div class="m-10 w-800">
						  				<input  id ="searchtext" type="text" class="w-100 form-control" placeholder ="" />
						  		</div>
					  		</div>
					  		
							<div id ="searchdatetext" class ="d-flex m-10">
									<input type="date" id = "searchdatetext1" class ="form-control" placeholder ="" />
									&nbsp;&nbsp;~&nbsp;&nbsp;
									<input type="date" id = "searchdatetext2" class ="form-control" placeholder ="" />
							</div>
						</div>
						
						<div>
						<button id ="searchbutton" class="ml-1 btn btn-primary text-white px-1" onclick="searchtext(pagingObject, condition, i18nconvert)"><i class="mx-1 fas fa-lg fa-fw fa-search align-items-center"></i></button>
						</div>
						
						<a href='javascript:;' id ="gotolist" onclick=gotolist(pagingObject,condition,searcherror,'{{__('search')}}') class='d-none ml-1 btn btn-primary mr-1 px-2'>{{__('all')}}</a>
					</div>
               
               <div class="overflow-auto">
                  <!--<form action="/device/device_select_delete" method="post">-->
                     <table id="data-table-combine" class="table table-bordered table-td-valign-middle text-center">
                        <thead>
                           <tr>
                              
                              <th width="2.5%"></th>
                              <th width="30.5%" class = "sort" name = "MID">{{__('payment_ordernumber')}}<i id = "MID" class="d-none  float-right mx-1 fas fa-lg fa-fw m-t-3 fa-angle-down"></i></th>
										<th width="24%" class = "sort" name = "CA">{{__('payment_date')}}<i id = "CA" class="d-none float-right mx-1 fas fa-lg fa-fw m-t-3 fa-angle-down"></i></th>
										<th width="21%" class = "sort" name = "GN">{{__('payment_name')}}<i id = "GN" class="d-none float-right mx-1 fas fa-lg fa-fw m-t-3 fa-angle-down"></i></th>
										<th width="21%" class = "sort" name = "AM">{{__('payment_amount')}}<i id = "AM" class="d-none float-right mx-1 fas fa-lg fa-fw m-t-3 fa-angle-down"></i></th>
										<th width="1%"></th>
                           </tr>
                        </thead>
                        <tbody id = "memDiv">
                           
                        </tbody>
                     </table>
                     <div class="justify-content-between align-item-center">
      						<center>
      								<div id="pagebox" class=" justify-content-around align-item-center">
      								</div>
      						</center>
      					</div>
                  <!--</form>-->
               </div>
            </div>
            <!-- end panel-body -->
         </div>
      </div>
      <!-- end col-10 -->
   </div>
   <!-- end row -->
</div>
<!-- end #content -->

<!-- Script -->
<script src="http://code.jquery.com/jquery-1.10.2.js"></script>
<script
    src="https://code.jquery.com/jquery-3.3.1.min.js"
    integrity="sha256-FgpCb/KJQlLNfOu91ta32o/NMZxltwRo8QtmkMRdAu8="
    crossorigin="anonymous"></script>
    
    
    
    <script>
    // // 환불 요청
    
    // function cancelPay() {
    //   jQuery.ajax({
    //     "url": "{{IP}}payments/cancel",
    //     "type": "POST",
    //     "contentType": "application/json",
    //     "data": JSON.stringify({
    //       "merchant_uid": "merchant_1615354954382", // 주문번호
    //       "cancel_request_amount": 2000, // 환불금액
    //       "reason": "테스트 결제 환불", // 환불사유
    //       "refund_holder": "홍길동", // [가상계좌 환불시 필수입력] 환불 수령계좌 예금주
    //       "refund_bank": "88", // [가상계좌 환불시 필수입력] 환불 수령계좌 은행코드(ex. KG이니시스의 경우 신한은행은 88번)
    //       "refund_account": "56211105948400" // [가상계좌 환불시 필수입력] 환불 수령계좌 번호
    //     }),
    //     "dataType": "json"
    //   });
    // }
    
    </script>
  
    <script>
	var pagingObject = new Object({name : "Pay" ,url : "/ajax/pay_list",CID : "{{company._id}}", array : [], sort : "CA", page : 0, postNum : 10, pageNum : 5, startpage : 0, endpage : 0, search: "", searchtext : "", searchdate : ""});
	// 검색 기능
	$(document).ready(function() {
		pagereload(pagingObject, condition, searcherror);

		$('#selectpage').click(function() {
			selectpage(pagingObject,condition,i18nconvert,{
				option : $('#selectpage option:selected').val()
			})
		});
		$('#searchtext').keyup(function(key) {
				if(key.keyCode == 13) {
					searchtext(pagingObject,condition,i18nconvert)
				}
				if(pagingObject.searchtext == "") {
					pagereload(pagingObject, condition, i18nconvert);
				}
		});
				
		$('.sort').click(function() {
			$("#searchoption").empty();
			$("#searchoption").append("{{__('search')}}");
			
			sortpage(pagingObject,condition,i18nconvert,{
				name : $(this).attr('name')
			},
			{
				MID : "MID",
				CA : "CA",
				GN : "GN",
				AM : "AM"
			});
			
		});
	})

		
	
	var condition = function (Object) {
    	var num =  Object.array.length; 	
        var	insertTr = ""; // 채워넣을 HTML 초기화
     	var indexcount = 1; // 인덱스번호 초기화
		
		for (var i = (Object.postNum * Object.page) ; i < (Object.postNum * Object.page) + Object.postNum ; i ++) { // 현재 페이지의 번호에 맞는 리스트 뽑아서 출력 (0 ~ 9, 10 ~ 19)

		if(Object.array[i]) {
		       
			insertTr += "<tr class='order-one'>";
			insertTr += "<td class='font-weight-bold'>"+(num - (Object.page*10)) +" </td>";
			insertTr += "<td>"+ Object.array[i].MID +"</td><td>";
			if ( (moment(Object.array[i].CA).format('DD')) == moment().format('DD') )
			{
			   insertTr +=  moment(Object.array[i].CA).format('HH:mm');
			}
			else {
			  insertTr += moment(Object.array[i].CA).format('YYYY-MM-DD');
			}
			insertTr += "</td><td>"+ Object.array[i].GN+"</td>";
			insertTr += "<td>"+ Math.floor(Object.array[i].AM * 1.1)+"</td>";
			insertTr += "<td class='with-btn' nowrap>";
			insertTr += "<a href='javascript:;' onclick='showDetail(this);' class='btn btn-sm btn-white width-60 m-r-2 edit-btn detail-btn' data-type='show' name='"+ Object.array[i].MID +"'>{{__('main_indetail')}}</a>"
			insertTr += "<a href='javascript:;' onclick='receiptPay(this);' class='btn btn-sm btn-primary width-60 m-r-2 edit-btn' name='"+ Object.array[i].IID +"' >{{__('payment_receit')}}</a>";
			console.log(Object.array[i].IID)
			insertTr += "</td>";
			insertTr += "</tr>";
			num -= indexcount;
			  
			}
		}
			  
		$("#memDiv").append(insertTr);
    }

	//구매 상세 내역(자세히버튼)
	function showDetail(obj) {
		var type = $(obj).data().type;
		$('.tr-detail').empty();
		$(obj).parents('tr').siblings().find('.detail-btn').text("{{__('main_indetail')}}");
		$(obj).parents('tr').siblings().find('.detail-btn').removeData().type;
		$(obj).parents('tr').siblings().find('.detail-btn').data('type', 'show');
		if(type == "show") {
			var merchant_uid = $(obj).attr('name');
			if (merchant_uid) {
				$.ajax({
					type: 'POST',
					url: 'ajax/pay_list_detail',
					dataType: 'json',
					data: {
						merchant_uid: merchant_uid
					},
					success: function(result) {
						if(result.status == 'success') {
							$(obj).text("{{__('main_nodetail')}}");
							$(obj).removeData().type;
							$(obj).data('type', 'hide');
							$(obj).parents('tr').after("\
								<tr class='tr-detail'>\
									<td colspan='6'>\
										<table class='table table-bordered table-td-valign-middle text-center table-active'>\
											<tr class='detail-head font-weight-bold table-secondary'>\
												<td>"+"{{__('payment_name')}}"+"</td>\
												<td>"+"{{__('payment_number')}}"+"</td>\
												<td>"+"{{__('payment_amount')}}"+"</td>\
											</tr>\
										</table>\
									</td>\
								</tr>\
							")
							for(var i = 0; i < result.orderGoods.length; i++) {
								var orderGoodsOption = "";
								if(result.orderGoods[i].OON) {
									orderGoodsOption = "("+result.orderGoods[i].OON+")"
								}
								else {
									orderGoodsOption = "";
								}
								$('.detail-head').after("\
									<tr>\
										<th width='50%' class='font-weight-normal'>"+result.orderGoods[i].OGN+orderGoodsOption+"</td>\
										<th width='20%' class='font-weight-normal'>"+result.orderGoods[i].ONU+"</td>\
										<th width='30%' class='font-weight-normal'>"+result.orderGoods[i].OTP+"</td>\
									</tr>\
								");
							}
						}
						else {
							alert("{{__('purchase_failed')}}");
						}
					}
				});
			}
			else {
				alert("{{__('purchase_failed')}}");
			}
		}
		else {
			$(obj).text("{{__('main_indetail')}}");
			$(obj).removeData().type;
			$(obj).data('type', 'show');
			// alert($('.tr-detail').html());
			$('.tr-detail').remove();
		}
	}
    
    //영수증 출력 화면
    function receiptPay(obj) {
    	var imp_code = $(obj).attr('name');
        if (imp_code)
        	window.open("/receipt?imp_uid="+imp_code,"pop","width=620, height=700, scrollbars=yes, resizable=yes"); 
        else{
            alert("{{__('purchase_failed')}}");
        }   
    }
    
</script>
{% endblock %}


{% block script %}

<script src="../assets/plugins/datatables.net-buttons/js/dataTables.buttons.min.js"></script>
<script src="../assets/plugins/datatables.net-buttons-bs4/js/buttons.bootstrap4.min.js"></script>
<script src="../assets/plugins/datatables.net/js/jquery.dataTables.min.js"></script>
<script src="../assets/plugins/datatables.net-bs4/js/dataTables.bootstrap4.min.js"></script>
<script src="../assets/plugins/datatables.net-responsive/js/dataTables.responsive.min.js"></script>
<script src="../assets/plugins/datatables.net-responsive-bs4/js/responsive.bootstrap4.min.js"></script>
<script src="../assets/plugins/datatables.net-colreorder/js/dataTables.colReorder.min.js"></script>
<script src="../assets/plugins/datatables.net-colreorder-bs4/js/colReorder.bootstrap4.min.js"></script>
<script src="../assets/plugins/datatables.net-keytable/js/dataTables.keyTable.min.js"></script>
<script src="../assets/plugins/datatables.net-keytable-bs4/js/keyTable.bootstrap4.min.js"></script>
<script src="../assets/plugins/datatables.net-rowreorder-bs4/js/rowReorder.bootstrap4.min.js"></script>
<script src="../assets/plugins/datatables.net-buttons/js/dataTables.buttons.min.js"></script>
<script src="../assets/plugins/datatables.net-buttons-bs4/js/buttons.bootstrap4.min.js"></script>
<script src="../assets/plugins/datatables.net-buttons/js/buttons.colVis.min.js"></script>
<script src="../assets/plugins/datatables.net-buttons/js/buttons.flash.min.js"></script>
<script src="../assets/plugins/datatables.net-buttons/js/buttons.html5.min.js"></script>
<script src="../assets/plugins/datatables.net-buttons/js/buttons.print.min.js"></script>
<script src="../assets/plugins/pdfmake/build/pdfmake.min.js"></script>
<script src="../assets/plugins/pdfmake/build/vfs_fonts.js"></script>
<script src="../assets/plugins/jszip/dist/jszip.min.js"></script>
<!--<script src="../assets/js/demo/table-manage-combine.demo.js"></script>-->
{% endblock %}