{% extends 'layout.html' %}

{% block content %}
<div id="content" class="content">
   <!-- begin page-header -->
   <h1 class="page-header">A/S</h1>
   <!-- end page-header -->
   <!-- begin row -->
   <div class="row">
      <!-- begin col-6 -->
      <div class="col-xl-12">
         <!-- begin panel -->
         <div class="panel panel-inverse" data-sortable-id="form-validation-1">
            <!-- begin panel-heading -->
            <div class="panel-heading">
               <h4 class="panel-title">{{__('payment_confirm')}}</h4>
               <p class="m-0"></p>
            </div>
            <!-- end panel-heading -->
            <!-- begin panel-body -->
            <div class="panel-body">
                <div class="mx-auto text-center">
                    <h1 class="mt-5">{{__('payment_confirm_text')}}</h1>
                </div>
                <table class="col-md-8 table table-bordered table-td-valign-middle mx-auto mt-4 text-center">
                    <caption class="text-black font-weight-bold" style="caption-side:top">{{__('payment_information')}}</caption>
                    <tr>
                        <th width="30%" class="table-secondary">{{__('payment_ordernumber')}}</th>
                        <td>{{paymentData.merchant_uid}}</td>
                    </tr>
                    <tr>
                        <th class="table-secondary">{{__('payment_date')}}</th>
                        <td>
                            <script>
                            Unix_timestamp('{{paymentData.paid_at}}');
                            </script>
                        </td>
                    </tr>
                    <tr>
                        <th class="table-secondary">{{__('payment_name')}}</th>
                        <td>{{paymentData.name}}</td>
                    </tr>
                    <tr>
                        <th class="table-secondary">{{__('payment_amount')}}</th>
                        <td>{{paymentData.amount}}</td>
                    </tr>
                </table>
                <table class="col-md-8 table table-bordered table-td-valign-middle mx-auto mt-4 text-center">
                    <caption class="text-black font-weight-bold" style="caption-side:top">{{__('payment_p_info')}}</caption>
                    <tr>
                        <th width="30%" class="table-secondary">{{__('payment_point')}}</th>
                        <td>{{serviceone.PO}} p</td>
                    </tr>
                </table>
                <div class="d-flex justify-content-center align-items-center mt-5">
                   <a href="/pay_point" class="btn btn-primary text-white px-4 mx-2">{{__('payment_buymore')}}</a>
                    <a href="/pay_list" class="btn btn-primary text-white px-4 mx-2">{{__('layout_payment_list')}}</a>
                    <a href="javascript:receiptPay('{{paymentData.imp_uid}}')" class="btn btn-primary text-white px-4 mx-2">{{__('payment_printreceipt')}}</a>
                    </div>
                </div>
            <!-- end panel-body -->
         </div>
         <!-- end panel -->
      </div>
   </div>
   <!-- end row -->
</div>
{% endblock %}

{% block script %}
<script src="../assets/plugins/parsleyjs/dist/parsley.min.js"></script>
<script src="../assets/plugins/highlight.js/highlight.min.js"></script>
<script src="../assets/js/demo/render.highlight.js"></script>
{% endblock %}