{% extends 'layout.html' %}

{% block css %}
<link href="../assets/plugins/datatables.net-bs4/css/dataTables.bootstrap4.min.css" rel="stylesheet" />
<link href="../assets/plugins/datatables.net-responsive-bs4/css/responsive.bootstrap4.min.css" rel="stylesheet" />
<link href="../assets/plugins/datatables.net-buttons-bs4/css/buttons.bootstrap4.min.css" rel="stylesheet" />
<link href="../assets/plugins/datatables.net-autofill-bs4/css/autoFill.bootstrap4.min.css" rel="stylesheet" />
<link href="../assets/plugins/datatables.net-colreorder-bs4/css/colReorder.bootstrap4.min.css" rel="stylesheet" />
<link href="../assets/plugins/datatables.net-keytable-bs4/css/keyTable.bootstrap4.min.css" rel="stylesheet" />
<link href="../assets/plugins/datatables.net-rowreorder-bs4/css/rowReorder.bootstrap4.min.css" rel="stylesheet" />
<link href="../assets/plugins/datatables.net-select-bs4/css/select.bootstrap4.min.css" rel="stylesheet" />
{% endblock %}

{% block content %}
<!-- begin #content -->
<div id="content" class="content">
   <!-- begin page-header -->
   <h1 class="page-header mt-3">{{__('layout_payment_list')}}</h1>
   <!-- end page-header -->
   <!-- begin row -->
   <div class="row">
      <!-- begin col-12 -->
      <div class="col-xl-12">
         <div class="panel panel-inverse">
            <!-- begin panel-heading -->
            <div class="panel-heading">
               <h4 class="panel-title">{{__('layout_payment_list')}}</h4>
            </div>
            <!-- end panel-heading -->
            <!-- begin panel-body -->
            <div class="panel-body" >
               <div class="search-box mt-2 mb-3 py-3 px-3 d-flex justify-content-between align-items-center bg-light">
					<div id ="searchdatetext" class ="d-flex justify-content-between align-items-center">
							<input type="date" id = "searchdatetext1" class ="form-control form-control-sm" placeholder ="" />
							&nbsp;&nbsp;~&nbsp;&nbsp;
							<input type="date" id = "searchdatetext2" class ="form-control form-control-sm" placeholder ="" />
					</div>
   				<div class="d-flex justify-content-between align-items-center">
						<div class ="mr-2">
	            		<div class="btn-group m-r-5">
								<a id="searchoption" href="javascript:;" class="btn btn-sm btn-white">{{__('search')}}</a>
								<a href="#" data-toggle="dropdown" class="btn btn-sm btn-white dropdown-toggle" aria-expanded="false"><b class="caret"></b></a>
								<div class="dropdown-menu dropdown-menu-right">
									<a href="javascript:searchoption('MID',pagingObject,{MID : 'MID',GN : 'GN'});" class="dropdown-item">{{__('payment_ordernumber')}}</a>
									<a href="javascript:searchoption('GN',pagingObject,{MID : 'MID',GN : 'GN'});" class="dropdown-item">{{__('payment_name')}}</a>
								</div>
							</div>
						</div>
						
						<div class="mr-2">
							<input  id ="searchtext" type="text" class="w-100 form-control form-control-sm" placeholder ="" />
				  		</div>
				  		<div>
							<button id ="searchbutton" class="btn btn-sm btn-primary text-white" onclick="searchtext(pagingObject)"><i class="mx-1 fas fa-lg fa-fw fa-search align-items-center"></i></button>
						</div>
						<a href='javascript:;' id ="gotolist" onclick=gotolist(pagingObject) class='d-none ml-1 btn btn-sm btn-primary mr-1 px-2'>{{__('all')}}</a>
					</div>
				</div>
				
				<div class="d-flex justify-content-between align-items-center mb-2">
					<div class="d-flex justify-content-start align-items-center">
						<select id = "selectpage" name="data-table-default_length" aria-controls="data-table-default" class="custom-select custom-select-sm width-80 mb-2">
							<option class ="postnumber" value="10">10</option>
							<option class ="postnumber" value="25">25</option>
							<option class ="postnumber" value="50">50</option>
							<option class ="postnumber" value="100">100</option>
						</select>
						<input type="button" class="ml-2 mb-2 btn btn-default" value="Excel" onclick="exceldownload(pagingObject);"/>
					</div>
					<p class="mb-0 text-gray">
						<span>{{__('new')}} </span><span class="text-red font-weight-bold"><u>{{orderTodayCount}}</u></span>
						<span> / </span>
						<span>{{__('all')}} </span><span class="text-dark font-weight-bold"><u>{{orderCount}}</u></span>
					</p>
				</div>
               
               <div class="overflow-auto">
                    <table id="data-table-combine" class="table table-bordered table-td-valign-middle text-center">
                        <thead id = "memDiv1"></thead>
                        <tbody id = "memDiv2"></tbody>
                    </table>
                    <div class="justify-content-between align-item-center">
                        <div class="d-flex justify-content-center align-items-center">
                            <div id="pagebox" class=" justify-content-around align-item-center"></div>
                        </div>
                    </div>
               </div>
            </div>
            <!-- end panel-body -->
         </div>
      </div>
      <!-- end col-10 -->
   </div>
   <!-- end row -->
</div>
<!-- end #content -->

<!-- Begin Script -->
<script src="https://code.jquery.com/jquery-1.10.2.js"></script>
<script>
var pagingObject = new Object({name : "Pay", url : "/ajax/pay_list", CID : "{{company._id}}", array : [], sort : "CA", page : 0, postNum : 10, pageNum : 5, startpage : 0, endpage : 0, search: "", searchtext : "", searchdate : ""});
// 검색 기능
$(document).ready(function() {
	pagereload(pagingObject);

	$('#selectpage').click(function() {
		selectpage(pagingObject,{
			option : $('#selectpage option:selected').val()
		});
	});
	
});
</script>
<!--End Script-->
{% endblock %}


{% block script %}
{% endblock %}