{% extends 'layout.html' %}

{% block content %}
		<div class="sidebar-bg"></div>
		<div id="content" class="content content-full-width">
			<!-- begin profile -->
			<div class="profile">
				<div class="profile-header">
					<!-- BEGIN profile-header-cover -->
					<div class="profile-header-cover"></div>
					<!-- END profile-header-cover -->
					<!-- BEGIN profile-header-content -->
					<div class="profile-header-content d-flex justify-content-start align-items-center">
						<!-- BEGIN profile-header-img -->
						<div class="mr-3">
							<!--<img src="../assets/img/user/user-13.jpg" alt="">-->
							<i class="fas fa-6x fa-user-circle"></i>
						</div>
						<!-- END profile-header-img -->
						<!-- BEGIN profile-header-info -->
						<div class="profile-header-info">
							<h3 class="my-1">{{company.CNA}}</h3>
							<p class="my-1">{{__('business_number')}} : {{company.CNU}}</p>
						</div>
						<!-- END profile-header-info -->
					</div>
					<!-- END profile-header-content -->
					<!-- BEGIN profile-header-tab -->
					<!--<ul class="profile-header-tab nav nav-tabs">-->
					<!--	<li class="nav-item"><p class="nav-link active mb-0">EDIT</p></li>-->
					<!--</ul>-->
					<!-- END profile-header-tab -->
				</div>
			</div>
			<!-- end profile -->
			<!-- begin profile-content -->
			<div class="profile-content">
				<!-- begin tab-content -->
				<div class="tab-content p-0">
					<!-- begin #profile-post tab -->
					<div class="tab-pane fade show active" id="profile-edit">
						<!-- begin table -->
						<div class="table-responsive form-inline">
							<table class="table table-profile">
								<thead>
									<tr>
										<th>
											<h5>{{__('profile_modify')}}</h5>
										</th>
									</tr>
								</thead>
								<tbody>
									<form id = 'Pfupdate' action = '/profile/pfupdate' method = 'post'>
										<tr class="highlight">
											<td class="field">{{__('business_number')}}</td>
											<td name = "CNU" value = {{company.CNU}}><i class="fa fa-lg m-r-5" ></i>{{company.CNU}}</td>
										</tr>
										<tr class="highlight">
											<td class="field valign-middle">{{__('profile_company_name')}}</td>
											<td><Input type = "text" name = "CNA"  class="form-control form-control-sm"value ={{company.CNA}}></td>
										</tr>
										<tr >
											<td class="field">{{__('profile_company_ceo_name')}}</td>
											<td><i class="fa fa-lg m-r-5"></i>{{company.NA}}</td>
										</tr>
										<tr>
											<td class="field">{{__('profile_company_phone')}}</td>
											<td><i class="fa fa-lg m-r-5"></i>{{company.MN}}</td>
										</tr>									
	
										<tr>
											<td class="field valign-middle">{{__('profile_company_tel')}}</td>
											<td><Input type = "text" name = "PN" class="form-control form-control-sm" value ={{company.PN}}></td>
										</tr>
										<tr>
											<td class="field valign-middle">{{__('profile_password_now')}}</td><span class="text-danger">* {{PWmsg}}</span>
											<td><Input type = "password" name = "PW" class="form-control form-control-sm" ></td>
										</tr>
											<tr class="highlight">
											<td class="field">&nbsp;</td>
											<td class="p-t-10 p-b-10">
												<button type="submit" class=" btn btn-primary width-150">{{__('profile_password_submit')}}</button>
												<button type="cancel" class="btn btn-white btn-white-without-border width-150 m-l-5">{{__('profile_password_cancel')}}</button>
											</td>
										</tr>
									</form>
									<form id = 'PWChange' action = '/profile/pwchange' method = 'post'>
										<tr class="highlight"></tr>
											<tr>
											<th>
												<h5>{{__('profile_password_modify2')}}</h5>
											</th>
											</tr>
										<tr class="highlight">
											<tr>
											<td class="field valign-middle">{{__('profile_password_now')}}</td>
											<td><Input type = "password" name = "PW" class="form-control form-control-sm" ></td>
										</tr>
										<tr class="highlight">
										<tr>
											<td class="field valign-middle">{{__('profile_password_modify')}}</td>
											<td><Input type = "password" name = "PWc1" class="form-control form-control-sm" minlength= 8 maxlength= 16  ></td>
										</tr>
										<tr class="highlight">
										<tr>
											<td class="field valign-middle">{{__('profile_password_re')}}</td>
											<td><Input type = "password" name = "PWc2" class="form-control form-control-sm" minlength= 8 maxlength= 16 ></td>
										</tr>
										</tr>
											<td class="field">&nbsp;</td>
											<td class="p-t-10 p-b-10">
												<button type="submit" class="btn btn-primary width-150">{{__('profile_password_submit')}}</button>
												<button type = "cancel" class="btn btn-white btn-white-without-border width-150 m-l-5">{{__('profile_password_cancel')}}</button>
											</td>
										</tr>
									</form>
								</tbody>
							</table>
						</div>
						<!-- end table -->
					</div>
					<!-- end #profile-post tab -->

				<!-- end tab-content -->
			</div>
			</div>
			<!-- end profile -->
			
			<!-- end profile-content -->
		<!-- end #content -->
		

	<!-- end page container -->

</body>
</html>
<script>
	// 에러 링크 기능
    window.onload = () => {
      if (new URL(location.href).searchParams.get('update')) {
        alert("{{__('profile_error1')}}");
      }
      if (new URL(location.href).searchParams.get('uperr') || new URL(location.href).searchParams.get('pwerr') ) {
        alert("{{__('profile_error2')}}");
      }
       if (new URL(location.href).searchParams.get('pwc')) {
        alert("{{__('profile_error3')}}");
      }
       if (new URL(location.href).searchParams.get('pwcerr')) {
        alert("{{__('profile_error4')}}");
      }
      if (new URL(location.href).searchParams.get('success')) {
        alert("{{__('profile_error5')}}");
      }
      if (new URL(location.href).searchParams.get('same')) {
        alert("{{__('profile_error6')}}");
      }
    	
    }
</script>
{% endblock %}