{% extends 'layout.html' %}

{% block content %}
	<div class="sidebar-bg"></div>
	<div id="content" class="content content-full-width">
		<!-- begin profile -->
		<div class="profile">
			<div class="profile-header">
				<!-- BEGIN profile-header-cover -->
				<div class="profile-header-cover"></div>
				<!-- END profile-header-cover -->
				<!-- BEGIN profile-header-content -->
				<div class="profile-header-content d-flex justify-content-start align-items-center">
					<!-- BEGIN profile-header-img -->
					<div class="mr-3">
						<!--<img src="../assets/img/user/user-13.jpg" alt="">-->
						<i class="fas fa-6x fa-user-circle"></i>
					</div>
					<!-- END profile-header-img -->
					<!-- BEGIN profile-header-info -->
					<div class="profile-header-info">
						<h3 class="my-1">{{company.CNA}}</h3>
						<p class="my-1">{{__('business_number')}} : {{company.CNU}}</p>
					</div>
					<!-- END profile-header-info -->
				</div>
				<!-- END profile-header-content -->
			</div>
		</div>
		<!-- end profile -->
		<!-- begin profile-content -->
		<div class="profile-content">
			<!-- begin tab-content -->
			<div class="tab-content p-0">
				<!-- begin nav-tabs -->
				<ul class="nav nav-tabs">
					<li class="nav-item">
						<a href="#editInfoBox" data-toggle="tab" class="nav-link active">
							<span class="d-sm-none h5 mb-0">{{__('profile_modify')}}</span>
							<span class="d-sm-block d-none h5 mb-0">{{__('profile_modify')}}</span>
						</a>
					</li>
					<li class="nav-item">
						<a href="#editPwBox" data-toggle="tab" class="nav-link">
							<span class="d-sm-none h5 mb-0">{{__('profile_password_modify2')}}</span>
							<span class="d-sm-block d-none h5 mb-0">{{__('profile_password_modify2')}}</span>
						</a>
					</li>
				</ul>
				<!-- end nav-tabs -->
				<!-- begin tab-content -->
				<div class="tab-content">
					<!-- begin tab-pane -->
					<div class="tab-pane fade active show" id="editInfoBox">
						<form action="" method="post" id="editInfo" class="margin-bottom-0" data-parsley-validate="true" onsubmit="editInfo('CNA','NA','EA','REA','MN','PN','PW');">
							<table class="table table-borderless table-th-valign-middle w-50 mx-auto my-2">
								<tr>
									<th>{{__('business_number')}}</th>
									<td>
										<script>
											document.write("{{company.CNU}}".substr(0,10))
										</script>
									</td>
								</tr>
								<tr>
									<th>{{__('profile_company_name')}}</th>
									<td><input type="text" id="CNA" name="CNA"  class="form-control form-control-sm" value="{{company.CNA}}" data-parsley-error-message="{{__('required_detail')}}" required /></td>
								</tr>
								<tr>
									<th>{{__('agent_name')}}</th>
									<td>{{company.ANA}}</td>
								</tr>
								<tr>
									<th>{{__('profile_company_ceo_name')}}</th>
									<td><input type="text" id="NA" name="NA"  class="form-control form-control-sm" value="{{company.NA}}" data-parsley-error-message="{{__('required_detail')}}" required /></td>
								</tr>
								<tr>
									<th>{{__('email')}}</th>
									<td><input type="email" id="EA" name="EA"  class="form-control form-control-sm inverse-model" value="{{company.EA}}" data-parsley-required-message="{{__('required_detail')}}" required /></td>
									<input type="hidden" id="REA" name="REA" value="{{company.EA}}" />
								</tr>
								<tr>
									<th>{{__('profile_company_phone')}}</th>
									<td><input type="text" id="MN" name="MN"  class="form-control form-control-sm inverse-model" value="{{company.MN}}" data-parsley-type="digits" data-parsley-type-message="{{__('register_digits_error')}}" data-parsley-required-message="{{__('required_detail')}}" required /></td>
								</tr>									

								<tr>
									<th>{{__('profile_company_tel')}}</th>
									<td><input type="text" id="PN" name="PN" class="form-control form-control-sm inverse-model" value="{{company.PN}}" data-parsley-type="digits" data-parsley-type-message="{{__('register_digits_error')}}" data-parsley-required-message="{{__('required_detail')}}" required /></td>
								</tr>
								<tr>
									<th>{{__('profile_password_now')}}</th>
									<td><input type="password" id="PW" name="PW" class="form-control form-control-sm" data-parsley-error-message="{{__('required_detail')}}" required /></td>
								</tr>
								<tr>
									<th>{{__('layout_withdrawal')}}</th>
									<td><button onclick="withdrawal(i18nconvert)" class="btn btn-danger">{{__('profile_withdrawal')}}</button></td>
								</tr>
							</table>
							<p class="text-center mt-3 m-b-0">
								<input type="submit" class="btn btn-primary width-150" value="{{__('profile_password_submit')}}" />
								<input type="reset" class="btn btn-white width-150 m-l-10" value="{{__('profile_password_cancel')}}" />
							</p>
						</form>
					</div>
					<!-- end tab-pane -->
					<!-- begin tab-pane -->
					<div class="tab-pane fade" id="editPwBox">
						<div id="emailBox">
							<table class="table table-borderless table-th-valign-middle w-50 mx-auto my-2">
								<tr>
									<th>{{__('email')}}</th>
									<td><input type="email" id="EA2" name="EA2" class="form-control form-control-sm" data-parsley-required-message="{{__('required_detail')}}" required /></td>
								</tr>
							</table>
							<p class="text-center mt-3 m-b-0">
								<input type="button" class="btn btn-primary width-150" value="{{__('confirm')}}" onclick="emailCheck('EA2');">
							</p>
						</div>
						<form action="" method="post" id="editPw" class="margin-bottom-0 d-none" data-parsley-validate="true" onsubmit="editPw('PW2','CPW','RPW');">
							<table class="table table-borderless table-th-valign-middle w-50 mx-auto my-2">
								<tr>
									<th>{{__('profile_password_now')}}</th>
									<td><input type="password" id="PW2" name="PW2" class="form-control form-control-sm" data-parsley-required-message="{{__('required_detail')}}" required /></td>
								</tr>
								<tr>
									<th>{{__('profile_password_modify')}}</th>
									<td>
										<div class="inputbox">
	        								<input type="password" id="CPW" name="CPW" class="form-control form-control-sm" data-parsley-length="[8, 16]" data-parsley-length-message="{{__('findpw_guide')}}" data-parsley-notequalto="#PW2" data-parsley-notequalto-message="{{__('pw_check_same')}}" data-parsley-required-message="{{__('required_detail')}}" required />
	        								<font id="pwNotice" size="1"></font>
	        							</div>
									</td>
								</tr>
								<tr >
									<th>{{__('profile_password_re')}}</th>
									<td>
										<div class="inputbox">
	        								<input type="password" id="RPW" name="RPW" class="form-control form-control-sm" data-parsley-equalto="#CPW" data-parsley-equalto-message="{{__('pw_check_diff')}}" data-parsley-required-message="{{__('required_detail')}}" required />
	        								<font id="pwNotice2" size="1"></font>
	        							</div>
	        						</td>
								</tr>
							</table>
							<p class="text-center mt-3 m-b-0">
								<input type="submit" class="btn btn-primary width-150" value="{{__('profile_password_submit')}}">
								<input type="reset" class="btn btn-white width-150 m-l-10" value="{{__('profile_password_cancel')}}">
							</p>
						</form>
					</div>
					<!-- end tab-pane -->
				</div>
				<!-- end tab-content -->
			</div>
			<!-- end tab-content -->
		</div>
		<!-- end profile -->
	</div>
	<!-- end #content -->

<!--Begin Script-->
<script src="//cdnjs.cloudflare.com/ajax/libs/jquery/3.2.1/jquery.min.js"></script>
<script>
// 회원정보 수정 ajax 기능
function editInfo(companyName, ceoName, email, reEmail, mobileNumber, phoneNumber, password) {
	var validateCNA = $("#"+companyName).parsley();
	var validateNA = $("#"+ceoName).parsley();
	var validateEA = $("#"+email).parsley();
	var validateREA = $("#"+reEmail).parsley();
	var validateMN = $("#"+mobileNumber).parsley();
	var validatePN = $("#"+phoneNumber).parsley();
	var validatePW = $("#"+password).parsley();
	var CNA = document.getElementsByName(companyName)[0].value;
	var NA = document.getElementsByName(ceoName)[0].value;
	var EA = document.getElementsByName(email)[0].value;
	var REA = document.getElementsByName(reEmail)[0].value;
	var MN = document.getElementsByName(mobileNumber)[0].value;
	var PN = document.getElementsByName(phoneNumber)[0].value;
	var PW = document.getElementsByName(password)[0].value;
	
	if (validateCNA.isValid() == true && validateNA.isValid() == true && validateEA.isValid() == true && validateREA.isValid() == true && validateMN.isValid() == true && validatePN.isValid() == true && validatePW.isValid() == true) {
    	editInfoAjax(CNA,NA,EA,REA,MN,PN,PW);
	}
	else {
		alert("{{__('profile_form_error')}}");
	}
	event.preventDefault();
}

// 이메일 체크 ajax 기능
function emailCheck(email) {
	var validateEA = $("#"+email).parsley();
	var EA = document.getElementsByName(email)[0].value;
	
	if (validateEA.isValid() == true) {
		emailCheckAjax(EA);
	}
	else {
		alert("{{__('register_email_valid_msg')}}");
	}
}

// 비밀번호 변경 ajax 기능
function editPw(currentPassword, changePassword, rePassword) {
	var validatePW2 = $("#"+currentPassword).parsley();
	var validateCPW = $("#"+changePassword).parsley();
	var validateRPW = $("#"+rePassword).parsley();
	var PW = document.getElementsByName(currentPassword)[0].value;
	var CPW = document.getElementsByName(changePassword)[0].value;
	var RPW = document.getElementsByName(rePassword)[0].value;
	
	if (validatePW2.isValid() == true && validateCPW.isValid() == true && validateRPW.isValid() == true) {
    	editPwAjax(PW,CPW,RPW);
	}
	else {
		alert("{{__('profile_form_error')}}");
	}
	event.preventDefault();
}
</script>
<!--End Script-->
{% endblock %}

{% block script %}
<script src="../assets/plugins/parsleyjs/dist/parsley.min.js"></script>
<script src="../oasisjs/oasis_keyup.js"></script>
<script src="../oasisjs/oasis_auth.js"></script>
<script>
    window.Parsley.addValidator("notequalto", {
		validateString: function(value, id) {
			return value !== $(id).val();
		}
	});
</script>
{% endblock %}