{% extends 'layout.html' %}

{% block css %}
<link href="../assets/plugins/datatables.net-bs4/css/dataTables.bootstrap4.min.css" rel="stylesheet" />
<link href="../assets/plugins/datatables.net-responsive-bs4/css/responsive.bootstrap4.min.css" rel="stylesheet" />
<link href="../assets/plugins/datatables.net-buttons-bs4/css/buttons.bootstrap4.min.css" rel="stylesheet" />
<link href="../assets/plugins/datatables.net-autofill-bs4/css/autoFill.bootstrap4.min.css" rel="stylesheet" />
<link href="../assets/plugins/datatables.net-colreorder-bs4/css/colReorder.bootstrap4.min.css" rel="stylesheet" />
<link href="../assets/plugins/datatables.net-keytable-bs4/css/keyTable.bootstrap4.min.css" rel="stylesheet" />
<link href="../assets/plugins/datatables.net-rowreorder-bs4/css/rowReorder.bootstrap4.min.css" rel="stylesheet" />
<link href="../assets/plugins/datatables.net-select-bs4/css/select.bootstrap4.min.css" rel="stylesheet" />
{% endblock %}

{% block content %}
<div id="content" class="content">
   <!-- begin page-header -->
   <h1 class="page-header mt-3">{{__('qrcode')}}</h1>
   <!-- end page-header -->
   <!-- begin row -->
   <div class="row">
      <!-- begin col-12 -->
      <div class="col-xl-12">
         <!-- begin panel -->
         <div class="panel panel-inverse" data-sortable-id="form-validation-1">
            <!-- begin panel-heading -->
            <div class="panel-heading">
               <h4 class="panel-title">{{__('layout_qrcode_man')}}</h4>
            </div>
            <!-- end panel-heading -->
            <!-- begin panel-body -->
            <div class="panel-body">
                <div class="overflow-auto">
                  <table id="data-table-combine" class="table table-striped table-bordered table-hover table-td-valign-middle text-center">
                     <thead>
                        <tr>
                           <th width="70%">URL</th>
                           <th width="30%">{{__('qrcode_create')}}</th>
                        </tr>
                     </thead>
                     <tbody>
                         <tr>
                             <td>
                                 {{HOME}}/inflow?cat={{cat}}
                             </td>
                             <td>
                                 <button class="btn btn-primary width-160" onclick="qrPOP('qr','38','38');">1cm x 1cm</button>
                                 <button class="btn btn-primary width-160" onclick="qrPOP('qr','113','113');">3cm x 3cm</button>
                                 <button class="btn btn-primary width-160" onclick="qrPOP('qr','189','189');">5cm x 5cm</button>
                                 <button class="btn btn-primary width-160" onclick="qrPOP('st', '104', '104');">{{__('qrcode_sticker')}}</button>
                             </td>
                         </tr>
                     </tbody>
                  </table>
               </div>
               <br>
               <!--<h4>- 업체</h4>-->
             <!--   <div class="overflow-auto">-->
               <!--   <table id="data-table-combine" class="table table-striped table-bordered table-hover table-td-valign-middle text-center">-->
               <!--      <thead>-->
               <!--         <tr>-->
               <!--            <th width="90%">생성할 URL</th>-->
               <!--            <th width="10%"></th>-->
               <!--         </tr>-->
               <!--      </thead>-->
               <!--      <tbody>-->
               <!--          <tr>-->
               <!--              <td>-->
               <!--                  {{HOME}}/inflow?cid={{company._id}}&cat={{cat}}-->
               <!--              </td>-->
               <!--              <td>-->
               <!--                  <button class="btn btn-primary width-80" onclick="qrPOP('2');">QR 생성</button>-->
               <!--              </td>-->
               <!--          </tr>-->
               <!--      </tbody>-->
               <!--   </table>-->
               <!--</div>-->
                </div>
            <!-- end panel-body -->
         </div>
         <!-- end panel -->
      </div>
      <!-- end col-12 -->
   </div>
   <!-- end row -->
</div>

<!--Begin Script-->
<script>
    function qrPOP(type, width, height) {
       var main = '{{HOME}}';
       var cid = '{{company._id}}';
       var cat = '{{cat}}';
       var pw = 0;
       var ph = 0;
       
       if(width <= 100) {
          pw = 400;
          ph = 300;
       }
       else if(width <= 200) {
          pw = 500;
          ph = 400;
       }
       else if(width <= 300) {
          pw = 600;
          ph = 500;
       }
       
       window.open("/create?main="+main+"&cid="+cid+"&cat="+cat+"&type="+type+"&width="+width+"&height="+height,"pop","width="+pw+", height="+ph+", scrollbars=yes, resizable=yes");
    }
</script>
<!--End Script-->
{% endblock %}

{% block script %}
<script src="../assets/plugins/datatables.net-buttons/js/dataTables.buttons.min.js"></script>
<script src="../assets/plugins/datatables.net-buttons-bs4/js/buttons.bootstrap4.min.js"></script>
<script src="../assets/plugins/datatables.net/js/jquery.dataTables.min.js"></script>
<script src="../assets/plugins/datatables.net-bs4/js/dataTables.bootstrap4.min.js"></script>
<script src="../assets/plugins/datatables.net-responsive/js/dataTables.responsive.min.js"></script>
<script src="../assets/plugins/datatables.net-responsive-bs4/js/responsive.bootstrap4.min.js"></script>
<script src="../assets/plugins/datatables.net-colreorder/js/dataTables.colReorder.min.js"></script>
<script src="../assets/plugins/datatables.net-colreorder-bs4/js/colReorder.bootstrap4.min.js"></script>
<script src="../assets/plugins/datatables.net-keytable/js/dataTables.keyTable.min.js"></script>
<script src="../assets/plugins/datatables.net-keytable-bs4/js/keyTable.bootstrap4.min.js"></script>
<script src="../assets/plugins/datatables.net-rowreorder-bs4/js/rowReorder.bootstrap4.min.js"></script>
<script src="../assets/plugins/datatables.net-buttons/js/dataTables.buttons.min.js"></script>
<script src="../assets/plugins/datatables.net-buttons-bs4/js/buttons.bootstrap4.min.js"></script>
<script src="../assets/plugins/datatables.net-buttons/js/buttons.colVis.min.js"></script>
<script src="../assets/plugins/datatables.net-buttons/js/buttons.flash.min.js"></script>
<script src="../assets/plugins/datatables.net-buttons/js/buttons.html5.min.js"></script>
<script src="../assets/plugins/datatables.net-buttons/js/buttons.print.min.js"></script>
<script src="../assets/plugins/pdfmake/build/pdfmake.min.js"></script>
<script src="../assets/plugins/pdfmake/build/vfs_fonts.js"></script>
<script src="../assets/plugins/jszip/dist/jszip.min.js"></script>
{% endblock %}