<!DOCTYPE html>
<html lang="ko">
<head>
  <meta charset="UTF-8">
  <meta http-equiv="X-UA-Compatible" content="IE=edge">
  <meta name="viewport" content="width=device-width, initial-scale=1.0">
  <meta property="og:title" content="OASIS | 안전이 보이니 마음이 놓인다">
  <meta property="og:description" content="즐거운 드라이브를 위해 정기적으로 실시된 방역관리를 확인해보세요.">
  <meta property="og:image" content="../assets/img/oasis.png">
  <title>영어 OASIS 보이는 소독 시스템</title>
  <link rel="stylesheet" href="../assets/qrcode/css/main_en.css" class="css">
  <link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/highlight.js/9.12.0/styles/atom-one-light.min.css">
  <link href="../assets/img/favicon.png" rel="icon">
  <script src="https://kit.fontawesome.com/71839e8cce.js" crossorigin="anonymous"></script>
</head>
<body>
  <div class="wrap">
    <header class="wrap-header is-white">
      <!-- 메뉴 구조 변경 될 수 있음 -->
      <nav class="navbar is-transparent">
        <a href="/publish?cat={{cat}}&cn={{CN}}&hid={{HID}}&lang={{lang}}" class="button back"><i class="fas fa-chevron-left"></i></a>
      </nav>
    </header>
    
    <h2 class="screen-out">브랜드 본문</h2>
    <main class="wrap-main" style="padding-bottom: 37px">
      <h3 class="screen-out">오아시스 소개</h3>
      <section class="section summary">
        <div class="container">
          <p class="mb-2 has-text-info">No more worries!</p>
          <h4 class="title is-2">
            Oasis<span class="has-text-weight-light">&nbsp;that creates a</span><br /> safe space
          </h4>
          <p class="is-size-6 has-text-grey mb-4">Disinfection service which you can easily check<br>the quarantine information of a space</p>
          <figure class="img-info">
            <figcaption class="screen-out">소독에 대해 불안해하는 질문 이미지</figcaption>
            <img src="../assets/qrcode/assets/images/brand_info01_en.svg" alt="" >
            <img src="../assets/qrcode/assets/images/brand_info02_en.svg" alt="">
            <img src="../assets/qrcode/assets/images/brand_info03_en.svg" alt="">
          </figure>
        </div>
      </section>
      <h3 class="screen-out">오아시스의 소독 절차 및 우수성</h3>
      <section class="section process">
        <div class="container">
          <h4 class="title is-2">
            <span class="has-text-weight-light">The more you check,</span><br>The more you feel reliable
          </h4>
          <div class="tile is-ancestor">
            <div class="tile is-parent is-vertical">
              <article class="tile is-child box pt-6 pb-8 has-text-centered">
                <span class="is-size-6 has-text-info has-text-underline">STEP 01</span>
                <h5 class="title mt-5 mb-3">Strong ozone sterilization and deodorization</h5>
                <p class="is-size-6 has-text-grey">Ozone has a strong sterilization power<br>enough to remove bacteria and viruses</p>
                <figure class="img-process">
                  <figcaption class="screen-out">오존이 세균에 달라붙는 이미지</figcaption>
                  <img src="../assets/qrcode/assets/images/process_step01_center.svg" alt="">
                  <img src="../assets/qrcode/assets/images/process_step01_top.svg" alt="">
                  <img src="../assets/qrcode/assets/images/process_step01_right.svg" alt="">
                  <img src="../assets/qrcode/assets/images/process_step01_left.svg" alt="">
                </figure>
                <!-- trigger button -->
                <span class="button is-light is-small is-rounded modal-button" data-target="modal-normal">Check test report<i class="fas fa-chevron-right fa-xs ml-1"></i></span>
              </article>
              <article class="tile is-child box py-6 has-text-centered">
                <span class="is-size-6 has-text-info has-text-underline">STEP 02</span>
                <h5 class="title mt-5 mb-3">Safe finish</h5>
                <p class="is-size-6 has-text-grey">Once disinfection is completed,<br>ozone returns to oxygen.</p>
                <figure class="img-process">
                  <figcaption class="screen-out">공간에 산소가 가득차고 있는 이미지</figcaption>
                  <img src="../assets/qrcode/assets/images/process_step02_space.svg" alt="">
                  <img src="../assets/qrcode/assets/images/process_step02_o2.svg" alt="">
                  <img src="../assets/qrcode/assets/images/process_step02_o3.svg" alt="">
                  <img src="../assets/qrcode/assets/images/process_step02_mark.svg" alt="">
                </figure>
              </article>
              <article class="tile is-child box py-6 has-text-centered">
                <span class="is-size-6 has-text-info has-text-underline">STEP 03</span>
                <h5 class="title mt-5 mb-3">Smart disinfection report</h5>
                <p class="is-size-6 has-text-grey">With a scan, you can see disinfection information<br>and check a space that is cleaned!</p>
                <figure class="img-process">
                  <figcaption class="screen-out">오아시스 QR 코드를 스캔하는 이미지</figcaption>
                  <img src="../assets/qrcode/assets/images/process_step03_scan.svg" alt="">
                  <img src="../assets/qrcode/assets/images/process_step03_phone.svg" alt="">
                  <img src="../assets/qrcode/assets/images/process_step03_scanbar.svg" alt="">
                </figure>
              </article>
            </div>
          </div>
        </div>
      </section>
      <h3 class="screen-out">오존의 안전성</h3>
      <section class="section safety">
        <div class="container">
          <h4 class="title is-2">
            Do you want to know<br>more about ozone?
          </h4>
          <p class="is-size-6 has-text-grey">Ozone that occurs naturally is<br>always existed in our daily life.</p>
          <img src="../assets/qrcode/assets/images/safety_o3_en.svg" alt="대기 중 오존농도 보통 0.09ppm" width="260">
        </div>
      </section>
      <section class="section useful">
        <div class="container">
          <h4 class="title is-2">
            <span class="has-text-weight-light">Ozone used</span><br>Everywhere
          </h4>
          <div class="columns is-mobile mt-1">
            <figure class="column is-3 image is-rounded">
              <img class="is-rounded" src="../assets/qrcode/assets/images/useful_smoking.jpg">
              <figcaption class="is-block has-text-centered has-text-grey">Removal and deodorization of<br>cigarette smell</figcaption>
            </figure>
            <figure class="column is-3 image is-rounded">
              <img class="is-rounded" src="../assets/qrcode/assets/images/useful_water.jpg">
              <figcaption class="is-block has-text-centered has-text-grey">Purification of dishwater and<br>wastewater</figcaption>
            </figure>
            <figure class="column is-3 image is-rounded">
              <img class="is-rounded" src="../assets/qrcode/assets/images/useful_smell.jpg">
              <figcaption class="is-block has-text-centered has-text-grey">Removal and <br />deodorization of<br /> stink ingredients</figcaption>
            </figure>
            <figure class="column is-3 image is-rounded">
              <img class="is-rounded" src="../assets/qrcode/assets/images/useful_grow.jpg">
              <figcaption class="is-block has-text-centered has-text-grey">Kill harmful<br /> bacterial for<br /> plant growth</figcaption>
            </figure>
          </div>
        </div>
      </section>
      <section class="section manage">
        <div class="container">
          <p class="mb-2 has-text-success">Smart ozone control</p>
          <h4 class="title is-2">
            <span class="has-text-weight-light">Perfect disinfection,</span><br>safe finish
          </h4>
          <p class="is-size-6 has-text-grey mb-8">Disinfection service which you can easily check<br>the quarantine information of a space</p>
          <div class="columns is-multiline is-mobile">
            <div class="column is-12">
              <img src="../assets/qrcode/assets/images/manage_chart.svg" alt="소독 공정 완료 후 오존 측정 농도 0.09ppm">
            </div>
            <div class="column is-6 mb-0">
              <div class="box has-text-centered px-1 py-4">
                <span class="is-size-6 is-size-7-mobile has-text-grey">Ozone warning by the <br />Meteorological Administration</span>
                <p class="is-size-1 is-size-3-mobile has-text-warning has-text-weight-bold">0.12ppm</p>
              </div>
            </div>
            <div class="column is-6 mb-0">
              <div class="box has-text-centered px-1 py-4">
                <span class="is-size-6 is-size-7-mobile has-text-grey">Measured ozone concentration after <br />completing disinfection process</span>
                <p class="is-size-1 is-size-3-mobile has-text-success has-text-weight-bold">0.09ppm</p>
              </div>
            </div>
          </div>
        </div>
      </section>
      <section class="section phone">
        <div class="container">
          <h4 class="title is-2 has-text-centered mb-8">
            <span class="has-text-weight-light"> Visible disinfection platform</span><br>OASIS
          </h4>
          <img src="../assets/qrcode/assets/images/phone_en.png" alt="오아시스 웹화면 이미지">
        </div>
      </section>
    </main>
    <footer class="footer">
      {% if (historyone.CNM == '123가1234') %}
      <p>MK Co.,Ltd.</p>
      {% elseif (historyone.CNM == '123') %}
      <p>MK Co.,Ltd.</p>
      {% else %}
      <p>{{historyone.CNA}}</p>
      {% endif %}
    </footer>

    <!-- modal -->
    <div id="modal-normal" class="modal">
      <div class="modal-background"></div>
      <div class="modal-content">
        <div class="box py-6">
          <img src="../assets/qrcode/assets/images/process_step01_test.jpg" alt="">
          <p class="is-size-4 has-text-centered mt-4 mb-2">Oasis test report of pathogen sterilization</p>
          <p class="is-size-6 has-text-grey has-text-centered">Pathogens on both driver and passenger seats have been<br> reduce by <span class="has-text-success has-text-weight-bold">99.999%</span> after disinfection!</p>
        </div>
      </div>
      <button class="modal-close is-large" aria-label="close"></button>
    </div>
  </div>
  <script type="text/javascript" src="../assets/qrcode/js/accordion.js"></script>
  <script>
    var accordions = bulmaAccordion.attach();
  </script>
  <script src="../assets/qrcode/js/modal-fx.js"></script>
  <script src="https://cdnjs.cloudflare.com/ajax/libs/highlight.js/9.12.0/highlight.min.js"></script>
  <script>
      // highlight.js
      (function () {
          document.querySelectorAll('pre code').forEach(function (block) {
              hljs.highlightBlock(block);
          });
      })();
  </script>
</body>
</html>