<!DOCTYPE html>
<html lang="ko">
<head>
  <meta charset="UTF-8">
  <meta http-equiv="X-UA-Compatible" content="IE=edge">
  <meta name="viewport" content="width=device-width, initial-scale=1.0">
  <meta property="og:title" content="OASIS | 안전이 보이니 마음이 놓인다">
  <meta property="og:description" content="즐거운 드라이브를 위해 정기적으로 실시된 방역관리를 확인해보세요.">
  <meta property="og:image" content="../assets/img/oasis.png">
  <title>영어 OASIS 보이는 소독 시스템</title>
  <link rel="stylesheet" href="../assets/qrcode/css/main_en.css" class="css">
  <!--임의로 추가한 커스텀css파일-->
  <link rel="stylesheet" href="../assets/qrcode/css/custom.css" class="css">
  <!---->
  <link href="../assets/img/favicon.png" rel="icon">
  <script src="https://kit.fontawesome.com/71839e8cce.js" crossorigin="anonymous"></script>
</head>
<body>
  <script src="https://cdnjs.cloudflare.com/ajax/libs/moment.js/2.29.1/moment.min.js"></script>
  
  <div class="wrap">
    <header class="wrap-header">
      <!-- 메뉴 구조 변경 될 수 있음 -->
      <nav class="navbar is-transparent">
        <div class="navbar-brand">
          <a href="/" class="navbar-item">
            <img src="../assets/qrcode/assets/images/brand-logo.svg" alt="보이는 소독 플랫폼 오아시스" width="100"  class="tit-service">
          </a>
        </div>
        <div class="navbar-util">
          <a id="showModal" class="button is-light is-share">
            <i class="fas fa-share-square"></i>
            <span>SHARE</span>
          </a>
        </div>
        <div id="modal" class="modal">
          <div id="modal-background" class="modal-background"></div>
          <div class="modal-card">
            <header class="modal-card-head">
              <p class="modal-card-title">SHARE</p>
              <button id="closetop" class="delete" aria-label="close"></button>
            </header>
            <section class="modal-card-body">
              <div class="sns-go">
                <ul>
                  <!-- 네이버 블로그 공유 -->
                  <!--<li>-->
                  <!--  <a href="#" onclick="javascript:window.open('http://share.naver.com/web/shareView.nhn?url=' +encodeURIComponent(document.URL)+'&title='+encodeURIComponent(document.title), 'naversharedialog');return false;" target="_blank" alt="Share on Naver" ><img src="../assets/qrcode/assets/images/sns_naver.png" width="40" alt="네이버 블로그 공유하기"></a>-->
                  <!--</li>-->
                  <!-- 페이스북 공유 -->
                  <!--<li>-->
                  <!--  <a href="#" onclick="javascript:window.open('https://www.facebook.com/sharer/sharer.php?u=' +encodeURIComponent(document.URL)+'&t='+encodeURIComponent(document.title), 'facebooksharedialog');return false;" target="_blank" alt="Share on Facebook" ><img src="../assets/qrcode/assets/images/sns_face.png" width="40" alt="페이스북 공유하기"></a>-->
                  <!--</li>-->
                  <!-- 트위터 공유 -->
                  <!--<li>-->
                  <!--  <a href="#" onclick="javascript:window.open('https://twitter.com/intent/tweet?text=[%EA%B3%B5%EC%9C%A0]%20' +encodeURIComponent(document.URL)+'%20-%20'+encodeURIComponent(document.title), 'twittersharedialog');return false;" target="_blank" alt="Share on Twitter" ><img src="../assets/qrcode/assets/images/sns_tw.png" width="40" alt="트위터 공유하기"></a>-->
                  <!--</li>-->
                   <!--카카오톡 공유 -->
              		<li>
                    <a href="javascript:shareKatalk()"><img src="../assets/qrcode/assets/images/sns_ka.png" width="40" alt="카카오톡 공유하기"></a>
                    <p>KakaoTalk</p>
                  </li>
                  <!-- 카카오스토리 공유 -->
                  <!--<li>-->
                  <!--  <a href="#" onclick="javascript:window.open('https://story.kakao.com/s/share?url=' +encodeURIComponent(document.URL), 'kakaostorysharedialog');return false;" target="_blank" alt="Share on kakaostory"><img src="../assets/qrcode/assets/images/sns_kakao.png" width="40" alt="카카오스토리 공유하기"></a>-->
                  <!--</li>-->
                  <li>
                    <a href="javascript:copyLink()"><img src="../assets/qrcode/assets/images/copy_link.png" width="40" alt="링크 복사"></a>
                    <p>Link Copy</p>
                  </li>
                </ul>
              </div>
              <div class='toast'>The link has been copied.</div>
            </section>
            <!-- <footer class="modal-card-foot">
              <button id="closebtn" class="button">창 닫기</button>
            </footer> -->
          </div>
        </div>
      </nav>
    </header>
    
    <h2 class="screen-out">서비스 본문</h2>
    <main class="wrap-main">
      <h3 class="screen-out">소독리포트 요약</h3>
      <section class="section intro">
        <div class="container">
          <!--<p class="subtitle is-3">즐거운 드라이브를 위해</p>-->
          <p class="title is-2"><strong>We conduct regular quarantine control<br>for pleasant drive.</strong></p>
          <div class="ico-intro">
            <div class="ico-intro-inner">
              <svg xmlns="http://www.w3.org/2000/svg" width="122" height="140" viewBox="0 0 122 140" class="shape-hexagon">
                <path id="다각형-2" data-name="다각형 2" d="M105,0l35,61-35,61H35L0,61,35,0Z" transform="translate(122) rotate(90)" fill="#fff"/>
              </svg>
              <img src="../assets/qrcode/assets/images/directions_car.svg" alt="" class="shape-car">
              <svg xmlns="http://www.w3.org/2000/svg" width="48" height="48" viewBox="0 0 48 48" class="shape-safety">
                <g id="safety" transform="translate(14 -1780)">
                  <rect id="check" width="24" height="21.6" transform="translate(-2 1793.2)" fill="#fff"/>
                  <g id="verified-user" transform="translate(-14 1780)">
                    <g id="verified-user-2" data-name="verified-user" transform="translate(0 0)">
                      <path id="패스-162" data-name="패스 162" d="M0,0H48V48H0Z" fill="none"/>
                      <path id="패스-163" data-name="패스 163" d="M21,1,3,9V21c0,11.1,7.68,21.48,18,24,10.32-2.52,18-12.9,18-24V9ZM17,33,9,25l2.82-2.82L17,27.34,30.18,14.16,33,17Z" transform="translate(3 1)" fill="#54b987"/>
                    </g>
                  </g>
                </g>
              </svg>
            </div>
          </div>
          <span class="desc-carnum">{{historyone.CNM}}</span>
          {% if (historyone.CNM == '123가1234') %}
          <p>MK Co.,Ltd.</p>
          {% elseif (historyone.CNM == '123') %}
          <p>MK Co.,Ltd.</p>
          {% else %}
          <p>{{historyone.CNA}}</p>
          {% endif %}
        </div>
      </section>
      
      <h3 class="screen-out">소독리포트 상세정보</h3>
      <section class="section py-5 has-text-centered">
        <p class="has-text-grey">Hello, customers!<br>I’m {{historyone.WNM}} who is in charge of disinfection for this car.</p>
      </section>
      <hr>
      <section class="section service">
        <div class="container">
          <div class="area-header">
            <h4 class="title is-2">
              Oasis will keep you safe!
            </h4>
          </div>
          <div class="area-body">
              <div class="columns is-mobile">
                <div class="column">
                  <div class="box">
                    <img src="../assets/qrcode/assets/images/find_replace.svg" alt="" class="mr-6">
                    <div>
                      <p><strong>Smart disinfection system</strong></p>
                      <span class="is-size-6">Strong sterilization with thorough ozone management</span>
                    </div>
                  </div>
                  <div class="box">
                    <img src="../assets/qrcode/assets/images/receipt.svg" alt="" class="mr-6">
                    <div>
                      <p><strong>At a glance with disinfection report</strong></p>
                      <span class="is-size-6">Easily check with QR code</span>
                    </div>
                  </div>
                  <div class="box">
                    <img src="../assets/qrcode/assets/images/health_and_safety.svg" alt="" class="mr-6">
                    <div>
                      <p><strong>Reliable safety</strong></p>
                      <span class="is-size-6">Make the space safe, remove germs perfectly</span>
                    </div>
                  </div>
                  <a href="/publish/brand?cat={{cat}}&cn={{historyone.CNM}}&hid={{historyone._id}}&lang={{lang}}" class="button is-ghost is-fullwidth mt-6">See details<i class="fas fa-chevron-right fa-xs ml-3"></i></a>
                </div>
              </div>
          </div>
        </div>
      </section>
      <section class="section report">
        <div class="container">
          <div class="area-header">
            <h4 class="title is-2 is-spaced">
              Disinfection report checked at a glance
            </h4>
            <p class="subtitle is-4">Disinfection process is completed safely</p>
          </div>
          <div class="area-body">
            <div class="columns is-mobile">
              <div class="column">
                <div class="box">
                  <span class="is-size-4">This car has been disinfected</span>
                  <p class="is-size-2">
                    <strong class="mr-2 has-text-info">
                      <!--홍보용-->
                      {% if (historyone.CNM == '123가1234') %}
                        1days
                      {% elseif (historyone.CNM == '123') %}
                        1days
                      <!--기본-->
                      {% else %}
                        {% if (term <= 24) %}
                          {{term}}hours
                        {% elseif (term <= 48) %}
                          {{term//24}}days{{term%24}}hours
                        {% else %}
                          <script>document.write(Math.floor({{term/24}})+"days");</script>
                        {% endif %}
                      {% endif %}
                    </strong>ago
                  </p>
                  <table class="table is-striped">
                    <tbody>
                      <tr>
                        <th>Recent date of disinfection</th>
                        <td>
                          <script>
                            var et;
                            // 홍보용
                            if ('{{historyone.CNM}}' == '123가1234') {
                              et = moment().add(-1, 'days').format('YYYY-MM-DD');
                            }
                            else if ('{{historyone.CNM}}' == '123') {
                              et = moment().add(-1, 'days').format('YYYY-MM-DD');
                            }
                            // 기본
                            else {
                              et = moment('{{historyone.ET}}').format('YYYY-MM-DD');
                            }
                            document.write(et);
                          </script>
                        </td>
                      </tr>
                      <tr>
                        <th>Time required</th>
                        <td>
                          {% if (historyone.PD.length//60)==0  %}
                            {{historyone.PD.length%60+"s"}}
                          {% else %}
                            {{historyone.PD.length//60+"m "+historyone.PD.length%60+"s"}}
                          {% endif %}
                        </td>
                      </tr>
                      <tr>
                        <th>Rental car in charge</th>
                        {% if (historyone.CNM == '123가1234') %}
                          <td>MK Co.,Ltd</td>
                        {% elseif (historyone.CNM == '123') %}
                          <td>MK Co.,Ltd</td>
                        {% else %}
                          <td>{{historyone.CNA}}</td>
                        {% endif %}
                      </tr>
                      <tr>
                        <th>Person in charge</th>
                        <td>
                          <!--홍보용-->
                          {% if (historyone.CNM == '123가1234') %}
                            MK Co.,Ltd
                          {% elseif (historyone.CNM == '123') %}
                            MK Co.,Ltd
                          <!--기본-->
                          {% else %}
                            {{historyone.WNM}}
                          {% endif %}
                        </td>
                      </tr>
                      <tr>
                        <th>Disinfector in charge<br><small>Back four digits</small></th>
                        <td>
                          <script>
                            function macCut() {
                              var mac = "{{historyone.DMAC}}";
                              var result;
                              if(mac) {
                                result = mac.substring(mac.length-5, mac.length);
                              }
                              else {
                                result = "N/A"
                              }
                              console.log(mac+"/"+result);
                              return document.write(result);
                            }
                             macCut();
                          </script>
                        </td>
                      </tr>
                    </tbody>
                  </table>
                  <hr>
                  <div id="chartdiv">
                  </div>
                </div>
              </div>
            </div>
          </div>
        </div>
      </section>
      <section class="section virus">
        <div class="container">
          <div class="area-header">
            <h4 class="title is-2 is-spaced mb-2">
              Feel relieved now
            </h4>
            <p class="subtitle is-4 has-text-grey">20 types of harmful bacteria are sterilized </p>
          </div>
          <div class="area-body">
            <div class="accordions">
              {% if (historyone.COS == null or 0 or 1 or 2) %}
              <article class="accordion is-active">
                <div class="accordion-header toggle">
                  <div>
                    <p class="has-text-weight-bold">Cold virus</p>
                    <span class="is-size-6 has-text-info">Virus</span> &#xb7; <span class="is-size-6 has-text-grey">Causative organism of cold</span>
                  </div>
                </div>
                <div class="accordion-body">
                  <div class="accordion-content">
                    It is released into the air by being mixed in droplets from sneeze or cough of infected man. Cold viruses enter into the body through mouth or nose of person who contacted this droplet.
                  </div>
                </div>
              </article>
              <article class="accordion">
                <div class="accordion-header">
                  <div>
                    <p class="has-text-weight-bold">Encephalomyelitis virus</p>
                    <span class="is-size-6 has-text-info">Virus</span> &#xb7; <span class="is-size-6 has-text-grey">Causative organism of Bird Influenza</span>
                  </div>
                  <button class="toggle" aria-label="toggle"></button>
                </div>
                <div class="accordion-body">
                  <div class="accordion-content">
                    As a virus that causes bird influenza, ataxia or paralysis may be caused in chicks. It is a second type of infectious disease in domestic animals that causes the reduction of spawning rate for matured fowl. It is very resistance to the external environment and a large amount of viruses are released through faces.
                  </div>
                </div>
              </article>
              <article class="accordion">
                <div class="accordion-header">
                  <div>
                    <p class="has-text-weight-bold">Influenza</p>
                    <span class="is-size-6 has-text-info">Virus</span> &#xb7; <span class="is-size-6 has-text-grey">Causative organism of flue</span>
                  </div>
                  <button class="toggle" aria-label="toggle"></button>
                </div>
                <div class="accordion-body">
                  <div class="accordion-content">
                    It is accompanied by respiratory symptom such as coughing while constitutional symptoms such as headache, fever, chill and muscular pains are suddenly appeared. In general, high fever occurs, and other symptoms may be varied depending on patients. Infection routes are mainly two which are droplets (respiratory secretion) infection and contact infection.
                  </div>
                </div>
              </article>
              <article class="accordion">
                <div class="accordion-header">
                  <div>
                    <p class="has-text-weight-bold">Dog parvo virus</p>
                    <span class="is-size-6 has-text-info">Virus</span> &#xb7; <span class="is-size-6 has-text-grey">Dog infectious bacteria</span>
                  </div>
                  <button class="toggle" aria-label="toggle"></button>
                </div>
                <div class="accordion-body">
                  <div class="accordion-content">
                    As an infectious virus that occurs in dogs, it is not contagious against human. It is very contagious and is spread through indirect and direct secretions. Fatality rate would be reached to 91% without vaccination.
                  </div>
                </div>
              </article>
              <article class="accordion">
                <div class="accordion-header">
                  <div>
                    <p class="has-text-weight-bold">Dog infectious virus</p>
                    <span class="is-size-6 has-text-info">Virus</span> &#xb7; <span class="is-size-6 has-text-grey">Causative organism of flue</span>
                  </div>
                  <button class="toggle" aria-label="toggle"></button>
                </div>
                <div class="accordion-body">
                  <div class="accordion-content">
                    Viruses are mainly caused and spread by secretions of infected animals. Recovered dogs release virus through urine for more than 6 months. Severe weakness, leukopenia and extension of bleeding time would be shown.
                </div>
              </article>
              <article class="accordion">
                <div class="accordion-header">
                  <div>
                    <p class="has-text-weight-bold">Colon bacillus</p>
                    <span class="is-size-6 has-text-info">Bacteria</span> &#xb7; <span class="is-size-6 has-text-grey">Causative organism of enteropathy</span>
                  </div>
                  <button class="toggle" aria-label="toggle"></button>
                </div>
                <div class="accordion-body">
                  <div class="accordion-content">
                   As one of bacterial classes that are found in large intestine, it is harmless to human body. However, people with reduced immunity may suffer from diseases according to the type of colon bacillus.
                </div>
              </article>
              <article class="accordion">
                <div class="accordion-header">
                  <div>
                    <p class="has-text-weight-bold">Staphylococcus</p>
                    <span class="is-size-6 has-text-info">Bacteria</span> &#xb7; <span class="is-size-6 has-text-grey">Avirulent</span>
                  </div>
                  <button class="toggle" aria-label="toggle"></button>
                </div>
                <div class="accordion-body">
                  <div class="accordion-content">
                    Most of them are soil microorganisms and are harmless to human body. It inhabits the mucous membrane or skin of human or various living things.
                </div>
              </article>
              <article class="accordion">
                <div class="accordion-header">
                  <div>
                    <p class="has-text-weight-bold">Staphylococcus aureus</p>
                    <span class="is-size-6 has-text-info">Bacteria</span> &#xb7; <span class="is-size-6 has-text-grey">Causative organism of food poisoning</span>
                  </div>
                  <button class="toggle" aria-label="toggle"></button>
                </div>
                <div class="accordion-body">
                  <div class="accordion-content">
                    It is one of staphylococcus that live in skin and digestive canal of human or animals. It causes various epidermis infections such as abscess, food poisoning, pneumonia, meningitis and septicemia to human. However, it may also exist as normal bacteria, not pathogenic bacterium.
                </div>
              </article>
              <article class="accordion">
                <div class="accordion-header">
                  <div>
                    <p class="has-text-weight-bold">Salmonella</p>
                    <span class="is-size-6 has-text-info">Bacteria</span> &#xb7; <span class="is-size-6 has-text-grey">Causative organism of food poisoning</span>
                  </div>
                  <button class="toggle" aria-label="toggle"></button>
                </div>
                <div class="accordion-body">
                  <div class="accordion-content">
                    As a representative causative organism of food poisoning, it causes typhoid and paratyphoid. It normally lives in intestines of human and animals and is naturally found in raw meat products. It enters through unsanitary food handling process. 
                </div>
              </article>
              <article class="accordion">
                <div class="accordion-header">
                  <div>
                    <p class="has-text-weight-bold">Bacillus pyocyaneus</p>
                    <span class="is-size-6 has-text-info">Bacteria</span> &#xb7; <span class="is-size-6 has-text-grey">Causative organism of septicemia</span>
                  </div>
                  <button class="toggle" aria-label="toggle"></button>
                </div>
                <div class="accordion-body">
                  <div class="accordion-content">
                    As opportunistic pathogen, it is harmless to healthy people. However, it may be fatal those with reduced immunity enough to lead to death. Bacillus pyocyaneus may lead to skin diseases such as follicultitis, keratitis, pneumonia, monochamus, arthropathy and peritonitis. If patients who had surgery, burns or trauma are infected, it may be developed to septicemia and meningitis. 
                </div>
              </article>
              <article class="accordion">
                <div class="accordion-header">
                  <div>
                    <p class="has-text-weight-bold">Mould fungus</p>
                    <span class="is-size-6 has-text-info">Bacteria</span> &#xb7; <span class="is-size-6 has-text-grey">Causative organism of skin diseases</span>
                  </div>
                  <button class="toggle" aria-label="toggle"></button>
                </div>
                <div class="accordion-body">
                  <div class="accordion-content">
                    Fungus has the meaning of ‘real bacteria’ compared to bacterial. As bacteria that causes great damage to human and crops, it mainly causes blast fungus of rice, dieback of various crops and Uredinales of mushrooms. To human, it causes athlete’s foot, candidiasis (mucosal inflammation), aspergillusis and Cryptococcus meningitis. Occurrence frequency is relatively low for healthy people, but it would be fatal to those with reduced immunity.
                </div>
              </article>
              <article class="accordion">
                <div class="accordion-header">
                  <div>
                    <p class="has-text-weight-bold">Salmonella typhimurium</p>
                    <span class="is-size-6 has-text-info">Bacteria</span> &#xb7; <span class="is-size-6 has-text-grey">Causative organism of food poisoning</span>
                  </div>
                  <button class="toggle" aria-label="toggle"></button>
                </div>
                <div class="accordion-body">
                  <div class="accordion-content">
                    Typhoid baccilus that occurs to mice. It has pathogen to human and animals, and it causes food poisoning to humans.
                </div>
              </article>
              <article class="accordion">
                <div class="accordion-header">
                  <div>
                    <p class="has-text-weight-bold">Hay bacillus</p>
                    <span class="is-size-6 has-text-info">Bacteria</span> &#xb7; <span class="is-size-6 has-text-grey">Pathogenic, opportunistic infection bacillus</span>
                  </div>
                  <button class="toggle" aria-label="toggle"></button>
                </div>
                <div class="accordion-body">
                  <div class="accordion-content">
                    It is a type of non-pathogenic and aerobic bacillus. In general, it is non-pathogenic, but it may cause chronic pneumonia such as eye inflammation and iritis when eyeballs are damaged.
                </div>
              </article>
              <article class="accordion">
                <div class="accordion-header">
                  <div>
                    <p class="has-text-weight-bold">Yeast</p>
                    <span class="is-size-6 has-text-info">Bacteria</span> &#xb7; <span class="is-size-6 has-text-grey">Pathogenic, opportunistic infection bacillus</span>
                  </div>
                  <button class="toggle" aria-label="toggle"></button>
                </div>
                <div class="accordion-body">
                  <div class="accordion-content">
                    IT is eukaryotic microorganism of single cell that belongs to fungi kingdom. About 1,500 types of yeasts are known, and Sccharomyces that are used in brewing or baking is the most representative one. Some types of yeasts are opportunistic infection bacillus, and candida is yeast with commensalism that is easily found in mucous membrane of human, sometimes acting as pathogenic bacteria. Candida albicans causes infection in mouth and lung of AIDS patients or people with reduced immunity.
                </div>
              </article>
              {% endif %}
              {% if (historyone.COS == 1 or 2) %}
              <article class="accordion">
                <div class="accordion-header">
                  <div>
                    <p class="has-text-weight-bold">Bacillu cereus</p>
                    <span class="is-size-6 has-text-info">Bacteria</span> &#xb7; <span class="is-size-6 has-text-grey">Causative organism of food poisoning</span>
                  </div>
                  <button class="toggle" aria-label="toggle"></button>
                </div>
                <div class="accordion-body">
                  <div class="accordion-content">
                    It causes food poisoning. It is a gram-positive bacillus, but it also proliferates in some anaerobic condition and forms endospore.
                </div>
              </article>
              {% endif %}
              {% if (historyone.COS == 2) %}
              <article class="accordion">
                <div class="accordion-header">
                  <div>
                    <p class="has-text-weight-bold">B.stearothermophilus</p>
                    <span class="is-size-6 has-text-info">Bacteria</span> &#xb7; <span class="is-size-6 has-text-grey">식품부패 원인균</span>
                  </div>
                  <button class="toggle" aria-label="toggle"></button>
                </div>
                <div class="accordion-body">
                  <div class="accordion-content">
                    저산성 통조림 식품의 신 부패의 원인. 내열성 포자를 생성하는 호열성 호기성 박테리아.
                </div>
              </article>
              <article class="accordion">
                <div class="accordion-header">
                  <div>
                    <p class="has-text-weight-bold">Cladosporium</p>
                    <span class="is-size-6 has-text-info">Bacteria</span> &#xb7; <span class="is-size-6 has-text-grey">식품오염 원인균</span>
                  </div>
                  <button class="toggle" aria-label="toggle"></button>
                </div>
                <div class="accordion-body">
                  <div class="accordion-content">
                    불완전균류의 하나. 보통 흙 속에 널리 분포하며, 부패한 동식물, 축축한 벽, 섬유나 공업 제품에서 생기기도 하며, 식품을 오염시킴.
                </div>
              </article>
              <article class="accordion">
                <div class="accordion-header">
                  <div>
                    <p class="has-text-weight-bold">웰치간균</p>
                    <span class="is-size-6 has-text-info">Bacteria</span> &#xb7; <span class="is-size-6 has-text-grey">식중독 원인균</span>
                  </div>
                  <button class="toggle" aria-label="toggle"></button>
                </div>
                <div class="accordion-body">
                  <div class="accordion-content">
                    식중독과 장염의 원인. 혐기성 상태에서 잘 자라는 균이며, 14종의 아미노산을 요구하는 그람 양성균이자 간균임.
                </div>
              </article>
              <article class="accordion">
                <div class="accordion-header">
                  <div>
                    <p class="has-text-weight-bold">곰팡이균</p>
                    <span class="is-size-6 has-text-info">Bacteria</span> &#xb7; <span class="is-size-6 has-text-grey">알레르기 원인균</span>
                  </div>
                  <button class="toggle" aria-label="toggle"></button>
                </div>
                <div class="accordion-body">
                  <div class="accordion-content">
                    알레르기, 호흡기 질환 유발. 균사로 이루어진 생물의 한 분류로, 두꺼운 세포벽을 가지고 있으며, 스스로 양분을 만들어 살아갈 수 없는 종속영양생물. 곰팡이 포자들은 일상에서 흔히 볼 수 있는 요소이나 대량으로 존재할 경우 사람에게 알레르기 반응과 호흡기 문제를 일으킬 수 있음. 또한, 일부 곰팡이들은 진균독을 유발시켜 인간과 짐승에 심각한 위험을 초래할 수 있음.
                </div>
              </article>
              {% endif %}
            </div>
          </div>
        </div>
      </section>
      <section class="section mt-10 mb-8 has-text-centered">
        <a href="/inflow?cat=1&lang={{lang}}" class="button re-enter is-medium">See other vehicles</a>
      </section>

    </main>
    <footer class="footer">
      {% if (historyone.CNM == '123가1234') %}
      <p>MK Co.,Ltd</p>
      {% elseif (historyone.CNM == '123') %}
      <p>MK Co.,Ltd</p>
      {% else %}
      <p>{{historyone.CNA}}</p>
      {% endif %}
    </footer>
  </div>
  <script type="text/javascript" src="../assets/qrcode/js/accordion.js"></script>
  <script src="http://code.jquery.com/jquery-1.10.2.js"></script>
  <script src="https://cdn.amcharts.com/lib/4/core.js"></script>
  <script src="https://cdn.amcharts.com/lib/4/charts.js"></script>
  <script src="https://cdn.amcharts.com/lib/4/themes/animated.js"></script>
  <script src="https://developers.kakao.com/sdk/js/kakao.js"></script>
  <script>
    // Current Link
    const link = document.location.href;
  
    // Accordions
    var accordions = bulmaAccordion.attach();
    
    // // Modal
    // $("#showModal").click(function() {
    //   $(".modal").addClass("is-active");  
    // });
    
    // $("#closetop").click(function() {
    //   $(".modal").removeClass("is-active");
    // });
    
    // $("#closebtn").click(function() {
    //   $(".modal").removeClass("is-active");
    // });
    
    // $(".modal-background").click(function() {
    //   $(".modal").removeClass("is-active");
    // });
    
    // Web Share API
    const shareButton = document.getElementById('showModal');
    const modal = document.getElementById('modal');
    const closetop = document.getElementById('closetop');
    const closebtn = document.getElementById('closebtn');
    const modal_bg = document.getElementById('modal-background');
    
    shareButton.addEventListener('click', event => {
      if(navigator.share) {
        navigator.share({
          title: 'OASIS | Feel relieved by seeing safety',
          text: 'Check out the quarantine management conducted regularly for a pleasant drive.',
          url: link
        }).then(() => {
          console.log('공유 완료');
        }).catch(console.error);
      } else {
        modal.classList.add('is-active');
        closetop.addEventListener('click', event => {
          modal.classList.remove('is-active');
        })
        closebtn.addEventListener('click', event => {
          modal.classList.remove('is-active');
        })
        modal_bg.addEventListener('click', event => {
          modal.classList.remove('is-active');
        })
      }
    });
    
    // Kakao Share
    Kakao.init('{{kakao}}')
    
    function shareKatalk() {
      Kakao.Link.sendScrap({
        requestUrl: location.href
      });
    };
    
    // Copy Link
    function copyLink() {
      var textArea = document.createElement("textarea");
      document.body.appendChild(textArea);
      textArea.value = link;
      textArea.select();
      
      document.execCommand('copy');
      document.body.removeChild(textArea);
      
      // Toast Message
      $('.toast').fadeIn(400).delay(1000).fadeOut(400);
    }
    
    // Graph
    am4core.ready(function() {
      // Themes begin
      am4core.useTheme(am4themes_animated);
      // Themes end
      
      // Create chart instance
      var chart = am4core.create("chartdiv", am4charts.XYChart);
      
      //이것은 차트에 mongodb 연동하는 부분
      {% set ss = 1 %}
      
        {% for item in history_array %}
        
        chart.data.push({
          ss: {{ss}},
          ppm: {{item}},
          safe: 0.5
        });
              
      {% set ss = ss + 1 %}
      	  
        {% endfor %}
      
      // Set input format for the dates
      chart.logo.disabled = true;
      chart.paddingTop = 40;
      chart.legend = new am4charts.Legend();
      chart.legend.fontSize = 9;
      chart.fontSize = 8;
      
      // Create axes
      var ssAxis = chart.xAxes.push(new am4charts.ValueAxis());
      var ppmAxis = chart.yAxes.push(new am4charts.ValueAxis());
      ssAxis.renderer.grid.template.strokeWidth = 0;
      ssAxis.title.text = "TIME(s)";
      ppmAxis.title.text = "OZONE\n(ppm)";
      ppmAxis.layout = "absolute";
      ppmAxis.title.rotation = 0;
      ppmAxis.title.align = "center";
      ppmAxis.title.valign = "top";
      ppmAxis.title.fontSize = 10;
      ppmAxis.title.dy = -40;
      ssAxis.title.align = "right";
      ssAxis.title.fontSize = 10;
      
      // Create series
      var series = chart.series.push(new am4charts.LineSeries());
      series.dataFields.valueX = "ss";
      series.dataFields.valueY = "ppm";
      series.strokeWidth = 2;
      series.minBulletDistance = 15;
      series.legendSettings.labelText = "Disinfection graph";
      
      // Range Color
      var range1 = ppmAxis.createSeriesRange(series);
      range1.value = 0;
      range1.endValue = 0.5;
      range1.contents.stroke = am4core.color("green");
      var range2 = ppmAxis.createSeriesRange(series);
      range2.value = 0.501;
      range2.endValue = 1;
      range2.contents.stroke = am4core.color("orange");
      var range3 = ppmAxis.createSeriesRange(series);
      range3.value = 1.001;
      range3.endValue = 100;
      range3.contents.stroke = am4core.color("red");
      
      // Make bullets grow on hover 이것은 각 점들의 크기
      var bullet = series.bullets.push(new am4charts.CircleBullet());
      bullet.circle.strokeWidth = 2;
      bullet.circle.radius = 2;
      bullet.circle.fill = am4core.color("#fff");
      
      ssAxis.start = 0;
      ssAxis.keepSelection = true;
      
      var columnSeries = chart.series.push(new am4charts.ColumnSeries());
      columnSeries.dataFields.valueY = "safe";
      columnSeries.dataFields.valueX = "ss";
      
      columnSeries.columns.template.propertyFields.fillOpacity = "fillOpacity";
      columnSeries.columns.template.propertyFields.stroke = "stroke";
      columnSeries.columns.template.propertyFields.strokeWidth = "strokeWidth";
      columnSeries.columns.template.propertyFields.strokeDasharray = "columnDash";
      columnSeries.tooltip.label.textAlign = "middle";
      columnSeries.legendSettings.labelText = "Safe concentration of ozone";
      columnSeries.stroke = am4core.color("#74e883");
      columnSeries.strokeOpacity = 0.5;
      columnSeries.fill = am4core.color("#74e883");
      columnSeries.fillOpacity = 0.5;
      
      var range = ppmAxis.axisRanges.create();
      range.value = 0;
      range.endValue = 0.5;
      range.axisFill.fill = am4core.color("#74e883");
      range.axisFill.fillOpacity = 0.5;
    }); // end am4core.ready()
  </script>
</body>
</html>