<!DOCTYPE html>
<html lang="ko">
<head>
  <meta charset="UTF-8">
  <meta http-equiv="X-UA-Compatible" content="IE=edge">
  <meta name="viewport" content="width=device-width, initial-scale=1.0">
  <title>OASIS 보이는 소독 시스템</title>
  <link rel="stylesheet" href="../assets/qrcode/css/main.css" class="css">
  <script src="https://kit.fontawesome.com/71839e8cce.js" crossorigin="anonymous"></script>
  <script type="text/javascript" src="../assets/qrcode/js/accordion.js"></script>
  <link href="../assets/img/favicon.png" rel="icon">
</head>
<body>
  <script src="https://cdnjs.cloudflare.com/ajax/libs/moment.js/2.29.1/moment.min.js"></script>
  
  <div class="wrap">
    <header class="wrap-header">
      <!-- 메뉴 구조 변경 될 수 있음 -->
      <nav class="navbar is-transparent">
        <div class="navbar-brand">
          <div class="navbar-item">
            <img src="../assets/qrcode/assets/images/brand-logo.svg" alt="보이는 소독 플랫폼 오아시스" width="100"  class="tit-service">
          </div>
        </div>
        <div class="navbar-util">
          <a id="showModal" class="button is-light is-share">
            <i class="fas fa-share-square"></i>
            <span>공유하기</span>
          </a>
        </div>
        <div class="modal">
          <div class="modal-background"></div>
          <div class="modal-card">
            <header class="modal-card-head">
              <p class="modal-card-title">링크 공유</p>
              <button id="closetop" class="delete" aria-label="close"></button>
            </header>
            <section class="modal-card-body">
              <div class="sns-go">
                <ul>
                  <li>
                    <a href="javascript:copyLink()"><img src="../assets/qrcode/assets/images/copy_link.png" width="40" alt="링크 복사"></a>
                  </li>
                  <!-- 네이버 블로그 공유 -->
                  <!--<li>-->
                  <!--  <a href="#" onclick="javascript:window.open('http://share.naver.com/web/shareView.nhn?url=' +encodeURIComponent(document.URL)+'&title='+encodeURIComponent(document.title), 'naversharedialog');return false;" target="_blank" alt="Share on Naver" ><img src="../assets/qrcode/assets/images/sns_naver.png" width="40" alt="네이버 블로그 공유하기"></a>-->
                  <!--</li>-->
                  <!-- 페이스북 공유 -->		
                  <!--<li>-->
                  <!--  <a href="#" onclick="javascript:window.open('https://www.facebook.com/sharer/sharer.php?u=' +encodeURIComponent(document.URL)+'&t='+encodeURIComponent(document.title), 'facebooksharedialog');return false;" target="_blank" alt="Share on Facebook" ><img src="../assets/qrcode/assets/images/sns_face.png" width="40" alt="페이스북 공유하기"></a>-->
                  <!--</li>-->
                  <!-- 트위터 공유 -->		
                  <!--<li>-->
                  <!--  <a href="#" onclick="javascript:window.open('https://twitter.com/intent/tweet?text=[%EA%B3%B5%EC%9C%A0]%20' +encodeURIComponent(document.URL)+'%20-%20'+encodeURIComponent(document.title), 'twittersharedialog');return false;" target="_blank" alt="Share on Twitter" ><img src="../assets/qrcode/assets/images/sns_tw.png" width="40" alt="트위터 공유하기"></a>-->
                  <!--</li>-->
                  <!-- 카카오톡 공유 -->
              		<li>
                    <a href="javascript:shareKatalk()"><img src="../assets/qrcode/assets/images/sns_ka.png" width="40" alt="카카오톡 공유하기"></a></li>
                  <!-- 카카오스토리 공유 -->		
                  <!--<li>-->
                  <!--  <a href="#" onclick="javascript:window.open('https://story.kakao.com/s/share?url=' +encodeURIComponent(document.URL), 'kakaostorysharedialog');return false;" target="_blank" alt="Share on kakaostory"><img src="../assets/qrcode/assets/images/sns_kakao.png" width="40" alt="카카오스토리 공유하기"></a>-->
                  <!--</li>-->
                </ul>
              </div>
              <div class='toast'>링크가 복사되었습니다.</div>
            </section>
            <footer class="modal-card-foot">
              <button id="closebtn" class="button">창 닫기</button>
            </footer>
          </div>
        </div>
      </nav>
    </header>
    
    <h2 class="screen-out">서비스 본문</h2>
    <main class="wrap-main">
      <h3 class="screen-out">소독리포트 요약</h3>
      <section class="section intro">
        <div class="container">
          <p class="subtitle is-3">즐거운 드라이브를 위해</p>
          <p class="title is-2"><strong>{{companyone.CNA}}는 정기적으로<br>방역관리를 실시합니다.</strong></p>
          <div class="ico-intro">
            <div class="ico-intro-inner">
              <svg xmlns="http://www.w3.org/2000/svg" width="122" height="140" viewBox="0 0 122 140" class="shape-hexagon">
                <path id="다각형-2" data-name="다각형 2" d="M105,0l35,61-35,61H35L0,61,35,0Z" transform="translate(122) rotate(90)" fill="#fff"/>
              </svg>
              <img src="../assets/qrcode/assets/images/directions_car.svg" alt="" class="shape-car">
              <svg xmlns="http://www.w3.org/2000/svg" width="48" height="48" viewBox="0 0 48 48" class="shape-safety">
                <g id="safety" transform="translate(14 -1780)">
                  <rect id="check" width="24" height="21.6" transform="translate(-2 1793.2)" fill="#fff"/>
                  <g id="verified-user" transform="translate(-14 1780)">
                    <g id="verified-user-2" data-name="verified-user" transform="translate(0 0)">
                      <path id="패스-162" data-name="패스 162" d="M0,0H48V48H0Z" fill="none"/>
                      <path id="패스-163" data-name="패스 163" d="M21,1,3,9V21c0,11.1,7.68,21.48,18,24,10.32-2.52,18-12.9,18-24V9ZM17,33,9,25l2.82-2.82L17,27.34,30.18,14.16,33,17Z" transform="translate(3 1)" fill="#54b987"/>
                    </g>
                  </g>
                </g>
              </svg>
            </div>
          </div>
          <span class="desc-carnum">{{historyone.CNM}}</span>
          <p>{{companyone.CNA}}</p>
        </div>
      </section>
      
      <h3 class="screen-out">소독리포트 상세정보</h3>
      <section class="section py-5 has-text-centered">
        <p class="has-text-grey">안녕하세요 고객님!<br>이 차량의 소독을 담당한 {{historyone.WNM}}입니다.</p>
      </section>
      <hr>
      <section class="section service">
        <div class="container">
          <div class="area-header">
            <h4 class="title is-2">
              오아시스가 지켜드려요!
            </h4>
          </div>
          <div class="area-body">
              <div class="columns is-mobile">
                <div class="column">
                  <div class="box">
                    <img src="../assets/qrcode/assets/images/find_replace.svg" alt="" class="mr-6">
                    <div>
                      <p><strong>똑똑한 소독 시스템</strong></p>
                      <span class="is-size-6">빈틈없는 오존관리로 강력한 살균</span>
                    </div>
                  </div>
                  <div class="box">
                    <img src="../assets/qrcode/assets/images/receipt.svg" alt="" class="mr-6">
                    <div>
                      <p><strong>소독리포트로 한번에</strong></p>
                      <span class="is-size-6">QR코드로 간편하게 확인</span>
                    </div>
                  </div>
                  <div class="box">
                    <img src="../assets/qrcode/assets/images/health_and_safety.svg" alt="" class="mr-6">
                    <div>
                      <p><strong>믿을 수 있는 안전성</strong></p>
                      <span class="is-size-6">공간은 안전하게 세균은 완벽하게</span>
                    </div>
                  </div>
                  <!--<a href="" class="button is-ghost is-fullwidth mt-6">-->
                  <!--  자세히 보기-->
                  <!--  <i class="fas fa-chevron-right fa-xs ml-3"></i>-->
                  <!--</a>-->
                </div>
              </div>
          </div>
        </div>
      </section>
      <section class="section report">
        <div class="container">
          <div class="area-header">
            <h4 class="title is-2 is-spaced">
              한눈에 보는 소독 리포트
            </h4>
            <p class="subtitle is-4">안전하게 소독공정 완료</p>
          </div>
          <div class="area-body">
            <div class="columns is-mobile">
              <div class="column">
                <div class="box">
                  <span class="is-size-4">이 차량은</span>
                  <p class="is-size-2">
                    <strong class="mr-2 has-text-info">
                      {% if (term <= 24) %}
                        {{term}}시간
                      {% elseif (term <= 48) %}
                        {{term//24}}일{{term%24}}시간
                      {% else %}
                        <script>document.write(Math.ceil({{term/24}})+"일");</script>
                      {% endif %}
                    전</strong>소독 공정 완료
                  </p>
                  <table class="table is-striped">
                    <tbody>
                      <tr>
                        <th>최근 소독일</th>
                        <td>
                          <script>
                            const et = moment('{{historyone.ET}}').format('YYYY-MM-DD');
                            document.write(et);
                          </script>
                        </td>
                      </tr>
                      <tr>
                        <th>소요시간</th>
                        <td>
                          {% if (historyone.PD.length//60)==0  %}
                            {{historyone.PD.length%60+"s"}}
                          {% else %}
                            {{historyone.PD.length//60+"m "+historyone.PD.length%60+"s"}}
                          {% endif %}
                        </td>
                      </tr>
                      <tr>
                        <th>담당 렌터카</th>
                        <td>{{companyone.CNA}}</td>
                      </tr>
                      <tr>
                        <th>담당 작업자</th>
                        <td>{{historyone.WNM}}</td>
                      </tr>
                    </tbody>
                  </table>
                  <hr>
                  <div id="chartdiv">
                  </div>
                </div>
              </div>
            </div>
          </div>
        </div>
      </section>
      <section class="section virus">
        <div class="container">
          <div class="area-header">
            <h4 class="title is-2 is-spaced mb-2">
              이제 안심하세요
            </h4>
            <p class="subtitle is-4 has-text-grey">20여가지의 유해균 살균</p>
          </div>
          <div class="area-body">
            <div class="accordions">
              <article class="accordion is-active">
                <div class="accordion-header toggle">
                  <div>
                    <p class="has-text-weight-bold">감기 바이러스</p>
                    <span class="is-size-6 has-text-info">바이러스</span> &#xb7; <span class="is-size-6 has-text-grey">감기 원인균</span>
                  </div>
                </div>
                <div class="accordion-body">
                  <div class="accordion-content">
                    주로 감염된 사람의 재채기나 기침을 통해 나온 비말 속에 섞여 공기 중으로 나옴. 이 비말을 접촉한 사람의 입이나 코를 통해 감기 바이러스가 몸 안으로 들어옴.
                  </div>
                </div>
              </article>
              <article class="accordion">
                <div class="accordion-header">
                  <div>
                    <p class="has-text-weight-bold">계 뇌척수염 바이러스</p>
                    <span class="is-size-6 has-text-info">바이러스</span> &#xb7; <span class="is-size-6 has-text-grey">조류독감 원인균</span>
                  </div>
                  <button class="toggle" aria-label="toggle"></button>
                </div>
                <div class="accordion-body">
                  <div class="accordion-content">
                    조류독감을 유발하는 바이러스. 병아리에서는 운동실조, 마비 등이 나타나며, 성계에서는 산란율 감소가 나타나는 제 2종 가축전염병. 외부 환경에 대한 저항성이 매우 높으며, 분변을 통해 다량의 바이러스가 배출됨.
                  </div>
                </div>
              </article>
              <article class="accordion">
                <div class="accordion-header">
                  <div>
                    <p class="has-text-weight-bold">인플루엔자</p>
                    <span class="is-size-6 has-text-info">바이러스</span> &#xb7; <span class="is-size-6 has-text-grey">독감 원인균</span>
                  </div>
                  <button class="toggle" aria-label="toggle"></button>
                </div>
                <div class="accordion-body">
                  <div class="accordion-content">
                    두통, 발열, 오한, 근육통과 같은 전신 증상이 갑자기 발생하면서 기침이 나는 등 호흡기 증상이 동반됨. 일반적으로 고열이 발생하며, 그 외 증상은 환자별로 다양함. 감염경로는 크게 두가지로 비말(호흡 분비물)감염과 접촉감염으로 이루어짐.
                  </div>
                </div>
              </article>
              <article class="accordion">
                <div class="accordion-header">
                  <div>
                    <p class="has-text-weight-bold">견 파보 바이러스</p>
                    <span class="is-size-6 has-text-info">바이러스</span> &#xb7; <span class="is-size-6 has-text-grey">개 전염균</span>
                  </div>
                  <button class="toggle" aria-label="toggle"></button>
                </div>
                <div class="accordion-body">
                  <div class="accordion-content">
                    개에서 발생되는 전염성 바이러스로 사람에게는 전염되지 않음. 전염성이 매우 높으며, 직간접적인 분비물로 인해 전파됨. 예방접종을 하지 않을 경우, 치사율은 91%에 다다름.
                  </div>
                </div>
              </article>
              <article class="accordion">
                <div class="accordion-header">
                  <div>
                    <p class="has-text-weight-bold">견 전염성 간염바이러스</p>
                    <span class="is-size-6 has-text-info">바이러스</span> &#xb7; <span class="is-size-6 has-text-grey">독감 원인균</span>
                  </div>
                  <button class="toggle" aria-label="toggle"></button>
                </div>
                <div class="accordion-body">
                  <div class="accordion-content">
                    주로 감염된 동물의 분비물로 인해 바이러스가 생성, 전파됨. 회복된 개는 뇨를 통해 6개월 이상 바이러스를 배출함. 개에게 심한 쇠약, 백혈구감소증, 출혈시간 연장 등이 나타남.
                </div>
              </article>
              <article class="accordion">
                <div class="accordion-header">
                  <div>
                    <p class="has-text-weight-bold">대장균</p>
                    <span class="is-size-6 has-text-info">박테리아</span> &#xb7; <span class="is-size-6 has-text-grey">장질환 원인균</span>
                  </div>
                  <button class="toggle" aria-label="toggle"></button>
                </div>
                <div class="accordion-body">
                  <div class="accordion-content">
                    대장에 분포하는 세균 종 가운데 하나로 대부분 인체에 무해함. 단, 면연력이 저하된 사람은 대장균의 종류에 따라 질환이 생길 수 있음.
                </div>
              </article>
              <article class="accordion">
                <div class="accordion-header">
                  <div>
                    <p class="has-text-weight-bold">포도상구균</p>
                    <span class="is-size-6 has-text-info">박테리아</span> &#xb7; <span class="is-size-6 has-text-grey">비병원성</span>
                  </div>
                  <button class="toggle" aria-label="toggle"></button>
                </div>
                <div class="accordion-body">
                  <div class="accordion-content">
                    토양미생물이 대부분으로 인체에 무해함. 인간이나 여러 생물의 점막 혹은 피부에 서식함.
                </div>
              </article>
              <article class="accordion">
                <div class="accordion-header">
                  <div>
                    <p class="has-text-weight-bold">황색 포도상구균</p>
                    <span class="is-size-6 has-text-info">박테리아</span> &#xb7; <span class="is-size-6 has-text-grey">식중독 원인균</span>
                  </div>
                  <button class="toggle" aria-label="toggle"></button>
                </div>
                <div class="accordion-body">
                  <div class="accordion-content">
                    사람이나 동물의 피부, 소화관에 상재하는 포도상 구균의 하나임. 사람에게 농양 등 다양한 표피 감염, 식중독, 폐렴, 수막염, 패혈증 등을 일으킴. 하지만, 병원체가 아닌 정상 세균종으로 존재할 수도 있음.
                </div>
              </article>
              <article class="accordion">
                <div class="accordion-header">
                  <div>
                    <p class="has-text-weight-bold">살모넬라균</p>
                    <span class="is-size-6 has-text-info">박테리아</span> &#xb7; <span class="is-size-6 has-text-grey">식중독 원인균</span>
                  </div>
                  <button class="toggle" aria-label="toggle"></button>
                </div>
                <div class="accordion-body">
                  <div class="accordion-content">
                    대표적인 식중독 원인균이며, 장티푸스와 파라티푸스 등의 질병을 일으킴. 주로 사람이나 동물의 장에 서식하고, 날고기 제품에서 자연적으로 발견될 수 있으며, 위생치 못한 식품 취급 방법을 통해 들어가게 됨.
                </div>
              </article>
              <article class="accordion">
                <div class="accordion-header">
                  <div>
                    <p class="has-text-weight-bold">녹농균</p>
                    <span class="is-size-6 has-text-info">박테리아</span> &#xb7; <span class="is-size-6 has-text-grey">패혈증환 원인균</span>
                  </div>
                  <button class="toggle" aria-label="toggle"></button>
                </div>
                <div class="accordion-body">
                  <div class="accordion-content">
                    기회성 병원균으로 건강한 사람에겐 무해함. 단, 면역력이 저하된 사람에게는 치명적으로 작용하여 사망에까지 이르게 할 수 있음. 녹농균은 모낭염과 같은 피부질환부터 각막염, 폐렴, 솔수염, 관절증, 복막염 등으로 이어질 수 있음. 특히 수술, 화상, 외상이 발생한 환자가 감염되면 패혈증, 뇌막염 등으로 진행됨.
                </div>
              </article>
              <article class="accordion">
                <div class="accordion-header">
                  <div>
                    <p class="has-text-weight-bold">곰팡이 진균</p>
                    <span class="is-size-6 has-text-info">박테리아</span> &#xb7; <span class="is-size-6 has-text-grey">피부질환 원인균</span>
                  </div>
                  <button class="toggle" aria-label="toggle"></button>
                </div>
                <div class="accordion-body">
                  <div class="accordion-content">
                    진균은 Bacteria와 비교하여 '진짜 균'이라는 의미를 가짐. 사람과 농작물에 큰 피해를 주는 균으로, 대표적으로 벼 도열병균과 각종 농작물의 잎 마름 병, 버섯의 녹병균을 일으킴. 사람에게는 무좀, 칸디다증(점막 염증), 아스퍼질러스증, 크립토콕쿠스 수염증 등을 일으킴. 건강한 사람에게는 대체로 발병 빈도가 낮으나, 면역력이 저하된 사람에게는 심각함.
                </div>
              </article>
              <article class="accordion">
                <div class="accordion-header">
                  <div>
                    <p class="has-text-weight-bold">쥐티푸스균</p>
                    <span class="is-size-6 has-text-info">박테리아</span> &#xb7; <span class="is-size-6 has-text-grey">식중독 원인균</span>
                  </div>
                  <button class="toggle" aria-label="toggle"></button>
                </div>
                <div class="accordion-body">
                  <div class="accordion-content">
                    쥐에서 발생하는 티푸스균. 사람이나 동물에게 병원성을 나타내며, 사람에게는 식중독의 원인이 됨.
                </div>
              </article>
              <article class="accordion">
                <div class="accordion-header">
                  <div>
                    <p class="has-text-weight-bold">고초균</p>
                    <span class="is-size-6 has-text-info">박테리아</span> &#xb7; <span class="is-size-6 has-text-grey">비병원성, 기회감염균</span>
                  </div>
                  <button class="toggle" aria-label="toggle"></button>
                </div>
                <div class="accordion-body">
                  <div class="accordion-content">
                    자연계에 널리 분포하는 비병원성, 호기성 간균의 일종. 기본적으로 비병원성이지만 안구가 손상되었을 때, 결막염, 홍채염 등 만성화농증을 일으킬 수 있음.
                </div>
              </article>
              <article class="accordion">
                <div class="accordion-header">
                  <div>
                    <p class="has-text-weight-bold">효모</p>
                    <span class="is-size-6 has-text-info">박테리아</span> &#xb7; <span class="is-size-6 has-text-grey">비병원성, 기회감염균</span>
                  </div>
                  <button class="toggle" aria-label="toggle"></button>
                </div>
                <div class="accordion-body">
                  <div class="accordion-content">
                    균계에 속하는 단세포의 진핵미생물. 효모는 약 1,500여 종이 알려져 있으며 양조나 제빵에 사용되는 Sccharomyces가 가장 대표적임. 몇몇 종의 효모는 기회감염균으로, candida는 인간의 점막 등에서 쉽게 발견되는 편리공생을 하는 효모 종이나 가끔 병원성 균으로 작용함. candida albicans는 에이즈 환자나 기타 면역력이 저하된 사람의 구강, 폐에 감염을 일으킴.
                </div>
              </article>
              <article class="accordion">
                <div class="accordion-header">
                  <div>
                    <p class="has-text-weight-bold">Cladosporium</p>
                    <span class="is-size-6 has-text-info">박테리아</span> &#xb7; <span class="is-size-6 has-text-grey">식품오염 원인균</span>
                  </div>
                  <button class="toggle" aria-label="toggle"></button>
                </div>
                <div class="accordion-body">
                  <div class="accordion-content">
                    불완전균류의 하나. 보통 흙 속에 널리 분포하며, 부패한 동식물, 축축한 벽, 섬유나 공업 제품에서 생기기도 하며, 식품을 오염시킴.
                </div>
              </article>
              <article class="accordion">
                <div class="accordion-header">
                  <div>
                    <p class="has-text-weight-bold">웰치간균</p>
                    <span class="is-size-6 has-text-info">박테리아</span> &#xb7; <span class="is-size-6 has-text-grey">식중독 원인균</span>
                  </div>
                  <button class="toggle" aria-label="toggle"></button>
                </div>
                <div class="accordion-body">
                  <div class="accordion-content">
                    식중독과 장염의 원인. 혐기성 상태에서 잘 자라는 균이며, 14종의 아미노산을 요구하는 그람 양성균이자 간균임.
                </div>
              </article>
              <article class="accordion">
                <div class="accordion-header">
                  <div>
                    <p class="has-text-weight-bold">곰팡이균</p>
                    <span class="is-size-6 has-text-info">박테리아</span> &#xb7; <span class="is-size-6 has-text-grey">알레르기 원인균</span>
                  </div>
                  <button class="toggle" aria-label="toggle"></button>
                </div>
                <div class="accordion-body">
                  <div class="accordion-content">
                    알레르기, 호흡기 질환 유발. 균사로 이루어진 생물의 한 분류로, 두꺼운 세포벽을 가지고 있으며, 스스로 양분을 만들어 살아갈 수 없는 종속영양생물. 곰팡이 포자들은 일상에서 흔히 볼 수 있는 요소이나 대량으로 존재할 경우 사람에게 알레르기 반응과 호흡기 문제를 일으킬 수 있음. 또한, 일부 곰팡이들은 진균독을 유발시켜 인간과 짐승에 심각한 위험을 초래할 수 있음.
                </div>
              </article>
              <article class="accordion">
                <div class="accordion-header">
                  <div>
                    <p class="has-text-weight-bold">바실러스 세레우스</p>
                    <span class="is-size-6 has-text-info">박테리아</span> &#xb7; <span class="is-size-6 has-text-grey">식중독 원인균</span>
                  </div>
                  <button class="toggle" aria-label="toggle"></button>
                </div>
                <div class="accordion-body">
                  <div class="accordion-content">
                    식중독 유발. 그람 양성 호기성 간균이지만, 어느 정도의 혐기상태에서도 증식하며 내포자를 형성하는 균.
                </div>
              </article>
              <article class="accordion">
                <div class="accordion-header">
                  <div>
                    <p class="has-text-weight-bold">B.stearothermophilus</p>
                    <span class="is-size-6 has-text-info">박테리아</span> &#xb7; <span class="is-size-6 has-text-grey">식품부패 원인균</span>
                  </div>
                  <button class="toggle" aria-label="toggle"></button>
                </div>
                <div class="accordion-body">
                  <div class="accordion-content">
                    저산성 통조림 식품의 신 부패의 원인. 내열성 포자를 생성하는 호열성 호기성 박테리아.
                </div>
              </article>
            </div>
          </div>
        </div>
      </section>
      <section class="section mt-10 mb-8 has-text-centered">
        <a href="/mobile_con" class="button is-warning is-medium">다른 차량 확인하기</a>
      </section>

    </main>
    <footer class="footer">
        <p>{{companyone.CNA}}</p>
    </footer>
  </div>
  <script src="http://code.jquery.com/jquery-1.10.2.js"></script>
  <script src="https://cdn.amcharts.com/lib/4/core.js"></script>
  <script src="https://cdn.amcharts.com/lib/4/charts.js"></script>
  <script src="https://cdn.amcharts.com/lib/4/themes/animated.js"></script>
  <script src="https://developers.kakao.com/sdk/js/kakao.js"></script>
  <script>
    // Current Link
    const link = document.location.href;
  
    // Accordions
    var accordions = bulmaAccordion.attach();
    
    // Modal
    $("#showModal").click(function() {
      $(".modal").addClass("is-active");  
    });
    
    $("#closetop").click(function() {
       $(".modal").removeClass("is-active");
    });
    
    $("#closebtn").click(function() {
       $(".modal").removeClass("is-active");
    });
    
    $(".modal-background").click(function() {
       $(".modal").removeClass("is-active");
    });
    
    // Kakao Share
    Kakao.init('{{kakao}}')
    
    function shareKatalk() {
      Kakao.Link.sendScrap({
        requestUrl: location.href
      });
    };
    
    // Copy Link
    function copyLink() {
      var textArea = document.createElement("textarea");
      document.body.appendChild(textArea);
      textArea.value = link;
      textArea.select();
      
      document.execCommand('copy');
      document.body.removeChild(textArea);
      
      // Toast Message
      $('.toast').fadeIn(400).delay(1000).fadeOut(400);
    }
    
    // Graph
    am4core.ready(function() {
      // Themes begin
      am4core.useTheme(am4themes_animated);
      // Themes end
      
      // Create chart instance
      var chart = am4core.create("chartdiv", am4charts.XYChart);
      
      //이것은 차트에 mongodb 연동하는 부분
      {% set ss = 1 %}
      
        {% for item in history_array %}
        
        chart.data.push({
          ss: {{ss}},
          ppm: {{item}}
        });
              
      {% set ss = ss + 1 %}
      	  
        {% endfor %}
      
      // Set input format for the dates
      chart.logo.disabled = true;
      chart.numberFormatter.numberFormat = "#";
      
      // Create axes
      var ssAxis = chart.xAxes.push(new am4charts.ValueAxis());
      var ppmAxis = chart.yAxes.push(new am4charts.ValueAxis());
      ssAxis.title.text = "시간(s)";
      ppmAxis.title.text = "오존(ppm)";
      
      // Create series
      var series = chart.series.push(new am4charts.LineSeries());
      series.dataFields.valueY = "ppm";
      series.dataFields.valueX = "ss";
      series.strokeWidth = 2;
      series.minBulletDistance = 15;
      
      // Range Color
      var range1 = ppmAxis.createSeriesRange(series);
      range1.value = 0;
      range1.endValue = 0.5;
      range1.contents.stroke = am4core.color("green");
      var range2 = ppmAxis.createSeriesRange(series);
      range2.value = 0.501;
      range2.endValue = 1;
      range2.contents.stroke = am4core.color("orange");
      var range3 = ppmAxis.createSeriesRange(series);
      range3.value = 1.001;
      range3.endValue = 5;
      range3.contents.stroke = am4core.color("red");

      // #CBE9AC
      var range = ppmAxis.createSeriesRange(series);
      range.value = 1;
      range.endValue = 2;
      range.axisFill.background.fill = am4core.color("#CBE9AC");
      
      // Make bullets grow on hover 이것은 각 점들의 크기
      var bullet = series.bullets.push(new am4charts.CircleBullet());
      bullet.circle.strokeWidth = 2;
      bullet.circle.radius = 2;
      bullet.circle.fill = am4core.color("#fff");
      
      // var bullethover = bullet.states.create("hover");
      // bullethover.properties.scale = 1.3;
      
      ssAxis.start = 0;
      ssAxis.keepSelection = true;
    }); // end am4core.ready()
  </script>
</body>
</html>