<!DOCTYPE html>
<html lang="kor">
<head>
	<meta charset="utf-8" />
	<title>MK | Disinfection History</title>
	<meta content="width=device-width, initial-scale=1.0, maximum-scale=1.0, user-scalable=no" name="viewport" />
	<meta content="" name="description" />
	<meta content="" name="author" />
	
	<!-- ================== BEGIN BASE CSS STYLE ================== -->
	<link href="https://fonts.googleapis.com/css?family=Open+Sans:300,400,600,700" rel="stylesheet" />
	<link href="../assets/css/default/app.min.css" rel="stylesheet" />
	<!-- ================== END BASE CSS STYLE ================== -->
	
	<!-- fontawsome 사용 -->
	<link href="https://cdnjs.cloudflare.com/ajax/libs/font-awesome/5.8.2/css/all.min.css" rel="stylesheet" />
	<!-- favicon -->
	<link href="../assets/img/favicon.png" rel="icon">
	
    <link rel="stylesheet" href="../assets/css/qrcode.css">
	
</head>
<body>
	<!-- begin #page-container -->
	<div id="page-container" class="fade page-without-sidebar">
		<!-- begin #header -->
		<div id="header" class="header navbar-default bg-blue">
			 <!--begin navbar-header -->
			<div class="navbar-header">
				<span class="navbar-brand m-0"><img src="../assets/img/oasis.png"></span>
			</div>
			 <!--end header-nav -->
		</div>
		<!-- end #header -->
		
		<!-- begin #content -->
		<div id="content" class="content pt-0 mt-5 bg-white">
			<!-- begin row -->
			<div class="row">
			    <div class="col-xl-12">
    		        <!-- begin panel -->
    		        <!-- begin panel -->
    		        <div class="panel panel-inverse">
                        <div class="py-3 mt-2 text-center">
                        	<h1 class="mb-2">{{companyone.CNA}}</h1>
                            <h4 class="mb-1">{{carone.CN}}</h4>
                        </div>
                        <div class="d-flex justify-content-center align-content-center text-center">
	    		            <h2 class="mb-0">소독이 한번도 이루어지지 않은 차량입니다.</h2>
	    		        </div>
                    </div>
                    <!-- end panel -->
			    </div>
			</div>
			<!-- end row -->
		</div>
		<!-- end #content -->
		
		<!-- begin #footer -->
		<div id="footer" class="footer bg-blue border-0">
		    <div class="text-center text-white">
				<h4 class="mb-0">안전한 차, {{companyone.CNA}}</h4>
			</div>
		</div>
		<!-- end #footer -->
	</div>
	
	<!-- ================== BEGIN BASE JS ================== -->
	<script src="../assets/js/app.min.js"></script>
	<script src="../assets/js/theme/default.min.js"></script>
	<!-- ================== END BASE JS ================== -->
	<script src="../assets/js/qrcode.js"></script>
	
</body>
</html>