<!DOCTYPE html>
<html lang="ko">
<head>
	<meta charset="utf-8" />
	<title>{{__('register_title')}}</title>
	<meta content="width=device-width, initial-scale=1.0, maximum-scale=1.0, user-scalable=no" name="viewport" />
	<meta content="" name="description" />
	<meta content="" name="author" />
	
	<!-- ================== BEGIN BASE CSS STYLE ================== -->
	<link href="https://fonts.googleapis.com/css?family=Open+Sans:300,400,600,700" rel="stylesheet" />
	<link href="../assets/css/default/app.min.css" rel="stylesheet" />
	<!-- ================== END BASE CSS STYLE ================== -->
	<link href="../oasiscss/register.css" rel="stylesheet" />
	
	<link href="../assets/img/favicon.png" rel="icon">
</head>
<body class="pace-top">
	<!-- begin #page-loader -->
	<div id="page-loader" class="fade show">
		<span class="spinner"></span>
	</div>
	<!-- end #page-loader -->
	
	<!-- begin #page-container -->
	<div id="page-container" class="fade">
		<!-- begin login -->
		<div class="login login-v1">
			<!-- begin login-container -->
			<div class="login-container">
				<!-- begin login-header -->
				<div class="login-header">
					<div class="brand">
						<span class="logo bg-blue"></span> <b class="text-blue">OASIS</b>
						<small>
							{{__('register_text1')}}
						</small>
					</div>
					<div class="icon">
						<i class="fa fa-lock"></i>
					</div>
				</div>
				<!-- end login-header -->
				<!-- begin login-body -->
				<div class="login-body">
					<!-- begin login-content -->
					<div class="login-content mt-4">
						<form action="" method="post" class="margin-bottom-0" data-parsley-validate="true" onsubmit="checkForm();">
							<!--사업자정보-->
							<div class="d-flex justify-content-between align-items-center mb-4">
							    <hr class="bg-white m-0" width="15%"><h3 class="mb-0" width="30%">{{__('company')}}</h3><hr class="bg-white m-0" width="55%">
							</div>
    							<!--사업자등록번호-->
    							<label class="control-label">{{__('business_number')}} <span class="text-danger"> *</span></label>
        						<div class="form-group m-b-20" >
        							<div class="d-flex justify-content-between align-items-center mb-2">
        								<input id="CNU" name="CNU" type="text" class="form-control form-control-lg inverse-mode w-70 mr-2" placeholder="{{__('business_number')}}" data-parsley-type="digits" data-parsley-type-message="{{__('register_digits_error')}}" data-parsley-required-message="{{__('required_detail')}}" data-parsley-errors-container="#err-msg1" required/>
    								    <input type="button" class="btn btn-primary btn-block btn-lg w-25" value="{{__('confirm')}}" onclick="checkCNU('CNU');">
    							    	<input type="hidden" id="hideCNU" name="hideCNU" value="">
    							    </div>
    							    <div id="err-msg1"></div>
    							    <div id="err-msg-cnu" class="text-realred"></div>
        						</div>
        						<!--본사/지점 선택-->
        						<div class="agent-select d-none">
	        						<label class="control-label">회원님의 기업은 <span class="text-danger"> *</span></label>
	        						<div class="form-group m-b-20 d-flex justify-content-start align-items-center">
										<div class="form-check h4 mr-3 mb-0">
											<input class="form-check-input" type="radio" name="CAK" id="CAK1" value="head" checked />
											<label class="form-check-label" for="CAK1">
												{{__('agent_head')}}
											</label>
										</div>
										<div class="form-check h4 mb-0">
											<input class="form-check-input" type="radio" name="CAK" id="CAK2" value="branch" />
											<label class="form-check-label" for="CAK2">
												{{__('agent_branch')}}
											</label>
										</div>
	        						</div>
	        					</div>
        						<!--지점 종류-->
        						<div class="agent-box d-none">
	        						<label class="control-label">{{__('agent_branch')}} <span class="text-danger"> *</span></label>
	        						<div id="selectBranch" class="form-group m-b-20" >
	    								<select id="ANA" name="ANA" class="form-control form-control-lg inverse-mode text-gray-700" data-parsley-error-message="{{__('required_detail')}}" required>
	    								</select>
	        						</div>
	        					</div>
        						<!--업체명-->
        						<label class="control-label">{{__('company_name')}} <span class="text-danger"> *</span></label>
        						<div class="form-group m-b-20" >
    								<input id="CNA" name = "CNA" type="text" class="form-control form-control-lg inverse-mode" placeholder="{{__('company_name')}}" data-parsley-error-message="{{__('required_detail')}}" required/>
        						</div>
        						<!--업종-->
        						<label class="control-label">{{__('company_type')}} <span class="text-danger"> *</span></label>
        						<div id="selectBack" class="form-group m-b-20" >
    								<select id="CK" name="CK" class="form-control form-control-lg inverse-mode text-gray-700" data-parsley-error-message="{{__('required_detail')}}" required>
										<option value ="">{{__('company_type_guide')}}</option>
										<option value="렌터카">{{__('company_type1')}}</option>
										<option value="카센터">{{__('company_type2')}}</option>
										<option value="출장 정비">{{__('company_type3')}}</option>
										<option value="출장 세차">{{__('company_type4')}}</option>
										<option value="택시 운수업">{{__('company_type5')}}</option>
										<option value="버스 운수업">{{__('company_type6')}}</option>
										<option value="타이어 샵">{{__('company_type7')}}</option>
										<option value="MK 대리점">{{__('company_type8')}}</option>
    								</select>
        						</div>
        						<!--주소-->
        						<label class="control-label">{{__('address')}}<span class="text-danger"> *</span> </label>
    							<div class="form-group m-b-20">
    							    <div class="d-flex justify-content-between align-items-center mb-2">
    							        <input id="addr1" name="addr1" type="text" class="form-control form-control-lg inverse-mode w-70 mr-2" value ="{{addr1}}" placeholder="{{__('address_1')}}" data-parsley-error-message=null readonly required >
    								    <input type="button" class="btn btn-primary btn-block btn-lg w-25" value="{{__('search')}}" onclick="searchAddr();">
    							    </div>
    								<input id="addr2" name="addr2" type="text" class="form-control form-control-lg inverse-model" value ="{{addr2}}" placeholder="{{__('address_2')}}" data-parsley-error-message="{{__('required_detail')}}" required >
    							</div>
    							<!--전화번호-->
        						<label class="control-label">{{__('company')}} {{__('phone_number')}} <span class="text-danger"> *</span></label>
        						<div class="form-group m-b-20" >
    								<input id="PN" name = "PN" type="text" class="form-control form-control-lg inverse-mode" placeholder="{{__('company')}} {{__('phone_number')}}" data-parsley-type="digits" data-parsley-type-message="{{__('register_digits_error')}}" data-parsley-required-message="{{__('required_detail')}}" required/>
        						</div>
        						
        					<!--사업자 대표 정보-->
							<div class="d-flex justify-content-between align-items-center mt-5 mb-4">
							    <hr class="bg-white m-0" width="15%"><h3 class="mb-0" width="30%">{{__('representative')}}</h3><hr class="bg-white m-0" width="55%">
							</div>
							    <!--대표자 성명-->
    							<label class="control-label">{{__('name')}} <span class="text-danger"> *</span></label>
        						<div class="form-group m-b-20" >
    								<input id="NA" name = "NA" type="text" class="form-control form-control-lg inverse-mode" placeholder="{{__('name')}}" data-parsley-error-message="{{__('required_detail')}}" required/>
        						</div>
        						<!--휴대폰 번호-->
    							<label class="control-label">{{__('mobile_number')}}</label>
        						<div class="form-group m-b-20" >
    								<input id="MN" name = "MN" type="text" class="form-control form-control-lg inverse-mode" placeholder="{{__('mobile_number')}}" data-parsley-type="digits" data-parsley-type-message="{{__('register_digits_error')}}"/>
        						</div>
        						<!--비밀번호-->
    							<label class="control-label">{{__('pw')}} <span class="text-danger"> *</span></label>
        						<div class="form-group m-b-20" >
        							<div class="inputbox">
        								<input id="PW" name = "PW" type="password" class="form-control form-control-lg inverse-mode" placeholder="{{__('pw_guide')}}" data-parsley-length="[8, 16]" data-parsley-length-message="{{__('findpw_guide')}}" data-parsley-required-message="{{__('required_detail')}}" required/>
        								<font id="pwNotice" size="1"></font>
        							</div>
        						</div>
        						<!--비밀번호 확인-->
    							<label class="control-label">{{__('pw_check')}} <span class="text-danger"> *</span></label>
        						<div class="form-group m-b-20" >
        							<div class="inputbox">
	    								<input id="CPW" name = "CPW" type="password" class="form-control form-control-lg inverse-mode" placeholder="{{__('pw_check_guide')}}" data-parsley-equalto="#PW" data-parsley-equalto-message="{{__('pw_check_diff')}}" data-parsley-required-message="{{__('required_detail')}}" required/>
	        							<font id="pwNotice2" size="1"></font>
	        						</div>
        						</div>
        						<!--이메일 인증-->
        						<label class="control-label">{{__('email')}} {{__('auth')}}<span class="text-danger"> *</span> </label>
    							<div class="form-group m-b-20">
							        <input id="EA" name="EA" type="email" class="form-control form-control-lg inverse-mode" value ="{{email}}" placeholder="{{__('email')}}" data-parsley-error-message=null required >
							        <input id="CEA" name="CEA" type="text" class="form-control form-control-lg inverse-model mt-3 d-none" placeholder="{{__('authnum')}}" data-parsley-error-message="{{__('required_detail')}}" data-parsley-errors-container="#err-msg2" required >
    							    <div class="d-flex justify-content-between align-items-center mt-2">
							    		<div id="err-msg2" class="text-realred"></div>
    							    	<input type="button" id="sendBtn" class="btn btn-primary btn-block btn-lg ml-auto custombtn" value="{{__('send')}}" onclick="emailSend('EA')">
    							    	<input type="button" id="cerBtn" class="btn btn-primary btn-block btn-lg mt-0 ml-auto custombtn d-none" value="{{__('auth')}}" onclick="emailCer('CEA')">
    							    	<input type="hidden" id="hideCK" name="hideCK" value="">
    							    </div>
    							</div>
    						
    						<!--약관 및 버튼-->
    						<div class="noback mt-3">
    							<label class="control-label mb-0" for="agree">
									<input id="agree" name="agree" type="checkbox" data-parsley-error-message="{{__('register_check_guide')}}" data-parsley-errors-container="#err-msg3" required >
									<a href="#" data-toggle="modal" data-target="#agreeContent">{{__('register_personal')}} </a>{{__('register_agree')}}
								</label>
								<div id="err-msg3" class="mb-3"></div>
    						</div>
								<div class="modal fade" id="agreeContent" tabindex="-1" role="dialog" aria-labelledby="exampleModalLongTitle" aria-hidden="true">
									<div class="modal-dialog" role="document">
										<div class="modal-content text-black">
											<div class="modal-header">
												<h5 class="modal-title" id="exampleModalLongTitle">{{__('register_personal_agreement')}}</h5>
												<button type="button" class="close" data-dismiss="modal" aria-label="Close">
													<span aria-hidden="true">&times;</span>
												</button>
											</div>
											<div id="personalModal" class="modal-body"></div>
											<div class="modal-footer">
												<button type="button" class="btn btn-secondary" data-dismiss="modal">{{__('confirm')}}</button>
											</div>
										</div>
									</div>
								</div>
    						<div class="login-buttons mt-4">
    							<button type="submit"  class="btn btn-primary btn-block btn-lg">{{__('signup')}}</button>
    						</div>
    						<div class="m-t-30 m-b-30 p-b-30">
    							{{__('register_already')}} <a href="/login">{{__('login')}}</a> {{__('register_move')}}
    						</div>
						</form>
		
					</div>
					<!-- end login-content -->
				</div>
				<!-- end login-body -->
				<!--start login-footer-->
				<div class="login-footer">
					<div class="d-flex justify-content-center align-items-end">
						<img src="../assets/img/oasis.png" class="img-responsive mb-0" width="60px">
						<p class="text-center mb-1">&copy; {{__('mk')}} {{__('mk_oasis_goods')}} OASIS</p>
					</div>
				</div>
			</div>
			<!-- end login-container -->
		</div>
		<!-- end login -->
		
		<!-- end theme-panel -->
		
		<!-- begin scroll to top btn -->
		<a href="javascript:;" class="btn btn-icon btn-circle btn-success btn-scroll-to-top fade" data-click="scroll-top"><i class="fa fa-angle-up"></i></a>
		<!-- end scroll to top btn -->
	</div>
	<!-- end page container -->

<!--Begin Script-->
<script src="http://code.jquery.com/jquery-1.10.2.js"></script>
<script>
	// 이메일 전송 기능
	function emailSend(email) {
		var EA = document.getElementsByName(email)[0].value;
		var validateEA = $('#'+email).parsley();
		
		if(validateEA.isValid() == true) {
			emailSendAjax(EA);
		}
		else {
			return alert("{{__('register_email_valid_msg')}}");
		}
	}
	
	// 이메일 인증 기능
	function emailCer(cerNum) {
		var CEA = document.getElementsByName(cerNum)[0].value;
		var validateCEA = $('#'+cerNum).parsley();
		
		if(validateCEA.isValid() == true) {
			emailCerAjax(CEA);
		}
		else {
			alert("{{__('register_auth_enter')}}");
		}
	}
	
	var i18nconvert = function (string) {
		if(string == "register_business_right") {
			return "{{__('register_business_right')}}";
		}
		else if(string == "register_business_noexist" ) {
    		return "{{__('register_business_noexist')}}";
    	}
    	else if(string == "register_mn_error" ) {
    		return "{{__('register_mn_error')}}";
    	}
    	else if(string == "register_email_error" ) {
    		return "{{__('register_email_error')}}";
    	}
    	else if(string == "register_cnu_error" ) {
    		return "{{__('register_cnu_error')}}";
    	}
    	else if(string == "register_fail" ) {
    		return "{{__('register_fail')}}";
    	}
    	else if(string == "register_success" ) {
    		return "{{__('register_success')}}";
    	}
    	else if(string == "register_auth_time" ) {
    		return "{{__('register_auth_time')}}";
    	}
    	else if(string == "register_auth_minute" ) {
    		return "{{__('register_auth_minute')}}";
    	}
    	else if(string == "register_auth_second" ) {
    		return "{{__('register_auth_second')}}";
    	}
    	else if(string == "register_auth_resend" ) {
    		return "{{__('register_auth_resend')}}";
    	}
    	else if(string == "register_auth_timeout" ) {
    		return "{{__('register_auth_timeout')}}";
    	}
    	else if(string == "register_reauth_msg" ) {
    		return "{{__('register_reauth_msg')}}";
    	}
    	else if(string == "register_already_msg" ) {
    		return "{{__('register_already_msg')}}";
    	}
    	else if(string == "register_auth_com_msg" ) {
    		return "{{__('register_auth_com_msg')}}";
    	}
    	else if(string == "register_auth_success" ) {
    		return "{{__('register_auth_success')}}";
    	}
    	else if(string == "register_auth_fail" ) {
    		return "{{__('register_auth_fail')}}";
    	}
    	else if(string == "register_auth_need" ) {
    		return "{{__('register_auth_need')}}";
    	}
    	else if(string == "register_company_need_cer") {
    		return "{{__('register_company_need_cer')}}";
    	}
    	else if(string == "register_company_cer_success") {
    		return "{{__('register_company_cer_success')}}";
    	}
    	else if(string == "register_email_send_fail") {
    		return "{{__('register_email_send_fail')}}";
    	}
    	else if(string == "register_branch_agent_guide") {
    		return "{{__('register_branch_agent_guide')}}";
    	}
    	else if(string == "register_agent_no_exist") {
    		return "{{__('register_agent_no_exist')}}";
    	}
    	else if(string == "register_agent_head_need") {
    		return "{{__('register_agent_head_need')}}";
    	}
	}
</script>
<!--End Script-->

<!-- ================== BEGIN BASE JS ================== -->
<script src="../assets/js/app.min.js"></script>
<script src="../assets/js/theme/default.min.js"></script>
<script src="../assets/plugins/parsleyjs/dist/parsley.min.js"></script>
<!-- ================== END BASE JS ================== -->
<script src="../oasisjs/oasis_browser_check.js"></script>
<script src="../oasisjs/oasis_flag.js"></script>
<script src="../oasisjs/oasis_keyup.js"></script>
<script src="../oasisjs/oasis_register.js"></script>
<script src="../oasisjs/oasis_address.js"></script>
</body>
</html>