<!DOCTYPE html>
<html lang="en">
<head>
	<meta charset="utf-8" />
	<title>OASIS | Purchase</title>
	<meta content="width=device-width, initial-scale=1.0, maximum-scale=1.0, user-scalable=no" name="viewport" />
	<meta content="" name="description" />
	<meta content="" name="author" />
	
	<!-- ================== BEGIN BASE CSS STYLE ================== -->
	<link href="https://fonts.googleapis.com/css?family=Open+Sans:300,400,600,700" rel="stylesheet" />
	<link href="../assets/css/default/app.min.css" rel="stylesheet" />
	<!-- ================== END BASE CSS STYLE ================== -->
	<link href="../assets/img/favicon.png" rel="icon">
</head>
<body class="pace-top">
    <!--오아시스 제이쿼리 자바스크립트-->
	<script src="../assets/oasisjquery.js"></script>
	<!-- begin #page-loader -->
	<div id="page-loader" class="fade show">
		<span class="spinner"></span>
	</div>
	<!-- end #page-loader -->
	
	<!-- begin #page-container -->
	<div id="page-container" class="page-empty bg-white fade page-content-full-height">
		
		<!-- begin #content -->
		<div id="content" class="content p-0">
			<!-- BEGIN pos -->
			<div class="pos pos-customer" id="pos-customer">
				<!-- BEGIN pos-menu -->
				<div class="pos-menu">
					<div class="logo">
						<a href="/main">
							<div class="logo-img"><img src="../assets/img/oasis_logo.png" /></div>
							<div class="logo-text">OASIS</div>
						</a>
					</div>
					<div class="nav-container">
						<div data-scrollbar="true" data-height="100%" data-skip-mobile="true">
							<ul class="nav nav-tabs">
								<li class="nav-item">
									<a class="nav-link active" href="#" data-filter="all">
										<i class="fab fa-2x fa-shopify my-2"></i> All Goods
									</a>
								</li>
								<li class="nav-item">
									<a class="nav-link" href="#" data-filter="point">
										<i class="fab fa-lg fa-product-hunt my-2"></i> {{__('payment_point')}}
									</a>
								</li>
								<li class="nav-item">
									<a class="nav-link" href="#" data-filter="goods">
										<i class="fa fa-fw fa-shopping-basket my-2"></i> {{__('payment_goods')}}
									</a>
								</li>
								<li class="nav-item">
									<a class="nav-link" href="#" data-toggle="modal" data-target="#refund">
									  <i class="fa fa-fw fa-exclamation-circle my-2"></i> {{__('payment_refund_policy')}}
									</a>
								</li>
								<!-- Modal -->
								<div class="modal fade" id="refund" tabindex="-1" role="dialog" aria-labelledby="exampleModalLabel" aria-hidden="true">
								  <div class="modal-dialog modal-dialog-centered" role="document">
								    <div class="modal-content">
								      <div class="modal-header">
								        <h5 class="modal-title" id="exampleModalLabel">Modal title</h5>
								        <button type="button" class="close" data-dismiss="modal" aria-label="Close">
								          <span aria-hidden="true">&times;</span>
								        </button>
								      </div>
								      <div class="modal-body">
								      	<div style="display:flex;">
											<div >
												{{__('payment_regulation2')}}</br>
												{{__('payment_regulation3')}}</br>
												{{__('payment_regulation4')}}</br>
												{{__('payment_regulation5')}}
											</div>
										</div>
								      </div>
								      <div class="modal-footer">
								        <button type="button" class="btn btn-secondary" data-dismiss="modal">Close</button>
								        <button type="button" class="btn btn-primary">Save changes</button>
								      </div>
								    </div>
								  </div>
								</div>
							</ul>
						</div>
					</div>
				</div>
				<!-- END pos-menu -->
				
				<!-- BEGIN pos-content -->
				<div class="pos-content">
					<div class="pos-content-container" data-scrollbar="true" data-height="100%" data-skip-mobile="true">
						<div class="product-row">
							{% for item in goods %}
								{% if (item.GN == '포인트') %}
								<div class="product-container" data-type="point">
								{% else %}
								<div class="product-container" data-type="goods">
								{% endif %}
								<a href="#" class="product" data-toggle="modal" data-target="#modalPosItem">
									{% if (item.GI) %}
									<div class="img" style="background-image: url({{item.GI}})"></div>
									{% else %}
									<div class="img" style="background-image: url(../assets/img/oasis_logo_shop.png)"></div>
									{% endif %}
									<div class="text">
										<div class="title">{{item.GN}}</div>
										<div class="desc">{{item.GE}}</div>
										<div class="price">{{item.GP}}</div>
									</div>
								</a>
							</div>
							{% endfor %}
						</div>
					</div>
				</div>
				<!-- END pos-content -->
				
				<!-- BEGIN pos-sidebar -->
				<div class="pos-sidebar" id="pos-sidebar">
					<div class="pos-sidebar-header">
						<div class="back-btn">
							<button type="button" data-dismiss-class="pos-mobile-sidebar-toggled" data-target="#pos-customer" class="btn">
								<svg viewBox="0 0 16 16" class="bi bi-chevron-left" fill="currentColor" xmlns="http://www.w3.org/2000/svg">
									<path fill-rule="evenodd" d="M11.354 1.646a.5.5 0 0 1 0 .708L5.707 8l5.647 5.646a.5.5 0 0 1-.708.708l-6-6a.5.5 0 0 1 0-.708l6-6a.5.5 0 0 1 .708 0z"/>
								</svg>
							</button>
						</div>
						<div class="icon"><i class="fas fa-lg fa-cart-arrow-down"></i></div>
						<div class="title">{{__('payment_cart')}}</div>
					</div>
					<div class="pos-sidebar-body" data-scrollbar="true" data-height="100%">
						<div class="pos-table">
						</div>
					</div>
					<div class="pos-sidebar-footer">
						<div class="total">
						</div>
						<div class="btn-row">
							<button type="button" class="btn btn-default list-remove-btn" data-amount="all"><i class="fa fa-trash-alt fa-fw fa-lg"></i> {{__('payment_cart_empty')}}</button>
							<button type="button" class="btn btn-success" onclick="payments();"><i class="fa fa-check fa-fw fa-lg"></i> {{__('payment')}}</button>
						</div>
					</div>
				</div>
				<!-- END pos-sidebar -->
			</div>
			<!-- END pos -->
			
			<!-- BEGIN pos-mobile-sidebar-toggler -->
			<a href="#" class="pos-mobile-sidebar-toggler" data-toggle-class="pos-mobile-sidebar-toggled" data-target="#pos-customer">
				<svg viewBox="0 0 16 16" class="img" fill="currentColor" xmlns="http://www.w3.org/2000/svg">
					<path fill-rule="evenodd" d="M14 5H2v9a1 1 0 0 0 1 1h10a1 1 0 0 0 1-1V5zM1 4v10a2 2 0 0 0 2 2h10a2 2 0 0 0 2-2V4H1z"/>
					<path d="M8 1.5A2.5 2.5 0 0 0 5.5 4h-1a3.5 3.5 0 1 1 7 0h-1A2.5 2.5 0 0 0 8 1.5z"/>
				</svg>
				<span class="badge">5</span>
			</a>
			<!-- END pos-mobile-sidebar-toggler -->
		</div>
		<!-- end #content -->
		
		<!-- begin scroll to top btn -->
		<a href="javascript:;" class="btn btn-icon btn-circle btn-success btn-scroll-to-top fade" data-click="scroll-top"><i class="fa fa-angle-up"></i></a>
		<!-- end scroll to top btn -->
	</div>
	<!-- end page container -->
	
	<!-- BEGIN #modalPosItem -->
	<div class="modal modal-pos-item fade" id="modalPosItem">
		<div class="modal-dialog modal-dialog-centered modal-lg">
			<form id="modal-goods" method="POST" class="modal-content" data-parsley-validate="true">
				<div class="modal-body p-0">
					<a href="#" data-dismiss="modal" class="close"><i class="fa fa-times"></i></a>
					<div class="pos-product position-relative">
						<div class="pos-product-img">
						</div>
						<div class="pos-product-info d-flex flex-column justify-content-between">
							<div class="title modal-title"></div>
							<div class="desc modal-desc"></div>
							<div class="price modal-price"></div>
							<hr class="my-1" />
							<div class="option-box">
							</div>
							<div class="option-row">
								<div class="option-title">{{__('payment_number')}}</div>
								<div class="qty w-100 my-1">
									<div class="input-group w-50">
										<button type="button" class="btn btn-default count-btn" data-math="minus"><i class="fa fa-minus"></i></button>
										<input type="text" class="form-control border-0 text-center width-30" name="count" value="1" />
										<button type="button" class="btn btn-default count-btn" data-math="plus"><i class="fa fa-plus"></i></button>
									</div>
								</div>
							</div>
							<div class="btn-row">
								<button type="button" class="btn btn-default" data-dismiss="modal">{{__('close')}}</button>
								<button type="button" class="btn btn-success" onclick="addCart();">{{__('payment_shoplist_add')}} <i class="fa fa-plus fa-fw ml-2"></i></button>
							</div>
						</div>
					</div>
				</div>
			</form>
		</div>
	</div>
	<!-- END #modalPosItem -->
	<script type="text/javascript" src="https://code.jquery.com/jquery-1.12.4.min.js" ></script>
	<script type="text/javascript" src="https://cdn.iamport.kr/js/iamport.payment-1.1.5.js"></script>
	<script>
		var shopObject = new Object({ GN: "", GE: "", GI: "", GP: 0, GO: false, OT: [], ON: [], OP: [], TT: 0, NUM: 1 });
		
		showCart();
		
		function shopInit() {
			shopObject.GN = "";
			shopObject.GE = "";
			shopObject.GI = "";
			shopObject.GP = 0;
			shopObject.GO = false;
			shopObject.OT = [];
			shopObject.ON = [];
			shopObject.OP = [];
			shopObject.TT = 0;
			shopObject.NUM = 1;
		}
		
		
		// 상품등록 or 환불규정 Modal 띄우기
		$(".banner").click(function() {
			var banner = $(this).data().banner;
			var insertTr = "";
			if(banner == 'join') {
				$('#banner-modal').find('.modal-title').html("{{__('layout_goods_join')}}");
				insertTr += "<form id='goods-form' action='' method='post' class='form-horizontal' data-parsley-validate='true' name='goods-form' enctype='multipart/form-data'>";
				insertTr += "<div class='form-group row m-b-15'>";
				insertTr += "<label class='col-md-4 col-sm-4 col-form-label font-weight-bold' for='GI'>상품 이미지 :</label>";
				insertTr += "<div class='col-md-8 col-sm-8'>";
				insertTr += "<input type='file' id='GI' name='GI' accept='image/*' />";
				insertTr += "<input type='hidden' id='GIurl' name='GIurl' value='' />";
				insertTr += "</div>";
				insertTr += "</div>";
				insertTr += "<div class='form-group row m-b-15'>";
				insertTr += "<label class='col-md-4 col-sm-4 col-form-label font-weight-bold' for='GN'>상품명 <span class='text-danger'>*</span> :</label>";
				insertTr += "<div class='col-md-8 col-sm-8'>";
				insertTr += "<input class='form-control' type='String' id='GN' name='GN' placeholder='상품명' data-parsley-required='true' data-parsley-error-message='{{__('required_detail')}}' />";
				insertTr += "</div>";
				insertTr += "</div>";
				insertTr += "<div class='form-group row m-b-15'>";
				insertTr += "<label class='col-md-4 col-sm-4 col-form-label font-weight-bold' for='GP'>상품금액 <span class='text-danger'>*</span> :</label>";
				insertTr += "<div class='col-md-8 col-sm-8'>";
				insertTr += "<input class='form-control' type='String' id='GP' name='GP' placeholder='상품금액' data-parsley-type='digits' data-parsley-type-message='{{__('register_digits_error')}}' data-parsley-required='true' data-parsley-required-message='{{__('required_detail')}}' />";
				insertTr += "</div>";
				insertTr += "</div>";
				insertTr += "<div class='form-group row m-b-15'>";
				insertTr += "<label class='col-md-4 col-sm-4 col-form-label font-weight-bold' for='GE'>상품설명 :</label>";
				insertTr += "<div class='col-md-8 col-sm-8'>";
				insertTr += "<input class='form-control' type='String' id='GE' name='GE' placeholder='상품설명' />";
				insertTr += "</div>";
				insertTr += "</div>";
				insertTr += "<hr>";
				insertTr += "<div class='d-flex justify-content-between align-items-center mb-3 select-option'>"
				insertTr += "<p class='mb-0'><b>* 선택 옵션 *</b></p><button type='button' class='btn btn-sm btn-primary edit-option' data-edit='plus'>옵션 추가</button>";
				insertTr += "</div>"
				insertTr += "</form>";
				$('#banner-modal').find('.modal-body').html(insertTr);
				$('.goods-join').removeClass('d-none');
			}
			else {
				$('#banner-modal').find('.modal-title').html("{{__('payment_refund_policy')}}");
				insertTr += "<p>";
				insertTr += "{{__('payment_regulation2')}}</br>";
				insertTr += "{{__('payment_regulation3')}}</br>";
				insertTr += "{{__('payment_regulation4')}}</br>";
				insertTr += "{{__('payment_regulation5')}}";
				insertTr += "</p>";
				$('#banner-modal').find('.modal-body').html(insertTr);
				$('.goods-join').addClass('d-none');
			}
		});
		
		// 상품등록 - 옵션 추가
		$(document).on('click', '.edit-option', function() {
			var edit = $(this).data().edit;
			
			if(edit == 'plus') {
				var insertTr = "";
				insertTr += "<div class='border border-gray rounded py-2 px-2 mb-2 option'>"
				insertTr += "<div class='d-flex justify-content-end mb-2'>"
				insertTr += "<button type='button' class='border-0 bg-transparent text-secondary edit-option' data-edit='minus'><i class='fas fa-lg fa-times-circle'></i></button>"
				insertTr += "</div>"
				insertTr += "<div class='form-group row m-b-15'>"
				insertTr += "<label class='col-md-4 col-sm-4 col-form-label font-weight-bold' for='OT'>옵션종류 :</label>"
				insertTr += "<div class='col-md-8 col-sm-8'>"
				insertTr += "<input class='form-control' type='String' id='OT' name='OT' placeholder='옵션종류 (ex.색상)' />"
				insertTr += "</div>"
				insertTr += "</div>"
				insertTr += "<table class='table table-bordered table-td-valign-middle text-center table-active option-detail mb-0'>"
				insertTr += "<thead>"
				insertTr += "<tr>"
				insertTr += "<th width='55%'>옵션명</th>"
				insertTr += "<th width='40%'>옵션금액</th>"
				insertTr += "<th width='5%'><button type='button' class='border-0 bg-transparent text-blue edit-option-detail' data-edit='plus'><i class='fas fa-lg fa-plus-square'></i></button></th>"
				insertTr += "</tr>"
				insertTr += "</thead>"
				insertTr += "<tbody>"
				insertTr += "<tr>"
				insertTr += "<td>"
				insertTr += "<input class='form-control' type='String' id='ON' name='ON' placeholder='옵션명 (ex.빨강, 파랑 ...)' />"
				insertTr += "</td>"
				insertTr += "<td>"
				insertTr += "<input class='form-control' type='String' id='OP' name='OP' placeholder='옵션금액' />"
				insertTr += "</td>"
				insertTr += "<td>"
				insertTr += "</td>"
				insertTr += "</tr>"
				insertTr += "</tbody>"
				insertTr += "</table>"
				insertTr += "</div>"
				
				if($(".option").length != 0) {
					$(".option").last().after(insertTr);
				}
				else {
					$(".select-option").after(insertTr);
				}
			}
			else {
				$(this).parents('.option').remove();
			}
		});
		
		// 상품등록 - 옵션 세부사항 추가
		$(document).on('click', '.edit-option-detail', function() {
			var edit = $(this).data().edit;
			var standIndex = $(".select-option").index()+1;
			var index = $(this).parents(".option").index()-standIndex;
			
			if(edit == 'plus') {
				$(".option").eq(index).find('tr').siblings().find(".edit-option-detail").remove();
				var insertTr = "";
				insertTr += "<tr>"
				insertTr += "<td>"
				insertTr += "<input class='form-control' type='String' id='ON' name='ON' placeholder='옵션명 (ex.빨강, 파랑 ...)' />"
				insertTr += "</td>"
				insertTr += "<td>"
				insertTr += "<input class='form-control' type='String' id='OP' name='OP' placeholder='옵션금액' />"
				insertTr += "</td>"
				insertTr += "<td>"
				insertTr += "<button type='button' class='border-0 bg-transparent text-blue edit-option-detail' data-edit='minus'><i class='fas fa-lg fa-minus-square'></i></button>"
				insertTr += "</td>"
				insertTr += "</tr>"
				
				$(".option").eq(index).find("tr").last().after(insertTr);
			}
			else {
				$(".option").eq(index).find("tr").last().remove();
				if($(".option").eq(index).find("tr").length > 2) {
					$(".option").eq(index).find("tr").last().find("td").last().html("<button type='button' class='border-0 bg-transparent text-blue edit-option-detail' data-edit='minus'><i class='fas fa-lg fa-minus-square'></i></button>");
				}
			}
		});
		
		// 상품 이미지 ajax
		function goodsImg() {
			var form = $('#goods-form')[0];
	        var formData = new FormData(form);
	        formData.append('img', $("#GI")[0].files[0]);
	        
	        $.ajax({
	        	type: 'post',
				url: '/shop/goodsImg',
				data: formData,
				enctype: 'multipart/form',
				processData: false,
				contentType: false,
				success: function(result) {
					if(result.status == "success") {
						$("input[name=GIurl").eq(0).val(result.imgUrl);
						goodsJoin();
					}
					else if(result.status == "sendNull") {
						goodsJoin();
					}
					else {
						alert("이미지 등록에 실패했습니다.");
					}
				}
	        });
		}
		
		// 상품등록 ajax
		function goodsJoin() {
			var formParsley  = $('#goods-form').parsley();
			if(formParsley.isValid() == true) {
				var OT = [];
				var ON = [];
				var OP  = [];
				for(var i = 0; i < document.getElementsByName("OT").length; i++) {
					OT[i] = document.getElementsByName("OT")[i].value;
					ON[i] = [];
					OP[i] = [];
					for(var j = 0; j < $('.option').eq(i).find('input[name=ON]').length; j++) {
						console.log(i+"/"+j+"/"+$('.option').eq(i).find('input[name=ON]').eq(j).val());
						ON[i][j] = $('.option').eq(i).find('input[name=ON]').eq(j).val();
						OP[i][j] = $('.option').eq(i).find('input[name=OP]').eq(j).val();
					}
				}
				
				$.ajax({
					type: 'POST',
					url: '/shop/goodsJoin',
					dataType: 'json',
					traditional: true,
					data: {
						GN : document.getElementsByName("GN")[0].value,
						GP: document.getElementsByName("GP")[0].value,
						GE: document.getElementsByName("GE")[0].value,
						GI: document.getElementsByName("GIurl")[0].value,
						OT: OT,
						ON: JSON.stringify(ON),
						OP: JSON.stringify(OP)
					},
					success: function(result) {
						if(result.status == "exist") {
							alert("존재하는 상품명입니다. 다르게 설정해주세요.");
						}
						else if(result.status == "success") {
							$(".modal").modal("hide");
							location.reload();
						}
					}
				});
			}
			else {
				alert('상품명과 상품금액은 필수항목입니다.');
			}
			event.preventDefault();
		}
		
	    // 선택 항목 Modal에 값 전달
	    $(".product").click(function() {
	    	shopInit();
	    	
	    	const GN = $(this).find(".title").text();
	    	const GE = $(this).find(".desc").text();
    		const GP = $(this).find(".price").text();
	    	$.ajax({
	    		type: 'POST',
	    		url: '/shop/modal',
	    		dataType: 'json',
                data: {
                	GN: GN
                },
                success: function(result) {
					$("input[type=radio]").prop("checked", false);
					document.getElementsByName("count")[0].value = 1;
					$(".option-box").empty();
					
					shopObject.GN = result.goods.GN;
					shopObject.GP = result.goods.GP;
					shopObject.GI = result.goods.GI;
					shopObject.GE = result.goods.GE;
					shopObject.GO = result.goods.GO;
					shopObject.TT = result.goods.GP;
					
					$(".modal-title").html(shopObject.GN);
					$(".modal-desc").html(shopObject.GE);
					if(shopObject.GP == 0) {
						$(".modal-price").html("옵션별 상이");
					}
					else {
						$(".modal-price").html(shopObject.GP);
					}
					if(!shopObject.GI) {
						$(".pos-product-img").html("<div class='img' style='background-image: url(../assets/img/oasis_logo_shop.png)'></div>");
					}
					else {
						$(".pos-product-img").html("<div class='img' style='background-image: url("+shopObject.GI+")'></div>");
					}
					
                	if(result.status == 'option') {
			    		$(".point-option").show();
			    		for(var i = 0; i < result.optionType.length; i++) {
			    			shopObject.OT[i] = result.optionType[i];
			    			$(".option-box").append("\
								<div class='option-row'>\
									<div class='option-title'>"+result.optionType[i]+"</div>\
									<div id='option"+i+"' class='option-list'>\
									</div>\
								</div>\
		    				");
				    		for(var j = 0; j < result.option.length; j++) {
				    			var optionOP;
				    			if(result.option[j].OP) {
				    				optionOP = result.option[j].OP;
				    			}
				    			else {
				    				optionOP = 0;
				    			}
				    			if(result.option[j].OT == result.optionType[i]) {
				    				$("#option"+i).append("\
				    					<div class='option'>\
				    						<input type='radio' class='option-input' id='op"+i+j+"' name='op"+i+"' value='"+result.option[j].OP+"' data-num='"+i+"' data-name='"+result.option[j].ON+"' data-parsley-required-message='옵션을 선택해주세요.' required />\
				    						<label class='option-label' for='op"+i+j+"'>\
				    							<span class='option-text'>\
				    								"+result.option[j].ON+"\
				    							</span>\
				    							<span class='option-price'>\
				    								"+optionOP+"\
				    							</span>\
				    						</label>\
				    					</div>\
				    				");
				    			}
				    		}
			    		}
                	}
                	else {
                		$(".point-option").hide();
                	}
                }
	    	});
	    });
	    
	    // 옵션 설정
	    $(document).on('click', '.option-input', async function() {
    		var i = $(this).data().num;
    		var ON = $(this).data().name;

    		if($(this).val() == 'undefined') {
    			$(this).val(0);
    		}
    		shopObject.OP[i] = await $(this).val();
    		shopObject.ON[i] = await ON;
    		
    		modalReload();
	    });
	    
	    // 모달 수량 설정
	    $(document).on('click', '.count-btn', function() {
	    	var math = $(this).data().math;
	    	
	    	if(math == 'minus') {
	    		if(shopObject.NUM < 2) {
	    			shopObject.NUM = 1;
	    		}
	    		else {
		    		shopObject.NUM = shopObject.NUM - 1;
	    		}
	    	}
	    	else {
	    		shopObject.NUM = shopObject.NUM + 1;
	    	}
	    	modalReload();
	    });
	    
	    // 장바구니 수량 설정
	    $(document).on('click', '.list-count-btn', function() {
	    	var math = $(this).data().math;
	    	var clickNum = $(this).data().num;
	    	
	    	$.ajax({
	    		type: 'POST',
				url: '/shop/cartNum',
				dataType: 'json',
				data: {
					MATH : math,
					GN : document.getElementsByName('GN')[clickNum].value,
					ON : document.getElementsByName('ON')[clickNum].value,
				},
				success: function(result) {
					if(result.status == 'success') {
						showCart();
					}
				}
	    		
	    	});
	    });
	    
	    // 옵션 및 수량에 따라 화면 변경
	    function modalReload() {
	    	shopObject.TT = shopObject.GP;
	    	var sum = 0;
	    	
	    	for(var i = 0; i < shopObject.OP.length; i ++) {
	    		sum += parseInt(shopObject.OP[i]);
	    	}
	    	shopObject.TT = (shopObject.TT + sum) * shopObject.NUM;
	    	
	    	$(".modal-price").html(shopObject.TT);
	    	$("input[name=count]").val(shopObject.NUM);
	    }
	    
	    // 모달창 정보 쿠키에 담기
	    function addCart() {
			var formParsley = $('#modal-goods').parsley();
			if(formParsley.isValid() == true) {
				$.ajax({
					type: 'POST',
					url: '/shop/addCart',
					traditional: true,
					dataType: 'json',
					data: {
						GN : shopObject.GN,
						GP : shopObject.GP,
						GI : shopObject.GI,
						TT : shopObject.TT,
						OT : shopObject.OT,
						ON : shopObject.ON,
						OP : shopObject.OP,
						NUM : shopObject.NUM,
					},
					success: function(result) {
						if(result.status == 'success') {
							showCart();
							$(".modal").modal("hide");
						}
					}
				});
			}
			else {
				alert("옵션을 선택해주세요.");
			}
	    }
	    
	    // 쿠키를 장바구니 목록에 표시
	    function showCart() {
	    	$.ajax({
				type: 'POST',
				url: '/shop/showCart',
				traditional: true,
				dataType: 'json',
				data: {},
				success: function(result) {
					$(".pos-table").empty();
					$(".total").empty();
					if(result.status == 'success') {
						for(var i = 0; i < result.cart.length; i ++) {
							var cartON = [];
							if(result.cart[i].ON) {
								if(typeof(result.cart[i].ON) == 'string') {
									cartON = "- "+result.cart[i].OT+" : "+result.cart[i].ON+"<br><small class='ml-2'> (+ "+result.cart[i].OP+")</small>";
								}
								else {
									for(var j = 0; j < result.cart[i].ON.length; j++) {
										cartON[j] = "- "+result.cart[i].OT[j]+" : "+result.cart[i].ON[j]+"<br><small class='ml-2'> (+ "+result.cart[i].OP[j]+")</small><br>";
									}
									cartON = cartON.toString().replace(/,/g, "");
								}
							}
							else {
								cartON = "";
							}
							var cartImg = "";
<<<<<<<<< saved version
	    $(".product").click(function() {
	    	shopInit();
	    	
	    	const GN = $(this).find(".title").text();
	    	const GE = $(this).find(".desc").text();
    		const GP = $(this).find(".price").text();
	    	$.ajax({
	    		type: 'POST',
	    		url: '/shop/modal',
	    		dataType: 'json',
                data: {
                	GN: GN
                },
                success: function(result) {
					$("input[type=radio]").prop("checked", false);
					document.getElementsByName("count")[0].value = 1;
					$(".option-box").empty();
					
					shopObject.GN = result.goods.GN;
					shopObject.GP = result.goods.GP;
					shopObject.GI = result.goods.GI;
					shopObject.GE = result.goods.GE;
					shopObject.GO = result.goods.GO;
					shopObject.TT = result.goods.GP;
					
					$(".modal-title").html(shopObject.GN);
					$(".modal-desc").html(shopObject.GE);
					if(shopObject.GP == 0) {
						$(".modal-price").html("옵션별 상이");
					}
					else {
						$(".modal-price").html(shopObject.GP);
					}
					if(!shopObject.GI) {
						$(".pos-product-img").html("<div class='img' style='background-image: url(../assets/img/oasis_logo_shop.png)'></div>");
					}
					else {
						$(".pos-product-img").html("<div class='img' style='background-image: url("+shopObject.GI+")'></div>");
					}
					
                	if(result.status == 'option') {
			    		$(".point-option").show();
			    		for(var i = 0; i < result.optionType.length; i++) {
			    			shopObject.OT[i] = result.optionType[i];
			    			$(".option-box").append("\
								<div class='option-row'>\
									<div class='option-title'>"+result.optionType[i]+"</div>\
									<div id='option"+i+"' class='option-list'>\
									</div>\
								</div>\
		    				");
				    		for(var j = 0; j < result.option.length; j++) {
				    			var optionOP;
				    			if(result.option[j].OP) {
				    				optionOP = result.option[j].OP;
				    			}
				    			else {
				    				optionOP = 0;
				    			}
				    			if(result.option[j].OT == result.optionType[i]) {
				    				$("#option"+i).append("\
				    					<div class='option'>\
				    						<input type='radio' class='option-input' id='op"+i+j+"' name='op"+i+"' value='"+result.option[j].OP+"' data-num='"+i+"' data-name='"+result.option[j].ON+"' data-parsley-required-message='옵션을 선택해주세요.' required />\
				    						<label class='option-label' for='op"+i+j+"'>\
				    							<span class='option-text'>\
				    								"+result.option[j].ON+"\
				    							</span>\
				    							<span class='option-price'>\
				    								"+optionOP+"\
				    							</span>\
				    						</label>\
				    					</div>\
				    				");
				    			}
				    		}
			    		}
                	}
                	else {
                		$(".point-option").hide();
                	}
                }
	    	});
	    });
	    
	    // 옵션 설정
	    $(document).on('click', '.option-input', async function() {
    		var i = $(this).data().num;
    		var ON = $(this).data().name;

    		if($(this).val() == 'undefined') {
    			$(this).val(0);
    		}
    		shopObject.OP[i] = await $(this).val();
    		shopObject.ON[i] = await ON;
    		
    		modalReload();
	    });
	    
	    // 모달 수량 설정
	    $(document).on('click', '.count-btn', function() {
	    	var math = $(this).data().math;
	    	
	    	if(math == 'minus') {
	    		if(shopObject.NUM < 2) {
	    			shopObject.NUM = 1;
	    		}
	    		else {
		    		shopObject.NUM = shopObject.NUM - 1;
	    		}
	    	}
	    	else {
	    		shopObject.NUM = shopObject.NUM + 1;
	    	}
	    	modalReload();
	    });
	    
	    // 장바구니 수량 설정
	    $(document).on('click', '.list-count-btn', function() {
	    	var math = $(this).data().math;
	    	var clickNum = $(this).data().num;
	    	
	    	$.ajax({
	    		type: 'POST',
				url: '/shop/cartNum',
				dataType: 'json',
				data: {
					MATH : math,
					GN : document.getElementsByName('GN')[clickNum].value,
					ON : document.getElementsByName('ON')[clickNum].value,
				},
				success: function(result) {
					if(result.status == 'success') {
						showCart();
					}
				}
	    		
	    	});
	    });
	    
	    // 옵션 및 수량에 따라 화면 변경
	    function modalReload() {
	    	shopObject.TT = shopObject.GP;
	    	var sum = 0;
	    	
	    	for(var i = 0; i < shopObject.OP.length; i ++) {
	    		sum += parseInt(shopObject.OP[i]);
	    	}
	    	shopObject.TT = (shopObject.TT + sum) * shopObject.NUM;
	    	
	    	$(".modal-price").html(shopObject.TT);
	    	$("input[name=count]").val(shopObject.NUM);
	    }
	    
	    // 모달창 정보 쿠키에 담기
	    function addCart() {
			var formParsley = $('#modal-goods').parsley();
			if(formParsley.isValid() == true) {
				$.ajax({
					type: 'POST',
					url: '/shop/addCart',
					traditional: true,
					dataType: 'json',
					data: {
						GN : shopObject.GN,
						GP : shopObject.GP,
						GI : shopObject.GI,
						TT : shopObject.TT,
						OT : shopObject.OT,
						ON : shopObject.ON,
						OP : shopObject.OP,
						NUM : shopObject.NUM,
					},
					success: function(result) {
						if(result.status == 'success') {
							showCart();
							$(".modal").modal("hide");
						}
					}
				});
			}
			else {
				alert("옵션을 선택해주세요.");
			}
	    }
	    
	    // 쿠키를 장바구니 목록에 표시
	    function showCart() {
	    	$.ajax({
				type: 'POST',
				url: '/shop/showCart',
				traditional: true,
				dataType: 'json',
				data: {},
				success: function(result) {
					$(".pos-table").empty();
					$(".total").empty();
					if(result.status == 'success') {
						for(var i = 0; i < result.cart.length; i ++) {
							var cartON = [];
							if(result.cart[i].ON) {
								if(typeof(result.cart[i].ON) == 'string') {
									cartON = "- "+result.cart[i].OT+" : "+result.cart[i].ON+"<br><small class='ml-2'> (+ "+result.cart[i].OP+")</small>";
								}
								else {
									for(var j = 0; j < result.cart[i].ON.length; j++) {
										cartON[j] = "- "+result.cart[i].OT[j]+" : "+result.cart[i].ON[j]+"<br><small class='ml-2'> (+ "+result.cart[i].OP[j]+")</small><br>";
									}
									cartON = cartON.toString().replace(/,/g, "");
								}
							}
							else {
								cartON = "";
							}
							var cartImg = "";
							if(!result.cart[i].GI) {
=========
							if(result.cart[i].GI == null) {
>>>>>>>>> local version
								cartImg = "<div class='img' style='background-image: url(../assets/img/oasis_logo_shop.png)'></div>"
							}
							else {
								cartImg = "<div class='img' style='background-image: url("+result.cart[i].GI+")'></div>"
							}
					    	$(".pos-table").append("\
						    	<div class='row pos-table-row'>\
									<div class='col-9'>\
										<div class='pos-product-thumb'>\
											"+cartImg+"\
											<div class='info'>\
													<input type='hidden' id='index' name='index' value='"+i+"' />\
												<div class='title'>"+result.cart[i].GN+"</div>\
													<input type='hidden' id='GN' name='GN' value='"+result.cart[i].GN+"' />\
												<div class='single-price'>"+result.cart[i].GP+"</div>\
													<input type='hidden' id='GP' name='GP' value='"+result.cart[i].GP+"' />\
												<div class='desc'>"+cartON+"</div>\
													<input type='hidden' id='OT' name='OT' value='"+result.cart[i].OT+"' />\
													<input type='hidden' id='ON' name='ON' value='"+result.cart[i].ON+"' />\
													<input type='hidden' id='OP' name='OP' value='"+result.cart[i].OP+"' />\
												<div class='input-group qty'>\
													<div class='input-group-append'>\
														<button class='btn btn-default list-count-btn' data-math='minus' data-num='"+i+"'><i class='fa fa-minus'></i></button>\
													</div>\
													<input type='text' class='form-control' name='list-count' value='"+result.cart[i].NUM+"' />\
													<div class='input-group-prepend'>\
														<button class='btn btn-default list-count-btn' data-math='plus' data-num='"+i+"'><i class='fa fa-plus'></i></button>\
													</div>\
												</div>\
											</div>\
										</div>\
									</div>\
									<div class='col-3 d-flex flex-column justify-content-between align-items-end'>\
										<div class='align-middle text-gray list-remove-btn' data-amount='one' data-num='"+i+"' style='cursor: pointer'>\
						    				<i class='fas fa-lg fa-times m-2 p-2'></i>\
						    			</div>\
						    			<div class='total-price mb-1'>Price : <b>"+result.cart[i].TT+"</b></div>\
									</div>\
								</div>\
					    	");
						}
						var totalSum = 0;
						for(var i = 0; i < result.cart.length; i++) {
							totalSum += parseInt(result.cart[i].TT);
						}
						$(".total").append("\
							<div class='text'>Total</div>\
							<div class='price'>"+totalSum+"</div>\
								<input type='hidden' id='TS' name='TS' value='"+totalSum+"' />\
						")
					}
				}
	    	})
	    }
	    
	    // 장바구니 삭제 기능
	    $(document).on('click', '.list-remove-btn', function() {
	    	var clickNum = $(this).data().num;
	    	var amount = $(this).data().amount;
	    	
	    	if(amount == 'one') {
	    		$.ajax({
	    			type: 'POST',
					url: '/shop/cartRemove',
					dataType: 'json',
					data: {
						GN : document.getElementsByName('GN')[clickNum].value,
						ON : document.getElementsByName('ON')[clickNum].value,
						amount : amount,
					},
					success: function(result) {
						if(result.status == 'delete') {
							showCart();
						}
					}
	    		});
	    	}
	    	else {
	    		$.ajax({
	    			type: 'POST',
					url: '/shop/cartRemove',
					dataType: 'json',
					data: {
						amount : amount,
					},
					success: function(result) {
						if(result.status == 'delete') {
							showCart();
						}
					}
	    		});
	    	}
	    });
	    
	    // 결제 기능
	    function payments() {
	        
	        var shopItemLength = $('.pos-table-row').length;
	        var index = $('input[name=index]');
	        var GN = $('input[name=GN]');
	        var GP = $('input[name=GP]');
	        var OT = $('input[name=OT]');
	        var ON = $('input[name=ON]');
	        var OP = $('input[name=OP]');
	        var NUM = $('input[name=list-count]');
	        var TS = $('input[name=TS]').val();
	        var goods = [];
	        
	        for(var i = 0; i < shopItemLength; i++) {
	        	goods[i] = JSON.stringify({"index" : index.eq(i).val(), "GN" : GN.eq(i).val(), "GP" : GP.eq(i).val(), "OT" : OT.eq(i).val(), "ON" : ON.eq(i).val(), "OP" : OP.eq(i).val(), "NUM" : NUM.eq(i).val()});
	        }
	        
	        // $.ajax({
	        // 	url: "/shop/complete",
	        //     type: "POST",
	        //     traditional: true,
	        //     dataType: 'json',
	        //     data: {
	        //         goods: goods,
	        //         TS: TS,
	        //     }
	        // });
	        
	        var IMP = window.IMP;
	        IMP.init('{{imp_code}}');
	        
	        if(shopItemLength < 1) {
	        	alert("{{__('payment_empty')}}");
	        }
	        else {
		        IMP.request_pay({
		            pg : 'inicis', // version 1.1.0부터 지원.
		            pay_method : 'card',
		            merchant_uid : 'merchant_' + new Date().getTime(),
		            name : 'OASIS 상품',
		            amount : TS,
		            buyer_name : '{{company.CNA}}',
		            buyer_email : '{{company.EA}}',
		            buyer_tel : '{{company.PN}}',
		            buyer_addr : '{{company.ADR}}',
		            m_redirect_url : '{{HOME}}/payments/complete/mobile'
		        }, function(rsp) {
		            if (rsp.success) {
		            	$.ajax({
				        	url: "/shop/complete",
			                type: "POST",
			                traditional: true,
			                dataType: 'json',
			                data: {
			                	imp_uid: rsp.imp_uid,
		                        merchant_uid: rsp.merchant_uid,
			                    goods: goods,
			                    TS: TS,
			                }
				        }).done(function (data) {
		                    switch(data.status) {
		                        // case "vbankIssued":
		                        //     var msg = "가상계좌가 생성되었습니다.";
		                        //     msg += '\n가상계좌명' + rsp.vbank_name;
		                        //     msg += '\n가상계좌번호' + rsp.vbank_num;
		                        //     msg += '\n생성일' + rsp.vbank_date;
		                        //     break;
		                        case "success":
		                            var msg = "{{__('payment_success')}}";
		                            alert(msg);
		                            window.location.href = '/pay_confirm?imp_uid='+rsp.imp_uid;
		                            break;
		                        case "cancelled":
		                            var msg = "{{__('payment_cancelled')}}";
		                            break;
		                        case "failed":
		                            var msg = "{{__('payment_failed')}}";
		                            break;
		                        case "forgery":
		                            var msg = "{{__('payment_forgery')}}";
		                            break;
		                    }
		                    return alert(msg);
		                });
		            } else {
		                return alert("{{__('payment_failed')}} " +  rsp.error_msg);
		            }
		        });
	        }
	    }
    
	</script>
	
	<!-- ================== BEGIN BASE JS ================== -->
	<script src="../assets/js/app.min.js"></script>
	<script src="../assets/js/theme/default.min.js"></script>
	<!-- ================== END BASE JS ================== -->
	
	
	<!-- ================== BEGIN PAGE LEVEL JS ================== -->
	<script src="../assets/js/demo/pos-customer-order.demo.js"></script>
	<!-- ================== END PAGE LEVEL JS ================== -->
	
	<script src="../assets/plugins/parsleyjs/dist/parsley.min.js"></script>
</body>
</html>