<!DOCTYPE html>
<html lang="en">
<head>
	<meta charset="utf-8" />
	<title>{{__('payment_title')}}</title>
	<meta content="width=device-width, initial-scale=1.0, maximum-scale=1.0, user-scalable=no" name="viewport" />
	<meta content="" name="description" />
	<meta content="" name="author" />
	
	<!-- ================== BEGIN BASE CSS STYLE ================== -->
	<link href="https://fonts.googleapis.com/css?family=Open+Sans:300,400,600,700" rel="stylesheet" />
	<link href="../assets/css/default/app.min.css" rel="stylesheet" />
	<!-- ================== END BASE CSS STYLE ================== -->
	<link href="../assets/img/favicon.png" rel="icon">
</head>
<body class="pace-top">
    <!--오아시스 제이쿼리 자바스크립트-->
	<script src="../assets/oasisjquery.js"></script>
	<!-- begin #page-loader -->
	<div id="page-loader" class="fade show">
		<span class="spinner"></span>
	</div>
	<!-- end #page-loader -->
	
	<!-- begin #page-container -->
	<div id="page-container" class="page-empty bg-white fade page-content-full-height">
		
		<!-- begin #content -->
		<div id="content" class="content p-0">
			<!-- BEGIN pos -->
			<div class="pos pos-customer" id="pos-customer">
				<!-- BEGIN pos-menu -->
				<div class="pos-menu">
					<div class="logo">
						<a href="/main">
							<div class="logo-img"><img src="../assets/img/oasis_logo.png" /></div>
							<div class="logo-text">OASIS</div>
						</a>
					</div>
					<div class="nav-container">
						<div data-scrollbar="true" data-height="100%" data-skip-mobile="true">
							<ul class="nav nav-tabs">
								<li class="nav-item">
									<a class="nav-link active" href="#" data-filter="all">
										<i class="fab fa-2x fa-shopify my-2"></i> {{__('all')}} {{__('payment_goods')}}
									</a>
								</li>
								<li class="nav-item">
									<a class="nav-link" href="#" data-filter="point">
										<i class="fab fa-lg fa-product-hunt my-2"></i> {{__('payment_point')}}
									</a>
								</li>
								<li class="nav-item">
									<a class="nav-link" href="#" data-filter="goods">
										<i class="fa fa-fw fa-shopping-basket my-2"></i> {{__('payment_goods')}}
									</a>
								</li>
								{% if(company.AH == true) or (company.CK == "MK 대리점") %}
								<li class="nav-item">
									<a class="nav-link banner" href="#" data-toggle="modal" data-target="#banner-modal" data-banner="join">
									  <i class="fa fa-fw fa-plus my-2"></i> {{__('layout_goods_join')}}
									</a>
								</li>
								{% else %}
								{% endif %}
								<li class="nav-item">
									<a class="nav-link banner" href="#" data-toggle="modal" data-target="#banner-modal" data-banner="refund">
									  <i class="fa fa-fw fa-exclamation-circle my-2"></i> {{__('payment_refund_policy')}}
									</a>
								</li>
							</ul>
						</div>
					</div>
				</div>
				<!-- END pos-menu -->
				
				<!-- Banner Modal -->
				<div class="modal fade" id="banner-modal" tabindex="-1" role="dialog" aria-labelledby="exampleModalLongTitle" aria-hidden="true">
				  <div class="modal-dialog modal-dialog-centered" role="document">
				    <div class="modal-content">
				      <div class="modal-header">
				        <h5 class="modal-title" id="exampleModalLongTitle"></h5>
				        <button type="button" class="close" data-dismiss="modal" aria-label="Close">
				          <span aria-hidden="true">&times;</span>
				        </button>
				      </div>
				      <div class="modal-body">
				      </div>
				      <div class="modal-footer">
				        <button type="button" class="btn btn-secondary" data-dismiss="modal">{{__('close')}}</button>
				        <button type="button" form="goods-form" class="btn btn-primary goods-join" onclick="goodsImg('goods-form');">{{__('layout_goods_join')}}</button>
				      </div>
				    </div>
				  </div>
				</div>
				<!--End Banner Modal-->
				
				<!-- BEGIN pos-content -->
				<div class="pos-content">
					<div class="pos-content-container" data-scrollbar="true" data-height="100%" data-skip-mobile="true">
						<div class="product-row">
							{% for item in goods %}
								{% if (item.GN == '포인트') %}
								<div class="product-container" data-type="point">
								{% else %}
								<div class="product-container" data-type="goods">
								{% endif %}
								<a href="javascript:;" class="product" data-toggle="modal" data-target="#modalPosItem" onclick="goodsModal(this,shopObject);">
									{% if (item.GI) %}
									<div class="img" style="background-image: url({{item.GI}})"></div>
									{% else %}
									<div class="img" style="background-image: url(../assets/img/oasis_logo_shop.png)"></div>
									{% endif %}
									<div class="text">
										<div class="title">{{item.GN}}</div>
										<div class="desc">{{item.GE}}</div>
										<div class="price">
											{% if (item.GP == 0) and (item.GO == true) %}
												{{__('payment_price_diff_option')}}
											{% else %}
												{{item.GP}}
											{% endif %}
										</div>
									</div>
								</a>
							</div>
							{% endfor %}
						</div>
					</div>
				</div>
				<!-- END pos-content -->
				
				<!-- BEGIN pos-sidebar -->
				<div class="pos-sidebar" id="pos-sidebar">
					<div class="pos-sidebar-header">
						<div class="back-btn">
							<button type="button" data-dismiss-class="pos-mobile-sidebar-toggled" data-target="#pos-customer" class="btn">
								<svg viewBox="0 0 16 16" class="bi bi-chevron-left" fill="currentColor" xmlns="http://www.w3.org/2000/svg">
									<path fill-rule="evenodd" d="M11.354 1.646a.5.5 0 0 1 0 .708L5.707 8l5.647 5.646a.5.5 0 0 1-.708.708l-6-6a.5.5 0 0 1 0-.708l6-6a.5.5 0 0 1 .708 0z"/>
								</svg>
							</button>
						</div>
						<div class="icon"><i class="fas fa-lg fa-cart-arrow-down"></i></div>
						<div class="title">{{__('payment_cart')}}</div>
					</div>
					<div class="pos-sidebar-body" data-scrollbar="true" data-height="100%">
						<div class="pos-table">
						</div>
					</div>
					<div class="pos-sidebar-footer">
						<div class="total">
						</div>
						<div class="btn-row">
							<button type="button" class="btn btn-default list-remove-btn" onclick="cartDelete(this,'all');"><i class="fa fa-trash-alt fa-fw fa-lg"></i> {{__('payment_cart_empty')}}</button>
							<button type="button" class="btn btn-success" onclick="payments();"><i class="fa fa-check fa-fw fa-lg"></i> {{__('payment')}}</button>
						</div>
					</div>
				</div>
				<!-- END pos-sidebar -->
			</div>
			<!-- END pos -->
			
			<!-- BEGIN pos-mobile-sidebar-toggler -->
			<a href="#" class="pos-mobile-sidebar-toggler" data-toggle-class="pos-mobile-sidebar-toggled" data-target="#pos-customer">
				<svg viewBox="0 0 16 16" class="img" fill="currentColor" xmlns="http://www.w3.org/2000/svg">
					<path fill-rule="evenodd" d="M14 5H2v9a1 1 0 0 0 1 1h10a1 1 0 0 0 1-1V5zM1 4v10a2 2 0 0 0 2 2h10a2 2 0 0 0 2-2V4H1z"/>
					<path d="M8 1.5A2.5 2.5 0 0 0 5.5 4h-1a3.5 3.5 0 1 1 7 0h-1A2.5 2.5 0 0 0 8 1.5z"/>
				</svg>
				<span class="badge">5</span>
			</a>
			<!-- END pos-mobile-sidebar-toggler -->
		</div>
		<!-- end #content -->
		
		<!-- begin scroll to top btn -->
		<a href="javascript:;" class="btn btn-icon btn-circle btn-success btn-scroll-to-top fade" data-click="scroll-top"><i class="fa fa-angle-up"></i></a>
		<!-- end scroll to top btn -->
	</div>
	<!-- end page container -->
	<img src="../assets/upload/icon.png">
	<form id='test-form' action='' method='post' data-parsley-validate='true' enctype="multipart/form-data">
		<input type='file' id='GI' name='GI'>
      	<input type='button' onclick="goodsImg('test-form');" value='테스트'>
	</form>
	
	<!-- BEGIN #modalPosItem -->
	<div class="modal modal-pos-item fade" id="modalPosItem">
		<div class="modal-dialog modal-dialog-centered modal-lg">
			<form id="modal-goods" method="POST" class="modal-content" data-parsley-validate="true">
				<div class="modal-body p-0">
					<a href="#" data-dismiss="modal" class="close"><i class="fa fa-times"></i></a>
					<div class="pos-product position-relative">
						<div class="pos-product-img">
						</div>
						<div class="pos-product-info d-flex flex-column justify-content-between">
							<div class="title modal-title"></div>
							<div class="desc modal-desc"></div>
							<div class="price modal-price"></div>
							<hr class="my-1" />
							<div class="option-box">
							</div>
							<div class="option-row">
								<div class="option-title">{{__('payment_number')}}</div>
								<div class="qty w-100 my-1">
									<div class="input-group w-50">
										<button type="button" class="btn btn-default count-btn" onclick="modalNumCount(shopObject,'minus');"><i class="fa fa-minus"></i></button>
										<input type="text" class="form-control border-0 text-center width-30" name="count" value="1" />
										<button type="button" class="btn btn-default count-btn" onclick="modalNumCount(shopObject,'plus');"><i class="fa fa-plus"></i></button>
									</div>
								</div>
							</div>
							<div class="btn-row">
								<button type="button" class="btn btn-default" data-dismiss="modal">{{__('close')}}</button>
								<button type="button" class="btn btn-success" onclick="addCart('modal-goods',shopObject);">{{__('payment_shoplist_add')}} <i class="fa fa-plus fa-fw ml-2"></i></button>
							</div>
						</div>
					</div>
				</div>
			</form>
		</div>
	</div>
	<!-- END #modalPosItem -->
	
	<!--Begin Script-->
	<script type="text/javascript" src="https://code.jquery.com/jquery-1.12.4.min.js" ></script>
	<script type="text/javascript" src="https://cdn.iamport.kr/js/iamport.payment-1.1.5.js"></script>
	<script>
		var shopObject = new Object({ GN: "", GE: "", GI: "", GP: 0, GO: false, OT: [], ON: [], OP: [], TT: 0, NUM: 1 });
		
		
		// 상품 이미지 등록
		function goodsImg(formName) {
			var formParsley  = $('#'+formName).parsley();
			if(formParsley.isValid() == true) {
				// goodsImgAjax(formName,'GI');
				test(formName, 'GI');
			}
			else {
				alert("{{__('payment_registration_required')}}");
			}
		}
	    
	    // 결제 기능
	    function payments() {
	        
	        var shopItemLength = $('.pos-table-row').length;
	        var index = $('input[name=index]');
	        var GN = $('input[name=GN]');
	        var GP = $('input[name=GP]');
	        var OT = $('input[name=OT]');
	        var ON = $('input[name=ON]');
	        var OP = $('input[name=OP]');
	        var NUM = $('input[name=list-count]');
	        var TS = $('input[name=TS]').val();
	        var goods = [];
	        
	        for(var i = 0; i < shopItemLength; i++) {
	        	goods[i] = JSON.stringify({"index" : index.eq(i).val(), "GN" : GN.eq(i).val(), "GP" : GP.eq(i).val(), "OT" : OT.eq(i).val(), "ON" : ON.eq(i).val(), "OP" : OP.eq(i).val(), "NUM" : NUM.eq(i).val()});
	        }
	        
	        var IMP = window.IMP;
	        IMP.init('{{imp_code}}');
	        
	        if(shopItemLength < 1) {
	        	alert("{{__('payment_empty')}}");
	        }
	        else {
		        IMP.request_pay({
		            pg : 'inicis', // version 1.1.0부터 지원.
		            pay_method : 'card',
		            merchant_uid : 'merchant_' + new Date().getTime(),
		            name : 'OASIS 상품',
		            amount : TS,
		            buyer_name : '{{company.CNA}}',
		            buyer_email : '{{company.EA}}',
		            buyer_tel : '{{company.PN}}',
		            buyer_addr : '{{company.ADR}}',
		            m_redirect_url : '{{HOME}}/payments/complete/mobile'
		        }, function(rsp) {
		            if (rsp.success) {
		            	$.ajax({
				        	url: "/shop/complete",
			                type: "POST",
			                traditional: true,
			                dataType: 'json',
			                data: {
			                	imp_uid: rsp.imp_uid,
		                        merchant_uid: rsp.merchant_uid,
			                    goods: goods,
			                    TS: TS,
			                }
				        }).done(function (data) {
		                    switch(data.result) {
		                        // case "vbankIssued":
		                        //     var msg = "가상계좌가 생성되었습니다.";
		                        //     msg += '\n가상계좌명' + rsp.vbank_name;
		                        //     msg += '\n가상계좌번호' + rsp.vbank_num;
		                        //     msg += '\n생성일' + rsp.vbank_date;
		                        //     break;
		                        case "success":
		                            var msg = "{{__('payment_success')}}";
		                            alert(msg);
		                            window.location.href = '/pay_confirm?imp_uid='+rsp.imp_uid;
		                            break;
		                        case "cancelled":
		                            var msg = "{{__('payment_cancelled')}}";
		                            break;
		                        case "failed":
		                            var msg = "{{__('payment_failed')}}";
		                            break;
		                        case "forgery":
		                            var msg = "{{__('payment_forgery')}}";
		                            break;
		                    }
		                    return alert(msg);
		                });
		            } else {
		                return alert("{{__('payment_failed')}} " +  rsp.error_msg);
		            }
		        });
	        }
	    }
	    
	    // 다국어 외부 js에 적용
    	var i18nconvert = function (string) {
	    	if(string == "layout_goods_join" ) {
	    		return "{{__('layout_goods_join')}}";
	    	}
	    	else if(string == "payment_goods_img" ) {
	    		return "{{__('payment_goods_img')}}";
	    	}
	    	else if(string == "payment_name" ) {
	    		return "{{__('payment_name')}}";
	    	}
	    	else if(string == "payment_goods_price" ) {
	    		return "{{__('payment_goods_price')}}";
	    	}
	    	else if(string == "payment_goods_explanation" ) {
	    		return "{{__('payment_goods_explanation')}}";
	    	}
	    	else if(string == "payment_selection_option" ) {
	    		return "{{__('payment_selection_option')}}";
	    	}
	    	else if(string == "payment_add_option") {
	    		return "{{__('payment_add_option')}}";
	    	}
	    	else if(string == "payment_regulation2" ) {
	    		return "{{__('payment_regulation2')}}";
	    	}
	    	else if(string == "payment_regulation3" ) {
	    		return "{{__('payment_regulation3')}}";
	    	}
	    	else if(string == "payment_regulation4" ) {
	    		return "{{__('payment_regulation4')}}";
	    	}
	    	else if(string == "payment_regulation5" ) {
	    		return "{{__('payment_regulation5')}}";
	    	}
	    	else if(string == "payment_option_type") {
	    		return "{{__('payment_option_type')}}";
	    	}
	    	else if(string == "payment_option_type_ex") {
	    		return "{{__('payment_option_type_ex')}}";
	    	}
	    	else if(string == "payment_option_name") {
	    		return "{{__('payment_option_name')}}";
	    	}
	    	else if(string == "payment_option_name_ex") {
	    		return "{{__('payment_option_name_ex')}}";
	    	}
	    	else if(string == "payment_option_price") {
	    		return "{{__('payment_option_price')}}";
	    	}
	    	else if(string == "payment_img_fail") {
	    		return "{{__('payment_img_fail')}}";
	    	}
	    	else if(string == "payment_goods_exist") {
	    		return "{{__('payment_goods_exist')}}";
	    	}
	    	else if(string == "payment_price_diff_option") {
	    		return "{{__('payment_price_diff_option')}}";
	    	}
	    	else if(string == "payment_check_option") {
	    		return "{{__('payment_check_option')}}";
	    	}
	    	else if(string == "payment_goods_upload_fail") {
	    		return "{{__('payment_goods_upload_fail')}}";
	    	}
	    	else if(string == "payment_shop_err") {
	    		return "{{__('payment_shop_err')}}";
	    	}
    	};
	</script>
	<!--End Script-->
	
	<!-- ================== BEGIN BASE JS ================== -->
	<script src="../assets/js/app.min.js"></script>
	<script src="../assets/js/theme/default.min.js"></script>
	<!-- ================== END BASE JS ================== -->
	
	
	<!-- ================== BEGIN PAGE LEVEL JS ================== -->
	<script src="../assets/js/demo/pos-customer-order.demo.js"></script>
	<script src="../oasisjs/oasis_shop.js"></script>
	<!-- ================== END PAGE LEVEL JS ================== -->
	
	<script src="../assets/plugins/parsleyjs/dist/parsley.min.js"></script>
</body>
</html>