<!DOCTYPE html>
<html lang="en">
<head>
	<meta charset="utf-8" />
	<title>OASIS | Purchase</title>
	<meta content="width=device-width, initial-scale=1.0, maximum-scale=1.0, user-scalable=no" name="viewport" />
	<meta content="" name="description" />
	<meta content="" name="author" />
	
	<!-- ================== BEGIN BASE CSS STYLE ================== -->
	<link href="https://fonts.googleapis.com/css?family=Open+Sans:300,400,600,700" rel="stylesheet" />
	<link href="../assets/css/default/app.min.css" rel="stylesheet" />
	<!-- ================== END BASE CSS STYLE ================== -->
	<link href="../assets/img/favicon.png" rel="icon">
</head>
<body class="pace-top">
    <!--오아시스 제이쿼리 자바스크립트-->
	<script src="../assets/oasisjquery.js"></script>
	<!-- begin #page-loader -->
	<div id="page-loader" class="fade show">
		<span class="spinner"></span>
	</div>
	<!-- end #page-loader -->
	
	<!-- begin #page-container -->
	<div id="page-container" class="page-empty bg-white fade page-content-full-height">
		
		<!-- begin #content -->
		<div id="content" class="content p-0">
			<!-- BEGIN pos -->
			<div class="pos pos-customer" id="pos-customer">
				<!-- BEGIN pos-menu -->
				<div class="pos-menu">
					<div class="logo">
						<a href="/main">
							<div class="logo-img"><img src="../assets/img/oasis_logo.png" /></div>
							<div class="logo-text">OASIS</div>
						</a>
					</div>
					<div class="nav-container">
						<div data-scrollbar="true" data-height="100%" data-skip-mobile="true">
							<ul class="nav nav-tabs">
								<li class="nav-item">
									<a class="nav-link active" href="#" data-filter="all">
										<i class="fab fa-2x fa-shopify my-2"></i> All Goods
									</a>
								</li>
								<li class="nav-item">
									<a class="nav-link" href="#" data-filter="point">
										<i class="fab fa-lg fa-product-hunt my-2"></i> {{__('payment_point')}}
									</a>
								</li>
								<li class="nav-item">
									<a class="nav-link" href="#" data-filter="goods">
										<i class="fa fa-fw fa-shopping-basket my-2"></i> {{__('payment_goods')}}
									</a>
								</li>
							</ul>
						</div>
					</div>
				</div>
				<!-- END pos-menu -->
				
				<!-- BEGIN pos-content -->
				<div class="pos-content">
					<div class="pos-content-container" data-scrollbar="true" data-height="100%" data-skip-mobile="true">
						<div class="product-row">
							{% for item in goods %}
								{% if (item.GN == '포인트') %}
								<div class="product-container" data-type="point">
								{% else %}
								<div class="product-container" data-type="goods">
								{% endif %}
								<a href="#" class="product" data-toggle="modal" data-target="#modalPosItem">
									<div class="img" style="background-image: url(../assets/img/pos/product-2.jpg)"></div>
									<div class="text">
										<div class="title">{{item.GN}}</div>
										<div class="desc">{{item.GE}}</div>
										<div class="price">{{item.GP}}</div>
									</div>
								</a>
							</div>
							{% endfor %}
						</div>
					</div>
				</div>
				<!-- END pos-content -->
				
				<!-- BEGIN pos-sidebar -->
				<div class="pos-sidebar" id="pos-sidebar">
					<div class="pos-sidebar-header">
						<div class="back-btn">
							<button type="button" data-dismiss-class="pos-mobile-sidebar-toggled" data-target="#pos-customer" class="btn">
								<svg viewBox="0 0 16 16" class="bi bi-chevron-left" fill="currentColor" xmlns="http://www.w3.org/2000/svg">
									<path fill-rule="evenodd" d="M11.354 1.646a.5.5 0 0 1 0 .708L5.707 8l5.647 5.646a.5.5 0 0 1-.708.708l-6-6a.5.5 0 0 1 0-.708l6-6a.5.5 0 0 1 .708 0z"/>
								</svg>
							</button>
						</div>
						<div class="icon"><i class="fas fa-lg fa-cart-arrow-down"></i></div>
						<div class="title">장바구니</div>
					</div>
					<div class="pos-sidebar-body" data-scrollbar="true" data-height="100%">
						<div class="pos-table">
						</div>
					</div>
					<div class="pos-sidebar-footer">
						<div class="total">
						</div>
						<div class="btn-row">
							<button type="button" class="btn btn-default list-remove-btn" data-amount="all"><i class="fa fa-trash-alt fa-fw fa-lg"></i> 비우기</button>
							<button type="button" class="btn btn-success" onclick="payments();"><i class="fa fa-check fa-fw fa-lg"></i> Submit Order</button>
						</div>
					</div>
				</div>
				<!-- END pos-sidebar -->
			</div>
			<!-- END pos -->
			
			<!-- BEGIN pos-mobile-sidebar-toggler -->
			<a href="#" class="pos-mobile-sidebar-toggler" data-toggle-class="pos-mobile-sidebar-toggled" data-target="#pos-customer">
				<svg viewBox="0 0 16 16" class="img" fill="currentColor" xmlns="http://www.w3.org/2000/svg">
					<path fill-rule="evenodd" d="M14 5H2v9a1 1 0 0 0 1 1h10a1 1 0 0 0 1-1V5zM1 4v10a2 2 0 0 0 2 2h10a2 2 0 0 0 2-2V4H1z"/>
					<path d="M8 1.5A2.5 2.5 0 0 0 5.5 4h-1a3.5 3.5 0 1 1 7 0h-1A2.5 2.5 0 0 0 8 1.5z"/>
				</svg>
				<span class="badge">5</span>
			</a>
			<!-- END pos-mobile-sidebar-toggler -->
		</div>
		<!-- end #content -->
		
		<!-- begin scroll to top btn -->
		<a href="javascript:;" class="btn btn-icon btn-circle btn-success btn-scroll-to-top fade" data-click="scroll-top"><i class="fa fa-angle-up"></i></a>
		<!-- end scroll to top btn -->
	</div>
	<!-- end page container -->
	
	<!-- BEGIN #modalPosItem -->
	<div class="modal modal-pos-item fade" id="modalPosItem">
		<div class="modal-dialog modal-dialog-centered modal-lg">
			<form id="modal-goods" method="POST" class="modal-content" data-parsley-validate="true">
				<div class="modal-body p-0">
					<a href="#" data-dismiss="modal" class="close"><i class="fa fa-times"></i></a>
					<div class="pos-product position-relative">
						<div class="pos-product-img">
							<div class="img" style="background-image: url(../assets/img/pos/product-1.jpg)"></div>
						</div>
						<div class="pos-product-info d-flex flex-column justify-content-between">
							<div class="title modal-title"></div>
							<div class="desc modal-desc"></div>
							<div class="price modal-price"></div>
							<hr class="my-1" />
							<div class="option-box">
							</div>
							<div class="option-row">
								<div class="option-title">수량</div>
								<div class="qty w-100 my-1">
									<div class="input-group w-50">
										<button type="button" class="btn btn-default count-btn" data-math="minus"><i class="fa fa-minus"></i></button>
										<input type="text" class="form-control border-0 text-center width-30" name="count" value="1" />
										<button type="button" class="btn btn-default count-btn" data-math="plus"><i class="fa fa-plus"></i></button>
									</div>
								</div>
							</div>
							<div class="btn-row">
								<button type="button" class="btn btn-default" data-dismiss="modal">Cancel</button>
								<button type="button" class="btn btn-success" onclick="addCart();">Add to cart <i class="fa fa-plus fa-fw ml-2"></i></button>
							</div>
						</div>
					</div>
				</div>
			</form>
		</div>
	</div>
	<!-- END #modalPosItem -->
	<script type="text/javascript" src="https://code.jquery.com/jquery-1.12.4.min.js" ></script>
	<script type="text/javascript" src="https://cdn.iamport.kr/js/iamport.payment-1.1.5.js"></script>
	<script>
		var shopObject = new Object({ GN: "", GE: "", GP: 0, GO: false, OT: [], ON: [], OP: [], TT: 0, NUM: 1 });
		showCart();
		
		function shopInit() {
			shopObject.GN = "";
			shopObject.GE = "";
			shopObject.GP = 0;
			shopObject.GO = false;
			shopObject.OT = [];
			shopObject.ON = [];
			shopObject.OP = [];
			shopObject.TT = 0;
			shopObject.NUM = 1;
		}
		
	    // 선택 항목 Modal에 값 전달
	    $(".product").click(function() {
	    	shopInit();
	    	
	    	const GN = $(this).find(".title").text();
	    	const GE = $(this).find(".desc").text();
    		const GP = $(this).find(".price").text();
	    	$.ajax({
	    		type: 'POST',
	    		url: '/shop/modal',
	    		dataType: 'json',
                data: {
                	GN: GN
                },
                success: function(result) {
					$("input[type=radio]").prop("checked", false);
					document.getElementsByName("count")[0].value = 1;
					$(".option-box").empty();
					
					shopObject.GN = result.goods.GN;
					shopObject.GP = result.goods.GP;
					shopObject.GE = result.goods.GE;
					shopObject.GO = result.goods.GO;
					shopObject.TT = result.goods.GP;
					
					$(".modal-title").html(shopObject.GN);
					$(".modal-desc").html(shopObject.GE);
					if(shopObject.GP == 0) {
						$(".modal-price").html("옵션별 상이");
					}
					else {
						$(".modal-price").html(shopObject.GP);
					}
					
                	if(result.status == 'option') {
			    		$(".point-option").show();
			    		for(var i = 0; i < result.optionType.length; i++) {
			    			shopObject.OT[i] = result.optionType[i];
			    			$(".option-box").append("\
								<div class='option-row'>\
									<div class='option-title'>"+result.optionType[i]+"</div>\
									<div id='option"+i+"' class='option-list'>\
									</div>\
								</div>\
		    				");
				    		for(var j = 0; j < result.option.length; j++) {
				    			var optionOP;
				    			if(result.option[j].OP) {
				    				optionOP = result.option[j].OP;
				    			}
				    			else {
				    				optionOP = 0;
				    			}
				    			if(result.option[j].OT == result.optionType[i]) {
				    				$("#option"+i).append("\
				    					<div class='option'>\
				    						<input type='radio' class='option-input' id='op"+i+j+"' name='op"+i+"' value='"+result.option[j].OP+"' data-num='"+i+"' data-name='"+result.option[j].ON+"' data-parsley-required-message='옵션을 선택해주세요.' required />\
				    						<label class='option-label' for='op"+i+j+"'>\
				    							<span class='option-text'>\
				    								"+result.option[j].ON+"\
				    							</span>\
				    							<span class='option-price'>\
				    								"+optionOP+"\
				    							</span>\
				    						</label>\
				    					</div>\
				    				");
				    			}
				    		}
			    		}
                	}
                	else {
                		$(".point-option").hide();
                	}
                }
	    	});
	    });
	    
	    // 옵션 설정
	    $(document).on('click', '.option-input', async function() {
    		var i = $(this).data().num;
    		var ON = $(this).data().name;

    		if($(this).val() == 'undefined') {
    			$(this).val(0);
    		}
    		shopObject.OP[i] = await $(this).val();
    		shopObject.ON[i] = await ON;
    		
    		modalReload();
	    });
	    
	    // 모달 수량 설정
	    $(document).on('click', '.count-btn', function() {
	    	var math = $(this).data().math;
	    	
	    	if(math == 'minus') {
	    		if(shopObject.NUM < 2) {
	    			shopObject.NUM = 1;
	    		}
	    		else {
		    		shopObject.NUM = shopObject.NUM - 1;
	    		}
	    	}
	    	else {
	    		shopObject.NUM = shopObject.NUM + 1;
	    	}
	    	modalReload();
	    });
	    
	    // 장바구니 수량 설정
	    $(document).on('click', '.list-count-btn', function() {
	    	var math = $(this).data().math;
	    	var clickNum = $(this).data().num;
	    	
	    	$.ajax({
	    		type: 'POST',
				url: '/shop/cartNum',
				dataType: 'json',
				data: {
					MATH : math,
					GN : document.getElementsByName('GN')[clickNum].value,
					ON : document.getElementsByName('ON')[clickNum].value,
				},
				success: function(result) {
					if(result.status == 'success') {
						showCart();
					}
				}
	    		
	    	});
	    });
	    
	    // 옵션 및 수량에 따라 화면 변경
	    function modalReload() {
	    	shopObject.TT = shopObject.GP;
	    	var sum = 0;
	    	
	    	for(var i = 0; i < shopObject.OP.length; i ++) {
	    		sum += parseInt(shopObject.OP[i]);
	    	}
	    	shopObject.TT = (shopObject.TT + sum) * shopObject.NUM;
	    	
	    	$(".modal-price").html(shopObject.TT);
	    	$("input[name=count]").val(shopObject.NUM);
	    }
	    
	    // 모달창 정보 쿠키에 담기
	    function addCart() {
			var formParsley = $('#modal-goods').parsley();
			if(formParsley.isValid() == true) {
				$.ajax({
					type: 'POST',
					url: '/shop/addCart',
					traditional: true,
					dataType: 'json',
					data: {
						GN : shopObject.GN,
						GP : shopObject.GP,
						TT : shopObject.TT,
						OT : shopObject.OT,
						ON : shopObject.ON,
						OP : shopObject.OP,
						NUM : shopObject.NUM,
					},
					success: function(result) {
						if(result.status == 'success') {
							showCart();
							$(".modal").modal("hide");
						}
					}
				});
			}
			else {
				alert("옵션을 선택해주세요.");
			}
	    }
	    
	    // 쿠키를 장바구니 목록에 표시
	    function showCart() {
	    	$.ajax({
				type: 'POST',
				url: '/shop/showCart',
				traditional: true,
				dataType: 'json',
				data: {},
				success: function(result) {
					$(".pos-table").empty();
					$(".total").empty();
					if(result.status == 'success') {
						for(var i = 0; i < result.cart.length; i ++) {
							var cartON = [];
							if(result.cart[i].ON) {
								if(typeof(result.cart[i].ON) == 'string') {
									cartON = "- "+result.cart[i].OT+" : "+result.cart[i].ON+"<br><small class='ml-2'> (+ "+result.cart[i].OP+")</small>";
								}
								else {
									for(var j = 0; j < result.cart[i].ON.length; j++) {
										cartON[j] = "- "+result.cart[i].OT[j]+" : "+result.cart[i].ON[j]+"<br><small class='ml-2'> (+ "+result.cart[i].OP[j]+")</small><br>";
									}
									cartON = cartON.toString().replace(/,/g, "");
								}
							}
							else {
								cartON = "";
							}
					    	$(".pos-table").append("\
						    	<div class='row pos-table-row'>\
									<div class='col-9'>\
										<div class='pos-product-thumb'>\
											<div class='img' style='background-image: url(../assets/img/pos/product-2.jpg)'></div>\
											<div class='info'>\
												<div class='title'>"+result.cart[i].GN+"</div>\
													<input type='hidden' id='GN' name='GN' value='"+result.cart[i].GN+"' />\
												<div class='single-price'>"+result.cart[i].GP+"</div>\
													<input type='hidden' id='GP' name='GP' value='"+result.cart[i].GP+"' />\
												<div class='desc'>"+cartON+"</div>\
													<input type='hidden' id='ON' name='ON' value='"+result.cart[i].ON+"' />\
													<input type='hidden' id='OP' name='OP' value='"+result.cart[i].OP+"' />\
												<div class='input-group qty'>\
													<div class='input-group-append'>\
														<button class='btn btn-default list-count-btn' data-math='minus' data-num='"+i+"'><i class='fa fa-minus'></i></button>\
													</div>\
													<input type='text' class='form-control' name='list-count' value='"+result.cart[i].NUM+"' />\
													<div class='input-group-prepend'>\
														<button class='btn btn-default list-count-btn' data-math='plus' data-num='"+i+"'><i class='fa fa-plus'></i></button>\
													</div>\
												</div>\
											</div>\
										</div>\
									</div>\
									<div class='col-3 d-flex flex-column justify-content-between align-items-end'>\
										<div class='align-middle text-gray list-remove-btn' data-amount='one' data-num='"+i+"' style='cursor: pointer'>\
						    				<i class='fas fa-lg fa-times m-2 p-2'></i>\
						    			</div>\
						    			<div class='total-price mb-1'>Price : <b>"+result.cart[i].TT+"</b></div>\
									</div>\
								</div>\
					    	");
						}
						var totalSum = 0;
						for(var i = 0; i < result.cart.length; i++) {
							totalSum += parseInt(result.cart[i].TT);
						}
						$(".total").append("\
							<div class='text'>Total</div>\
							<div class='price'>"+totalSum+"</div>\
								<input type='hidden' id='TS' name='TS' value='"+totalSum+"' />\
						")
					}
				}
	    	})
	    }
	    
	    // 장바구니 삭제 기능
	    $(document).on('click', '.list-remove-btn', function() {
	    	var clickNum = $(this).data().num;
	    	var amount = $(this).data().amount;
	    	
	    	if(amount == 'one') {
	    		$.ajax({
	    			type: 'POST',
					url: '/shop/cartRemove',
					dataType: 'json',
					data: {
						GN : document.getElementsByName('GN')[clickNum].value,
						ON : document.getElementsByName('ON')[clickNum].value,
						amount : amount,
					},
					success: function(result) {
						if(result.status == 'delete') {
							showCart();
						}
					}
	    		});
	    	}
	    	else {
	    		$.ajax({
	    			type: 'POST',
					url: '/shop/cartRemove',
					dataType: 'json',
					data: {
						amount : amount,
					},
					success: function(result) {
						if(result.status == 'delete') {
							showCart();
						}
					}
	    		});
	    	}
	    });
	    
	    // 결제 기능
	    function payments() {
	        // var goods = document.getElementsByName(objName);
	        // var goods_name;
	        // var goods_amount;
	        
	        // for (var i=0; i<goods.length; i++) {
	        //     if (goods[i].checked == true) {
	        //         if(goods[i].value == 10000) {
	        //           goods_name = "{{__('payment_point')}} "+"10000";
	        //           goods_amount = Math.floor(10000*1.1);
	        //         }
	        //         else if(goods[i].value == 50000) {
	        //           goods_name = "{{__('payment_point')}} "+"50000";
	        //           goods_amount = Math.floor(50000*1.1);
	        //           checktest = true;
	        //         }
	        //         else if(goods[i].value == 100000) {
	        //           goods_name = "{{__('payment_point')}} "+"100000";
	        //           goods_amount = Math.floor(100000*1.1);
	        //         }
	        //     }
	        // }
	        
	        var shopItemLength = $('.pos-table-row').length;
	        var GN = $('input[name=GN]');
	        var GP = $('input[name=GP]');
	        var ON = $('input[name=ON]');
	        var OP = $('input[name=OP]');
	        var NUM = $('input[name=list-count]');
	        var TS = $('input[name=TS]').val();
	        var goods = [];
	        // var item = {};
	        
	        // item["GN"] = ;
	        
	        for(var i = 0; i < shopItemLength; i++) {
	        	goods[i] = [GN.eq(i).val(), GP.eq(i).val(), ON.eq(i).val(), OP.eq(i).val(), NUM.eq(i).val()];
	        }
	        
	        var IMP = window.IMP;
	        IMP.init('{{imp_code}}');
	        
	        IMP.request_pay({
	            pg : 'inicis', // version 1.1.0부터 지원.
	            pay_method : 'card',
	            merchant_uid : 'merchant_' + new Date().getTime(),
	            name : 'OASIS 상품',
	            amount : TS,
	            buyer_name : '{{company.CNA}}',
	            buyer_email : '{{company.EA}}',
	            buyer_tel : '{{company.PN}}',
	            buyer_addr : '{{company.ADR}}',
	            m_redirect_url : '{{HOME}}/payments/complete/mobile'
	        }, function(rsp) {
	            if (rsp.success) {
	                $.ajax({
	                    url: "/payments/complete",
	                    type: "POST",
	                    traditional: true,
	                    dataType: 'json',
	                    data: {
	                        imp_uid: rsp.imp_uid,
	                        merchant_uid: rsp.merchant_uid,
	                        goods: goods
	                    }
	                }).done(function (data) {
	                    switch(data.status) {
	                        // case "vbankIssued":
	                        //     var msg = "가상계좌가 생성되었습니다.";
	                        //     msg += '\n가상계좌명' + rsp.vbank_name;
	                        //     msg += '\n가상계좌번호' + rsp.vbank_num;
	                        //     msg += '\n생성일' + rsp.vbank_date;
	                        //     break;
	                        case "success":
	                            var msg = "{{__('payment_success')}}";
	                            alert(msg);
	                            window.location.href = '/pay_confirm?imp_uid='+rsp.imp_uid;
	                            break;
	                        case "cancelled":
	                            var msg = "{{__('payment_cancelled')}}";
	                            break;
	                        case "failed":
	                            var msg = "{{__('payment_failed')}}";
	                            break;
	                        case "forgery":
	                            var msg = "{{__('payment_forgery')}}";
	                            break;
	                    }
	                    return alert(msg);
	                });
	            } else {
	                return alert("{{__('payment_failed')}} " +  rsp.error_msg);
	            }
	        });
	    }
    
	</script>
	
	<!-- ================== BEGIN BASE JS ================== -->
	<script src="../assets/js/app.min.js"></script>
	<script src="../assets/js/theme/default.min.js"></script>
	<!-- ================== END BASE JS ================== -->
	
	
	<!-- ================== BEGIN PAGE LEVEL JS ================== -->
	<script src="../assets/js/demo/pos-customer-order.demo.js"></script>
	<!-- ================== END PAGE LEVEL JS ================== -->
	
	<script src="../assets/plugins/parsleyjs/dist/parsley.min.js"></script>
</body>
</html>