{% extends 'layout.html' %}

{% block css %}
<link href="../assets/plugins/datatables.net-bs4/css/dataTables.bootstrap4.min.css" rel="stylesheet" />
<link href="../assets/plugins/datatables.net-responsive-bs4/css/responsive.bootstrap4.min.css" rel="stylesheet" />
<link href="../assets/plugins/datatables.net-buttons-bs4/css/buttons.bootstrap4.min.css" rel="stylesheet" />
<link href="../assets/plugins/datatables.net-autofill-bs4/css/autoFill.bootstrap4.min.css" rel="stylesheet" />
<link href="../assets/plugins/datatables.net-colreorder-bs4/css/colReorder.bootstrap4.min.css" rel="stylesheet" />
<link href="../assets/plugins/datatables.net-keytable-bs4/css/keyTable.bootstrap4.min.css" rel="stylesheet" />
<link href="../assets/plugins/datatables.net-rowreorder-bs4/css/rowReorder.bootstrap4.min.css" rel="stylesheet" />
<link href="../assets/plugins/datatables.net-select-bs4/css/select.bootstrap4.min.css" rel="stylesheet" />
<link href="../assets/plugins/switchery/switchery.min.css" rel="stylesheet" />
<link href="../assets/plugins/abpetkov-powerange/dist/powerange.min.css" rel="stylesheet" />
{% endblock %}

{% block content %}
<!-- begin #content -->
<div id="content" class="content">
	<!-- begin breadcrumb -->
	<ol class="breadcrumb float-xl-right">
		<li class="breadcrumb-item"><a href="javascript:;">Home</a></li>
		<li class="breadcrumb-item"><a href="javascript:;">Tables</a></li>
		<li class="breadcrumb-item"><a href="javascript:;">Managed Tables</a></li>
		<li class="breadcrumb-item active">Extension Combination</li>
	</ol>
	<!-- end breadcrumb -->
	<!-- begin page-header -->
	<h1 class="page-header">Worker List <small>작업자 목록</small></h1>
	<!-- end page-header -->
	<!-- begin row -->
	<div class="row">
		<!-- begin col-12 -->
		<div class="col-xl-12">
			<div class="panel panel-inverse">
				<!-- begin panel-heading -->
				<div class="panel-heading">
					<h4 class="panel-title">목록</h4>
					<div class="panel-heading-btn">
						<a href="javascript:;" class="btn btn-xs btn-icon btn-circle btn-default" data-click="panel-expand"><i class="fa fa-expand"></i></a>
						<a href="javascript:;" class="btn btn-xs btn-icon btn-circle btn-success" data-click="panel-reload"><i class="fa fa-redo"></i></a>
						<a href="javascript:;" class="btn btn-xs btn-icon btn-circle btn-warning" data-click="panel-collapse"><i class="fa fa-minus"></i></a>
						<a href="javascript:;" class="btn btn-xs btn-icon btn-circle btn-danger" data-click="panel-remove"><i class="fa fa-times"></i></a>
					</div>
				</div>
				<!-- end panel-heading -->
				<!-- begin panel-body -->
				<div class="panel-body">
					<div class="container">
					    <form action="/worker/worker_update" method="post">
					        <table id="data-table-combine" class="table table-striped table-bordered table-hover table-td-valign-middle">
	        					<thead>
	        						<tr>
	        							<th width="1%"><input type="checkbox" class="neHeros" value="" onChange="allCheckedBox(this);"/></th>
	        							<th width="1%" data-orderable="false"></th>
	        							<th>Name</th>
	        							<th>Phone Number</th>
	        							<th>Email</th>
	        							<th width="1%">승인</th>
	        							<th width="1%"></th>
	        						</tr>
	        					</thead>
	        					<tbody>
	        					    {% for worker in workers %}
	        						<tr>
	        							<td class="with-btn" nowrap>
	        									<input id ="ck" type="checkbox" name = "AC" class="neHeros" value={{worker.EM}} {% if worker.AC == true %} checked {% else %} unchecked  {% endif %} onChange="eachCheckedBox(this);"/>
	        								
	        							</td>
	                                    <td width="1%" class="with-img"><img src={{worker.PU}} class="img-rounded height-30" /></td>
	        							<td>{{worker.WN}}</td>
	        							<td>{{worker.PN}}</td>
	        							<td>{{worker.EM}}</td>
	        							    <input type="hidden" name="EM" value="{{worker.EM}}">
	        							<td class="with-btn" nowrap>
	        								<a href="/worker_list/?workeracem={{worker.AC}},{{worker.EM}}" class="btn btn-sm width-60 m-r-2 edit-btn">
	            								<input id ="ckone" type="checkbox" data-render="switchery" data-theme="default" name="ckone"  {% if worker.AC == true %} checked {% else %} unchecked  {% endif %} />
	        								</a>
	        							</td>
	        							<td>
	        								<a class="btn btn-sm btn-white width-60" href="javascript:delete_check('{{worker.EM}}')">Delete</a>
	        								<!--<a class="btn btn-sm btn-white width-60" onclick ="confirm({{worker.EM}})">Delete</a>-->
	        							</td>
	        						</tr>
	        						{% endfor %}
	        					</tbody>
	        				</table>
	        				
					        <div>
					        	<button style ="margin-right : 10px;" id ="button1" type="submit" class="btn btn-primary">선택자 승인</button>
					    		<input class="btn btn-primary" type='button' value='선택자 삭제' onclick='return info_chk2(this.form);'>
					        	
					    </form>
					    </div>
					    		
					</div>
				</div>
				<!-- end panel-body -->
			</div>
		</div>
		<!-- end col-10 -->
	</div>
	<!-- end row -->
</div>
<!-- end #content -->
	<!-- error script -->
	<script>
		
	
		function info_chk2(frm)
		{
			
			var answer;
			//페이지를 이동하기 전에 confirm()을 사용해 다시 한번 확인한다.
			//확인을 선택하면 answer에  true, 취소를 선택하면 false 값이 들어간다.
			answer = confirm("데이터를 삭제하시겠습니까?");
			//확인을 선택한 경우 자바스크립트를 호출할 때 같이 넘어온 url이라는 변수에 들어있는 주소로 페이지 이동
			
			if(answer == true){
				frm.action='/worker/worker_select_delete/'; frm.submit(); return true;
			}
			else {
				location = '/worker_list';
			}
			
		}
		
		function delete_check(EM){
		var answer;
		var EMC = EM;
		//페이지를 이동하기 전에 confirm()을 사용해 다시 한번 확인한다.
		//확인을 선택하면 answer에  true, 취소를 선택하면 false 값이 들어간다.
		answer = confirm("데이터를 삭제하시겠습니까?");
		//확인을 선택한 경우 자바스크립트를 호출할 때 같이 넘어온 url이라는 변수에 들어있는 주소로 페이지 이동
		if(answer == true){
			location = '/worker/worker_delete/' + EMC;
		}
		else {
			location = '/worker_list';
		}
	}
	window.onload = () => {
		if (new URL(location.href).searchParams.get('error')) {
			alert('이미 존재하는 MAC 입니다.');
		}
	};


	function allCheckedBox(obj) {
		
    // @brief 선택한 체크박스의 클래스 명칭을 가져온다.
    const termClass = obj.getAttribute("class");

    // @brief 선택한 클래스명과 같은 클래스의 갯수
    console.log(document.getElementsByClassName(termClass).length);

    Array.prototype.forEach.call(document.getElementsByClassName(termClass), function(element, index, array) {

        // @brief 엘리먼트의 값 출력
        console.log(element.value);
        // @brief 선택한 클래스의 첫번째 checkbox의 상태가 체크가 되있는 경우
        if(document.getElementsByClassName(termClass)[0].checked == true) {
            // @brief 같은 클래스명을 가진 모든 checkbox의 상태를 선택 완료 처리 한다.
            element.checked = true;
        }
        // @brief 선택한 클래스의 첫번째 checkbox의 상태가 체크가 해제된 경우
        else {

            // @brief 같은 클래스명을 가진 모든 checkbox의 상태를 선택 해제 처리 한다.
            element.checked = false;
        }
    });
    }
    
    
    function eachCheckedBox(obj) {
        // @brief 선택한 체크박스의 상태가 선택해제인 경우
        if(obj.checked == false) {
            // @brief 선택한 체크박스의 클래스 명칭을 가져온다.
            const termClass = obj.getAttribute("class");
            // @brief 첫번째 checkbox의 상태가 체크가 되어있는경우
            if(document.getElementsByClassName(termClass)[0].checked == true) {
                // @brief 첫번째 checkbox의 상태를 체크해제한다.
                document.getElementsByClassName(termClass)[0].checked = false;
            }
        }

    }
 </script>

		
		
	{% endblock %}


{% block script %}

<script src="../assets/plugins/datatables.net/js/jquery.dataTables.min.js"></script>
<script src="../assets/plugins/datatables.net-bs4/js/dataTables.bootstrap4.min.js"></script>
<script src="../assets/plugins/datatables.net-responsive/js/dataTables.responsive.min.js"></script>
<script src="../assets/plugins/datatables.net-responsive-bs4/js/responsive.bootstrap4.min.js"></script>
<script src="../assets/plugins/datatables.net-colreorder/js/dataTables.colReorder.min.js"></script>
<script src="../assets/plugins/datatables.net-colreorder-bs4/js/colReorder.bootstrap4.min.js"></script>
<script src="../assets/plugins/datatables.net-keytable/js/dataTables.keyTable.min.js"></script>
<script src="../assets/plugins/datatables.net-keytable-bs4/js/keyTable.bootstrap4.min.js"></script>
<script src="../assets/plugins/datatables.net-rowreorder-bs4/js/rowReorder.bootstrap4.min.js"></script>
<script src="../assets/plugins/datatables.net-buttons/js/dataTables.buttons.min.js"></script>
<script src="../assets/plugins/datatables.net-buttons-bs4/js/buttons.bootstrap4.min.js"></script>
<script src="../assets/plugins/datatables.net-buttons/js/buttons.colVis.min.js"></script>
<script src="../assets/plugins/datatables.net-buttons/js/buttons.flash.min.js"></script>
<script src="../assets/plugins/datatables.net-buttons/js/buttons.html5.min.js"></script>
<script src="../assets/plugins/datatables.net-buttons/js/buttons.print.min.js"></script>
<script src="../assets/plugins/pdfmake/build/pdfmake.min.js"></script>
<script src="../assets/plugins/pdfmake/build/vfs_fonts.js"></script>
<script src="../assets/plugins/jszip/dist/jszip.min.js"></script>
<script src="../assets/js/demo/table-manage-combine.demo.js"></script>
<script src="../assets/plugins/switchery/switchery.min.js"></script>
<script src="../assets/plugins/abpetkov-powerange/dist/powerange.min.js"></script>
<script src="../assets/js/demo/form-slider-switcher.demo.js"></script>
{% endblock %}