/*all*/
.boxShadow {
    box-shadow: 1px 1px 3px 1px #dadce0 !important;
}

.line-height-none {
    line-height: 1.2;
}

/*flag*/
.flag {
    width: 18px !important;
    height: 18px !important;
}

/*icon-circle*/
.icon-circle {
    width: 30px;
    height: 30px;
    border-radius: 50%;
    display: flex;
    justify-content: center;
    align-items: center;
    background-color: #d4d7da;
}
.icon-circle i {
    color: #9fa6ac;
}

/*layout*/
body {
    background-color: #EEFBFF;
}

.rolling {
    list-style : none;
}

.nav {
    padding-top: 15px;
}

/*.navbar-header {*/
/*    margin-left: 250px !important;*/
/*}*/
/*.company-p {*/
/*    color: #9fa6ac;*/
/*    font-size: 0.95em;*/
/*}*/
/*.ceo-p {*/
/*    font-size: 1.1em;*/
/*    font-weight: border !important;*/
/*}*/
/*.custom-side-bar {*/
    /*z-index: 1030 !important;*/
/*    background-color: #222d3d;*/
/*    padding-top: 15px !important;*/
/*}*/
/*.custom-sidebar-logo {*/
/*    margin-left: -7px;*/
/*    display: flex !important;*/
/*    justify-content: flex-start !important;*/
/*    align-items: center !important;*/
/*}*/
/*.custom-sidebar-logo-span {*/
/*    color: white !important;*/
/*    padding-top: 5.5px;*/
/*    margin-left: 10px;*/
/*}*/
/*.sidebar-minify-btn {*/
/*    padding: 0 !important;*/
/*}*/
/*.navbar-nav i {*/
/*    font-size: 1.5em !important;*/
/*}*/
/*.notice-bell {*/
/*    position: relative !important;*/
/*}*/
/*.red-point {*/
/*    position: absolute;*/
/*    top: 13px;*/
/*    left: 28px;*/
/*    width: 5px;*/
/*    height: 5px;*/
/*    border-radius: 50%;*/
/*    background-color: red;*/
/*}*/
/*.rolling {*/
/*    list-style : none;*/
/*}*/
/*.rolling li {*/
/*    line-height : 1.5;*/
/*}*/

/*find*/
.select-agent {
    background: #dee2e6 !important;
	color: black !important;
}
.select-agent::placeholder {
	color: gray !important;
}

/*profile*/
.inputbox {
	position: relative !important;
}
#pwNotice, #pwNotice2 {
	position: absolute !important;
	top: 8px;
	left: 90%;
}

/*main*/
#main-chart {
    width: 100%;
    height: 500px;
}

/*manual*/
.wrap-header {
    background-color: #ffdb3d;
}

/*car join*/
#excel-table-div {
    height: 500px;
}

/*code img*/
#qrbox {
    position: relative;
}
#miniimg {
    position: absolute;
    top: 50%;
    left: 50%;
    transform: translate(14%, -117%);
}

/*find pw*/
.custombtn {
	width: 33% !important;
}

/*history chart*/
#history-chart-div {
    width: 100%;
    height: 500px;
}

/*history static*/
#history-static-chart {
    width: 100%;
    height: 300px;
}
#history-static-chart2 {
    width: 100%;
    height: 300px;
}
#history-static-chart3 {
    width: 100%;
    height: 300px;
}
#history-static-chart4 {
    width: 100%;
    height: 300px;
}

/*notice write*/
.p-title {
    width : 70px;
    margin: 2px auto 0px;
}

/*pay confirm*/
.pay-confirm-table caption {
    caption-side : top;
}

@media (max-width:767.98px) {
    .navbar-nav {
        justify-content: center !important;
        padding: 0;
    }
    .notice {
        margin: 2px 0;
    }
    .rolling {
        margin-left: -38px;
    }
}