input[type="text"], input[type="email"], input[type="password"], select {
	background: #dee2e6 !important;
	color: black !important;
}
.inputbox {
	position: relative !important;
}
#pwNotice, #pwNotice2 {
	position: absolute !important;
	top: 12px;
	left: 90%;
}
input::placeholder {
	color: gray !important;
}
.login, .login-v1 {
	height: auto !important;
}
.login-header {
	margin-top: 5% !important;
}
.login-footer {
	margin-top: 15px;
	margin-bottom: 2% !important;
}
.noback > .parsley-error, .parsley-success {
	background: transparent !important;
}
#selectBack > .parsley-success {
	background: #dee2e6 !important;
}
.custombtn {
	width: 33% !important;
}