// 이건 컴파일 안되는 주석
/* 한 줄 주석 처리 표기법 */
/**
* 여러 줄이 들어가는 주석 처리 표기법
* 여러 줄이 들어가는 주석 처리 표기법
* 여러 줄이 들어가는 주석 처리 표기법
*/

// 공통
figcaption {
  display: flex;
  align-items: center;
  margin-top: 0.5rem;
  font-size: $small-font-size;
  color: $text !important;
}

hr {
  margin: 0;
}

// div를 label로 고쳐서 생김
label[class="field"] {
  display: block;
}

// div를 span으로 고쳐서 생김
span[class="field-label"] {
  display: block;
}

.navbar.is-transparent {
  background-color: transparent;
}

.table {
  width: 100%;
}

.button:focus:not(:active), .button.is-focused:not(:active) {
  box-shadow: none;
}

.screen-out {
  overflow: hidden;
  position: absolute;
  width: 0;
  height: 0;
  line-height: 0;
  text-indent: -9999px;
}

// button
.is-instagram {
  background: linear-gradient(to right, #f9a050 0%,#ef2246 33%,#a72dae 100%);
}

.is-facebook {
  background-color: #1A76F2 !important;
}

.is-twitter {
  background-color: #29aae1 !important;
}


// 프로젝트
body {
  color: $black;
  background-color: #fafafa;
}

.wrap-login {
  height: 100vh;
  background-color: $yellow;

  .section{
    padding: 4rem 3rem 0;

    .keymessage {
      padding: 1rem 0 3rem;
      font-size: 2rem !important;
      line-height: 1.25;
    }

    .form-group {
      display: flex;
      flex-direction: column;
      position: relative;

      &::before {
        content: "";
        position: absolute;
        top: 24px;
        left: 10px;
        width: 8px;
        height: 8px;
        border-radius: 50%;
        -webkit-border-radius: 50%;
        -moz-border-radius: 50%;
        -ms-border-radius: 50%;
        -o-border-radius: 50%;
        background-color: $grey;
        z-index: 999;
      }

      &::after {
        content: "";
        position: absolute;
        top: 24px;
        right: 10px;
        width: 8px;
        height: 8px;
        border-radius: 50%;
        -webkit-border-radius: 50%;
        -moz-border-radius: 50%;
        -ms-border-radius: 50%;
        -o-border-radius: 50%;
        background-color: $grey;
        z-index: 999;
      }

      & .input {
        height: 56px;
        margin-bottom: 1rem;
        padding-left: 1.5rem;
        border: 2px solid $grey;
        font-size: 26px;
        line-height: 56px;
        letter-spacing: 4px;
        text-align: center;

        &:focus, &:active {
          box-shadow: none;
        }

        &::placeholder {
          font-size: 18px;
          letter-spacing: 0;
        }
      }

      & .button {
        display: inline-flex;
        position: relative;
        align-items: center;
        padding: 0 30px;
        height: 56px;
        border: 1px solid lighten($yellow, 15%);
        border-radius: 4px;
        background: lighten($yellow, 10%);
        color: $black;
        box-shadow: 2px 4px 12px 0 darken($yellow, 15%);
        transition: .3s;
      
        &:hover {
          background: lighten($yellow, 5%);
          box-shadow: 2px 8px 20px 0 darken($yellow, 20%);
          transform: translate3d(0, -2px, 0);
        }
      
        &:active {
          box-shadow: 0 2px 4px 0 darken($yellow, 20%);
          transform: translate3d(0, 1px, 0);
        }
      }
    }
  }
}
  
.wrap-header {
  height: 56px;
  padding: 0 .75rem;
  background-color: $yellow;

  .navbar {
    display: flex;
    justify-content: space-between;

    .navbar-brand {
      a {
        display: flex;
      }
    }

    .navbar-util {
      display: flex;
      align-items: center;

      .button.is-share {
        padding: 0 .75rem .05rem;
        height: 1.75rem;
        border-radius: 3rem;
        background-color:lighten($yellow,$amount: 20%);
        color: darken($yellow, $amount: 40%);
        transition: .3s;
        
        img {
          width: 1rem;
        }

        span {
          padding-left: .25rem;
          font-size: .875rem;
        }
      }
    
      .button.is-share:hover, .button.is-share.is-hovered {
        background-color: lighten($yellow, $amount: 25%);
      }

      .button.is-share:active, .button.is-share.is-active {
        background-color: darken($yellow, $amount: 10%);
      }
    }
  }
}

.section.intro {
  padding-top: 2rem;
  padding-bottom: 3rem;
  background-color: $yellow;

  .container {
    text-align: center;

    .subtitle {
      margin-bottom: 2rem;
    }

    .title.is-2 {
      line-height: 1.35;
    }

    .ico-intro {
      display: flex;
      justify-content: center;
      margin-top: 2rem;
      background-image: url(../assets/images/zoom.svg);
      background-repeat: no-repeat;
      background-position: center;
      
      .ico-intro-inner {
        position: relative;

        .shape-car {
          position: absolute;
          top: 1.5rem;
          left: calc(50% - 40px);
        }

        .shape-safety {
          position: absolute;
          top: 3.5rem;
          right: .75rem;
        }
      }
    }
  }

  .desc-carnum {
    display: inline-block;
    margin: 1.75rem auto .5rem;
    padding: .2rem .5rem .15rem;
    border: 1px solid $black;
    border-radius: $radius;
    font-size: 1.125rem;
    letter-spacing: .1rem;
  }
}

.section.service {
  margin-top: 3rem;

  .area-body {
    .box {
      display: flex;
      margin-bottom: .75rem !important;
      transition: .3s;

      &:hover {
        box-shadow: 0 0.5em 1em -0.125em rgba(10, 10, 10, .3);
      }
    }
  }
}

.section.report {
  margin-top: 4rem;

  .area-body {
    .box {
      padding: 2rem 2rem 2.5rem;

      .is-size-2 {
        letter-spacing: -.5px;
      }
    }
  }

  .table {
    margin-top: 1.25rem;

    & td, & th {
      padding: 0.25rem 0;
      border: none;
      font-size: .875rem;
      color: $grey;
    }
  
    & th {
      width: 7rem;
    }
  }

  .data-safety, .data-average {
    position: relative;
    margin-left: 2rem;
    font-size: .875rem;
    color: $grey;
    text-align: end;
  }

  .data-safety {
    margin-right: 1rem;
  }

  .data-safety::before {
    content: "";
    position: absolute;
    top: 4px;
    right: 90px;
    width: 20px;
    height: 14px;
    background-color: lightgreen;
  }

  .data-average::before {
    content: "";
    position: absolute;
    top: 9px;
    right: 90px;
    width: 20px;
    height: 4px;
    background-color: purple;
  }
}

.section.virus {
  margin-top: 4.5rem;
}

.area-header {
  margin-bottom: 1.5rem;

  .title:not(:last-child) {
    margin-bottom: .5rem;
  }

  .subtitle {
    color: $grey;
  }
}

.footer {
  background-color: $grey-lightest;
  text-align: center;

  p {
    font-size: .875rem;
    color: $grey;
  }
}

// Motion
.shape-hexagon {
  animation-name: scan;
  animation-duration: .5s;
  transition-timing-function: ease-in-out;
}

.shape-safety {
  animation-name: mark;
  animation-duration: .5s;
  transition-duration: 2s;
  transition-timing-function: ease-out;
}

@keyframes scan {
  from {
    transform: rotateZ(90deg);
    -webkit-transform: rotateZ(90deg);
    -moz-transform: rotateZ(90deg);
    -ms-transform: rotateZ(90deg);
    -o-transform: rotateZ(90deg);
}

  to {
    transform: rotateZ(0)  ;
    -webkit-transform: rotateZ(0)  ;
    -moz-transform: rotateZ(0)  ;
    -ms-transform: rotateZ(0)  ;
    -o-transform: rotateZ(0)  ;
  }
}

@keyframes mark {
  from {
    opacity: 0;
    transform: translatey(1rem);
    -webkit-transform: translatey(1rem);
    -moz-transform: translatey(1rem);
    -ms-transform: translatey(1rem);
    -o-transform: translatey(1rem);
}

  to {
    opacity: 1;
    transform: translateY(0);
    -webkit-transform: translateY(0);
    -moz-transform: translateY(0);
    -ms-transform: translateY(0);
    -o-transform: translateY(0);
}
}

// 디바이스 지원
@include tablet {
  .wrap-login .container {
    max-width: 375px;
    text-align: center;

    h1 > img {
      margin: 0 auto;
    }
  }

  .wrap .container {
    max-width: 640px;
  }
}

@include mobile {
  .is-order {
    display: flex;
    flex-direction: column;
    
    .order-1 {
      order: 1;
    }
    
    .order-2 {
      order: 2;
    }
    
    .order-3 {
      order: 3;
    }
  }
}