// Font
/* noto-sans-kr-300 - korean */
@font-face {
  font-family: 'Noto Sans KR';
  font-style: normal;
  font-weight: 300;
  src: url('../assets/fonts/noto-sans-kr-v13-korean-300.eot'); /* IE9 Compat Modes */
  src: local(''),
       url('../assets/fonts/noto-sans-kr-v13-korean-300.eot?#iefix') format('embedded-opentype'), /* IE6-IE8 */
       url('../assets/fonts/noto-sans-kr-v13-korean-300.woff2') format('woff2'), /* Super Modern Browsers */
       url('../assets/fonts/noto-sans-kr-v13-korean-300.woff') format('woff'), /* Modern Browsers */
       url('../assets/fonts/noto-sans-kr-v13-korean-300.ttf') format('truetype'), /* Safari, Android, iOS */
       url('../assets/fonts/noto-sans-kr-v13-korean-300.svg#NotoSansKR') format('svg'); /* Legacy iOS */
}
/* noto-sans-kr-regular - korean */
@font-face {
  font-family: 'Noto Sans KR';
  font-style: normal;
  font-weight: 400;
  src: url('../assets/fonts/noto-sans-kr-v13-korean-regular.eot'); /* IE9 Compat Modes */
  src: local(''),
       url('../assets/fonts/noto-sans-kr-v13-korean-regular.eot?#iefix') format('embedded-opentype'), /* IE6-IE8 */
       url('../assets/fonts/noto-sans-kr-v13-korean-regular.woff2') format('woff2'), /* Super Modern Browsers */
       url('../assets/fonts/noto-sans-kr-v13-korean-regular.woff') format('woff'), /* Modern Browsers */
       url('../assets/fonts/noto-sans-kr-v13-korean-regular.ttf') format('truetype'), /* Safari, Android, iOS */
       url('../assets/fonts/noto-sans-kr-v13-korean-regular.svg#NotoSansKR') format('svg'); /* Legacy iOS */
}
/* noto-sans-kr-500 - korean */
@font-face {
  font-family: 'Noto Sans KR';
  font-style: normal;
  font-weight: 500;
  src: url('../assets/fonts/noto-sans-kr-v13-korean-500.eot'); /* IE9 Compat Modes */
  src: local(''),
       url('../assets/fonts/noto-sans-kr-v13-korean-500.eot?#iefix') format('embedded-opentype'), /* IE6-IE8 */
       url('../assets/fonts/noto-sans-kr-v13-korean-500.woff2') format('woff2'), /* Super Modern Browsers */
       url('../assets/fonts/noto-sans-kr-v13-korean-500.woff') format('woff'), /* Modern Browsers */
       url('../assets/fonts/noto-sans-kr-v13-korean-500.ttf') format('truetype'), /* Safari, Android, iOS */
       url('../assets/fonts/noto-sans-kr-v13-korean-500.svg#NotoSansKR') format('svg'); /* Legacy iOS */
}
/* noto-sans-kr-700 - korean */
@font-face {
  font-family: 'Noto Sans KR';
  font-style: normal;
  font-weight: 700;
  src: url('../assets/fonts/noto-sans-kr-v13-korean-700.eot'); /* IE9 Compat Modes */
  src: local(''),
       url('../assets/fonts/noto-sans-kr-v13-korean-700.eot?#iefix') format('embedded-opentype'), /* IE6-IE8 */
       url('../assets/fonts/noto-sans-kr-v13-korean-700.woff2') format('woff2'), /* Super Modern Browsers */
       url('../assets/fonts/noto-sans-kr-v13-korean-700.woff') format('woff'), /* Modern Browsers */
       url('../assets/fonts/noto-sans-kr-v13-korean-700.ttf') format('truetype'), /* Safari, Android, iOS */
       url('../assets/fonts/noto-sans-kr-v13-korean-700.svg#NotoSansKR') format('svg'); /* Legacy iOS */
}
/* noto-sans-kr-900 - korean */
@font-face {
  font-family: 'Noto Sans KR';
  font-style: normal;
  font-weight: 900;
  src: url('../assets/fonts/noto-sans-kr-v13-korean-900.eot'); /* IE9 Compat Modes */
  src: local(''),
       url('../assets/fonts/noto-sans-kr-v13-korean-900.eot?#iefix') format('embedded-opentype'), /* IE6-IE8 */
       url('../assets/fonts/noto-sans-kr-v13-korean-900.woff2') format('woff2'), /* Super Modern Browsers */
       url('../assets/fonts/noto-sans-kr-v13-korean-900.woff') format('woff'), /* Modern Browsers */
       url('../assets/fonts/noto-sans-kr-v13-korean-900.ttf') format('truetype'), /* Safari, Android, iOS */
       url('../assets/fonts/noto-sans-kr-v13-korean-900.svg#NotoSansKR') format('svg'); /* Legacy iOS */
}

// Brand colors
$yellow:       hsl(46, 98%, 62%) !default
$green:        hsl(150, 42%, 53%) !default
$cyan:         hsl(196, 86%, 58%) !default
$blue:         hsl(217, 48%, 48%) !default

$primary: $yellow !default

// Global variables
$family-sans-serif: "Roboto", "Noto Sans KR", "Helvetica Neue", "Helvetica", "Arial", sans-serif;
$size-1: 2rem;
$size-2: 1.5rem;
$size-3: 1.25rem;
$size-4: 1.125rem;
$size-5: 1rem;
$size-6: 0.875rem;
$size-7: 0.75rem;
$size-small: $size-6;
$size-normal: $size-5;
$size-medium: $size-3;
$size-large: $size-2;

$widescreen-enabled: false;
$fullhd-enabled: false;

// Component variables
$spacing-values: ("0": 0, "1": 0.25rem, "2": 0.5rem, "3": 0.75rem, "4": 1rem, "5": 1.25rem, "6": 1.5rem, "7": 2rem, "8": 2.5rem, "9": 3rem, "10": 4rem);
$section-padding: 0 1.5rem;

// Add variables